[2018-04-09 08:49] kaikreuzer commented on #735
@mueller-ma I think this would be by far the best solution - as commented [here](https://github.com/openhab/openhab-android/issues/90#issuecomment-213303170), I believe we should in any case support the row as a touch target - so for a slider with switch support this would be the natural switch operation.

[2018-04-09 14:20] kaikreuzer opened #829 "Wrong charts are shown while loading"
Tested on 2.0.46-beta and seen on earlier betas as well (but not in 2.0.0 release):

When scrolling through a page with multiple charts, the app renders cached versions of the wrong chart until the new one is loaded - this causes a very irritating effect with charts being replaced by completely other charts:

![img_0063](https://user-images.githubusercontent.com/3244965/38503136-8eed1e56-3c11-11e8

[2018-04-09 14:41] maniac103 commented on #829
It's effectively the same thing as #826: ViewHolders get recycled and old image is continued to be shown until new image has finished loading. Not sure whether separate tracking really is useful...

(Working on completely replacing the SmartImageView already BTW. Just need to find a suitable drawable shown while loading the image...)

[2018-04-09 15:09] mueller-ma commented on #829
You could reserve the space (at least for charts as they have a fixed size) and show a loading indicator.

[2018-04-09 15:09] #829 closed

[2018-04-09 16:08] kaikreuzer commented on #829
I don't think a loading indicator is a solution for this. Once a page is loaded, I would not expect the charts/images being loaded and loaded again when merely scrolling through the page - the once loaded images should simply still be there (and not even be reloaded, unless they change).

Please have a look at the video: When I scroll up the page, the top most chart is wrong and gets reloaded - th

[2018-04-09 17:07] maniac103 commented on #829
Yeah, that's right, the image cache should take care of this.

I agree. I wonder what the best way to repro is though ... I guess I'll try with @mueller-ma's setup in #826 first.

[2018-04-09 17:32] maniac103 commented on #829
Thinking about it, the issue likely is https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/util/MySmartImageView.java#L128 in conjunction with https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/util/MyWebImage.java#L56
Charts pass useImageCache as false, which is why a cached bitmap is *never* used for them.

[2018-04-09 17:40] kaikreuzer commented on #829
No, just likely.

[2018-04-09 19:00] cribskip commented on #210
Ok, so I took a look at the [example](https://github.com/Kitt-AI/snowboy/tree/master/examples/Android) and it seems pretty straight-forward - beside my IDE being on Windows :-(
I'll try to implement it without swig and will test this way. Should take me about one week for a prototype... look forward ;-)

Btw, did someone notice [parsetron](https://github.com/Kitt-AI/parsetron)?

[2018-04-10 10:45] mueller-ma commented on #549
#830, #817 and maybe #816 and than it should be fine for 2.1.0

[2018-04-10 11:48] maniac103 commented on #549
Should add #828 as well.

[2018-04-10 17:22] #825 closed, assigned to nobody

[2018-04-11 07:39] dakipro opened #833 "Battery drain on Samsung note 8"
### Actual behaviour
I receive notification from phone that the app is using a lot of battery in the background, even thought I am not using the app itselft. I opened the app last night to check the baby camera, and just clicked on home button.
![2018-04-11 09 33 14](https://user-images.githubusercontent.com/1586291/38602824-240a820c-3d6c-11e8-86d0-24327946aa66.jpg)

### Expected behaviour
App sho

[2018-04-11 10:43] mueller-ma commented on #833
Android 8 introduced background limits for apps. Since this app isn't optimized for Android 8 these limits are not enforced.
Does this happen often or just one time?

[2018-04-11 10:46] dakipro commented on #833
So far once, but I have only updated the phone yesterday.
Will come back if it comes more often.

[2018-04-11 11:44] maniac103 commented on #833
@mueller-ma We shouldn't do anything in background though (voice widget being the only exception).

[2018-04-12 10:31] #270 closed

[2018-04-12 20:04] mueller-ma opened #838 "Wrong locale names"
Lint issue:
   <issue
        id="LocaleFolder"
        severity="Warning"
        message="The locale folder &quot;`he`&quot; should be called &quot;`iw`&quot; instead; see the `java.util.Locale` documentation"
        category="Correctness"
        priority="6"
        summary="Wrong locale name"
        explanation="From the `java.util.Locale` documentation:&#xA;&quot;Note that Java uses severa

[2018-04-12 20:07] mueller-ma commented on #838
@gargamelonly Can you test if that apk displays the Hebrew language correcly? Especially the strings mixed with English [mobile-foss-beta-debug.zip](https://github.com/openhab/openhab-android/files/1904798/mobile-foss-beta-debug.zip)

[2018-04-12 20:52] gargamelonly commented on #838
Yes.
Text displays correct.
Found a few strange translations (context) and minor typos ;)
What mixed strings specifically do you want me to check? I didn't notice.

בתאריך יום ה׳, 12 באפר׳ 2018, 23:07, מאת mueller-ma ‏<
notifications@github.com>:

[2018-04-13 05:32] gargamelonly commented on #838
@mueller-ma Hi,
Where can I locate the translations of the intro displayed when the app starts for the first time?
There are a few text errors and I can't find them in Crowdin?
Second, after the app is installed, how do I make it display the initial intro again (to check the translations)?

[2018-04-13 10:14] mueller-ma commented on #838
They are all in crowdin. Search for "intro".

If you want to display the intro again, go to android settings, apps, openhab beta, storage, clear data

[2018-04-13 15:08] JohannesPtaszyk commented on #721
What excactly is meant by data?
Server, Username and Password?
I would like to implement that feature, but I am not really into web programming, so it would be nice to have someone who would help me with the webend.

[2018-04-15 15:29] cacious7 commented on #474
Thanks, your answer @wasimshahagadi  worked for me...

[2018-04-15 18:31] gersilex commented on #550
I would also like to throw the idea of making the label a button between the two other buttons into the room. Re-introducting the up-down buttons and making the whole row clickable like in the Android settings app would fit better, though imho.

![34341078-dec5490a-e95d-11e7-893d-82711c4894b1](https://user-images.githubusercontent.com/2018039/38781861-e349436a-40eb-11e8-8788-914cae34462c.png)

[2018-04-16 06:12] maniac103 commented on #795
The problem with font size adjustments like these is that with those it's easy to break layout expectations (set large font size -> broken layout), and it may not be easy to adjust all layouts for that.
When setting the dpi globally (like mentioned above), layouts stay intact because the whole UI becomes smaller/larger, the size of the UI elements relative to each other stays the same.

[2018-04-16 06:55] dakipro commented on #833
received it again this morning
![2018-04-16 08 52 15](https://user-images.githubusercontent.com/1586291/38794026-ee2c29e2-4153-11e8-97f1-9ca43bbdd422.jpg)

[2018-04-16 07:58] mueller-ma commented on #833
I'm running 2.0.45-beta foss on android 7:
Last charge to 100% was 5h ago
35 min cpu time
3 sec foreground cpu time
4% battery used
Total battery 80%

[2018-04-16 12:30] maniac103 commented on #833
Anything in log before that?

[2018-04-16 12:35] mueller-ma commented on #833
[code]

[2018-04-16 12:40] maniac103 commented on #833
Nothing from PID 22977 inbetween 14:10:51 and 14:15:19? That would mean that either
- the result of `isChangingConfigurations()` is unreliable or
- there's an untracked connection handler floating around somehow

... both of which would be a bit worrying :-/

[2018-04-16 12:43] mueller-ma commented on #833
My fault: There is something between 14:10 and 14:15
[code]

[2018-04-16 13:45] boc-tothefuture commented on #550
I like @gersilex mockup.

I will note that originally I had the whole row clickable to bring up the setpoint dialog.  I was told to remove that because it was inconsistent with the rest of the use cases.

[2018-04-16 14:08] maniac103 commented on #833
So it boils down to this:
[code]

IOW, the long polling connection is canceled and delivers data 22 seconds later nevertheless. That seems like the root cause of this problem.

[2018-04-16 15:11] mueller-ma commented on #833
I opened the app and used the back button once.
Under the Android developer settings is an option called "Background apps". Make sure it's not set to 0 nor 1.

[2018-04-16 15:19] maniac103 commented on #833
Don't have that one set (and I don't see the activity being destroyed either). The thing I can't repro is the long polling HTTP request surviving the cancel() call.

Can you repro this more than once? If yes, are you using the demo server connection? If you can reproduce this at will and I can't, I might simply prepare a debug patch for you to try.

[2018-04-16 18:54] mueller-ma commented on #833
Unfortunately I wasn't able to reproduce this issue again.

[2018-04-17 15:23] FlorianSW opened #842 "Google Cloud Messaging deprecated, will be removed no later than April 2019"
See the posted info-mail from Google in the issue I opened for openhab-cloud: https://github.com/openhab/openhab-cloud/issues/182

The same should apply for the app, too. As far as I understood it correctly, the client/server can be migrated from GCM to FCM without the need of doing it at the same time, however, GCM can not co-exist with FCM on the same app.

[2018-04-18 20:10] maniac103 commented on #833
Long polling socket timeout is set to 5 minutes, so I'd expect the failure callback log to show up after 5 minutes the latest.
I'll see about some additional logging.

[2018-04-19 07:41] jpskonee commented on #474
@wasimshahagadi your answer was really divine.. thanks bro!!!

[2018-04-20 11:08] mueller-ma commented on #549
German changelog:
[code]
@maniac103 Does this look ok for you?

[2018-04-20 11:15] maniac103 commented on #549
I'd use `Sitemap-Aktualisierung durch Wischen nach unten` and `Unterstützung für Sprachbefehls-API des Servers, falls verfügbar`

[2018-04-20 11:31] mueller-ma commented on #549
Thanks. New version is live.

[2018-04-20 11:36] #809 closed

[2018-04-21 09:55] mueller-ma commented on #827
@ahmed89albttashi Can you check if it's fixed in the latest version?

[2018-04-21 10:52] alokin79 opened #851 "2.1 version of app sitemap img item refresh doesnt work"
Having refresh command in sitemap on camera feed, now stops working on the 2.1 version Android app

[2018-04-21 11:14] mueller-ma commented on #851
Sitemap file:
[code]

[2018-04-21 12:00] maniac103 commented on #851
I'll try to reproduce this.

[2018-04-21 13:42] ahmed89albttashi commented on #827
first congrats for new release.

yes it's fixed

[2018-04-21 17:29] maniac103 commented on #851
@alokin79 What exactly do you mean by 'stops working' BTW? No refresh at all?

[2018-04-21 17:35] maniac103 commented on #851
Note to self: https://www.cctvview.info/Cameras has a number of URLs suitable for testing this (and also MJPEG).

[2018-04-21 17:38] alokin79 commented on #851
correct, i get picture from camera but NO refreash at all,  i have 3 android devices at home 2 phones 1 tablet.
Works in basic UI,classic UI on chrome browser.

[2018-04-21 20:41] phil2fer opened #852 "2.1 version of app : No sitemap available"
After upgrade to 2.1, i can't see my sitemap

my (unique) sitemap name : _default.sitemap
I think is related to this PR : https://github.com/openhab/openhab-android/pull/578

I don't know why but if i get my sitemap with the REST API, i have 2 sitemap with the same name (_default)

[code]

I think i can solve this issue by renaming my sitemap, perhaps it's a bug in this commit https://github.com/o

[2018-04-21 21:07] JueBag opened #853 "Notification received while app is running kills the app"
1m
Just tested the restarted notification service and found a problem.
If the app is running in background while the message is received followed by the message clicked OK, the app gets either stopped or a selection window gets displayed asking for stopping the app or giving fedback (checking on two different android devices)

App Version 2.1.0

[2018-04-21 21:14] maniac103 commented on #853
Can you please show a screenshot of what you mean by 'the message clicked OK'? Thanks.

[2018-04-22 06:04] mueller-ma commented on #852
The sitemap "_default" is auto generated with values of your things. Please rename your sitemap to "default".
 Can you open an issue in eclipse/smarthome? It should throw an error when naming a sitemap "_default"

[2018-04-22 06:05] #852 closed

[2018-04-22 06:08] maniac103 commented on #852
Still (IMHO) we shouldn't remove more than one _default sitemap. It's obviously not possible to choose the 'right' one in that case, but still we should only remove one of those two.

[2018-04-22 07:32] mueller-ma commented on #852
I'm wrong: The sitemap `_default` is not part of esh https://github.com/eclipse/smarthome/issues/3006#issuecomment-279691002

I created https://github.com/openhab/openhab-core/issues/336. If that is a bug, we shouldnt change the app.

[2018-04-22 08:32] JueBag commented on #853
![stopped](https://user-images.githubusercontent.com/18365158/39092944-a933c390-4617-11e8-8673-4fb015f5aa46.png)
![message](https://user-images.githubusercontent.com/18365158/39092945-b30dc2f8-4617-11e8-9f7c-31b6831e6f7f.png)
Selecting the received message from the second picture results in the displayed message in the first picture.
This message made me think that the app was stopped, however it

[2018-04-22 10:05] maniac103 commented on #853
Indeed, it shouldn't come up. You can't collect logcat after that incidence by chance, can you?
@mueller-ma Is there any ANR report in the Play Store console?

[2018-04-22 10:39] mueller-ma commented on #853
@JueBag Which device and Android version do you use?

@maniac103 There is only one ANR for the 2.1.0 version:
[code]
There are a lot of stacktraces show for this anr, but none of them contain lines about the org.openhab.habdroid package.

[2018-04-22 10:56] maniac103 commented on #853
@mueller-ma May I get read-only access to the Play Store console so I can check the crashes myself? If yes, how can I non-publically tell you my Gmail address?

[2018-04-22 11:37] JueBag commented on #853
Got LogCat,  recorded while sending a message from the webpage. However I can't see anything in that log, except maybe an entry "Input channel destroyed" (but I'm new to this.)

[2018-04-22 12:10] mueller-ma commented on #853
While it makes sense to give you access to stacktraces, @kaikreuzer needs to decide that.

[2018-04-22 12:35] JueBag commented on #853
Yes,  my devices are not rooted. Since I'm away from my PC (Scotland atm) I can't help on that topic. Sorry

[2018-04-22 14:45] maniac103 commented on #853
I can reproduce, so never mind :-) I've seen that particular issue before, and thought I fixed it at some point, but the fix probably got lost during rebasing or in some refactor. I'll fix it.

[2018-04-22 15:03] maniac103 commented on #853
https://github.com/openhab/openhab-android/commit/9c683b20ca620a21ece5e34ed48dc61e1ce253a1 is the commit I thought of. It didn't get lost, but is not sufficient either: it should check for 'cloud connection present && started' before opening the notifications pane.

[2018-04-22 18:40] maniac103 commented on #810
This was fixed with #819.

[2018-04-23 09:03] lolodomo opened #856 "App 2.1: top left button exits the settings page"
With the new app 2.1, the top left button (left arrow), when you are in the settings page, this button exits the settings page and returns to the home page while you just expect moving back to the parent page of the settings.

[2018-04-23 09:07] lolodomo opened #857 "App 2.1: change of certificat settings is not taken into account as expected"
After changing a certificate setting, the connection is done without this changed setting. Even pushing the Retry button does not help. You have to close/unload the app using Android feature. Then when you restart the app, the new settings are considered.

[2018-04-23 12:44] maniac103 commented on #857
Dupe of #810?

[2018-04-23 12:48] lolodomo commented on #857
Yes looks similar.

[2018-04-23 14:55] #857 closed

[2018-04-23 14:57] #810 closed

[2018-04-23 15:09] #851 closed

[2018-04-24 16:59] #856 closed

[2018-04-25 11:17] mueller-ma commented on #853
@maniac103 You should have received a mail from me.

[2018-04-27 17:54] mueller-ma commented on #708
Acutally this is quite dangerous as someone builds an apk and may share their password. So I'm closing this for now.

[2018-04-27 17:54] #708 closed

[2018-04-28 18:16] joepadmiraal commented on #653
I think this is a good idea because on a phone the sliders are currently too small to work efficiently.
On a Galaxy S8 my finger covers half the slider so I have no idea to what value I am changing things when I try to slide a slider.
When I hold the phone in landscape orientation there is a lot of unused space next to the sliders so it would be great if the sliders would become larger. This allow

[2018-04-29 14:13] dominicdesu opened #866 "Spoken text not displayed anymore when using speech input"
### Actual behaviour
When using speech input via the microphone icon (both in-app and widget), the recognized text is not displayed in a toast anymore. Started to occur after the latest app update.

### Expected behaviour
The recognized text should be shown in a toast (as before the update), as else it is impossible to know if the correct command was recognized.

### Steps to reproduce
* Use micro

[2018-04-29 14:20] dominicdesu opened #867 "Using speech input always shows info toast that audio input will be sent to google"
### Actual behaviour
When using speech input via the microphone icon (both in-app and widget), the app always shows a message that the audio input will be sent to google and saved in my google account.
![grafik](https://user-images.githubusercontent.com/3878009/39407624-29f6f482-4bc9-11e8-9ee9-4cf1925c52cb.png)

### Expected behaviour
The message should be displayed at most once, not every time th

[2018-04-29 14:48] dominicdesu opened #868 "Speech input sometimes not sent to openHAB server"
### Actual behaviour
When using speech input via the microphone icon (only tried the widget) on a certain phone (Xperia Z2), sometimes the text doesn't seem to be sent to the server (that is to the VoiceCommand item). No error message is displayed on the smartphone as well. Using another phone (BQ Aquaris X Pro) for the speech input works correctly, so it doesn't seem to be an issue of the server

[2018-04-29 16:27] maniac103 commented on #867
Both the window and the toast are shown by the/a Google app, which we just invoke via intent. I don't think we have any control over that toast.

[2018-04-29 16:34] maniac103 commented on #866
This is a regression of #775.

Note to self: run Toast.makeText().show() in main thread.

[2018-04-29 16:36] maniac103 commented on #868
You don't have ADB installed on your PC by any chance, do you? We'd need logcat output in order to be able to tell what's going on there :-/

[2018-05-01 06:31] cribskip opened #869 "VoiceCommand not working for me"
Hi,

I've just tried to use VoiceCommand with the current beta 2.1.5b and Openhab Snapshot 2.3.0 and noticed VoiceCommand is not triggered anymore.

Looking at the source, the error is here:
https://github.com/openhab/openhab-android/blob/c622102c556de8b791c207e47a280f5f7d7660ad/mobile/src/main/java/org/openhab/habdroid/core/OpenHABVoiceService.java#L90

URL should be "rest/voice/interpreters" whi

[2018-05-01 07:50] maniac103 commented on #869
Yes, that's the right approach. I probably was confused by the rest API docs omitting the rest/ prefix.
(I'm wondering though why the fallback to the VoiceCommand item on 404 doesn't work though?)

[2018-05-01 08:28] dominicdesu commented on #867
Okay, thanks!

[2018-05-01 08:28] #867 closed

[2018-05-01 13:08] dominicdesu commented on #868
@maniac103 I have ADB but unfortunately it only happens sometimes (occurred twice so far). I'll try to debug it the next time it occurs (maybe it was only some temporary issue with the cloud service, if it doesn't happen anymore in the next one or two weeks I'll close this ticket.

[2018-05-02 05:26] cribskip commented on #629
I'm back on this and keep thinking of how to reliable transmit messages at home / locally. When User's phone switches from Wifi to Mobile, the device is not reachable. Maybe some type of queue on the server side could help - reconnect to Wifi: get "new" messages".

With GCM, there could be a "interrupt" which triggers the App to get the new messages.

Any ideas?

[2018-05-02 17:30] cribskip commented on #869
Today while in WIFI it works from within the app it worked. Also from the widget - working just fine. Switching to mobile it all quit working.

I'll test with #871 locally when time permits.

[2018-05-03 17:58] mueller-ma commented on #440
Indeed, that sounds like the best approach.
Do you think the old pngs based charts should still be available, e.g. switch between the old and new in the settings?

The current way to view a chart with multiple periods is:
[code]
Do you think it should be possible to assign multiple periods and select one period client side? This way it enables using native controls, e.g. change period with two fin

[2018-05-03 18:10] mueller-ma opened #873 "Add custom theme"
Add an additional theme where primary and accent color can be selected via a color picker.

[2018-05-03 18:12] mueller-ma opened #874 "Notification icon should be monochrome"
On some roms the colored icon isn't looking good: https://community.openhab.org/t/android-app-2-1-0-notification-sound/43976/7?u=mueller-ma

[2018-05-04 10:04] dsacchet commented on #679
Indeed, it should be great if we can have a mix between Dimmer and Rollershutter BasicUI widget.
Something like :
50% [-] -----X----- [+] [X]

[2018-05-04 16:46] magd1978 commented on #869
I am the same issue. Using local connection to openHAB voice commands works fine. Using cloud connection by myopenhab does not work.
With 2.0.43-beta it worked. It stopped working when I installed 2.1.0 release.

[2018-05-04 17:11] maniac103 commented on #869
#749 was shipped in 2.0.45, so that fits. Please try #871 if you have a chance. My educated guess is that the wrong URL makes the cloud-connector-to-local-server HTTP call time out.

[2018-05-04 17:29] magd1978 commented on #869
Your patched version is not available in https://github.com/openhab/openhab-android/releases yet.
I will visit this site next days again.
Thanks!

[2018-05-05 08:31] dominicdesu commented on #868
This now also happens occasionally on the other phone (BQ Aquaris X Pro).
Unfortunately I mostly use the voice input just before I go to sleep, so not a time when I want to start debugging this issue ;-)
I'm on it...

[2018-05-05 08:35] dominicdesu commented on #869
This could be the cause for #868 as well. Sometimes my phone falls back to the remote connection even if I am at home.

[2018-05-09 17:14] mueller-ma commented on #320
I have added this functionality for charts and images [here](https://github.com/openhab/openhab-android/commit/ba7874a0c9dc1842ee552c1125016d6dd01da5e9) (based on #850). I'm not sure if it makes sense to add this for image items as they are already displayed in max width.

[2018-05-09 19:04] maniac103 commented on #320
I wonder whether it wouldn't make sense to open the popup as separate activity which overrides (force enables) rotation and shows landscape images in actual landscape orientation? Ideally with zooming support? :-)

[2018-05-09 19:07] mueller-ma commented on #874
https://github.com/mueller-ma/openhab.android/commit/bee3541158579fd5adfdd71bf968d090480bbf4c: [mobile-full-stable-debug.zip](https://github.com/openhab/openhab-android/files/1989152/mobile-full-stable-debug.zip)

[2018-05-09 19:11] mueller-ma commented on #866
@dominicdesu Can you test the fix? [mobile-full-stable-debug.zip](https://github.com/openhab/openhab-android/files/1989161/mobile-full-stable-debug.zip)

[2018-05-09 19:13] mueller-ma commented on #869
@cribskip @magd1978 @dominicdesu Can you please test the fix?
[mobile-full-stable-debug.zip](https://github.com/openhab/openhab-android/files/1989167/mobile-full-stable-debug.zip)

[2018-05-09 19:47] mueller-ma commented on #874
:man_facepalming: You're right, wrong icon.
https://github.com/mueller-ma/openhab.android/commit/a81dda510824645f2272218fa13b2a965362cca8
[mobile-full-stable-debug.zip](https://github.com/openhab/openhab-android/files/1989263/mobile-full-stable-debug.zip)

[2018-05-10 06:47] magd1978 commented on #869
Hello.
I tested the APK you are posted yesterday, and it didn't work. I will try
it again today on another Android device, in order to confirm issue.

El mié., 9 may. 2018 21:13, mueller-ma <notifications@github.com> escribió:

[2018-05-10 06:48] cribskip commented on #869
Hi @mueller-ma, thanks for providing the APK. I just tested it and it did not work either. Neither locally nor remote.

[2018-05-10 08:28] magd1978 commented on #869
Notifications also do not work in this version, for more information.

2018-05-10 8:48 GMT+02:00 cribskip <notifications@github.com>:

--
Manuel Alberto Guerrero Díaz
alberto@guerreroygonzalez.es
959 105 700 / 670 71 85 82

[2018-05-10 09:05] mueller-ma commented on #869
What says the "Push notification status" in the about screen?

[2018-05-10 17:55] maniac103 commented on #869
@mueller-ma Failing device registration likely is #870.

[2018-05-10 20:34] mueller-ma commented on #869
I made a branch with master + #870, #871 and #872: https://github.com/mueller-ma/openhab.android/commits/voice-maniac
APK: [mobile-full-stable-debug.zip](https://github.com/openhab/openhab-android/files/1993137/mobile-full-stable-debug.zip)

[2018-05-11 07:30] cribskip commented on #869
Me too, same result.

[2018-05-11 09:54] mueller-ma commented on #874
APK with fixed device registration: [mobile-full-stable-debug.zip](https://github.com/openhab/openhab-android/files/1994801/mobile-full-stable-debug.zip)

[2018-05-11 15:06] maniac103 commented on #869
Can anyone of you post logcat output after an attempt to use voice command?

[2018-05-11 15:23] maniac103 commented on #869
And, thinking about it, may the problem just be that your scenario is expecting the VoiceCommand item to be triggered, but the new server API doesn't do that? (@kaikreuzer can you please fill me in on the required/suggested migration path?)

[2018-05-11 17:31] jcdutton opened #876 "How do you disable openhab android app from phoning home?"
### Actual behaviour
Describe us what happens

### Expected behaviour
Describe us what should happen

### Steps to reproduce
1. Describe us how to reproduce the issue
2. Use a list for it

### Can you reproduce the issue in demo mode?

### Environment data
#### Client
* Android version:
* Device model:
* Stock or customized ROM:
* App version :
* Build flavor :
* Device language:

#### Server
* Se

[2018-05-11 19:33] mueller-ma commented on #876
What makes you think the app is sending information to openHAB?
In case of a crash some information (device manufactor, android version) are sent to firebase. If you install the app (or any other app) the publisher will see these information in the google play console.
If you want to be sure no data is transmitted to openhab, feel free to download, inspect the code and compile your own apk.

[2018-05-11 19:34] #876 closed

[2018-05-11 21:38] jcdutton commented on #876
While at home on wifi, the application is trying to reach ....amazonaws.com
I don't know what information it is sending, but it is periodically trying again and again.
I have a firewall preventing it.

[2018-05-12 10:07] maniac103 commented on #876
You don't have a Webview item showing by any chance, do you?

The app definitely doesn't try to reach anything at AWS by itself. If anything, there must be some trigger for that in your sitemap.

[2018-05-12 10:47] mueller-ma commented on #869
@magd1978 @cribskip Can you go to `Paper UI` => `Configuration` => `System` => `Voice`. What's the value of `Default Human Language Interpreter`?

Interpreter | Type | Description
-- | -- | --
rulehli | Rule-based Interpreter | This mimics the behavior of the Android app - it sends the  string as a command to a (configurable, default is “VoiceCommand”) item  and expects a rule to pick it up and fu

[2018-05-12 12:18] maniac103 commented on #869
@mueller-ma Hmm, we probably should have release noted that, right?

[2018-05-12 12:58] mueller-ma commented on #869
@maniac103 I added a note to the 2.1.0 release in Github.

[2018-05-12 14:03] jcdutton commented on #876
Here is my sitemap file that reproduces the problem.
I doubt this is the cause.
I will take some time and compile my own version of the android app and see if I can narrow down the problem. I am good at reverse engineering, if I need to go to that level.

sitemap our_home label="Our Home" {
    Frame {
        Group item=Garage
    }

    Frame {
        Text label="Power Outlet" icon="poweroutlet

[2018-05-12 15:50] jcdutton commented on #876
What I have discovered so far.
The openhab android app from google play store tried to get to https://...amazonaws.com
openhab from f-droid does not.
https://f-droid.org/repo/org.openhab.habdroid_50.apk

The f-droid web site says:
"The builds on F-Droid have map view support, GCM and crash reporting removed and will not be able to receive push notifications from openHAB Cloud."
Maybe one of those

[2018-05-12 15:52] maniac103 commented on #876
Map view support is a no-op if your sitemap doesn't have Mapview items. GCM is only active (= registers your device with GCM) if myopenhab.org or another openhab-cloud instance is configured as remote URL - is that the case for you?

Also, what's the full contacted URL?

[2018-05-12 16:03] jcdutton commented on #876
Summary:
The way I have found to stop the app trying to contact the internet at ...amazonaws.com is to install the openhab android app from F-Droid and not from Google Play store.

[2018-05-12 16:34] jcdutton commented on #876
I have looked at the IP addresses, and the associated DNS requests.
It appears that it is trying to get to:
"settings.crashlytics.com"
DNS resolves that to:
A 174.129.0.44, A 54.243.245.38, A 107.20.220.57, A 107.20.224.161, A 107.21.109.56, A 174.129.209.245, A 184.73.159.232, A 107.22.253.20
It attempts to reach all those IP addresses.

So, maybe providing an app "settings" option to disable tha

[2018-05-12 19:16] mueller-ma commented on #876
I agree it might look scary when the app tries to connect to some third party server, however Crashlytics is owned by Google and you are running an operation system made by Google, so adding an option that disables Crashlytics doesn't add much privacy. They "could spy" you anyway.
If you want to have a Google free version of the app, please use the version from F-Droid.

[2018-05-14 18:05] Sammaz2 opened #877 "Unable to get exit from the app."
### Actual behaviour
When i opened the openHAB opensource android app and then i started using the app and after that when i tried to leave the app and i tried to get back to homescreen by clicking the back button twice. But unfortunately I was not able to get exit from the app.

### Steps to reproduce
* First you have to download the app from fdroid.

* Then install the app.

* Open the app.

* T

[2018-05-14 19:32] mueller-ma commented on #877
You have full screen mode enabled, right? When I enable this the app is exited after pressing back four times.

[2018-05-14 20:05] maniac103 commented on #877
Those '4 times' need to happen in quick succession though (it's the 'panic mode', added in Android 7 IIRC). Without that, one can only swipe out the app from recents to get out of it. It's more of a feature than a buf though AFAICT.

[2018-05-15 16:59] mueller-ma commented on #877
Right, this is intentional behavior: https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java#L997

[2018-05-16 15:18] mueller-ma commented on #403
@kaikreuzer @digitaldan Should I upload beta builds via the beta track or via a separate "app"? I preffer the latter, Google also does this: https://play.google.com/store/apps/details?id=com.chrome.beta

[2018-05-16 19:39] Senfglasdichtung commented on #217
Well, I'm playing with openhab and the Android App less than a week now. And honestly this bug is absolutly annoying. Let the update of the UI/charts run every second, but why have the charts to be disappearing during that update?

[2018-05-16 19:41] mueller-ma commented on #217
Do you have set a refresh rate for your charts?

[2018-05-16 19:59] Senfglasdichtung commented on #217
Of course, different charts with different refresh rates, but these refresh rates have no influence on the chart updates. Item changes on the other hand... I have temperature sensors which are polled every 5 seconds and the charts get updated every time the value changes.

[2018-05-16 20:08] lolodomo commented on #217
This was recently enhanced on server side. I have not checked the specific impact on the Android app but if you are running a recent openhab snapshot I suppose it should no more happen.

[2018-05-17 04:41] Senfglasdichtung commented on #217
I have installed the 2.3.0~20180516121953-1 snapshot of openhab now. Doesn't really change anything, when a value of an item changes the chart goes blank and appears again after some ms later.
Are these actually two issues - not honoring the "refresh=" parameter and disappearing during update?

[2018-05-17 07:55] magd1978 commented on #869
@mueller-ma

My openHAB "Default Human Language Interpreter" is "Rule-based Interpreter".

Sorry I'm late. I answered via e-mail a few days ago, but it seems that there was a problem with the e-mail reply and the post has not been published.

And in fact, the voice commands work perfectly with version 2.0.43-beta. It stopped working when I installed 2.1.0 release.

[2018-05-17 09:10] maniac103 commented on #869
The conversion to the new voice endpoint happened between 2.0.44-beta and 2.0.45-beta, so that's not surprising.
Do the server side logs tell anything?

[2018-05-17 10:03] magd1978 commented on #869
I am sorry. I do not understand the question. I don't see anything in the log of my openHAB after a voice command, if that's what you ask.
In my case, the rule that decodes the voice commands writes an INFO annotation in the openHAB log when receiving a command in the VoiceCommand item, and this does not happen, then I understand that the command does not get received..

[2018-05-17 10:10] maniac103 commented on #869
Yes, I was asking about the openHAB logs.
We need to find out where the command gets lost in the chain Google voice recognition -> openHAB app -> openHAB REST API -> voice interpreter -> VoiceCommand item - and I was hoping the voice interpreter would write some debug output.

[2018-05-17 11:07] kaikreuzer commented on #403
I cannot tell, what is the better way - up to you and @digitaldan to decide...

[2018-05-17 12:11] magd1978 commented on #869
File mobile-foss-beta-debug.zip do not contain any APK, but it seems to have APK structure. I supouse I can rename is as APK. I will try to install it next evening, when I end work.

[2018-05-17 12:56] maniac103 commented on #869
Yes, please do exactly that. Github allows uploading only a limited subset of file extensions; ZIP is among them, APK is not (and an APK is a ZIP file internally).

[2018-05-17 13:18] magd1978 commented on #869
I've tried it and it does not work. It may help to know that in the last
published version (2.1.0 of 04/20/2018) it works (only with local
connection to openHAB), but it does not work with remote connection through
myopenhab.org.

El jue., 17 may. 2018 14:56, maniac103 <notifications@github.com> escribió:

[2018-05-17 13:33] Senfglasdichtung commented on #217
items
[code]

sitemap
[code]

[2018-05-17 13:36] maniac103 commented on #869
Anything in the server log after a voice command attempt? I tried it with a 2.3 build and it was fine; with the previous code there were errors in the server log.

[2018-05-17 13:49] magd1978 commented on #869
Received voice command but no rule triggered, because command sent to
'Control_Voz' item! (My rule is triggered by VoiceCommand item)

2018-05-17 15:42:07.989 [ome.event.ItemCommandEvent] - Item
'Control_Voz' received
command abrir portón

El jue., 17 may. 2018 15:36, maniac103 <notifications@github.com> escribió:

[2018-05-17 14:10] magd1978 commented on #869
I noticed that [Paper UI -> Configuration -> Services -> Voice -> Configure Rule Voice Interpreter -> Voice] "Command Item" was no correct. I set it to "VoiceCommand" item.
At this moment I can not do tests. Later I'll try it and tell you.

[2018-05-17 14:12] mueller-ma commented on #217
What's the version of the app you're using?

[2018-05-17 14:15] Senfglasdichtung commented on #217
The one from the play store, 2.1.0, 20.04.2018

[2018-05-17 16:50] mueller-ma commented on #403
Ok, I added it as separate app to the play store (https://play.google.com/store/apps/details?id=org.openhab.habdroid.beta), however it need to pass Google's review first.
A small todo list:

- [ ] Add note about the beta version to the description
- [ ] Add "Beta" to the app icon

[2018-05-17 21:05] magd1978 commented on #869
Voice commands now work!!! ...both from local and remote (cloud) networks.
Great work fixing the issue. Thank you very much.

[2018-05-18 14:51] mueller-ma commented on #869
@magd1978 Did you see the toast with "Recognized command: ..."?

[2018-05-18 15:30] magd1978 commented on #869
No. I see "received command"

El vie., 18 may. 2018 16:51, mueller-ma <notifications@github.com> escribió:

[2018-05-18 15:37] mueller-ma commented on #869
I guess you have set your device to Spanish? In this case you have seen "Comando reconocido: ..."?

[2018-05-18 15:48] magd1978 commented on #869
Where can I set language in openHAB 2.2 config? I don't know.

El vie., 18 may. 2018 17:37, mueller-ma <notifications@github.com> escribió:

[2018-05-18 16:06] mueller-ma commented on #869
The notification is based on the language of the smart phone

[2018-05-18 17:14] magd1978 commented on #869
My smartphone language is set to Spanish, and message is showed in English.

El vie., 18 may. 2018 18:06, mueller-ma <notifications@github.com> escribió:

[2018-05-18 18:13] mueller-ma commented on #869
I guess we are talking about different messages. Can you make a screenshot? In case you don't know, [this is a toast in Android](https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FQoXvV2GAcek%2Fhqdefault.jpg&f=1).

[2018-05-18 18:18] mueller-ma commented on #869
Talking about Spanish: Would you like to help to improve the [Spanish translation](https://crowdin.com/translate/openhab-android/7/en-es) in the app?

[2018-05-18 19:46] magd1978 commented on #869
Of course. I will be happy to help you to translate to Spanish.

El vie., 18 may. 2018 20:19, mueller-ma <notifications@github.com> escribió:

[2018-05-18 19:47] magd1978 commented on #869
I thought we were talking about a message in the openHAB log. Where should
I see the message in Spanish?

El vie., 18 may. 2018 20:13, mueller-ma <notifications@github.com> escribió:

[2018-05-18 19:57] mueller-ma commented on #869
It should be on the screen, see #866

[2018-05-18 20:00] #869 closed

[2018-05-18 22:52] magd1978 commented on #869
Verified: after sending voice command, the text "Comando reconocido:
[command]" is displayed on the Android display.

El vie., 18 may. 2018 21:57, mueller-ma <notifications@github.com> escribió:

[2018-05-19 08:09] #866 closed

[2018-05-20 12:11] mueller-ma commented on #549
Let's use this issue to track all releases.
I plan to release 2.2.0 before the 2018-05-25, because of the GDPR (#878). It will have the codebase of 2.1.9-beta plus updated translations (#883).
Changelog (en):
[code]
de:
[code]

[2018-05-20 13:12] maniac103 commented on #549
`Eine Einstellung wurde hinzugefügt, um die Skalierung der Diagramme anzupassen` -> `Einstellbare Diagrammskalierung`?

[2018-05-21 21:55] olcaydaser commented on #474
@wasimshahagadi  nice!

[2018-05-22 18:39] mueller-ma commented on #549
2.2.0 is released.

[2018-05-22 18:42] mueller-ma commented on #851
Now :) I might take some time until everyone receives the update.

[2018-05-23 13:33] sgc109 commented on #474
@wasimshahagadi I love you

[2018-05-23 15:45] mueller-ma opened #898 "Timeout when openhab-cloud is used for notifications only"
### Actual behaviour
The app should show "openHAB cloud is not configured for remote access" or similar.

### Expected behaviour
The app loads for a long time until a timeout occurs.

### Steps to reproduce
1. Paper UI => Configuration => Services => openHAB Cloud => Mode => Notifications
2. Don't configure a local url in the app
3. Configure the remote connection
4. Go back to MainActivity

### C

[2018-05-23 17:12] maniac103 commented on #898
AFAICT the timeout is inevitable (server side thing), so this issue is about reporting SocketTimeoutExceptions differently if they're for a remote connection?

(Ideally the server call would report error instead of timing out)

[2018-05-23 17:35] mueller-ma opened #901 "Correct copyright note?"
In the about screen the following copyright note is shown:
[code]
1. The foundation didn't exist in 2012
2. It's called `openHAB Foundation e. V.`
3. Is the foundation really the copyright holder?
4. Is it ok to change the copyright note during runtime?

@kaikreuzer

[2018-05-23 17:39] kaikreuzer commented on #901
1. correct
2. correct
3. No. We usually write "openHAB Community" as copyright holder.
4. !? Why during runtime?

[2018-05-23 17:41] mueller-ma commented on #901
The "until" year is generated during runtime. The app could be built in 2018 and will show "2012 - 2019 ..." next year.

[2018-05-23 17:41] mueller-ma opened #902 "Clearing default sitemap takes affect after restarting the app"
### Actual behaviour
Clearing default sitemap takes affect after restarting the app

### Expected behaviour
Should take affect w/o restarting

### Steps to reproduce
1. Select a default sitemap
2. Open settings
3. Clear default sitemap
4. Go back
5. You should be asked

### Can you reproduce the issue in demo mode?

No, only one sitemap

### Environment data
#### Client
* Android version: Android

[2018-05-23 17:49] kaikreuzer commented on #901
ok, that would be fine for me.

[2018-05-23 17:57] maniac103 commented on #898
It's an issue with the cloud connector in the server itself (the component that's loaded into the server and talks to openhab-cloud) ... that's probably more suited for openhab2-addons?

[2018-05-23 18:47] RemcoteWinkel opened #903 "External URL leads to error 500"
No change in configuration of openhab. Opening app using remote URL results in 500 error. Log says 'default sitemap not found'

Copied a existing sitemap to default.sitemap

Error is now: openhab loaded empty sitemap

[2018-05-23 19:29] RemcoteWinkel commented on #903
Email takes a long time to arrice. Here are the contents for the impatient (and my piece of mind, I guess):

Sorry for deleting the template. I am on OpenHAB 1.8. Opening the sitemaps over the LAN gives no error. External URL is: http://x.y.z:8080/openhab.app OpenHAB is user/pwd protected for outside connections. Before the app update there were no problems accessing OpenHAB remotely. Problems sta

[2018-05-24 15:50] mueller-ma commented on #903
Can you enable debug mode in the app and make a screenshot of the error message after obfuscating your password with Paint?

[2018-05-24 18:20] RemcoteWinkel commented on #903
Debugmode helped me locate the problem. External URL is wrong in my settings:

Was http://x.y.z:8080/openhab.app but should be http://x.y.z:8080/ as it is using the REST interface.

Please close this issue.

[2018-05-24 18:38] #903 closed

[2018-05-28 15:42] #901 closed

[2018-05-28 17:55] mueller-ma commented on #902
I have a fix here, but it feels to low level and rather a hack then a fix: https://github.com/mueller-ma/openhab.android/commit/278b0cf657adbf0c278f62896e8aa736d616bcbb

[2018-05-28 19:33] maniac103 commented on #902
Yes, it is. I think the correct fix is to check for the default sitemap pref being empty in the onResume method of the main activity and re-show the selection dialog if it's empty (and a connection is present).

[2018-05-30 04:20] wookie666 opened #907 "HTML file wont load in android app"
I have a HTML link that loads fine using my sitemaps when loading it using google chrome.

But in the app, this HTML link does not load

Its a pre configured widget from darksky weather. I have an example.html file in /var/lib in the webapps and weather layouts. That all works well and updates when i change the file.

But nothing to do with the example.html file is loading using the android app. I

[2018-05-30 10:17] mueller-ma commented on #907
Can you post your sitemap?

[2018-05-30 11:32] wookie666 commented on #907
Here is my sitemap.
It might be a mistake on my end, Is the app supposed to show HTML information
`sitemap weather label="Weather"
{
Frame label="Weather"
{
Webview url="/weather?locationId=home&layout=example&iconset=colorful" height=13
Text item=LastUpdate icon="time" valuecolor=[LastUpdate>120="orange", LastUpdate>300="red"]
}

Frame label="Temperature"
                {
                Text it

[2018-05-30 17:30] mueller-ma commented on #907
Where did you place the html file? Webviews with a relativ path are unsupported by the app. Fix: https://github.com/mueller-ma/openhab.android/commit/2b5b1627459adfd3c80ac16e98fd55e4c54b64e4

[2018-05-30 18:23] maniac103 commented on #907
Relative URLs are not guaranteed to start with a slash. If we fix this after the image refactoring, we can use the new HttpClient.buildUrl() method for that purpose.

[2018-05-30 19:30] wookie666 commented on #907
You guys are talking a language I don't understand quite yet. Is there something I can do with my ipenhab files to rectify this right now. Or is this an app related thing

My html file is in var/lib/openhab2/web-apps/weather/data/layouts

[2018-05-30 20:10] maniac103 commented on #907
A viable workaround for the moment should be making the URL absolute: `http://localhost:8080/static/weather?...` (or something among those lines, untested). We'll fix the handling of URLs in the app at some point so that relative URLs will work as well.

[2018-05-30 21:37] wookie666 commented on #907
as soon as i change it to localhost, or even try and use my public IP address, it doesn't load when i use openhab on a PC website. Doesn't load using phone either.

But if i have it like this in my sitemap, it works on chrome on PC, but i just get nothing on the phone
`Webview url="/weather?locationId=home&layout=example&iconset=colorful" height=13
`

[2018-05-30 21:42] wookie666 commented on #907
If i use localhost, the error on the page is localhost refused to connect
if i use my public ip, it says static/weather. Reason Not Found.

So what folder structure should the example.html files be in for static to work?

[2018-05-30 23:01] mueller-ma commented on #907
@wookie666 Can you try this apk? [mobile-full-stable-debug.zip](https://github.com/openhab/openhab-android/files/2055918/mobile-full-stable-debug.zip)

Result from my testing. All request are done in the local wifi:

| Sitemap entry | Works in app w/ patch | w/o patch | Works in browser on mobile device |
| --- | --- | --- | --- |
| Webview url="http://openhab.local/static/index.html" height=10| X

[2018-05-31 14:27] #335 closed

[2018-05-31 14:27] #644 closed

[2018-06-01 14:06] PartTimeDev commented on #684
I have the flickering even for single state icons.
Socket icon in this case

![screencast_2018-05-30-19-59-29](https://user-images.githubusercontent.com/39832934/40844991-a9d32440-65b5-11e8-820c-4ab991fd091d.gif)

[2018-06-01 14:19] PartTimeDev opened #911 "Selection dialog closes when items update"
### Actual behaviour
The selection dialog of a selection item closes if (another) items state gets updated. For short refresh cycle it's close to impossible to hit the desired state.

### Expected behaviour
Don't close dialog on item update

### Steps to reproduce
In the screencast you can see, the setpoint dialog stays open, while the selection dialog immediately closes.
![screencast_2018-05-30-2

[2018-06-01 15:44] mueller-ma commented on #684
A new icon will be loaded for every new state, e.g. 272, 255, 253 even when the icon is the same. If they are loaded once, they won't flicker again. Look at "Hausverbrauch" when it changes to 253W. No flicker, because the 253-icon is already cached.

[2018-06-02 11:26] #345 closed

[2018-06-02 11:28] mueller-ma commented on #874
Fixed in #848

[2018-06-02 11:28] #874 closed

[2018-06-02 11:28] maniac103 commented on #684
@mueller-ma Maybe opening a feature request towards the server to provide information whether the given icon depends on state or not would be an idea or not? The current state of things is a bit inefficient in that regard.

[2018-06-02 13:05] lolodomo opened #912 "Consider item options for selection widget when no mapping is defined"
As discussed in https://github.com/eclipse/smarthome/issues/4942 it would be cool to implement this feature in the Android app too.
I just implemented it in Basic UI and Classic UI; it was already present in Paper UI.

[2018-06-02 19:57] mueller-ma opened #913 "SVG with height and width attributes aren't shown correctly"
### Actual behaviour
See https://community.openhab.org/t/version-2-1-toast-messages-for-the-voice-input/44436/4

### Steps to reproduce
1. Use the icon provided in the thread.

### Can you reproduce the issue in demo mode?

No

The issue is that the icon has a larger height than the viewport dimens that are used for [creating the drawable](https://github.com/openhab/openhab-android/blob/master/mob

[2018-06-02 20:40] mueller-ma commented on #684
That's a good idea since there is so much overhead when you look at items with a large range of values.

[2018-06-04 10:35] #826 closed

[2018-06-11 15:37] #902 closed

[2018-06-13 16:55] #586 closed

[2018-06-13 16:55] #907 closed

[2018-06-14 19:44] #233 closed

[2018-06-14 19:44] #767 closed

[2018-06-14 19:55] #911 closed

[2018-06-16 13:12] mueller-ma commented on #263
@lolodomo @SciLor Can you still reproduce this issue?

[2018-06-16 13:13] SciLor commented on #263
I will come back to you in 2 weeks.

[2018-06-16 13:16] mueller-ma commented on #229
The voice recognition is done by the Google App. As soon as it returns the voice command (as text) to the app it is sent to the server.
Do you still have this issue?

[2018-06-16 13:17] mueller-ma commented on #146
@maniac103 Do you think an option to limit the local connection to one wifi is usefull here?

[2018-06-16 17:40] maniac103 commented on #146
@mueller-ma What do you mean by 'limit to one WiFi'? If you mean limiting the local connection to a specific (B)SSID, I'm not sure that makes sense. I, for one, had my previous router set up to use different SSIDs for 2.4 GHz and 5 GHz, and I doubt that's an uncommon setup.

[2018-06-17 00:29] kaikreuzer commented on #229
Will have to test again, but I very much assume it is still there. Note that it only happens if the phone "thinks" it is online, while it isn't (it only has a access to a local network, but not to the Internet).

[2018-06-17 07:04] RolandRosenfeld opened #928 "Image refresh does not work anymore (cached forever)"
### Actual behaviour
After upgrade from 2.2.0 (release) to 2.2.5-beta (and in the meantime to 2.2.7-beta), images (Image type in sitemap) are no longer refreshed but seem to be cached forever.

### Expected behaviour
I use the refresh= parameter in the sitemap Image set to 60000 (60.000 ms=60 s) and now expect, that the images are updated once per minute, at least if I refresh the page by swiping

[2018-06-17 07:14] maniac103 commented on #928
I think I know what's wrong: https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.java#L278 should pass AVOID_CACHE if it's a refresh. Should drop mCachingMode and determine that in execute().

I'll submit a PR. Looking at this being not the first time of refresh being broken, I wonder whether we should have a unit test for this

[2018-06-17 09:55] mueller-ma commented on #146
Right, I haven't thought at those setups.

[2018-06-18 09:11] maniac103 commented on #912
@lolodomo Is there a quick way to test this with the demo setup?

[2018-06-18 16:28] mueller-ma commented on #912
There is an example sitemap in https://github.com/eclipse/smarthome/issues/4942#issue-289778778. I recommend to check the rest api if the values are present. If not, you need to update your oh server.

[2018-06-18 16:34] #314 closed

[2018-06-18 17:05] maniac103 commented on #912
Yes, but AFAICT an item which is linked to a special channel with options support is needed. My question is whether there's a way to have such a channel without the need for special hardware support.

[2018-06-18 18:05] lolodomo commented on #912
No I don't think this is available in the demo sitemap. It requires using a binding that defines some options for a channel, either statically or dynamically.
I used the netatmo binding for my tests.

[2018-06-18 18:31] mueller-ma commented on #912
Your PR worked for me. Maybe @lolodomo can test it as well so you don't have to test it.

[2018-06-18 19:02] lolodomo commented on #912
Temperature trend and pressure trend.

[2018-06-19 06:15] maniac103 commented on #912
I don't see any trend channels either for the indoor or the outdoor sensor ... I guess this is some post-2.3 thing? If so, I'd like to rely on @mueller-ma 's testing :-)

[2018-06-19 06:32] maniac103 commented on #912
*facepalm* It appears when clicking 'Show more' ... stupid me. Thanks, I'll give that a try.

[2018-06-22 15:14] mueller-ma commented on #146
In case the tcp connection couldn't be opened to the local url, the remote url is used. But if the tcp connection is successful and the http connection fails, the error (mostly 400 or 404) is shown.

[2018-06-22 19:36] mueller-ma opened #934 "Hide preferences when they are unused in a flavor"
The full screen setting is (or should be, it doesn't work) hidden when running a device with Android 4.4 or lower: https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/ui/OpenHABPreferencesActivity.java#L230
This should be done for the ringtone settings as well.

[2018-06-24 17:12] rmckinnon commented on #551
I was having the same issue and the problem was that the Android auto completed the username field and added an extra space at the end. After removing the space I was able to log in successfully.

[2018-06-25 11:03] rolls01 opened #935 "REST API and plain text password"
### Actual behaviour
After open openHAB application shows HTTP 500 and you can notice
 REST API URL: https://myopenhab.org/rest/bindings
Username: plain text
Password: plain text
Exception stack: java.io.IOException: openHAB is offline

### Expected behaviour
As right now RPi 3 is disconnected, should show no connected devices.

### Steps to reproduce
1. Describe us how to reproduce the issue
2. U

[2018-06-25 13:05] maniac103 commented on #935
The plain text password display is something you probably have enabled yourself - to disable, to go settings -> show debug messages (last item) -> uncheck.

[2018-06-25 13:43] rolls01 commented on #935
yes, that is workaround

[2018-06-25 14:58] maniac103 commented on #935
No, it's the actual fix. Why would you want to enable an option whose summary clearly states cleartext passwords will be shown if you fear cleartext passwords to be shown?

[2018-06-25 17:14] mueller-ma commented on #935
I actually see two issues here:
1. Passwords can be made visible by enabling the debug mode. We cannot be more clear about the debug mode. The description says `Passwords will be shown in clear text!`. It can be discussed if enabling debug mode should clear passwords.
2. The generic error message is shown, when openHAB is offline. I'm working on a fix for that.

[2018-06-28 17:29] mueller-ma opened #937 "Connection to demo server fails"
### Actual behaviour
![1](https://user-images.githubusercontent.com/22525368/42050497-64cd8b06-7b09-11e8-8225-b93c29dd371d.PNG)

### Expected behaviour
Should connect

### Steps to reproduce
1. Run UI Tests

### Can you reproduce the issue in demo mode?

yes

### Environment data
#### Client
* Android version: Api 24
* Device model: Emulator
* Stock or customized ROM: Stock
* App version : 2.2.10-

[2018-06-30 15:20] michaeljoos72 opened #938 "Group:Switch doesn't show value"
Hi

I have an Item Group:Switch that shows how many Lights are on. The Android-App only shows the switch, but not the value itself (2.2.10-Beta)

Group:Switch:OR(ON, OFF) Lights_Indoor  "Lichter Innen [(%d)]"  <hue>

Basic-UI:
![image](https://user-images.githubusercontent.com/20517474/42126430-090929de-7c89-11e8-9e7d-286656e0df9c.png)

Thx
Michael

[2018-06-30 16:01] maniac103 commented on #938
Dupe of #233?

[2018-06-30 16:08] mueller-ma commented on #938
#233 should be fixed in 2.2.10

[2018-06-30 16:30] michaeljoos72 commented on #938
Mmhh, I have 2.2.10 ;)

For e.g. a slider i can see the value. Could it be because of the mapping?

Item:
Group:Switch:OR(ON, OFF) Lights_Indoor  "Lichter Innen [(%d)]"  <hue>

Sitemap:
Switch item=Lights_Indoor mappings=[OFF="Alle Aus"]

[2018-07-03 16:54] mueller-ma commented on #938
This can be reproduced in demo mode: http://demo.openhab.org:8080/basicui/app?w=0201&sitemap=demo

[2018-07-03 18:17] maniac103 commented on #938
I'll check this.

[2018-07-04 11:07] maniac103 commented on #937
This is a fallout of #908. Looks like adding this config requires calling [1] from [2] on API >= 17, but I don't see how we could get the needed host name from within MTM.

[1] https://developer.android.com/reference/android/net/http/X509TrustManagerExtensions.html#checkServerTrusted(java.security.cert.X509Certificate[],%20java.lang.String,%20java.lang.String)
[2] https://github.com/openhab/openha

[2018-07-04 14:28] mueller-ma opened #941 "Long pressing "Info ssl client cert" should show the content description"
To be precise: It should show a tool tip which should be the same string than the content description.

[2018-07-04 19:28] mueller-ma commented on #731
I started working on this. WDYT?
![1 1](https://user-images.githubusercontent.com/22525368/42292198-2461c826-7fd1-11e8-9ee9-e43e6b2c8e0c.png)
![1 2](https://user-images.githubusercontent.com/22525368/42292199-2482b324-7fd1-11e8-8835-bd5012936c53.png)

[2018-07-08 16:38] #101 closed

[2018-07-10 04:31] s0170071 opened #946 "Chart refresh parameter ignored"
### Actual behaviour
I have a group of number items (temperatures) being updated every minute. Below there is a chart of that group. The chart item is refreshed each along with the rest of the page if any number changes.

### Expected behaviour
The Chart Item should only be reloaded if the refresh time has elapsed. Latest openhab build does that correctly if the BasicUI is used in a browser.

###

[2018-07-10 13:42] mueller-ma commented on #946
Sounds like a duplicate of #217

[2018-07-10 17:13] s0170071 commented on #946
Not sure about the dublicate. I experience a reload with the chart not being visible for a few seconds. 217 mentions the chart flashing.

[2018-07-11 05:53] s0170071 commented on #946
Seems fixed in 2.2.10 beta version.

[2018-07-11 05:53] #946 closed

[2018-07-11 15:59] #935 closed

[2018-07-11 16:31] #934 closed

[2018-07-11 17:50] mueller-ma opened #947 "Connection shown as insecure when https + client cert"
Just a reminder for me. Introduced in #944

[2018-07-11 18:49] tobiasisenberg opened #948 "Problems accessing Webview of own domain"
### Actual behaviour
When trying to view Webview items with the beta app, I no longer can see Webview elements on my own server using a special port of the format:
`Webview url="https://my.own.domain:64443/grafana/d-solo/000000001/openhab-data?orgId=1&panelId=16&from=now-24h&to=now" height=15`
I am not sure if the reason is the own domain or the special port. The same sitemap loads fine in the bas

[2018-07-12 07:32] kainaspatel commented on #474
your solution is working bro :)
additionally you need to make sure below thing in app level build.gradle file

allprojects {
    repositories {
        jcenter()
        maven {
            url "https://maven.google.com"    // <<<<<<<
        }
    }
}

[2018-07-12 17:50] cribskip opened #950 "Sitemap not shown while in notifications"
### Actual behaviour
When trying to switch to a sidemap from the Side Menu while in notification list, this results only in the Side Menu being closed.

### Expected behaviour
When selecting a sitemap from the Side Menu, the app should exit the notification list and show the selected sitemap.

### Steps to reproduce
1. Open App, Enter Notifications from Side Menu
2. Try to switch sitemap from the

[2018-07-12 17:57] cribskip opened #951 "Sitemap icons flash when opening side menu"
### Actual behaviour
When opening the Side Menu, the icons of the sitemaps show, then quickly flash, then persist.
Upon the next opening of the Menu, this repeats.

### Expected behaviour
Icons should not flash up.

### Steps to reproduce
1. Open App
2. Open Side Menu

### Can you reproduce the issue in demo mode?
No. Maybe this issue only shows when multiple sitemaps are available and/or the site

[2018-07-18 07:24] maniac103 opened #953 "Crash on network change if app is in background on API 24+"
### Actual behaviour
The app crashes if it's in background, the network changes (e.g. Wifi drops out) and it's running on a device running Android Oreo or newer.

### Expected behaviour
App shouldn't crash

### Steps to reproduce
See above.

### Can you reproduce the issue in demo mode?
Crash is unrelated to connected server

### Environment data
#### Client
* Android version: 8.1
* Device model:

[2018-07-19 17:00] mueller-ma commented on #950
When in settings or about the drawer cannot be opened at all by swiping. I'd suggest to lock it here as well or unlock it in settings and about.

[2018-07-20 13:42] #928 closed

[2018-07-22 10:20] #937 closed

[2018-07-22 12:15] cribskip commented on #950
From the UX perspective, I'd prefer to close the foreground activity (notificcations, settings, about) and display the selected sitemap as this is faster (less touches) than going back, opening the side menu and then select the sitemap.

[2018-07-22 17:14] RolandRosenfeld opened #955 "Random icon permutation"
### Actual behaviour
Sometimes some icons are replaces by other icons.

### Expected behaviour
I expect that the correct icons are shown.

### Steps to reproduce
1. Install 2.2.16-beta APK.
2. Open openHAB beta
3. Have a look at the icons.
4. scroll up/down, enter a submenu and return to main menu.
5. have a look a the icons, some may have changed.
6. repeat 4./5. and some of the icons may randoml

[2018-07-27 15:57] Matrixcoffee opened #971 "CHANGELOG.md is out of date n/t"

[2018-07-27 16:30] mueller-ma commented on #971
Please see https://github.com/openhab/openhab-android/releases. I guess I should delete CHANGELOG.md

[2018-07-27 16:32] #731 closed

[2018-07-28 08:34] Matrixcoffee commented on #971
Yes, I found that as well. Had a hard time figuring out what the meaningful difference between the stable versions is, though.

[2018-07-29 18:42] s0170071 commented on #955
Same in 17 beta

[2018-07-29 19:46] maniac103 commented on #955
I can reproduce, will look at it as soon as I get to it.

[2018-08-04 14:27] #947 closed

[2018-08-07 13:38] #971 closed

[2018-08-07 13:40] mueller-ma commented on #971
The changes between stable versions are summarized and added to Google Play and the GitHub release. If you want to see the changes in detail, you can go through all changeslogs on the beta releases since the last stable

[2018-08-07 15:15] Matrixcoffee commented on #971
I see. Thanks for explaining.

[2018-08-07 21:53] mueller-ma commented on #770
This is a bug in AFWall+: Multicast is blocked, even when access to local LAN is allowed.

[2018-08-07 21:53] #770 closed

[2018-08-08 06:14] alexadam16 opened #976 "Jumping of menu"
### Actual behaviour
The bug occors in tablet view. When you have a long menu and select a point you see the details on the right. Now when you scroll the left side (up or down), every time a value in the left side is actualizied, the left menu jumps to the at first selected point. So it is realy hard to select another point on the menu.

### Expected behaviour
It would be nice if the menu does no

[2018-08-08 18:58] mueller-ma commented on #549
It has been some months since the last so we can release 2.3.0 in the near future. However those two bugs seem to be a deal-breaker for me: #953 and #955
#953 could be "fixed" by changing targetApi to 24 for now.

[2018-08-08 19:06] mueller-ma commented on #549
Poking translator, so they are aware of this release ticket.
@WhiteOwl @FrankCZ @gargamelonly @gudszent @hakan42 @Confectrician @kubawolanin @martinvw @gitMiguel @ghys @4digital @ahielg @ahmed89albttashi @alicangec @velmyshanovnyi @asero @barzah @bonieP @brookstudio

[2018-08-08 19:15] mueller-ma commented on #976
This will be fixed with https://github.com/openhab/openhab-android/pull/847

[2018-08-10 14:53] tobiasisenberg commented on #948
This also happens to non-grafana URLs, such as those pointing to html files in config/static/*.html

[2018-08-10 14:55] tobiasisenberg commented on #948
Another note: i tried on various devices (phones and tablets) and various Android versions (up to Oreo 8.1).

[2018-08-10 16:38] tobiasisenberg commented on #948
Another update: this behavior still happens if the URL in the Webview item does not require a special port:

`Webview url="https://my.own.domain/grafana/d-solo/000000001/openhab-data?orgId=1&panelId=16&from=now-24h&to=now" height=15
Webview url="https://my.own.domain/static/test.html" height=10
Webview url="https://my.own.domain/static/image.png" height=10`

, regardless whether the URL with which

[2018-08-15 07:37] maniac103 commented on #549
I'll have a look at both in the next week-ish.

[2018-08-15 13:12] maniac103 commented on #953
Found an easy solution, the support library already has everything in place.

[2018-08-15 14:37] mueller-ma commented on #953
Sadly I don't have a physical device with Android 8 and testing this with an emulator doesn't seem to make sense.

[2018-08-15 14:42] maniac103 commented on #953
I wrote `API < 26` ;-) I only have Android 8 myself, can't test on older versions.

[2018-08-15 15:17] mueller-ma commented on #953
:man_facepalming: I'll test this soon

[2018-08-15 19:25] #955 closed

[2018-08-18 18:37] rliffredo opened #981 "Impossible to scroll content in Webview"
### Actual behaviour
When the Webview displays a page with content exceeding the initial viewport (and requiring scrolling), it is not possible to scroll. In certain occasions it is possible to scroll a couple of lines, but not much more.
As a result, it is impossible to see the full page content.

Note: I tested it only from internal lan, and not using proxies, vpn, or myopenhab.org.
I believe th

[2018-08-18 18:57] mueller-ma commented on #981
If scrolling is enabled for webviews and your webview is larger than your screen height, you wouldn't be able to scroll the sitemap view anymore. IMO the problem you describe doesn't seem like a bug to me rather a limitation. You could increase the height of the webview.

[2018-08-18 19:17] rliffredo commented on #981
In the very same situation, on the very same device, Basic UI works.
On the other hand, I agree that BasicUI has a different layout (leaving some space around) and scrolling is easier (you can always select the "frame", and then scroll that one).

[2018-08-18 22:14] rliffredo commented on #981
After more investigation, it seems that this is creating some incompatibility with BasicUI:

- If I put `height=xx`, it will work correctly in BasicUI, but not work in android.
- If I do not put `height=xx`, then it will work correctly in android, but it might not work correctly in BasicUI.

This is visible in the example above: when removing the `height` attribute, BasicUI will simply display a v

[2018-08-19 07:56] mueller-ma commented on #981
I created https://github.com/eclipse/smarthome/issues/6077. IMO the basic UI should auto adjust the height if no height attribute is set.

[2018-08-19 11:09] mueller-ma commented on #948
If the webview content is on the same server than openHAB, you can use remove "https://my.own.domain" from the url.

[2018-08-19 14:45] tobiasisenberg commented on #948
Interestingly, while this suggested approach of removing "https://my.own.domain" works using BasicUI in a web browser, it works neither in the stable nor in the beta Android app---the space for the webview is being created by both apps but the linked page never loads/is never embedded. Moreover, I don't see why the full URL should fail, after all it works in the stable app and I would expect all c

[2018-08-19 17:42] mueller-ma commented on #948
I tried to reproduce your issue:
[code]
Port 80 is protected with basic authentiacation and I can see both webviews. Sometimes they are in the wrong order, but only for a short time. This seems to be a problem with recycled, but uncleared, view (as we had with icons).

[2018-08-19 18:27] tobiasisenberg commented on #948
And, btw, I do not think that simply clearing Webviews before they are re-used will address my issue. I tried several times before to force-stop the Android apps and then clearing the cache before restarting them (which should similarly delete previous Webview contents), yet the issue that my local Webview contents was not loaded did not go away. Yet, if your change becomes part of the beta Androi

[2018-08-19 18:30] mueller-ma commented on #948
Are you using a valid certificate for your domain?

From your posts I can see that there are two issues:
1. Webviews don't load at all
2. Webviews are sometime in the wrong order. `I sometimes get the content of another Webview item previously looked at from the same sitemap, as if that is still in the cache`

My PR should fix issue 2. I can attach a debug apk for you tomorrow.

[2018-08-19 18:36] tobiasisenberg commented on #948
I use a self-signed certificate which I typically accept the first time I use the Android app to access my own OpenHAB server. But you are absolutely right that your fix should address issue #2, but for me issue #1 is (a lot) more important and I am a bit afraid that if you close this issue post then issue #1 will not be addressed. ;-) But maybe I misread the automatically generated status post of

[2018-08-20 00:55] tobiasisenberg commented on #948
And to reply to another question I had previously overlooked: yes, my.own.domain runs both OpenHAB and the web sites, both using the same ports and the same authentication. In the apps I enter https://my.own.domain:64443/ as the remote server URL and the login and PW that I would also use to access the web sites and the web-based basic UI.

[2018-08-20 16:52] mueller-ma commented on #948
Do you see `Failed to validate the certificate chain, error: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.` in the app log?

[2018-08-22 16:42] tobiasisenberg commented on #948
Sorry for the delay, I was on a plane and then could not think straight due to jet lag. Now I slept and did the test with the beta app. And yes, I do see this error message:

`08-22 18:37:23.265 17570 21360 I X509Util: Failed to validate the certificate chain, error: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.`

Does this mean that with my self-sig

[2018-08-22 19:31] mueller-ma commented on #549
With https://github.com/openhab/openhab-android/pull/980 probably being the last PR that will be merged for 2.3.0 you can start working on the translations.

[2018-08-23 15:11] mueller-ma commented on #948
I'm sorry, my suggestion was wrong. For the webview itself there is no difference between absolute and relative urls. The relative urls are transformed to absolute urls before giving them to the webview.
Webviews over http and https with official certificates with relative urls are fixed in https://github.com/openhab/openhab-android/commit/b596894d2c653b51638a49941ac6c08dba3c3437 (not yet in the s

[2018-08-25 09:12] #953 closed

[2018-08-25 13:02] mueller-ma opened #985 "Image refresh broken"
### Actual behaviour
Image items without the refresh parameter doen't refresh, when swiped-to-refresh.

### Expected behaviour
They should refresh.

### Environment data
#### Client
* Android version: Android 7.1.2
* Device model: Moto G4
* Stock or customized ROM: LineageOS 14
* App version : 2.2.19
* Build flavor : Foss
* Device language: de

@maniac103 I experience this issue on multiple device

[2018-08-27 15:41] mueller-ma commented on #985
It seems that also images with a refresh parameter don't refresh. Usually I see a lot of these messages `I/WidgetImageView: Refreshing image at https://ip:8443/proxy?sitemap=demo2.sitemap&widgetId=00110000`, but after change device orientation or leaving and re-entering the subpage, those messages don't appear again.

[2018-08-29 11:56] cribskip opened #986 "Crash on 6.0.1 with latest beta when changing interface"
### Actual behaviour
When having the app in the background and changing from cell to wifi then restoring the app (either by widget or launcher), **sometimes** the app crashes. This happens approx. 3 out of 10 times.

### Expected behaviour
Should not crash when restoring

### Steps to reproduce
1. Connect to Wifi
2. Open App
3. Send App to background
4. Switch over to mobile and back to Wifi
5. So

[2018-09-03 13:53] maniac103 commented on #985
@mueller-ma Please give the above PR a try.

[2018-09-03 13:58] maniac103 commented on #976
I'm pretty sure #924 should have fixed this already. @alexadam16 Can you please try whether you see this with the latest beta version?

[2018-09-03 16:14] mueller-ma commented on #985
Sure, will do so next week

[2018-09-04 10:30] dastrix80 commented on #674
Ihave the same problem, cant access Openhab Cloud using the Android App and using a local instance of OH2 Cloud.

It runs on 3000 by default. I can hit the webpage on 3000 but my Android wont display the sitemaps!

What can I do?

[2018-09-04 13:59] alexadam16 commented on #976
@maniac103 I have tested the beta (Version 2.2.20-beta (78)) but the error continues to occur. Do you need more informations or can I help you finding the bug?

[2018-09-04 14:05] maniac103 commented on #976
@alexadam16 Most helpful would be a demo sitemap that reproduces the issue.

[2018-09-05 01:00] dastrix80 commented on #250
I have the same issue with the app using a local instance of openhab cloud. I can see the sitemaps visible as  a list in the app, but I just get the egg timer when trying to load them remotely.

The web browser access works just fine

Any help would be great!

[2018-09-06 15:51] alexadam16 commented on #976
Here a sitemap which helps you reproducing the error:
[code]

The "Text item" changes its value every 10 secounds. The error occurs when you open the group (in tablet mode). So you can see all the items on the left and the content of the group on the right side of the display. Now you scroll the left side to the top. Suddenly the left side jumps to the bottom (open group).

I hope you can reproduc

[2018-09-11 14:13] #985 closed

[2018-09-13 13:49] cribskip commented on #986
Installed 2.2-22 yesterday, Issue seems to be resolved 😊

[2018-09-13 13:52] cribskip commented on #951
Installed 2.2-22 yesterday, Issue still exists

[2018-09-15 13:40] mueller-ma commented on #986
@cribskip The PR that should fix this issues hasn't been merged yet, so the issue should still be present. You said, that the issue only occurs sometimes, so did you test it multiple times?

[2018-09-18 15:11] mueller-ma commented on #549
Anything against a release this week?

[2018-09-18 18:19] maniac103 commented on #549
I'd suggest looking at/merging #988 before, otherwise fine with me.

[2018-09-18 19:04] cribskip commented on #986
@mueller-ma meanwhile it appeared multiple times while using this build. Could you please provide a build with the PR merged for me to test?

[2018-09-18 19:45] mueller-ma commented on #986
Sure: [mobile-full-stable-debug.zip](https://github.com/openhab/openhab-android/files/2394288/mobile-full-stable-debug.zip)

[2018-09-19 06:18] eprst opened #1008 "slider updates too fast for a slow dimmer"
I have a zwave dimmer which is slow to change it's brightness, "Command Poll Period" is set to 3 seconds in device settings. Corresponding Slider works correctly in PaperUI but jumps back after being adjusted in the Android app (and in IOS app too BTW), I guess it polls for a state update too soon.

### Actual behavior
Slider value jumps back after being adjusted and only receives correct value af

[2018-09-20 00:44] lukasb01 opened #1009 "Spam when installing openhab from playstore"
### Actual behaviour
Describe us what happens
When I install openhab2 from play Store My phone start to get spam from things to install.
In play store there is only 2 openhab2 programs to download , one is the beta
When I uninstall openhab2 it stop. openhab2 is the only program i use from play store.
I even tried the beta version and I get the same spam
![image](https://user-images.githubuserconte

[2018-09-20 07:22] kaikreuzer opened #1010 "Target Android Oreo (API level 26)"
I've received the following e-mail from Google:

Sounds as if we need to do a release before Nov 1 that addresses this (if this is already addressed, then simply please ignore and close this issue :-))

[2018-09-20 07:45] kaikreuzer commented on #1009
For such overlays, an app requires a special permission, which is not requested by the openHAB app - I am thus pretty sure that the openHAB app is NOT the culprit.

Please search in your android settings for "overlay" and you should find a menu where you can see all apps that have the overlay permission. Deactivate it one by one to find out which app spams you.

[2018-09-20 15:36] mueller-ma commented on #1010
Thanks to @maniac103 the beta version is already targetApi 27. We want to have one PR merged (and one for the translations) before a new version will be released: https://github.com/openhab/openhab-android/issues/549

[2018-09-20 15:36] #1010 closed

[2018-09-20 15:43] mueller-ma commented on #1009
I can confirm that the app does **not** show adds. Please check all other installed apps for the "Draw over other apps" permission.
I would never install apps that don't come from Google Play (They try their best to remove such apps) or F-Droid (It's fully opensource and transparent).

[2018-09-20 15:43] #1009 closed

[2018-09-20 15:47] kaikreuzer commented on #1010
Wonderful, thank you both 👍

[2018-09-20 20:49] cribskip commented on #986
with this test build, the problem did not occur again

[2018-09-21 14:40] #986 closed

[2018-09-21 14:53] mueller-ma commented on #549
Notable changes in 2.3:

1. MTM (we should add this to the release notes to avoid confusion why the mtm is showing up)
2. Formatting label text output #233 (Might be combined with 3, 4 and 5 as "UI improvements")
3. Add vibration and led light to notifications #920 (Should be combined with 5)
4. Use upstream HoloColorPicker instead of rolling our own. #917
5. Improve notification UI #848

Suggesti

[2018-09-25 16:42] #504 closed

[2018-09-25 18:43] dakipro opened #1018 "Camera image is not refreshing after phone goes to sleep"
Hi,
After last update camera images (timed images?) are not refreshing any more.
F.eks i have image with 2s refresh and when i open the app it works fine. Then phone goes to sleep and after unlock image stops refreshing.
Using it mostly to check if toddler is sleeping.
Phone is samsung note 8, Android 8.0

[2018-09-26 18:18] mueller-ma commented on #549
@maniac103 Any idea how [this crash](https://console.firebase.google.com/project/openhab-mobile/crashlytics/app/android:org.openhab.habdroid/issues/5bab4eabf8b88c29635a62d9) happened? The app has this permission.

[2018-09-26 19:00] maniac103 commented on #549
@mueller-ma Not sure, can't think of anything besides root hackery (system allowing permission denial of every permission, not only runtime ones), but Firebase says no root for this user.

[2018-09-27 17:10] mueller-ma commented on #1018
I guess you have version 2.3.0?

[2018-09-28 08:15] dakipro commented on #1018
yes, last stable app from playstore 2.3.0, latest stable OpenHab 2.3.0 with all latest stable plugins (although camera image is only defined as plain image in sitemap with 2s refresh).
Previous app version worked fine with openhab 2.3 some time, after upgrade this started happening.

Thanks for looking into it!

[2018-09-28 14:38] mueller-ma commented on #1018
I'll look into this. For now the distribution of 2.3.0 is paused, so the number of users with the broken version doesn't increase.

[2018-09-28 15:03] maniac103 commented on #1018
OTOH I'd say we need to switch last refresh timestamp in WidgetImageView from `SystemClock.uptimeMillis()` to `SystemClock.elapsedRealtime()`, as the former, which is what we're currently using, doesn't count time the device spent in deep sleep. Can't test myself at the moment though.

[2018-09-30 07:22] mueller-ma opened #1023 "Privacy policy link in About menu gives a 404"

[2018-09-30 10:17] kaikreuzer commented on #1023
Should probably go to https://www.openhabfoundation.org/privacy.html, just as the Play Store entry.

[2018-09-30 11:48] #1023 closed

[2018-09-30 13:46] mueller-ma commented on #675
@maniac103 Do you think it's time to enable Stickler?

I was thinking about Codecov: It's nice to see how much coverage the code has, but does anyone really use it? I don't and if you don't use it, I'm going to remove Codecov.

[2018-09-30 18:27] maniac103 commented on #675
I have a few general cleanup patches pending, will submit them tomorrow. After that I think enabling Stickler is fine. Is there a way to run it manually to make sure the current state of code matches its requirements?
About Codecov, I don't need/use it either.

[2018-10-01 10:14] mueller-ma commented on #675
You can install checkstyle locally and run it with the config stickler/checkstyle.xml

[2018-10-01 15:41] #675 closed

[2018-10-04 09:25] FredericMa opened #1030 "Connecting to remote URL when on local network"
### Actual behaviour
All happens when I'm connected to my home network.
When I launch the app, it initially connects to the local URL and it responds fast, as expected.
If I move the app to the background and open it again after a while it says "Connecting to remote URL" and the response is much slower so it is clear that it gets it data over the internet.
If this happens and I completely close th

[2018-10-05 15:35] mueller-ma commented on #1018
I couldn't reproduce this bug. @dakipro can you try to pull down the view to refresh it manually? Does this re-activate auto refresh?

[2018-10-05 16:10] dakipro commented on #1018
Yes it does. After waking and unlocking the phone (also if i switch to another app and come back) the camera image is frozen. Pull down for manual refresh starts it working again

[2018-10-08 13:54] mueller-ma opened #1036 "Crowdin export of Chinese translation broken"
@kaikreuzer Can you add a mapping of Chinese Simpliefied to `zh-rCN`, like it's done for Portuguese, Brazilian?

[2018-10-10 16:20] mueller-ma commented on #10
As a workaround you can use the stable version for one server and the beta for another one.

[2018-10-11 14:37] Misiu opened #1038 "2.3.0 isn't available on Google Play"
### Actual behaviour

When going to https://play.google.com/store/apps/details?id=org.openhab.habdroid I see that 2.2.0 is the latest release:
![screenshot_20](https://user-images.githubusercontent.com/1741838/46811970-11015300-cd74-11e8-9805-b2d7ea2b0b7d.png)

current version: 2.2.0
release date: 24 September 2018

but on release tab, I see that the latest stable release it 2.3.0 - https://github

[2018-10-11 15:14] mueller-ma commented on #1038
The distribution of 2.3.0 has been paused because of #1018

[2018-10-11 15:14] #1038 closed

[2018-10-11 20:04] mueller-ma opened #1039 "Class AbstractConnection overrides hashCode but not equals."
@maniac103 @FlorianSW
LGTM reports that AbstractConnection overrides hashCode, but not equals. I haven't found a usage of hashCode in the app, so should I delete it or implement an equals function?
https://lgtm.com/projects/g/openhab/openhab-android/snapshot/efa4b6914c955d27b32be61e15b94c3aa6cfe924/files/mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.java?sort=name&di

[2018-10-12 05:34] maniac103 commented on #1039
You won't find it as it's used mostly by the Map and  Set implementations. As Connections aren't put in any of those (anymore), I think we don't need it anymore.

[2018-10-12 16:08] mueller-ma commented on #1018
I've made the change that @maniac103 suggested. @dakipro can you try the apk: [mobile-full-stable-debug.zip](https://github.com/openhab/openhab-android/files/2473780/mobile-full-stable-debug.zip)?

[2018-10-12 18:16] dakipro commented on #1018
I could not update existing app so I uninstalled previous and installed this version you attached, but now it is sort of not working at all. When I load dashboard, image refreshes once (i see the time on camera change one second) but then it freezes and doesn't refresh anymore at all. On manual refresh it is the same, I get a new image and one refresh after that, and then it stops again.

[2018-10-13 13:47] mueller-ma commented on #951
I cannot reproduce this anymore with 2.3.3. @cribskip do the icons still flash on your phone?

[2018-10-13 15:40] mueller-ma commented on #1018
I see, my patch isn't complete. I'll look into this tomorrow.

[2018-10-13 15:49] cribskip commented on #951
Just verified, not happening anymore. thanks

[2018-10-13 15:49] #951 closed

[2018-10-14 14:48] mueller-ma commented on #1008
Can you check if the issue is still present in the latest beta?

[2018-10-14 14:52] #1039 closed

[2018-10-15 09:44] Misiu commented on #1038
@mueller-ma sorry, I didn't notice that issue. Thanks for the update.

[2018-10-15 17:14] mueller-ma commented on #868
Do you still have this issue?

[2018-10-16 15:25] #941 closed, assigned to nobody

[2018-10-16 16:41] #112 closed

[2018-10-16 16:42] #117 closed

[2018-10-16 16:43] mueller-ma commented on #351
Issues like these should be gone with the SSE support. Please reopen if you still have this issue.

[2018-10-16 16:43] #351 closed

[2018-10-16 17:58] FredericMa commented on #1030
I installed the beta but it still has the same issue.

[2018-10-16 18:12] mueller-ma opened #1053 "FR: Show sitemap or frame icon in ActionBar"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The action bar could show the icon of the sitemap (if no subpage is opened) or of the subpage next to the sitemap label.

[2018-10-20 12:19] dominicdesu commented on #1030
Exactly the same behaviour here with 2.2.0 on an aquaris X pro with Android 8.1.0.

[2018-10-20 14:39] mueller-ma commented on #1018
@dakipro does the apk work for you?

[2018-10-20 20:30] dakipro commented on #1018
So sorry, I didn't see in auto email from github that you attached new version, I was waiting for new version (probably edit of comment was not sent by email).
It is a bit better now, but it is back to previous state where image is not refreshed after standby.
Image now runs when I look at the app, but I turn off the screen, turn it on again, and image is stationary.

[2018-10-21 16:28] #607 closed

[2018-10-21 17:05] mueller-ma opened #1058 ""Info ssl client cert" tooltip has bright background in dark themes"
### Actual behaviour
"Info ssl client cert" tooltip has bright background in dark themes, which makes the tooltip hard to read.

### Expected behaviour
"Info ssl client cert" tooltip should have a dark background.

### Environment data
#### Client
* Android version: 5.1.1

[2018-10-23 19:27] #750 closed, assigned to nobody

[2018-10-23 19:33] mueller-ma commented on #981
@rliffredo Can you update to 2.3.6-beta (when it's available in Play/F-Droid) and set the height higher?

[2018-10-23 19:42] mueller-ma commented on #440
@maniac103 WDYT about a slider like ChartScalingPreference in the settings to change between fast and high-res?

[2018-10-23 19:58] rliffredo commented on #981
Yes, I will let you know as soon as there is an update in F-Droid.

[2018-10-24 06:20] maniac103 commented on #440
@mueller-ma Sounds a bit overkill to me. How about a SwitchPreference with title 'Use reduced chart resolution' and summary along the lines of 'Generating charts can be taxing to the server. If you experience slow chart loading times and your server isn't powerful, enable this option to improve loading times' which cuts X and Y resolution in half?

[2018-10-24 16:50] mueller-ma opened #1062 "Show a hint on a subpage containing no elements"
I have a subpage that contains items that are visible under some conditions. It may happen that no item is shown. Whenever this happens my first thought is: "Oh, the app didnt load the page." until I realise that nothing should be shown on this page.
I don't think that I'm the only one who has this thought, so maybe we should add some hint:
1. Just display a hint: "This page contains no elements"

[2018-10-24 17:03] maniac103 commented on #1062
1 and 2 sound good to me ... I'd prefer 2 if we found a good image. Not a fan of 3 ;-)

[2018-10-25 14:54] erhapp opened #1069 "Svg icons not scaling"
Some Svg icons are not scaled correctly. This results in icons that are only partially displayed.

[2018-10-25 16:02] mueller-ma commented on #1069
Please do not remove the issue template. Can you add a screenshot and the svg file?

[2018-10-25 17:29] erhapp commented on #1069
Here are two examples ([icons.zip](https://github.com/openhab/openhab-android/files/2516067/icons.zip))

ps: I'm sorry about the template. It seems to be missing from the mobile version of github.

![data-screenshot](https://user-images.githubusercontent.com/602331/47518660-e347fe00-d88b-11e8-94a3-af4214298863.png)

![printer-screenshot](https://user-images.githubusercontent.com/602331/47518662-e3

[2018-10-25 18:44] mueller-ma commented on #1069
This sounds like https://github.com/openhab/openhab-android/issues/913. Which version do you use?

[2018-10-25 18:57] erhapp commented on #1069
2.2.0 - 22 May 2018 20:29:52

(The current version in the Android app-store)

[2018-10-25 19:46] mueller-ma opened #1070 "Remove jacoco-android"
We don't need it anymore, because we don't use CodeCov.

[2018-10-27 01:10] begleysm commented on #250
Same symptoms as dastrix80.  I have an Apache2 Reverse Proxy Server that acts as a go-between between the outside world and the OpenHAB server.  The outside world address (& Apache2 Server) uses HTTPS.  The OpenHAB server behind the LAN doesn't.

I can access the OpenHAB page on the LAN, with a web browser, at http://LANOpenHAB:8080
I can access the OpenHAB page remotely, with a web browser, at ht

[2018-10-27 07:11] mueller-ma commented on #250
Can you access "mygenericserver.net" from inside your lan?

[2018-10-27 07:37] maniac103 commented on #250
I thought the root cause was already pinpointed in https://github.com/openhab/openhab-android/issues/250#issuecomment-281649942 ?
In any case, the web server access log would be interesting.

[2018-10-27 08:52] mueller-ma commented on #250
My guess: the rest api contains full urls and that wont be rewritten by the proxy. The smartphone outside the lan then tries fetch the sitemaps via the internal urls.

[2018-10-27 14:02] begleysm commented on #250
Why would the API use absolute URLs?  That seems totally inflexible and without advantage.

[2018-10-28 01:08] begleysm commented on #250
i was able to solve my problem by following this tutorial (https://community.openhab.org/t/apache2-reverse-proxy-with-ldap-authentication-https-and-url-path-prefix/25867/8).

Basically he had all the rewrite/substitution rules necessary and I was/am too much of a newb to figure that stuff out on my own at this stage.

[2018-10-28 07:05] mueller-ma commented on #250
@kaikreuzer Should the absolute urls in the rest api be changed to relative ones to avoid such rewrite rules in the proxy and make it easier to setup a proxy?

[2018-10-28 07:05] #250 closed

[2018-10-30 06:22] cribskip opened #1072 "Notifications can't be scrolled anymore"
### Actual behaviour
I noticed in 2.3.8 and verified with 2.3.0 (both installed on same phone) that pagination of the notification activity is not working anymore. Scrolling to the bottom does not cause loading of more events.

### Expected behaviour
When in Notifications, the page may be scrolled and events were being loaded screen-by-screen.

### Steps to reproduce
1. Open app, goto notification

[2018-11-01 11:11] rliffredo commented on #981
OK, just tried, and I could not see any difference in behavior.
Tried with openHAB Beta `2.3.7-beta`

[2018-11-01 17:43] #1018 closed

[2018-11-01 17:45] #440 closed

[2018-11-01 17:45] #1070 closed

[2018-11-01 17:48] mueller-ma commented on #981
The change in the Android app is that the webview now won't be larged than the actuall website content. You need to set a higher hight value for the webview.

[2018-11-01 17:50] mueller-ma commented on #549
I justed tagged https://github.com/openhab/openhab-android/releases/tag/2.3.9-beta, this will be the latest beta before 2.4 as the distribution of 2.3 has been stopped due to a major bug.

[2018-11-02 15:27] gargamelonly opened #1076 "RTL language phone icons/text alignment"
running https://github.com/openhab/openhab-android/tree/2.3.9-beta
screen capture attached.
icons/text/> appear not in correct location when mixing Hebrew and English sitemap.
In the capture, the green tree is in the correct location the submenu mark "<" should be in the opposite direction "<"
other items written in English should be near icons, currently left aligned.
@mueller-ma
![screenshot_201

[2018-11-02 16:05] maniac103 commented on #1076
I don't think we can change the text alignment. The text covers all space between icon and value (or '>' mark) and Android decides about left or right alignment based on the content. Also, where do you see misplaced icons in that screenshot?
Agree about the '>' mark though. Achieving that probably is as easy as adding an android:autoMirrored attribute to the drawable.

[2018-11-02 16:21] ramack opened #1077 "Notification if local (or remote) openhab service is not available"
**Is your feature request related to a problem? Please describe.**
My openhab server on a raspberry Pi is quite unstable and hangs after some days.

**Describe the solution you'd like**
I use the openhab app (free version from f-droid) to show my main sitemap, it would be great, if the app would check the connection every now and then (a few hours would be good, maybe configurable) and show a noti

[2018-11-02 20:39] mueller-ma commented on #1076
I guess the graph icon itself is incorrect, because the arrows go from left to right? A change of this is out of scope of the app. A parameter should be added to the icon request to indicate RTL if that's an issue.

@gargamelonly Can you post your sitemap for testing purposes?

[2018-11-02 22:50] mueller-ma commented on #1076
Setting `autoMirrored` works for the arrows. The textview direction can be forced to be the systems default by setting `android:textDirection="locale"`. I added this attribute to all item labels and values, but now also numbers are mirrored `C° 7.0`. @gargamelonly Is that or `7.0 °C` correct?

LTR:
![de 1](https://user-images.githubusercontent.com/22525368/47944102-eaa98000-def9-11e8-837d-ce432a3d

[2018-11-02 22:51] mueller-ma commented on #1076
@gargamelonly Are there any icons in the settings or about page that should be mirrored?

[2018-11-02 23:18] mueller-ma commented on #1069
This has been fixed in 2.2.5-beta. You can wait until 2.4.0 in the stable channel or download the beta.

[2018-11-02 23:18] #1069 closed

[2018-11-03 08:33] gargamelonly commented on #1076
About page and settings look ok.
See attached captures.

![screenshot_20181103-103048_openhab beta](https://user-images.githubusercontent.com/29747434/47949963-ec079680-df53-11e8-8484-55ba4181762e.jpg)
![screenshot_20181103-103054_openhab beta](https://user-images.githubusercontent.com/29747434/47949964-ec079680-df53-11e8-9833-d0c4de40b1ec.jpg)
![screenshot_20181103-103107_openhab beta](https://us

[2018-11-05 18:11] mueller-ma commented on #1076
I'll upload my code, open a PR and attach a debug apk, so you can test it.
About the settings screen: Shouldn't "Eclipse Public License..." be on the right site?
About the about screen: Shouldn't the demo mode icon be mirrored? In which direction does progress bars go?

[2018-11-05 18:34] mueller-ma opened #1082 "Could not parse SSE event exception"
### Actual behaviour
The following stacktrace is shown in the log. The app still works normally:
[code]

### Expected behaviour
No exceptions should be thrown.

### Can you reproduce the issue in demo mode?

Yes

### Environment data
#### Server
* Server version: Rest API Version 1
* Reverse Proxy: None
* Authentication method : None

[2018-11-05 18:52] mueller-ma opened #1083 "Default sitemap is set to "default" when enabling demo mode."
### Actual behaviour
The default sitemap is "default" after using demo mode.

### Expected behaviour
The default sitemap for demo mode and for regular connections should be different.

### Steps to reproduce
1. Have a server with at least two sitemaps. One must be "default", the other one e.g. "foo".
2. Connect to your server
3. Select "foo" as default sitemap
4. Enable demo mode
5. The demo serve

[2018-11-05 21:01] gargamelonly commented on #1076
Hi,
The text "Eclipse Public License..." can be on the right. Personally it is not major.
About screen, "Demo mode" icon mirrored, also not major. It looks ok as it is.
Progress bars can be on the left side of the window.

[2018-11-06 18:37] #1076 closed

[2018-11-06 18:38] mueller-ma commented on #1076
I've created https://github.com/daniel-stoneuk/material-about-library/issues/89 for the issues in the About screen.

[2018-11-06 18:54] mueller-ma commented on #549
Changelog for 2.4 (includes changes from 2.3):
• Enhanced security. You might get asked again to accept self-singed certificates.
• UI improvements (App and notifications)
• Added setting to improve chart loading times
• Improve item updates

German:
• Erweiterte Sicherheit. Sie werden vielleicht erneut gefragt selbst signierte Zertifikate zu akzeptieren.
• UI Verbesserungen (App und Benachrichtig

[2018-11-09 10:46] tobiasisenberg opened #1087 "Webview no longer displays Grafana panels"
### Actual behaviour
Starting with version 2.3.7-beta, Webview items no longer display Grafana panels. In versions up to 2.3.6-beta, a Webview items such as this one

`Webview url="https://snapshot.raintank.io/dashboard-solo/snapshot/y7zwi2bZ7FcoTlB93WN7yWO4aMiz3pZb?from=1493369923321&to=1493377123321&panelId=4&orgId=2" height=15
`

were displayed correctly, with the panel extending to the entire

[2018-11-09 11:13] deladus opened #1088 "HABdroid 2.4 Error 500"
### Actual behaviour
Describe us what happens
Remote-URL is not available after update. HTTP Status Code 500

### Expected behaviour
Describe us what should happen
Open Sitemap

### Steps to reproduce
1. Describe us how to reproduce the issue
2. Use a list for it

### Can you reproduce the issue in demo mode?

### Environment data
#### Client
* Android version: 8.0 and 9.0
* Device model: Lenovo M

[2018-11-12 18:31] albertbrufau commented on #1087
Same issue here in openHAB Android 2.3.10-beta and openHAB Android 2.4.0

[2018-11-12 19:38] gargamelonly opened #1090 "Notifications crash the app (2.4)"
### Actual behaviour
Notifications received crash and close the app

### Expected behaviour
Receive Notification

### Steps to reproduce
1. Generate a notification from openhab
2. Use a list for it

### Can you reproduce the issue in demo mode?

### Environment data
#### Client
* Android version: Oreo
* Device model: Samsung S8
* Stock or customized ROM: Stock
* App version : 2.4
* Build flavor :

[2018-11-12 19:48] #1087 closed

[2018-11-12 20:40] mueller-ma commented on #1090
@gargamelonly Does this happen at every notification?

[2018-11-12 21:26] GitSchorsch opened #1094 "Switching the visibility of charts does not work"
I have added a chart in my sitemap, which can be switched "on" with different periods and also can be switched off (by setting all visibilities to falsd), to save time when loading the frame. When all visibilities are "false" (so that no chart is visible) and now one of the chart items is set to visible, no chart is beeing displayed. To make the chart visible, it's necessary to reload the page. Th

[2018-11-13 12:56] inis1981 commented on #1088
I have this issue as well after recent openhabian update I can not connect anymore. PC or android

[2018-11-13 15:41] mueller-ma commented on #1088
Can you enable debug mode and post a screenshot of the error including the stacktrace?

[2018-11-13 19:31] gargamelonly commented on #1090
How do I rollback to the previous app version?

[2018-11-13 19:37] gargamelonly opened #1095 "Remote Access is slow (Android app 2.4)"
https://community.openhab.org/t/remote-access-is-slow/55909

### Actual behaviour
Remote Access via App ist very slow. Connection fails sometimes.
Access via Browser (same Phone) or Laptop is fine.

### Expected behaviour
Normal access time to main sitemap

### Steps to reproduce
Open main sitemap in app

### Can you reproduce the issue in demo mode?

### Environment data
#### Client
* Android ver

[2018-11-13 20:14] maniac103 commented on #1090
You can't, at least not without anyone providing the old version.
You don't have ADB installed on your PC by chance, do you?

[2018-11-13 20:18] maniac103 commented on #1090
And I assume this happens only with real notifications, not with test notifications sent via the web frontend?

[2018-11-13 20:21] gargamelonly commented on #1090
What does it mean "notifications sent via web frontend" ?
I can get ADB but phone is not rooted.

[2018-11-13 20:22] maniac103 commented on #1095
All of the information in that linked thread suggests this is a myopenhab issue though.

[2018-11-13 20:34] BeistleA opened #1096 "Voice Control Widget not working"
Since the update to 2.4.0 the voice Control Widget is not working anymore. Voice Control in app is still OK.

[2018-11-13 21:07] maniac103 commented on #1090
I meant the test notifications one can send via myopenhab.org -> Options -> Devices.

ADB is totally sufficient, root not needed. If you could reproduce the crash, run `adb logcat -b crash` on your PC and post the output here, that would be great.

[2018-11-13 21:09] maniac103 commented on #1095
The web frontend might use a different way to connect to the OH server than the app.

[2018-11-13 21:38] mueller-ma commented on #1095
There are multiple reports of a slow myopenhab access. @digitaldan deployed an additional server to improve performance.

[2018-11-13 21:39] #1095 closed

[2018-11-14 12:55] cribskip commented on #1088
When on mobile, app is not working for me too. I've just tried several builds from the releases down to 2.3.3. The most I got is notifications listed in the side menu. No sitemaps with this and newer builds.

As I'm using myopenhab.org service, has myopenhab changed something which may affect connectivity?

[2018-11-14 12:57] inis1981 commented on #1088
Just to be clear, I do get local access but after I recently updated openhabian I do not get remote or access through myopenhab.

[2018-11-14 13:10] cribskip commented on #1088
I've uninstalled Cloud Connector 2.4.0.201811031157 and installed the [jar from 2.3.0 build ](https://bintray.com/openhab/rpm-repo2/openhab2-addons/2.3.0). **No change**

So, I assume, either this is related to the core (I'm on testing, openhab-build 2.4.0~20181103124646-1) or the cloud service.

[2018-11-14 14:19] maniac103 commented on #1088
All of this somehow sounds like the community postings linked in #1095.
tl,dr: cloud service issue

[2018-11-14 16:06] tobiasisenberg opened #1097 "Setpoint opens on Setpoint's minValue, not on item's current value"
### Actual behaviour
When I open a Setpoint element to set a new value, it opens with the Setpoint's minValue displayed, not with the current value of the connected/controlled item. I am not sure this is a bug, but it is certainly a usability issue.

### Expected behaviour
When I open a Setpoint element to set a new value, the current value (of the connected item) should be shown so that, for exam

[2018-11-14 16:31] #1088 closed

[2018-11-14 16:35] inis1981 commented on #1088
I don't believe this is related, it's not loading slow. It's not loading at all.

[2018-11-14 16:43] gargamelonly commented on #1090
Not very familiar with how to get a log from ADB when the app crashes.
Could you please provide more guidance on how to get it? I Tried running the app and crashing it while ADB is connected and running the command you requested. I only got a "-wating for device-" and nothing more.

[2018-11-14 16:54] mueller-ma commented on #1096
Does this happen both via local and remote connection?

[2018-11-14 17:00] mueller-ma commented on #1090
You need to enable ADB in the Android settings developer options first. If you dont see the dev options, go to Android settings => Info and tab on the build number a few times until a toast shows up and says that you're a dev now.

[2018-11-14 17:02] mueller-ma commented on #1088
It probably does:

from https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_Server_errors

[2018-11-14 17:02] gargamelonly commented on #1090
Did that.

בתאריך יום ד׳, 14 בנוב׳ 2018, 19:00, מאת mueller-ma <
notifications@github.com>:

[2018-11-14 17:07] gargamelonly commented on #1090
I see the device listed (unauthorized)

[2018-11-14 17:23] mueller-ma commented on #1090
Check your phone. There should be a dialog asking for adb access. If that's not there, switch between the usb modes (loading only, transfer files).

[2018-11-14 17:33] BeistleA commented on #1096
yes, both connection. and only by using the widget, in app is working. BTW...the popup: recognized command... is also missing (also only by using the widget)

[2018-11-14 19:10] gargamelonly commented on #1090
Does this help:

11-14 20:47:56.121 10348  5582  8698 E AndroidRuntime: FATAL EXCEPTION: pool-4-thread-1
11-14 20:47:56.121 10348  5582  8698 E AndroidRuntime: Process: org.openhab.habdroid, PID: 5582
11-14 20:47:56.121 10348  5582  8698 E AndroidRuntime: java.util.UnknownFormatConversionException: Conversion = 'End of String'
11-14 20:47:56.121 10348  5582  8698 E AndroidRuntime: 	at java.util.Fo

[2018-11-14 19:16] gargamelonly commented on #1090
`11-14 20:47:56.326  1000  5005  9308 W ActivityManager: crash : org.openhab.habdroid,0
11-14 20:47:56.332  1000  5005  9308 W ActivityManager:   Force finishing activity org.openhab.habdroid/.ui.MainActivity
11-14 20:47:56.334  1000  5005  9308 W MultiScreenManagerService: moveTaskBackToDisplayIfNeeded(): root activity or app is null, task=TaskRecord{80c9127d0 #16063 A=org.openhab.habdroid U=0 St

[2018-11-14 19:34] gargamelonly commented on #1090
@mueller-ma
I have a clue for you :)
Changed phone language to English and Notifications are working as expected.
Now I understand why no one was reporting the same issue as it is probably related only to RTL language or specifically Hebrew translation of the app.

[2018-11-14 23:29] dmachtey opened #1098 "Network problem, miss chosing between local and remote"
### Actual behaviour
My openhab server is locate on my lan on 10.13.4.13/16
When I'm at home my phone ip are in a range between 10.13.15.0-100/16 and some times, the android app  get to my server by "Connecting to Remote URL" at myopenhab. But the connections is slower than it should

Now I'm connected to a hotspot that gave me 10.59.9.171/20 and now the app try to get to my server by "Connecting

[2018-11-15 01:49] dmachtey commented on #1098
I just did a nmap to my openhab server, from the network I'm now (10.59.9.171/20) and some thing is there

nmap 10.13.4.13

[code]

May be this is why OH try to connect to local network. but:

[code]
there is not OH server on that address.

Is it possible to check if there is an OH server at the address and if there isn't go to remote.

Best Regards.

[2018-11-15 08:12] maniac103 commented on #1090
Thanks for that log. Root cause is that the hebrew translation is broken the number placeholder is swapped. See https://github.com/openhab/openhab-android/blob/2.4.0-release/mobile/src/full/res/values-iw/strings.xml#L11-L16 ... `d%` should be `%d`.

@mueller-ma In Crowdin UI it looks like expected:
![grafik](https://user-images.githubusercontent.com/781373/48539096-7f2abf80-e8b6-11e8-9cdf-5d75543b

[2018-11-15 16:00] mueller-ma commented on #1090
I contacted the crowdin support. Let's see what they answer

[2018-11-15 17:52] mueller-ma commented on #1090
They send me the following link: https://support.crowdin.com/online-editor/#translating-rtl-languages
I've done that for the Hebrew translation, but I'll ask the support if they can a safe guard against such an issue.

[2018-11-15 17:59] mueller-ma commented on #1098
https://github.com/openhab/openhab-android/issues/1030

The app tries to local connection, because a TCP socket was opened successfully at the openHAB server ip. See https://github.com/openhab/openhab-android/issues/146

[2018-11-15 17:59] #1098 closed

[2018-11-15 18:02] mueller-ma commented on #1097
The behavior you describe is a bug, since the Setpoint widget should show the current value if you open it: https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java#L824-L835

I cannot reproduce this with my local server or the demo server (Widget Overview => Temperature). Can you try the demo mode?

[2018-11-15 18:08] mueller-ma opened #1099 "Back arrow in "Used libraries" exits about"
### Actual behaviour
Back arrow (but not the back hardware key) in "Used libraries" exits about.

### Expected behaviour
Back arrow in "Used libraries" should go back to about.

### Steps to reproduce
1. Open about
2. Open "Used libraries"
3. Click on the back button in the action bar

### Can you reproduce the issue in demo mode?

Yes

### Environment data
#### Client
* App version : 2.4.1

[2018-11-15 18:55] mueller-ma commented on #1094
I tried to reproduce this, but I couldn't:
[code]
There is a ` after your second line. Is this just a copy and paste error?
Does this happen for you both local and remote?

PS: You might want to increase the refresh rate, because it's in milliseconds: https://www.openhab.org/docs/configuration/sitemaps.html#element-type-chart

[2018-11-15 18:59] mueller-ma commented on #1090
@gargamelonly I published a new beta version (2.4.2) to the play store. Can you check if the app still crashes?

[2018-11-15 19:02] tobiasisenberg commented on #1097
Ok, this is very interesting now. Here is an overview (in all cases app installed from the PlayStore):
My normal server: Setpoint starts on minimum value
Demo server: no bug, works as expected
Could replicate it for both 2.4.0 and 2.4.1 beta, both tablet and phone, both official OS (7.1.1) and LineageOS (8.x)
My server runs 2.3.0-1 stable, and I connect via reverse proxy. Currently (during the tes

[2018-11-15 19:29] mueller-ma commented on #1097
Can you post the relevant parts of your sitemap and items file?

[2018-11-15 19:52] gargamelonly commented on #1090
No notifications at all now.

[2018-11-15 20:15] gargamelonly commented on #1090
Question:
Not related to this bug. In the App settings there is a Notification or Alert menu to select Notification sound and vibration, seems it has not affect on notification sound/vibration.
Moreover, in Crowdin the %d should indicate the number of Notifications, I did not notice it is being used, multiple notifications appear in "serial" mode, never more than a single one.

[2018-11-15 20:32] maniac103 commented on #1090
For the latter question: we create a summary notification, but showing it is up to the system UI'a discretion. Maybe Samsung's UI doesn't show it or only under certain circumstances.
Sound and vibration should be set in the notification settings for the app (long press the notification to get there) @mueller-ma We probably should hide the sound and vibration prefs on Oreo and higher.

[2018-11-15 20:42] gargamelonly commented on #1090
Thank you guys for the hard work and for the responsiveness!

[2018-11-15 20:43] GitSchorsch commented on #1094
The ` in the second line is a paste error, in the sitemap everthing is fine. Thanks a lot for the hint with the wrong refresh rates. I have seperated the sections in my sitemap with nested Frame and Text elements and the example in the first post was too simple.
Please try the following:
[code]

[2018-11-15 20:43] GitSchorsch commented on #1094
Sorry, I accidentally closed the issue.

[2018-11-16 08:32] tobiasisenberg commented on #1097
Now it gets really interesting. Through some more thorough testing I found that, for some of my Setpoints in my sitemap, the interaction works as expected, while for others it does not. Here are examples:

Does not work (opens with min value):
`Setpoint item=Thermostat_Kueche_Soll_Temp label="Zieltemp." icon="temperature" minValue=10 maxValue=30 step=0.5
`
*.items excerpt:
`Number:Temperature  The

[2018-11-16 12:21] magd1978 opened #1100 "Secondary remote conection as backup"
As a result of the latest problems with the openHAB cloud service, it occurred to me that it might be possible to add a secondary remote connection that acts as a backup of the main one, so that if temporarily it was not possible to connect through the main connection (example: myopenhab.org), a "direct" secondary connection to the host could be established (example: through public IP and redirect

[2018-11-16 15:54] mueller-ma commented on #1097
I guess I know the reason: I've seen that the fritzbox sometimes sends values like 10,10000001 instead of 10,1 and than the value is not reachable by the step size you entered.

[2018-11-16 16:59] tobiasisenberg commented on #1097
Hmmm. If I check the mentioned item via REST API, then I currently see "state":"22.0 ℃" or, if I explicitly ask for the state, "22.0 â„ƒ". So the rounding issue does not seem to be the problem. But one difference I just noticed is that I defined the temperatures of the avmfritz binding as Number:Temperature as opposed to a pure Number. So I did a quick test: I removed the ":Temperature" from the i

[2018-11-16 20:52] gargamelonly commented on #1090
Another possible side effect to Notifications:
Notifications pop up only after the phone is manually awake.
Seems the app is not power efficient anymore so the automatic power saver puts the app into "deep sleep" mode.

[2018-11-16 21:11] maniac103 commented on #1090
What is that supposed to mean? The service posting the notifications is triggered by a GCM notification, which is supposed to make the service a foreground service (see here https://developer.android.com/about/versions/oreo/background - search for 'FCM'). I wonder what's going on there, but it's hard to test without owning a Samsung phone myself.

[2018-11-16 21:17] gargamelonly commented on #1090
Sorry for my lack of knowledge in Android OS, I am a Hardware guy :)
I was just pointing out a difference in behavior compared to the previous app version 2.2 (I think) where notifications were received immediately after dispatching.

[2018-11-18 09:16] mueller-ma commented on #1090
Yes, I'll propose a PR.

Samsung has a feature called "Monitored apps" (https://www.tech-recipes.com/rx/59391/use-app-power-monitor-samsung-galaxy-note7/) that kills all apps with high battery usage. That could be related to #833. I've seen that this feature also kills the Signal messenger that also uses GCM/FCM.
@gargamelonly Can you add openHAB to the whitelist ("unmonitored apps", see link abov

[2018-11-19 17:20] mueller-ma commented on #549
I want to release a new stable release soon to adress some issues in 2.4.0:
• Fix issue with Grafana graphs
• Hide notification sound settings on Android 8 and above. Please use Notification channels to change it.
• Stability improvements

German:
• Problem mit Grafana Diagrammen behoben
• Verberge Benachrichtigungseinstellung auf Android 8 und höher. Bitte nutzen Sie die Benachrichtigungskanäle u

[2018-11-20 07:10] maniac103 commented on #549
Improved German: ;-)

• Problem mit Grafana-Diagrammen behoben
• Benachrichtigungseinstellungen wurden auf Android 8 und höher. Bitte nutzen Sie stattdessen die Einstellungen der Benachrichtigungskanäle, um den Benachrichtigungston zu ändern.
• Stabilitätsverbesserungen

[2018-11-20 08:55] SteWers commented on #1097
I can confirm the behaviour. When I set the dimension to "Temperature", the setpoint start with the min value. Setting to nothing and it works. I manage this item in PaperUI.

[2018-11-20 14:05] mueller-ma commented on #549
"• Benachrichtigungseinstellungen wurden auf Android 8 und höher" verborgen?

[2018-11-20 14:10] maniac103 commented on #549
Oops, yeah, right :+1:

[2018-11-20 15:00] maniac103 commented on #1097
Can you provide the JSON output, please? If the response is what you're describing, this will surely break the [parsing code](https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/model/Item.java#L134), leading to the current value being treated as '0'.

IMHO that's a bug on the server side (introduced with the units support), as response format for 'stat

[2018-11-21 09:03] tobiasisenberg commented on #1097
Sure, here we go (local IP slightly obfuscated): `http://192.168.X.Y:8080/rest/items/Thermostat_Kueche_Soll_Temp` yields
`{"link":"http://192.168.X.Y:8080/rest/items/Thermostat_Kueche_Soll_Temp","state":"22.0 ℃","stateDescription":{"pattern":"%.1f °C","readOnly":false,"options":[]},"editable":false,"type":"Number:Temperature","name":"Thermostat_Kueche_Soll_Temp","label":"Soll Temp. Küche","categor

[2018-11-21 12:23] maniac103 commented on #1097
We use the former endpoint, so the encoding issue is not relevant for us (but still is a bug). The actual root cause is what I already assumed in my last comment: parsing '22.0 °C' as float fails and the fallback value of 0.0 is used. Now we just need judgement from server side people whether adding the unit to the state really is intentional (it somehow feels wrong to me, especially as the unit a

[2018-11-21 12:31] LuggyLuke opened #1106 "Support for Android Wear 2.0"
So i just Installed the app on my wear os watch and it actually works pretty great. (tutorials how to install using adb can be found with google). In contrast to the old Issues #73 and #381.
One tiny setback is the use of bluetooth tethering between watch and smartphone. This type of network connection seems to be pretty new and cant be handled by the app. Changing the determineAvailableConnection

[2018-11-21 15:01] maniac103 commented on #1106
The deprecation is irrelevant here, because it's deprecated only in API 28 (Android 9.0) and getType is still fine for being used on older API levels. NetworkCapabilities also only exists for API >= 21.

Where does that COMPANION_PROXY name come from? AFAICT it's not listed in the docs: https://developer.android.com/reference/android/net/ConnectivityManager

[2018-11-21 15:14] LuggyLuke commented on #1106
COMPANION_PROXY seems to be a special value used in wear os smartwatches when they get their network connection via bluetooth. But its weird that there is no documentation for that :-(.

[2018-11-21 15:55] maniac103 commented on #1106
I guessed so, but given the types are ints, you must have got that name from somewhere ... my question was where exactly you got it from? Also, what's the numerical value for it?

[2018-11-21 16:07] LuggyLuke commented on #1106
Ahhh. I got it ftom the app, it says network not supported (netzwerkfehler) and then prints the getinfo of the network. Which shows as COMPANION_PROXY.

[2018-11-21 18:11] maniac103 commented on #1106
Can you make a screenshot of that?

[2018-11-21 20:24] dan-saba opened #1107 "Temperature setpoint sends update in incorrect unit"
My temperature setpoint is in Fahrenheit units. When adjusting the setpoint, the selected number is interpreted as Celsius, resulting in the completely wrong temperature. For example, if I set 72 as the setpoint, the app sends 72 Celsius to the server, which is 161.6 Fahrenheit, which is what then shows in the app. The app properly displays the current and setpoint temperatures in Fahrenheit units

[2018-11-22 09:09] LuggyLuke commented on #1106
Here is a Picture, hopefully it helps. I tried modding the apk to start a connection on any type of network, but it seems it cant find the ip while using the bluetooth connection. so there might not be an easy way getting this to work.
![companion_proxy](https://user-images.githubusercontent.com/45229887/48892603-bbbe6400-ee3e-11e8-8682-290a3f8402e4.jpg)

[2018-11-22 12:10] LuggyLuke commented on #1106
ok so i got a test app working using the example from https://developer.android.com/training/wearables/data-layer/network-access#java. i am not sure how to link my fork or add the app as a release but i will check, so if anyone finds this he can give it a try. Until someone with real knowhow can create a cleaner solution.

[2018-11-22 20:20] tobiasisenberg commented on #1107
Is this maybe related to the issue #1097? See the comments there about (a) the encoding of the unit and (b) the problem of Setpoints to properly deal with units.

[2018-11-23 04:42] dan-saba commented on #1107
I'm not sure if it's directly related, but I am also affected by that issue and observed the same behavior with regards to changing from Number:Temperature to Number.

[2018-11-23 15:18] dan-saba commented on #1107
Just a note in case anyone else has this issue - I created a workaround rule for the time being.
`rule "Correct Set Point"
when
  Item Nest_Temperature_Set_Point received command
then
  if (!receivedCommand.toString.contains("°F")) {
    Nest_Temperature_Set_Point.sendCommand(receivedCommand + " °F")
  }
end`

[2018-11-23 21:21] lolodomo commented on #1107
I have not implemented UoM on the server side. @htreu did it.

[2018-11-25 05:08] kleintody commented on #948
I have the same problem as @tobiasisenberg:
WebView is not displayed in OpenHAB Android app if it points to a https-URL on my OpenHAB Server using a self-singed certificate. (I cannot setup Let's Encrypt, since the webserver is on purpose not reacheable from the outside. Although this is my internal Network I still want to rely on encrypted connections.)
Currently my workaround was to configure th

[2018-11-28 03:11] nahaff opened #1111 "VPN connections cause this app to use the remote server instead of the locally available server"
### Actual behaviour
When I'm at home, I can connect to VPNs and still get to local servers because only internet traffic goes through the VPN. While on the VPN, I can still reach openHAB through the local IP address in a web browser. However, the openHAB Android app still says "Connecting to remote URL" every time I launch it, and it takes a bit longer. Just to be clear, I'm not trying to connect

[2018-11-28 16:09] mueller-ma commented on #1111
This shouldn't happen. If you're using VPN, the app tries to connect to the local URL: https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java#L56-L58

[2018-11-28 16:44] kleintody commented on #1111
I can confirm a similar problem as mentioned by @nahaff.
I am in my local WLAN. When I use the IP-based URLs (http[s]://my-openhab-ip/), the app says: "Verbinde mit lokaler URL" (i.e. "Connecting with local URL").
However, when I use the DNS-name based URLs (http[s]://my-openhab-hostname/ or http[s]://my-openhab-hostname.my-domainname/), the app says: "Verbinde mit Remote-URL" (i.e.: "Connecting w

[2018-11-28 17:40] schinken commented on #741
Actually this also happens to me on not-found items. Record was 400 requests/second which was killing our openhab instance running into OutOfMemory

[2018-11-28 18:16] nahaff commented on #1111
Thanks @kleintody !! That will suffice for a work-around in my case, which I'm really glad to have. I'm using HTTPS with a properly signed cert, so I didn't even to think of trying with just the IP address instead of the DNS. It works as expected when the IP address is used, but not with the DNS name. Of course, I had to accept the now invalid cert (because the certs CN/SANs only match DNS names).

[2018-11-28 18:22] #1111 closed

[2018-11-28 18:47] kleintody commented on #1111
I think, it’s nothing to do with VPN (or only in parts). As I wrote: this problem occurs for me when I am in my local WLAN of my home. There is no VPN running.

[2018-11-28 18:49] kleintody commented on #1111
Did you close the ticket?
I think, the IP instead of DNS name is only a workaround. So this still remains a bug for my opinion...

[2018-11-28 19:13] mueller-ma commented on #1111
If you're using a dns name that cannot be resolved by public dns server, this isn't an openhab bug, as the dns resolution is handled by android itself and not by the app.
However you can buy a domain and create a public dns record that points to your internal openhab server ip.

[2018-11-28 19:36] nahaff commented on #1111
Yep, I think mueller is correct. I'm guessing you're using something like the cloudlock DNS app? I cannot re-create the issue when I use my own local DNS (without VPN), which is the only DNS that has my openHAB DNS name registered. Ideally for me, Android would check the local DNS first to see if a DNS name resolves to an internal IP address, but that adds latency and security concerns. Registerin

[2018-11-28 20:40] kleintody commented on #1111
Sorry, but I don‘t get it...
Why should this be an android bug?
1.) I’m directly connected with my home WLAN, not via VPN or so. My local DNS-Server is resolving the domain name properly. Why should android be asking an external nameserver, if the internal (that is deployed via DHCP) is answering DNS requests?
2.) Why is this *identical* DNS-based URL working as an remote but not for local URL? I.

[2018-11-28 20:46] kleintody commented on #1111
@nahaff: Which cloudlock DNS?
My openhab instance is running only locally. No connection to any external cloud.
And why should I register an external DNS if I do not intend to access the host from external, but only internally?

[2018-11-28 20:48] nahaff commented on #1111
Sounds like we may have different bugs. I'm not saying yours isn't a bug, just that I can't recreate it. Mine seems to work with the DNS name if I just turn off the VPN. Your comments helped me figure it out anyway. The issue I'm having is just from my phone using the VPN's DNS instead of the local one. I can reopen it for you, and would have, but that VPN cause part is right in the title of this

[2018-11-28 20:50] kleintody commented on #1111
P.S.: since the DNS name is only a local one, the app can only get the IP resolved via my local DNS server. So no external source whatsoever should be able to tell the openhab app the internal IP of my internal hostname...
Hence, my question is: how can it be that the app is telling me that it connects to the „remote URL“ but not to the „local URL“, although both are identical and the local should

[2018-11-28 20:57] nahaff commented on #1111
@kleintody It's just some app that's been in the Android news lately for a secure DNS option. If you don't know about it, I'd guess you're not using it. OpenHAB should be using the same DNS as a web browser, so if the same URLs aren't working, something something's up. I made the mistake of testing in a web browser with the IP address, but in OpenHAB with the domain name. They operated the same in

[2018-11-28 21:00] gargamelonly opened #1112 "No notifications in 2.5.0 but ok in Beta2.5.1"
This could be related to [https://github.com/openhab/openhab-android/issues/1090](https://github.com/openhab/openhab-android/issues/1090)

[2018-11-29 06:08] mueller-ma commented on #1112
2.5.0 and 2.5.1 are quite equal: https://github.com/openhab/openhab-android/compare/2.5.0-release...2.5.1-beta
Can you check the push notification status in the about page?

[2018-11-29 07:42] gargamelonly commented on #1112
It is registered for the service.
There is some noticeable random delay until notifications are received. Probably not related specifically to the app. I will close this issue.

Thanks!

[2018-11-29 07:42] #1112 closed

[2018-11-29 19:05] renstat opened #1113 "Dynamic sitemaps are broken since 2.3.1-beta build"
### Actual behaviour
I very often use the visibility parameter in my sitemap. With release 2.4, every use case of **visibility** stopped working in my sitemap.
Out of curiosity, I tested also that there is the same issue with the **labelcolor** and **valuecolor** parameters.

I reproduced the issue in the following simple test. This test works fine with Classic UI, Basic UI and Android App 2.3 : w

[2018-12-01 10:36] #43 closed

[2018-12-01 11:59] mueller-ma commented on #1100
Kind of duplicate of https://github.com/openhab/openhab-android/issues/10

[2018-12-01 11:59] #1100 closed

[2018-12-01 12:02] mueller-ma opened #1115 "Enhance "No connection" fragments"
1. Add "Turn on Wifi" button if wifi is turned off and no remote connection is configured.
2. Add button and info text to enable demo mode if discovery failed.

[2018-12-01 12:07] boc-tothefuture commented on #1113
I am seeing the same issue.  In my case I hide the visibility of audio controls in a room unless the zone is on.  Switching the audio zone on no longer results in the audio controls bring visible.

[2018-12-02 20:15] IvanI3 opened #1116 "Allow connect when WiFi not available"
Please, disable check for WiFi availability on app start. I use VPN over LTE for accessing home network, and cannot use app with current restrictions :(

[2018-12-03 06:55] LuggyLuke commented on #1106
Well first there would need be a proper wear app, right now my fork is just the basic android app without any real changes. I am no android programmer so i dont think i will be able to port it to wear anytime soon, but if you want to give it a try i would be happy to help :-). Maybe now there are actually enough people with watches to justify development.

[2018-12-04 21:58] dakipro commented on #928
This re-appeared again (should I make a new issue?).
I have image that is 30min refresh interval (weather forecast) and I now see that it is being cached from 27 of November. Running last stable app 2.4.0 (same for openhab) on android Note 8

[2018-12-05 19:18] #546 closed

[2018-12-05 19:21] mueller-ma commented on #196
I don't see this crash report in 2.4.0.

[2018-12-05 19:21] #196 closed

[2018-12-05 19:21] mueller-ma commented on #197
I don't see this crash report in 2.4.0.

[2018-12-05 19:21] #197 closed

[2018-12-06 17:59] mueller-ma commented on #1116
Which android version?

[2018-12-06 20:11] IvanI3 commented on #1116
7.1.1, MIUI

[2018-12-06 22:46] agibson commented on #1116
I would say make it an option to enable/disable use of WiFi check on
startup.
With that said.
I would say to also make it an option to enable/disable use of
Cell(LTE,3G,etc) check on startup.
I only use WiFi and no cell.

On Thu, Dec 6, 2018 at 1:11 PM IvanI3 <notifications@github.com> wrote:

[2018-12-07 05:30] maniac103 commented on #1116
If you always want to connect to the same server, just enter it as remote server and leave local one empty ... or am I missing something?

[2018-12-07 07:38] IvanI3 commented on #1116
Yes, it helps! Thanks for the option, I thought it for openhabcloud server

[2018-12-07 10:22] IvanI3 commented on #1116
App successfully connects with remote server set in settings. Local server I think just for local LAN connection - that's ok. Issue could be closed.

[2018-12-07 12:15] Sp34rmint opened #1120 "Webview shows nothing, only white boxes"
Could not finde a related issue, but maybe #1087

### Actual behaviour
Since the two last versions off the app the webviews only show empty white boxes with the defind hight.
If i access my sitemap from IOS or throug the browser everything works fine.
Also with the the app version 2.2.0 als Webviews are shown correctly in the android app.

### Expected behaviour
I just expect that after the fix of

[2018-12-07 14:54] mueller-ma commented on #1120
Sounds like #948

[2018-12-07 14:54] #1120 closed

[2018-12-07 15:45] steisslinger opened #1121 "Switch labeled buttons are cut with older Android revisions (4.4.x)"
### Actual behaviour
Switch labeled buttons are cut with older Android revisions (4.4.x)

### Expected behaviour
Full visibility of labeled buttons

### Steps to reproduce
1. Use labeled buttons on sitemap (mapping)
2. E.G.: Switch item=<itemname> [label="<labelname>"] [icon="<iconname>"] [mappings="<mapping definition>"]

### Environment data
#### Client
* Android version: 4.4.2
* Device model: L

[2018-12-07 19:14] #1082 closed

[2018-12-07 20:10] mueller-ma commented on #1094
I added some debug logging (https://github.com/mueller-ma/openhab.android/commit/0225b57119996de09a32e885168ee164252ae358) and saw that the widget ids get reassigned when the visibility of widgets changes. In this case the app mixed up widget: In @GitSchorsch's sitemap the charts is sometimes rendered with the values of the item `TemperaturChartPeriod`.

[2018-12-07 20:16] #1099 closed

[2018-12-07 20:56] mueller-ma commented on #948
Should be fixed in [mobile-foss-beta-debug.zip](https://github.com/openhab/openhab-android/files/2658757/mobile-foss-beta-debug.zip)

[2018-12-07 21:22] maniac103 commented on #1094
@mueller-ma In what way exactly does this reassignment happen? Is the issue server side (server sends items under wrong widget ID) or app side?

[2018-12-09 10:12] maniac103 commented on #1094
I wonder whether #1109 will have improved things there?

[2018-12-09 16:41] mueller-ma opened #1132 "URL settings hint not shown"
### Actual behaviour
If no url is set, the summary is "Not set".

### Expected behaviour
If no url is set, the summary should be "The URL of the openHAB dashboard (based on hostname or IP). If configured, autodiscovery is disabled. Current setting: %s".

[2018-12-10 17:49] mueller-ma commented on #1107
@htreu Friendly poke

[2018-12-11 18:09] mueller-ma opened #1136 "Check and discuss if icon format setting of basic ui can be used in the app"
https://community.openhab.org/t/android-app-not-updating-icons/39139/22

@kaikreuzer The icon format setting in the app causes a lot of issues with custom icons. Do you think the app should use the same setting than the basic ui?

[2018-12-11 19:52] maniac103 commented on #1136
How exactly does Basic UI work in that regard?

[2018-12-12 14:19] #1116 closed

[2018-12-13 13:41] wrosenauer opened #1144 "missing images"
### Actual behaviour
I'm using a sitemap with an external image reference.
This is displaying fine in OH's BasicUI but does not load in the Android App.
This worked when I integrated it many months ago but in the meantime it stopped to work.

### Expected behaviour
I should see an image from a Grafana graph as in BasicUI

### Steps to reproduce
1. my sitemap contains
Image refresh=60000 url="http:

[2018-12-13 17:31] #1132 closed

[2018-12-13 18:18] mueller-ma commented on #1062
3 is also problematic because of copyright claims and apk size.

[2018-12-14 09:11] htreu commented on #1107
Sorry for the late reply: In the client you have to parse the item state to see if it carries a unit. In Paper UI I do it like this to separate the unit from the scalar value:

https://github.com/htreu/smarthome/blob/96678e2217c72d4abe1ac83b29179b6b98b3b44f/extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/control/number/component.control.number.js#L50-L62

Once this is done your internal mo

[2018-12-14 09:38] maniac103 commented on #1107
Hmm, that ... doesn't seem like an optimal interface :-/
I'll make the app conform to that.

[2018-12-15 15:20] dotorg commented on #735
Is this a dead suggestion at this point? It looked like it got implemented and then not pulled, or pulled back out? It doesn't seem to work.

Before I fork and re-implement it, I figured I'd ask what was going on with it.  Its a bit of a struggle to get a usable UX out of the app for lighting because it seems like its trying really hard to stick to the default out-of-the-box Material widgets. For

[2018-12-15 17:59] mueller-ma commented on #735
Hey @dotorg,
the suggestion on the screenshot in the first post was implemented by me, but rejected.
However if you want to work on this, please have a look at https://github.com/openhab/openhab-android/issues/550#issuecomment-377672560 (`3.` is https://github.com/openhab/openhab-android/pull/1052).
The "full row click" action for sliders without switchSupport can be setting the slider to 0 or 100

[2018-12-15 19:58] dotorg commented on #735
I don't think that plan makes any sense. While some items should absolutely support bigger tap-targets (like tap to toggle a Switch control), that's a bad UX for a slider, because a mid-position slider -- do you go up, or do you go down? If the behavior isn't obvious, its a bad user interface.  It should be a max/min, or on/off discrete buttons.

I'd rather pull your patches and tweak it or re-imp

[2018-12-16 05:39] cribskip commented on #1096
Hey, it's working for me. tested with beta 2.5.2. Are you using VoiceCommand or built-in parser, maybe there is a problem

[2018-12-16 09:07] kvolden commented on #735
For the case where switchSupport is enabled, it makes perfect sense. As I've said before, if it's OFF (0), then turn it ON. If it's ON (>0), then turn it OFF. If it's not already clear, read my previous comments for the distinction between ON and 100%.

For the case where switchSupport is disabled, if "full row click" should still be active (I don't have strong opinions on whether it should), it w

[2018-12-16 09:14] BeistleA commented on #1096
thanks for the hint, it is working with beta version of the app. hope it will be fixed in next stable :-)
greetings Andy

[2018-12-16 13:05] #565 closed

[2018-12-16 13:08] mueller-ma commented on #1096
There shouldn't be a difference for the voice widget between 2.5.0 and 2.5.2-beta.

[2018-12-16 13:08] #1096 closed

[2018-12-17 17:16] #1062 closed

[2018-12-17 17:44] mueller-ma opened #1148 "Setpoint contains wrong values if stepsize is a decimal number"
### Actual behaviour
Have a setpoint with `min=1` and `step=0.2`. You can see the following values for selection in a setpoint:
[code]

### Expected behaviour
[code]

### Can you reproduce the issue in demo mode?

No

### Environment data
#### Client
* Android version: 8
* App version : 2.5.3-beta
* Build flavor : Both
* Device language: EN

[2018-12-17 17:45] mueller-ma opened #1149 "Travis Job doesn't fail anymore if gradle fails"
Just a reminder for myself

[2018-12-17 19:12] maniac103 commented on #1148
The question boils down to 'how many decimals do we want to use for formatting' ... 'step' could become 1.4000001 as well, so we can't use it as base :-/ Only can think of ugly stuff like hand-parsing min/max/step strings and using the largest number of decimals of those 3. Or is there something in the API response we can use?

[2018-12-18 10:56] mueller-ma commented on #1094
I don't see any sitemap update events when the visibility of widgets change.

[2018-12-18 12:45] maniac103 commented on #1094
Then this definitely is a server side issue. If widget IDs are dynamically reassigned and no update events are emitted, how are we supposed to find out?

[2018-12-20 18:11] mueller-ma commented on #646
@cribskip Do you want to have a look at #1152?

[2018-12-20 18:36] mueller-ma commented on #1136
It's possible to fetch the default icon format, but not the currently set one: http://openhab/rest/config-descriptions/ui%3Abasic

[2018-12-20 19:04] cribskip commented on #646
@mueller-ma I'll try to get it working in today's night.

[2018-12-21 04:02] cribskip commented on #646
I could not get anything to compile so I could not verify but by looking at the changes this should be OK.

[2018-12-21 18:32] mueller-ma opened #1153 "App shortcuts"
Continuing the discussion of https://github.com/openhab/openhab-android/pull/1124#issuecomment-449116649
@maniac103

I have a patch for basic shortcut support (adding/removing them if appropriate, having one for HABPanel, Notifications and Voice recognizer. Latter opens the app and launches the Google app). I want to add a dialog that asks if a [shortcut should be pinned](https://developer.android

[2018-12-23 09:37] mueller-ma commented on #1036
We should also add Spanish United States and a mapping to es-rUS.

[2018-12-27 17:52] bruman opened #1156 "Custom notification ring tone"
I see mention in the code that I should be able to select a custom ring tone but that option is not showing up in the preferences. I have enabled myopenhab, and I see successfully registered with gcm i the about, which appears to be a requirement for the custom notification option. I have tried the main openhab app in Google play and the beta version. Notifications show up correctly, I would just

[2018-12-27 19:57] bruman commented on #1156
Android 8.1.0

[2018-12-27 20:15] maniac103 commented on #1156
OK, then the setting is part of notification channels now. In Android settings, go to Apps -> openHAB -> Notifications -> Standard and choose the ringtone there.

I'll see whether we can add a shortcut to that page to our settings page.

[2018-12-27 22:52] DerOetzi commented on #1094
Same issue here but not only with charts, but although switch and text items. What kind of debugging can I do to help to find this error

[2018-12-27 22:58] DerOetzi commented on #1094
As further information, I tested with BasicUI and everything works as expected. So I'm not sure whether it is a problem which is Server-Side.

[2018-12-28 00:32] bruman commented on #1156
@maniac103 Excellent, Thanks, I didn't know that was there :) I have change the notification and that works. I am also getting the alert playing twice, the alert only shows up once in the android notifications, and myopenhab, i only have my phone listed once in myopenab in the devices. This  was what started me down this path, to change to an alert that was less annoying since the alert played twi

[2018-12-28 07:51] maniac103 commented on #1094
BasicUI can take shortcuts as it also runs server side. IIRC we had this happening in the past.

[2018-12-30 14:53] #1115 closed

[2018-12-30 22:20] #1149 closed

[2019-01-02 19:33] mueller-ma commented on #1094
@lolodomo How can I see all sent SSE in logs on the server? I would like to know if the SSE really are sent incorrectly or if the implementation in the app is broken, before I open an issue in ESH.

[2019-01-02 23:02] lolodomo commented on #1094
We could add a TRACE log somewhere in this package to log the content of the sent events.

[2019-01-03 22:17] tobiasisenberg commented on #1097
Any news on this issue in the meantime? A fix would be much appreciated.

[2019-01-04 07:03] maniac103 commented on #1097
The fix is in #1146 ... it's mostly there, just need to get around fixing the unit tests.

[2019-01-04 08:10] tobiasisenberg commented on #1097
Thanks a lot for yhe update, much appreciated!

[2019-01-05 21:11] anordvall commented on #1030
I have the exact same problem using app version 2.5.0 on a Galaxy S8. Quite annoying. Anything I can do to help narrow down the problem?

[2019-01-05 23:15] mueller-ma commented on #1030
I think the problem is that the app sometimes failes to connect to the local server, connects to the remote one and as long there is a connection to _some_ server, the app doesn't try to connect to a specific one (with exceptions for e.g. notifications that are always fetched from the remote server). I guess https://github.com/openhab/openhab-android/pull/780 could fix this issue.

[2019-01-06 14:50] maniac103 commented on #1030
Maybe if we're on a local network and can't connect to the local server, we should regularly retry to connect to the local server?

[2019-01-08 16:14] mueller-ma commented on #1094
Yes, that would help debugging this issue.

[2019-01-08 16:21] mueller-ma commented on #1144
I have working image items with images from a webcam, but I haven't tested a grafana graph. Can you get a url like yours from a public grafana server (https://play.grafana.org/) for testing?

[2019-01-08 18:57] wrosenauer commented on #1144
I tried to include one from play.grafana.org but it seems due to the proxying nature of openHAB it fails to display targets using SSL. (My openHAB is not using https.)
Is there a way in the app to get debug information like a browser's web console?

[2019-01-08 19:20] wrosenauer commented on #1144
I tried to include one from play.grafana.org but it seems due to the proxying nature of openHAB it fails to display targets using SSL. (My openHAB is not using https.)
Is there a way in the app to get debug information like a browser's web console?

(Just noticed that it works on another device which is a 10inch tablet but fails on my Galaxy S9.

[2019-01-08 20:01] mueller-ma commented on #1144
With 2.5.3-beta or newer (available in the play store as extra app) you can display the app log: Settings => View log

[2019-01-09 07:20] wrosenauer commented on #1144
After I tried the beta which worked I completely wiped the app from my phone and reinstalled it.
Now it's working again. No idea how it came into the non-working state. So this might be closed while there seems to be a glitch somewhere that it can break under certain circumstances.

[2019-01-09 17:04] #1144 closed

[2019-01-10 10:30] kaikreuzer commented on #1036
Sorry, it took me a while, but both languages should now be set up!

[2019-01-10 10:30] #1036 closed

[2019-01-10 18:55] #426 closed

[2019-01-11 18:44] mueller-ma commented on #1094
I added logging to the app to see the full sse events. I'm using the temperature site of the demo package for testing:
![basic](https://user-images.githubusercontent.com/22525368/51052965-8b8e7880-15d8-11e9-80f0-dda494f9be7b.JPG)

Switching from Week to Day produces the following log:
[code]

The events seem correct: The week chart is hidden, the switch is set to `Day` and the day chart is shown.

[2019-01-11 18:46] mueller-ma commented on #1156
Working on this.

[2019-01-13 09:35] mueller-ma commented on #1094
As you can see in my screenshot of the rest api, it doesn't contain hidden widgets. I guess we need to reload the page (like on SITEMAP_CHANGED events) when we get updates for unknown widget ids.

[2019-01-13 10:20] maniac103 commented on #1094
This sounds an inconsistency in the API though, doesn't it?
@lolodomo Since you've been working on SSE stuff: is this (invisible items being not listed in the widget list, but being updated via SSE events instead of sitemap change events being sent out) really intentional? @kaikreuzer Maybe you could comment as well if you get a chance?

[2019-01-13 10:39] lolodomo commented on #1094
I don't remember exactly now but I am sure Basic UI does not reload the full page so you have a solution.
I need to dig a little to have a clear idea.

[2019-01-13 10:44] lolodomo commented on #1094
But you have to consider visibility attribute. The initial REST API provides all widgets.
If I correctly remember, Basic UI hides the widget with visibility=false.

[2019-01-13 15:32] mueller-ma commented on #948
@kleintody Did you find time to test my apk?

[2019-01-14 18:53] mueller-ma opened #1168 "Support Direct Boot"
https://android-developers.googleblog.com/2016/04/developing-for-direct-boot.html

[2019-01-14 18:56] mueller-ma opened #1169 "HABPanel is reset when device orientation is changed"
### Actual behaviour
HABPanel's starting page is shown after the device orientation is changed.

### Expected behaviour
HABPanel should be on the same subpage as before.

### Can you reproduce the issue in demo mode?

Yes

### Environment data
#### Client
* App version : 2.5.6-beta

[2019-01-14 20:04] mueller-ma commented on #950
Also applies to habpanel now.

[2019-01-14 20:14] cribskip commented on #1030
I've just reinstalled 2.5.0 (Built 24.11.2018) on my 6.0.1 Android to verify (and I still had the APK).
For me, in contrast to @anordvall on his S8 (which version btw?), the app consistently chooses the right path and switching causes to reconnect with the right path.

On 2.5.6 beta (10.01.2019) the app sometimes chooses to wrong path (mobile while in WIFI) as described. However, I've also noticed

[2019-01-14 21:22] MikeJMajor opened #1170 "Delayed notifications"
On my OnePlus 6 notifications are often delayed until I unlock the device.

I've tried disabling all battery saving features which doesn't seem to help. I'm sure this is related to Android Pie since I've only noticed this since updating the phone, but WhatsApp doesn't seem to have the same problem (settings indicate it's using high priority messaging).

[2019-01-15 14:00] maniac103 commented on #1094
Basic UI is delivered as pre-rendered HTML AFAICT.

REST API most definitely doesn't deliver the hidden widgets. With the above mentioned demo sitemap:

[code]

the REST API response (`curl http://localhost:8080/rest/sitemaps/demo/0100 | json_reformat`) becomes

[code]

As one can see there's only one Chart in the response, not 3 of them, and no visibility flag in there.

We can indeed work/hack a

[2019-01-15 14:10] maniac103 commented on #1094
(I can prepare a patch for the latter if anyone can tell me how to make the OH Eclipse setup use the local Smarthome sources for building instead the jar pulled from Maven)

[2019-01-15 17:00] maniac103 commented on #1170
What exactly do you mean by 'high priority messaging'?
I'm using a OP6 on Pie (LineageOS 16) as well, and notifications seems fine for me.

[2019-01-15 18:42] MikeJMajor commented on #1170
If my phone has been locked for a while and it's not being charged then OH notifications can be delayed for many minutes. If the phone is unlocked or being charged then OH notifications are instant. Unlocking the phone makes any delayed notifications appear.

In the notification settings for WhatsApp it has the "Use high priority notifications" option ticked. Not really sure what that means, but W

[2019-01-15 18:57] maniac103 commented on #1170
Can you please make a screenshot of that settings UI? Can't find anything similar in the AOSP settings UI at the moment.
I doubt it's related to FCM high priority messages though, because we currently don't use that. We probably should do that, though, I guess. Relevant link: https://firebase.google.com/docs/cloud-messaging/concept-options#setting-the-priority-of-a-message ... obviously this needs

[2019-01-17 11:29] m4rky-m4rk opened #1176 "Double notification sounds after installing and uninstalling beta app"
Hi,
I started to use the beta app alongside the regular app when the the Grafana chart issue popped up. After installing the beta I then had for each openhab notofication two audible alerts. I thought that was because I had the two apps installed at the same time.

The Grafana issue was fixed and I uninstalled the beta version but annyoingly I still get the double audible alerts and have, so far,

[2019-01-17 11:34] m4rky-m4rk commented on #833
I have the same phone warning notifications . Also Samsung Note8.

[2019-01-17 11:44] maniac103 commented on #1176
If you look at the device list in openhab-cloud I guess your phone is listed twice? If so, you can try clearing out both entries and starting the app again; this should fix the duplicate.

We still should differentiate between stable and beta in the cloud registration though.

[2019-01-17 12:41] m4rky-m4rk commented on #1176
Its listed once but will try removing it anyway.

[2019-01-19 12:31] Matthias2841 opened #1177 "Select panel configuration from Server not possible"
When trying to select a panel configuration, which is saved on the server (rasperry) this is displayed, but it cannot be selected on tablet using current beta Version.

[2019-01-19 17:33] igitti commented on #199
This solved my problem with Apache. Thanks!

[2019-01-19 18:54] mueller-ma commented on #1177
I created a second panel configuration and switching between those works fine. The selected config is still active after restarting the app. Can you please test if this works in a browser and fill out the issue template?

[2019-01-19 21:13] mueller-ma commented on #1177
Which Android version? Open the app, go to `Settings` => `View log` and insert the log here.

[2019-01-20 01:31] abedwardsw commented on #1176
I also am always getting double notification sounds.  Not sure when it started, but just decided to finally look into it today.   I've tried the following:
- deleting device from myopenhab cloud.  my "old" phone was listed there, I deleted both my old and new phone.
- restarting the app / force stop
- cleared cache
- restarting the device

can't seem to figure out how to stop the double notificati

[2019-01-20 05:31] Matthias2841 commented on #1177
It's Android 7.0.

Log of App is empty.

[2019-01-23 05:16] Matthias2841 commented on #1177
Finally i manage to open the panel configuration, which is stored on the server: first i created a New one and saved that one locally. Now it's possible to open the remote one. So considder this topic as closed.

[2019-01-23 11:16] #1177 closed

[2019-01-23 19:10] #1094 closed

[2019-01-23 19:21] #1107 closed

[2019-01-24 05:53] nattila1 commented on #1030
Exactly the same behaviour here with 2.5.0 on an Samsung J5 with Android 8.1.0.
it is annoying especially using nfc tag because in that case it is not visible why the process so slow

[2019-01-24 17:42] #1148 closed

[2019-01-24 18:36] JohannesPtaszyk commented on #660
We should probably not do this without user interaction, because it could appear weird to the user. Changing the expected behavior is usually not a good option.
How about the idea of adding an option to the settings?
So the user can decide from something like this:
* always save data
* don't save data
* detect system datasaving (if we are able to get this)

[2019-01-24 20:19] mueller-ma commented on #660
IMO it should be possible to restrict heavy data usage to wifi (click to show image items, no autorefresh of images and charts, no dynamic icons) and enable this setting if the device is on data saver mode.
If the user enables the system-wide data saver mode, he wants to save data without any additional interaction.

[2019-01-25 06:03] JohannesPtaszyk commented on #660
Then we probably still should have some kind of opt-out option in the settings or should maybe give the user something like a footer/snackbar or different style of information, that we run in data saving mode, shouldn't we?
But I mean, I could also start working on this and if we decide to give the user an option to opt-out or have some information for the user, we could create a follow up ticket.

[2019-01-26 14:41] steisslinger commented on #1121
Hi,
thanks for fixing. I checked it in openHAB beta.
Buttons are shown now in full size but active buttons are not highlighted (see attached screenshots).
Not OK in openHAB beta (openHAB 2.5.9-beta):
![screenshot_openhab_beta_nok](https://user-images.githubusercontent.com/19800372/51788606-33cb4200-2180-11e9-81e8-887c1c7356b7.png)
This is like it should be displayed (openHAB 2.3.0):
![screenshot_o

[2019-01-26 19:51] tobiasisenberg commented on #1097
This issue can be closed, with 2.5.9-beta the setpoint works again as expected. Thanks a lot to all who helped!

[2019-01-26 19:51] #1097 closed

[2019-01-26 20:48] mueller-ma commented on #1113
This should be fixed in the latest beta version.

[2019-01-27 17:02] JohannesPtaszyk commented on #660
So, after some research I found out that there are multiple states for the datasaving option:
* Disabled
* Enabled
* Whitelisted
How should we handel the whitelist case? Just load the data? Or would you rather like to have the same behavior as when data saving is enabled? Or is there an other suggestion?

[2019-01-27 17:17] JohannesPtaszyk commented on #1083
I'll can have a look to this.

[2019-01-27 17:34] JohannesPtaszyk opened #1182 "Provide some insights on the app structure"
**Is your feature request related to a problem? Please describe.**
As a new contributer it is really confusing to me, how the app is structured.

**Describe the solution you'd like**
I as a potential contributer would like to see some graphics, descriptions and guidelines on how the app is structured and where to put my new code.

**Additional context**
I just wanted to get started contributing, b

[2019-01-27 17:58] maniac103 commented on #1182
I think it would be more helpful if you ask specific questions instead of a general overview, because the latter still doesn't answer specific design decisions and is a lot of effort to create. It's much easier (at least from my side) to do this in a FAQ style.

As for your specific question:

[PreferenceActivity](https://developer.android.com/reference/android/preference/PreferenceActivity) is mo

[2019-01-27 18:43] JohannesPtaszyk commented on #1182
Hmm okay, i will try to bring some questions up and maybe we can have like a FAQ.
Would be nice to gather insights, so we can get new contributors on a decent knowlege level quicker.

So should I just contribute a markdown file with all questions in it? Maybe with the questions grouped by layer or feature?

[2019-01-30 08:14] mueller-ma opened #1184 "Show hint if using https to http port"
### Actual behaviour
The app shows "SSL handshake failed".

### Expected behaviour
The app should show "You're conntecting to a http port with https".

[2019-01-30 08:16] mueller-ma commented on #1121
It's also broken for newer Android versions.

[2019-01-30 17:19] maniac103 commented on #1121
I'll check it, probably a simple fix.

[2019-01-31 14:21] Bl4d3s commented on #948
@mueller-ma Hello, I had the same problem with the HabPanel Beta View (AnchorWebView). I added your changes from the branch to my own (cause of own gcm instance). It works great. Thanks

[2019-01-31 16:15] eschaettin opened #1186 "Custom icons not shown in app"
Custom icons will be showed in browser on desktop and mobile but not in the app

[2019-01-31 18:04] #1186 closed

[2019-01-31 18:34] mueller-ma commented on #948
Thanks for testing. I'll make a PR to get this change in the official app.
By the way you can use the official app with your own openhab cloud installation, see https://github.com/openhab/openhab-android/pull/288

[2019-01-31 21:17] mueller-ma commented on #1182
You can create a PR to CONTRIBUTING.md with a "FAQ" chapter and we try our best to answer your questions.

[2019-01-31 21:21] mueller-ma commented on #948
@maniac103 I haven't found a solution for this so far. Do you think we should add a hint to webview widgets? https://github.com/mueller-ma/openhab.android/commit/12d804042a7be410fc325f4156c4fcb36cdc3a1a

[2019-01-31 21:59] #1121 closed

[2019-02-01 05:16] maniac103 commented on #948
@mueller-ma This is an interesting idea ... certainly better than not showing any indication IMHO.
But the comments above make it sound like you have found a solution? So what's missing now?

[2019-02-01 06:04] JohannesPtaszyk commented on #1182
Thanks, will do!

[2019-02-02 23:44] mueller-ma commented on #948
#1187 allows the user to add a user created CA to the system. While this is a workaround it doesn't fix the actual issue: Webviews aren't using the keystore from MTM, but from the system to validate certificates.

[2019-02-03 16:39] mueller-ma commented on #324
Nested frames aren't supported by the framework. They work in basic ui "by accident".

[2019-02-03 17:47] GeorgeEsper commented on #324
Noted. Thank you for responding so promptly.

On Sun, Feb 3, 2019, 11:39 AM mueller-ma <notifications@github.com wrote:

[2019-02-05 16:37] mueller-ma commented on #948
That should work for webviews to the openHAB server, but not to a third party webserver like a webcam. A valid solution though.

[2019-02-05 20:58] JohannesPtaszyk commented on #1182
Okay, I created a PR. I hope I did everything right, because it is my first PR ever on a github project.

[2019-02-05 21:20] besolvedde opened #1197 "Application (2.5.9) crashed if you use zoom icon"
Hey Community, im using the 2.5.9 beta application. If i choose in the sitemap the frame with the "zoom" icon the application crashed. Thanks for your commitment

!!! Update:

Fix crash with MapView if item has no state #1195

Sorry i read this now. Thats the Problem, i have a frame with the zoom icon, and into this there is only one mapview item... Nothing works insight (6 items), because of the

[2019-02-06 18:23] mueller-ma commented on #1182
You can add "Closes #1182" to the commit message, so GitHub can create a link between this issue and the PR and auto-close the issue when the PR is merged.

[2019-02-07 17:35] mueller-ma commented on #948
I updated #1191: Now webviews accept the certificate if it has been trusted via MTM.

[2019-02-07 19:08] JohannesPtaszyk commented on #1182
Okay, so once we got all the answers from you guys together, I will just add them to my branch and we can merge it? Or do you want to handle it differently?

[2019-02-08 20:49] #728 closed

[2019-02-09 14:07] mueller-ma commented on #1176
Could it be that the sound comes from the notification itself and from the channel?

[2019-02-09 15:10] maniac103 commented on #1176
I doubt it. I'm pretty sure that on Oreo+, where the channel settings are used, the individual notification settings are disregarded. I also do not see this issue myself (using Android 9)

[2019-02-09 15:10] #1113 closed

[2019-02-09 15:15] mueller-ma commented on #1176
The latest beta registers itself as "\<device name\> (Beta)". When you get the update to 2.5.12-beta, can you try again to remove all registrations in myopenHAB and open both app versions, so they can re-register themself?

[2019-02-09 23:42] dominikkv opened #1202 "Image proxy for local URL not working"
### Actual behaviour
Images in sitemap are not loaded when connected to local URL. I have the following sitemap entry:

    image refresh=30000 url="http://admin:admin@grafana:3000/render/d-solo/abc/dashboard?orgId=1&panelId=2&from=now%2Fd&to=now&width=1000&height=500"

Grafana is not accessible from local network because of docker isolation, but OpenHAB and Grafana containers are linked together,

[2019-02-10 15:59] mueller-ma opened #1203 "Two panes in portrait mode?"
I recently got hands on a nine inch tablet and IMO the screen is wide enough to use the two pane mode in portrait mode. Currently we use the two panes in landscape >600dp: https://github.com/openhab/openhab-android/blob/master/mobile/src/main/res/values-sw600dp-land/layout.xml

[2019-02-11 10:49] Misiu commented on #6
Anything going on with widgets support? Ideally, I'd like to have a simple switch for on/off actions and a static "label type" widget that could be used to display temperature. Take a look at eWeLink app, when You add widget You can choose the device that will be assigned with it, same can be done with Open HAB - user should be able to choose item from sitemap.
This thread is from 2014 and the las

[2019-02-11 17:29] mueller-ma commented on #6
Maybe I'm missing something, but the blocking issue here is that the connection mobile => server is pretty easy, but server => mobile impossible (or at least impossible in an efficent way). Google wants us to use FCM to send updates from server to apps. To use GCM/FCM your openHAB server must be connected to openhab cloud. If you select an item for a widget, the app must send that to the server, s

[2019-02-11 17:34] mueller-ma commented on #1197
The crash is fixed in #1195. Further discussions how to improve the ui in this case is in https://github.com/openhab/openhab2-addons/issues/4848.

[2019-02-11 17:34] #1197 closed

[2019-02-11 20:06] Misiu commented on #6
@mueller-ma how communication from server to mobile is done right now? Via FCM?
From what I know Basic UI is using SSE (EventSource), is the same method used here?
I'll read a bit more about widgets and hopefully I'll find something useful.

[2019-02-11 20:45] mueller-ma commented on #6
As long as the app is in foreground we use the rest api to get the sitemap and receive updates via SSE. Notifications are received via GCM (FCM's predecessor).
When the app is in the foreground, communication is quite easy and simple, but in the background there are limits by Android. One possibility would be using workers (minimum 15 minutes delay between updates) or a foreground service (persist

[2019-02-12 16:28] michaeljoos72 opened #1207 "Selection of HAB-Panel-Configuration"
Hi

I'm not able to select an already available Panel-Configuration on my phone. Android 9 on Pixel.

![image](https://user-images.githubusercontent.com/20517474/52651361-51243e00-2eec-11e9-9cdd-e68e1cf18214.png)

BR
Michael

[2019-02-12 16:55] mueller-ma commented on #1207
Anything usefull in the app log?

[2019-02-12 17:05] michaeljoos72 commented on #1207
Could be this the interesting part?

[code]

[2019-02-13 16:59] JohannesPtaszyk commented on #1182
Okay, I added your answers to the FAQ 👍 A

[2019-02-14 17:28] mueller-ma commented on #549
Changelog for upcomming 2.6:
• Add app shortcuts
• Add ability to view HABPanel
• Fix issues with units, visibility and webview widgets

• App Shortcuts hinzugefügt
• HABPanel-Anzeige hinzugefügt
• Probleme mit Einheiten, Sichtbarkeit und Webview-Elementen behoben

I'll make #1167 ready for 2.6, but #1174 and #1137 should go to 2.7.

[2019-02-15 02:21] CrazyIvan359 opened #1209 "Slider element ignores min/maxValue"
### Actual behaviour
Slider elements ignore the `minValue` and `maxValue` specified in sitemap file and always operate in the range 0-100. In BasicUI on desktop sliders behave as expected and respect `minValue` and `maxValue`.

### Expected behaviour
Sliders should respect specified values

### Steps to reproduce
1. Create a sitemap slider element and specify a `minValue` other than 0 or `maxValue

[2019-02-15 05:41] mueller-ma commented on #1209
Can you check the beta version? This should be fixed there

[2019-02-15 05:41] maniac103 commented on #1209
This was fixed with https://github.com/openhab/openhab-android/pull/1146, in particular commit https://github.com/openhab/openhab-android/commit/abf593eeb0bb90dfef863f3194ddb3f2f783f173 ... it'll be part of the next release.

[2019-02-15 10:57] CrazyIvan359 commented on #1209
Perfect guys, I'll get the beta installed this evening.

For reference, when is the next release expected to hit the Play store?

[2019-02-15 13:50] mueller-ma commented on #1209
We're tracking new releases in #549. I want to merge two PRs before and wait some time for the translator. Maybe about a week.

[2019-02-15 15:19] #1209 closed

[2019-02-18 19:30] JohannesPtaszyk commented on #1182
Improved the things you mentioned.

[2019-02-19 07:39] sidamos opened #1212 "Does not send basic authentication for access to events (reverse proxy)"
### Actual behaviour
I am using openHAB 2.4 behind a reverse SSL proxy with basic authenticaion. I can see in the Apache logs that the app does not send the credentials for this URL:

"GET /openhab/rest/sitemaps/events/0280f475-925e-463f-9227-202b094a7bd0?sitemap=default&pageid=default HTTP/1.1" 401 442

This does not happen when using the Chrome browser to access the Basic UI.

### Expected behav

[2019-02-19 07:46] sidamos opened #1213 "Does not show images via remote reverse proxy"
### Actual behaviour
Images are not being displayed when using a SSL reverse proxy with Basic Auth (Apache). The same images work fine when using the local URL (without reverse proxy) or the myopenhab cloud.
The images also work fine behind the reverse proxy when showing the Basic UI in the Chrome browser.

### Expected behaviour
Images should be displayed.

### Steps to reproduce
1. Set up revers

[2019-02-19 07:48] sidamos commented on #1213
This is the entry in the sitemap:

Image item=FrontDoorCameraNestHello_Camera_SnapshotURL label="Nest Snapshot" refresh=60000

[2019-02-19 08:01] sidamos commented on #1212
Also happens with 2.5.14-beta.

[2019-02-19 08:01] sidamos commented on #1213
Also happens with 2.5.14-beta.

[2019-02-20 18:11] mueller-ma commented on #1207
The issue here is that HABPanel wants to open a popup and asks if you really want to change the config. I'll check what we can do here to let the popup open.

[2019-02-20 21:04] #1184 closed

[2019-02-21 16:25] witek1308 opened #1216 "adding authentication with PIN and/or fingerprint for app"
**Is your feature request related to a problem? Please describe.**
Hey, this is not a problem but pure feature request. Smart home in my case (but I conclude from forums that others' too) contains many sensitive settings for example heating unit control or gate/garage gate control. In this case anyone having access to the phone can play with it and accidentally change important setting or even get

[2019-02-21 18:24] #1156 closed

[2019-02-21 18:24] #1207 closed

[2019-02-22 14:37] Jochen1980 opened #1217 "Enrich README for Contributers"
Dear Developers,

I tried to get the app running, so that I'll be able to contribute to the project. Unfortunately I am not able to build and run the app. Maybe someone can describe the steps which are necessary for starting the app in the emulator in more detail.

Best regards,
Jochen

[2019-02-22 15:16] maniac103 commented on #1217
Well, normally it should suffice to open the project in Android Studio. What issues did you encounter exactly?

[2019-02-22 15:45] Jochen1980 commented on #1217
What do I need to run / build that the app starts in the emulator?

[2019-02-22 16:08] maniac103 commented on #1217
Open the project, press the 'play' shaped button ('Run'), select an emulator, press 'OK', wait a bit, done.

That's how it's supposed to be; if you hit issues in the process it would be good to have them listed ;-)

[2019-02-22 17:57] Jochen1980 commented on #1217
Great - now it was working to start the emulator. Unfortunately I was not able to start the app on the emulator, the error message was "No matching client found for package name 'org.openhab.habdroid.beta'" The app was not sent to the emulator.

[2019-02-22 18:49] Jochen1980 commented on #1217
UPDATE: the debugStable runs on the emulator. debugBeta seems to have some problems and the build stuck.

[2019-02-22 20:18] Jochen1980 commented on #1216
Dear Community,

first of all, I am quite new here, so I have no idea what kind of discussions and opinions have been around here.

In my opinion, dealing with access control is a thing which should happen on the backend side. Currently there is no access control system in the main system, so for me it makes no sense to implement it in the app.

By the way - how does the app behave, if you activat

[2019-02-22 20:38] witek1308 commented on #1216
Jochen
You misunderstood my point. Backend is for authenticating user of the cloud.
Frontend PIN is to secure your GUI that if you go to the toilet in the bar
and leave your phone on the table (assuming it doesn't get stolen) nobody
turns lights in your home or moreover can't open your gate.
For sensitive app like this it should be secured in the frontend as well as
backend

--- Wiadomość oryginal

[2019-02-22 20:46] Jochen1980 commented on #1216
Thanks for clarification, @witek1308 . Anyway, I just can speak for myself and I need to say, that for this purpose I would use 99% the default 'lock screen' feature of my cell phone.

[2019-02-22 20:59] Jochen1980 commented on #1217
I can see that there is another Issue already adressing this issue - see PR https://github.com/openhab/openhab-android/pull/1196

[2019-02-22 20:59] #1217 closed

[2019-02-22 21:14] Jochen1980 commented on #1072
How can we reproduce this bug? Would it be appropriate try to add such notifications to the demo?

Best regards,
Jochen

[2019-02-22 21:17] maniac103 commented on #1072
This is an myopenhab issue: https://github.com/openhab/openhab-cloud/issues/222

[2019-02-22 21:20] witek1308 commented on #1216
I guess you don't have kids :)
With kids often they take the phone (or force it to be given) to watch
youtube or so and then run across possible apps like crazy when bored with
films :)

--- Wiadomość oryginalna ---
Od: Jochen notifications@github.com
Data: 22 lutego 2019 21:46:39
Do: openhab/openhab-android openhab-android@noreply.github.com
DW: witek1308 witek_1308@poczta.onet.pl, Mention mentio

[2019-02-22 21:36] Jochen1980 commented on #1216
Good point! Anyway I got Alexa in my home and so I am lost anyway.

A) Should we discuss the idea an the community?
B) Idea for implementation:
* add a button under Settings - Misc with the text "Lock Screen ..."
* first we can offer to set and edit four digits
* more advanced would be to offer the same options like the default screen lock mechanism

What do you think?

Cheers,
Jochen

[2019-02-23 06:32] witek1308 commented on #1216
Jochen,

*	Good point! Anyway I got Alexa in my home and so I am lost anyway.

Now you are right…

Regarding your points below I think what you proposed is absolutely enough.  Lock screen as optional setting with ability to set PIN. When application gets out of the first window it asks for PIN and as long as stays open, the PIN is not needed. When it gets put to background and requested again then

[2019-02-23 11:46] mueller-ma commented on #1217
Yes, that's a know issue: https://github.com/openhab/openhab-android/issues/794. You should build fullStableDebug.

[2019-02-23 11:49] mueller-ma commented on #1072
I need to connect your openhab server to https://myopenhab.org or setup your own openhab cloud instance.

For the demo server it might be a solution to add some static api responses for the notification api.

[2019-02-23 12:44] mueller-ma commented on #1216
Here's how it's done in Signal: https://github.com/signalapp/Signal-Android/commit/d28dc670ea58867e97336434d31c7003e5cf9c54.

I see three different ways to implement a screen lock:
1. Add a simple switch to prefs that enables screenlock. Every time the app is opened the Android screenlock (pattern or fingerprint) is shown.
2. Same as 1, but with a configurable timeout. The timeout should be a List

[2019-02-23 12:51] dominikkv commented on #1202
After some investigation, I have found the reason. It didn't work because the Basic Auth Header Parameter gets forwarded to Grafana, too.

If you set a username & password in the app settings for local access, these credentials get sent to openHAB with every request. It seems that the proxy in openHAB does forward this param, so the credentials given in the Grafana URL get ignored by Grafana.

I h

[2019-02-23 12:51] #1202 closed

[2019-02-23 12:57] witek1308 commented on #1216
@mueller-ma, indeed 3 is an overkill an unnecessary complexity. Option 2 looks like a perfect fit with even more flexibility than I expected.

[2019-02-23 19:23] davidgraeff opened #1219 "OH Core: Sitemaps2"
Just a few quick question to know how android OH maintainers think about it.

1. Are you able to support a second openHAB core (Rest) API next to sitemaps or do you want to release a last app version for sitemaps and replace sitemaps with the new oh core concept in a refactored app?
2. What features of sitemaps are you using?
3. Do you prefer Websockets or server send events?
4. Any particular wis

[2019-02-23 19:43] maniac103 commented on #1219
IMHO:
1. I think we should try hard to keep one app for all server versions, and I think this should be doable in any case, even if by completely replacing the list fragment + adapter.
2. What kinds of features do you think of? At the moment, I'd say 'whatever is needed to render the widgets' ;-)
3. Is this question about what we're using currently? If so: SSE.
4. More detailed documentation (both

[2019-02-23 20:02] davidgraeff commented on #1219
It's more about what is preferred for Android development. SSE was chosen back then because Websockets were not widespread. But we have a choice now.

Sitemaps do a lot. "Interactively" hiding items. Computing states for child items. State dependent colors. State dependent icons. Push button switches (via "mappings"). The selection widget.

The thing is: openHAB supports all of the above also with

[2019-02-24 09:43] kaikreuzer commented on #1219
I very much suggest to keep discussions about the evolution of sitemaps to the one existing issue at https://github.com/eclipse/smarthome/issues/5337. It makes no sense at all to start a dedicated discussion for every UI that might then make use of it.

[2019-02-24 09:43] #1219 closed

[2019-02-24 10:21] davidgraeff commented on #1219
@kaikreuzer The design you mention is too complicated and it doesn't look like it will get finished ever or is maintainable by anyone else then the contributor. Why was there nobody actually talking to the consumers of such an API? I'm trying to gather use-cases first and then design an API. And that will probably be more like Yannicks Cards implementation. For obvious reasons I cannot hijack that

[2019-02-25 14:08] maniac103 commented on #1219
This actually sounds like a great approach :+1:

Currently, that's the case, yes.

For us it doesn't really matter. Websockets probably are a *bit* nicer since they're supported by OkHttp directly (one needs an additional library for SSE), but both do work for us.

That probably doesn't matter too much for us either. From the app point of view, I only have two wishes OTOH:
- No guesswork in meanin

[2019-02-25 16:46] JohannesPtaszyk commented on #1182
Added another adjustment-

[2019-02-25 18:01] #1182 closed

[2019-02-26 18:43] cribskip opened #1221 "Setpoint not working"
### Actual behaviour
When trying to set a temperature, the selection dialog only offers integer values, before there have been numbers in .1 precision.

### Expected behaviour
Selection dialog should display new value in .1 precision.

### Steps to reproduce
1. Create an item ``Number  TSBad         "Bad [%.0f °C]"``
2. Create a widget ``Setpoint item=TSBad    label="Bad [%02.1f °C]" step=0.1 maxV

[2019-02-26 19:19] mueller-ma commented on #1221
This seems to boil down to be an issue with labels defined in `.items` vs labels defined in `.sitemap`. Can you change your item definition to `Number  TSBad "Bad [%.1f °C]"`?

[2019-02-26 20:00] cribskip commented on #1221
@mueller-ma Wow. Amazing. Perfect fit!

I changed my item definition as you proposed and after a little while, the selction dialog appears correctly.

[2019-02-26 20:39] maniac103 commented on #1221
We probably shouldn't crash due to the broken format specifier though...we should catch IllegalFormatPrecisionException as well.

[2019-02-27 16:31] mueller-ma commented on #1221
Also: the format string in the sitemap should be prioritised.

[2019-02-27 17:09] maniac103 commented on #1221
IIRC that one isn't part of the sitemap API response

[2019-02-27 17:29] Jochen1980 opened #1223 "Fix README run description"
It needs to be "fullStableDebug" ...

[2019-02-27 18:53] #1223 closed

[2019-03-01 12:37] m4rky-m4rk commented on #1176
I tired removing my phone from the devices listed in Openhab cloud. I no longer have the  beta app installed so I cant open that app but after opening the std app I still get double notifications. Do I need to reinstall the beta and try removing my phone again and open both apps?

[2019-03-01 14:23] maniac103 commented on #1176
No, you don't. It's likely a generic issue on Android 8+, I can reproduce now. Log of the platform notification service:
[code]

... which means the double notification sound comes from both the individual notification and the summary notification. I'll see how we can avoid that.

[2019-03-01 15:16] m4rky-m4rk commented on #1176
It used to play as expected but after installing and removing the beta app I then got double notifications. Maybe its coincidence, maybe not.

[2019-03-01 16:19] maniac103 commented on #1176
It's probably a coincidence with an update of the app that added the summary notification handling.

[2019-03-01 17:24] mueller-ma commented on #549
@maniac103 IMO after merging #1227 and the latest translations I can release 2.6.0. Thoughts?

[2019-03-01 18:00] maniac103 commented on #549
@mueller-ma Sounds fine to me. I'm not aware of any other urgent things at the moment.
BTW, myopenhab will probably get updated this weekend with severity/icon support for notifications. I wonder whether we should make people aware of that somehow?

[2019-03-01 18:09] mueller-ma commented on #549
I want to test #1226 and check if everything works fine (at least on Android 7.1) with the GCM server component. If anything with the server-side migration will go wrong and the GCM client doesn't work anymore, we can merge #1226 and release a new stable version very quickly. In this case the release notes for 2.7.0 will contain a note that notification channels are now fully supported.
Or we ship

[2019-03-01 18:33] maniac103 commented on #549
I'm reasonably sure there won't be an issue with that (FCM on server, GCM client) because I specifically tested that when rebasing my openhab-cloud patch. Making sure that FCM works on client side in a good idea nevertheless though :-)

[2019-03-03 11:23] lolodomo opened #1228 "Local access mode terribly slow after few pages opened"
I am running server snapshot 1544 and Android app 2.5

App is almost unusable in local access mode. Page loading take several seconds and I can then see that icons take time to be loaded. Image cache seems to be no more used ?
I tried to clear the image cache but it does not resolve the problem.

The app is working normally (faster) when I am in remote access mode.

It could be relative to the mos

[2019-03-03 11:28] lolodomo opened #1229 "Live update not working well when in remote access mode"
I am running server snapshot 1544 and Android app 2.5.

Live update (through SSE ?) when a page is opened is not working at all when I am in remote access mode.
Works apparentlmy as expected when I am in local access mode.

I will probably downgrade to an older version of the server to see if this is relative to snapshot 1544.

[2019-03-03 11:48] lolodomo commented on #1229
In fact, it does not work better with a server v1480.

[2019-03-03 11:56] lolodomo commented on #1228
In fact, it does not work better with a server v1480.
In fact, it is more and more slower after opening several pages.
When it begins to be very slow, if I close the app (stop it), and restart it, this is normal again for few pages and finally it is slow again.

[2019-03-03 12:14] lolodomo commented on #1228
I tried again in remote access mode and even after 10 or even 20 pages opened, the speed remains the same (fast). So the problem is only in local access mode.

[2019-03-03 12:23] lolodomo opened #1230 "Icon cache apparently cleared when sliding down"
In remote access mode, I can see that the icon cache is correctly handled. When I reopen a page, the icons are quickly displayed, faster than the first time.
Something I don't understand is why the handling is page per page. If I have the same icon in several pages, I would expect that loading is immediate when opening the second page.

I come to the real problem. When I slide down on any page, I

[2019-03-03 12:47] lolodomo commented on #1228
I try to correlate the two problems:

- remote access: constant perf but live update not working
- local access: degraded perf with the time but live update working

Maybe there is a problem with SSE, maybe the subscriptions are never released and this is the source of the degraded perf. In remote access, if the SSE is not working, it cannot degrade perf.
This is just an idea of course.

[2019-03-03 13:03] #1176 closed

[2019-03-03 13:27] cribskip commented on #1221
Maybe the App should not send Units when the item's definition does not include such as this confuses the rules engine e.g. "Number TSBad..." vs. "Number:temperature TSBad".

[2019-03-03 13:54] mueller-ma commented on #1229
Maybe #1212? Are you using authentication locally?

[2019-03-03 13:58] mueller-ma commented on #1230
That's intended, but I agree it's not the best behavior: https://github.com/openhab/openhab-android/pull/929#issuecomment-401471842

[2019-03-03 14:00] lolodomo commented on #1229
Authentification of course when in remote access (myopenhab). No authorization in local mode.

[2019-03-03 16:18] lolodomo commented on #1229
Does it work for someone using myopenhab ? My setup is very classic. No reverse proxy, just HTTPS to myopenhab with login/password.
Android 5.

[2019-03-03 16:38] lolodomo commented on #1229
Ok I have more info to reproduce the issue. In fact, the live update is working during a short period.
I open a page and ask a refresh with a slide down. After that, the content is correctly updated (if I change it from another device).
Now I exit from this page and reopen it. The value is correct. But now any update from other device are not taken into account.
To reactivate the live update, I ha

[2019-03-03 17:57] maniac103 commented on #1221
That would make sense, but the 'maybe' part still irks me a bit. Is there any documentation on the expected client behavior with UoM somewhere?

[2019-03-03 18:11] maniac103 commented on #1228
Sorry, but: where's the filled out issue template, and where's the application log?
Of particular interest would be (for me) whether you can reproduce this in demo mode, and whether you need to visit *different* pages to reproduce this or whether going back-and-forth between two pages is sufficient.
Also, what do you mean by 'in remote access, if SSE is not working...'? SSE support does not depend

[2019-03-03 18:14] maniac103 commented on #1229
We'll need the application log here ... reproduce the problem, then go to the log viewer and attach the log here.

[2019-03-03 19:05] lolodomo commented on #1228
I don't know how to produce and provide logs, sorry. Is it explained somewhere ?

This can easily be reproduced by opening any same page several times.
After a "force stop" of the app and a start, opening a page with only 2 widgets, the slowlness starts after around 8 opening.

But it is the same if I visit different pages. It generally happens before 10 pages opened.

PS: Access to the demo is te

[2019-03-03 19:06] lolodomo commented on #1229
Where can I find the logs and where is this log viewer ?

[2019-03-03 19:18] maniac103 commented on #1229
Install beta app; then it's the last item in the settings.

[2019-03-03 20:30] maniac103 commented on #1228
FWIW, I can not reproduce this against my local server, even after going back and forth 20+ times between two pages.

[2019-03-03 20:48] lolodomo commented on #1228
Did you test with the official 2.5 ?
Maybe the 2.5 is buggy. I will wait for the 2.6 (which is planed for soon ?) and then let you know if my problems are resolved. If not, I will provide the logs.

[2019-03-03 21:00] maniac103 commented on #1228
I tested with a build off master as of last week. I'm not aware of any significant changes in connection or SSE handling since 2.5 though.

[2019-03-03 21:23] lolodomo commented on #1228
Just tried on the same Android device to enter and ext the same page 30 times with Basic UI and it is always very fast. So I clearly don't think there is any problem with my OH server.

[2019-03-03 21:45] lolodomo commented on #1228
Same thing with the last beta

Here is a log when I open a page and it has started being slow.

--------- beginning of main
03-03 22:43:44.670 10342 10342 D LogActivity: onOptionsItemSelected()
--------- beginning of events
03-03 22:43:44.678 10342 10342 I am_on_paused_called: [0,org.openhab.habdroid.ui.LogActivity]
03-03 22:43:44.693 10342 10342 I am_on_resume_called: [0,org.openhab.habdroid.ui.P

[2019-03-04 08:07] maniac103 commented on #1228
@lolodomo From that log it seems like the app doesn't detect SSE support, which seems fishy. Can you open `http://<your-server-ip>:8080/rest` in a browser and add the output here?

Besides that, everything looks pretty straightforward at first:
- App opens, queries main sitemap
- Gets response ~300ms later, displays it, starts long-polling
- ~3s later you click on the page link

... then things st

[2019-03-04 08:16] lolodomo commented on #1228
Ok

I will provide the result of the request only this evening.

Note that this is very fast with Basic UI so I think the server is ok.

[2019-03-04 08:33] maniac103 commented on #1228
Basic UI works totally different (doesn't use the REST API), so I don't think we should draw too many conclusions from that.

[2019-03-04 09:50] maniac103 commented on #1229
Thinking about it, it's probably the issue https://github.com/openhab/openhab-android/pull/1231 will fix.

[2019-03-04 10:05] maniac103 commented on #1228
Here's an apk built off current master with #1234 and #1231 applied: [openhab-beta-debug.zip](https://github.com/openhab/openhab-android/files/2925821/openhab-beta-debug.zip)
Please uninstall the beta version you currently have installed (my build is incompatible because I don't have signing keys access), rename the file from .zip to .apk (the .zip file extension is to work around github limitatio

[2019-03-04 20:24] lolodomo commented on #1228
That is not better, the app is even sometimes crashing.
[code]

[2019-03-04 20:37] mueller-ma commented on #1228
The crash is fixed: https://github.com/openhab/openhab-android/pull/1234/commits/f13a3566f7068920d8bdd1b5fbd7ebe1f8d9fa7a

[2019-03-04 20:44] lolodomo commented on #1229
With the APK you provided, the app is crashing very often, even if I do nothing ! I just have to wait few seconds and it crashes.
But I have the feeling that the live update in remote access is restored with this version.

[2019-03-04 21:01] maniac103 commented on #1228
[code]

This seems to be the root cause. Normally when you press back to go back by one page, the connection of said page should be canceled and fully discarded. In your case it looks like the subscription isn't canceled though (or not properly), thus the half-canceled connection then switches to long polling, which in turn causes state tracking confusion.
I'll have another look at this tomorrow;

[2019-03-04 21:02] maniac103 commented on #1229
The crashes are fixed with latest commit in PR #1234. But good thing the update is fixed, that means my suspicion is correct and the just released 2.6.0 should work fine in that regard :+1:

[2019-03-04 21:06] lolodomo commented on #1229
2.6 was released before being sure that my 2 critical issues are fixed ?

[2019-03-04 21:57] mueller-ma commented on #1221
Indeed, it isn't. The crash is fixed in #1235.

[2019-03-04 21:57] #1221 closed

[2019-03-05 07:46] maniac103 commented on #1228
Turns out this is a bug/shortcoming in the SSE library, in particular in the callback here: https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java#L547-L549

This is called from here: https://github.com/heremaps/oksse/blob/master/src/main/java/com/here/oksse/RealServerSentEvent.java#L101 ... and there's no indi

[2019-03-05 08:05] maniac103 commented on #1228
New test apk off current master + #1234 and #1237:
[openhab-beta-debug.zip](https://github.com/openhab/openhab-android/files/2929858/openhab-beta-debug.zip)

@lolodomo Please give it a try; I suspect it will fix your issue.

[2019-03-05 10:31] #842 closed

[2019-03-05 16:36] #1203 closed

[2019-03-05 16:36] mueller-ma commented on #1203
#1215

[2019-03-05 16:37] mueller-ma commented on #1170
The latest beta in using FCM instead of GCM and the latest server sends messages as high priority fcm messages. @digitaldan Did you deploy FCM on myopenhab.org?

[2019-03-05 19:09] lolodomo commented on #1228
On my phone and a remote access, the app is crashing after few seconds, even if I do nothing and remain on the main page.

[2019-03-05 19:50] lolodomo commented on #1228
Excellent news: on my tablet and a local access, the problem is fully solved. I opened almost 100 pages without any slowness and without crash.

[2019-03-05 19:55] lolodomo commented on #1228
And live update seems to work well.

So only remaining problem is the quick crash when on remote access.

[2019-03-05 19:55] maniac103 commented on #1228
Can you grab the log after a crash (and before the next crash)?

[2019-03-05 20:21] lolodomo commented on #1228
I tried again with the remote access and it is working well. I probably made a mistake previously and installed the wrong APK.

So it looks like you fixed my two problems.

Thank you for a so quick fix.

[2019-03-05 20:28] maniac103 commented on #1228
That's great :+1: A 2.7.0 will happen in the next few weeks (needs to happen before end of April, at which time GCM will be gone)

[2019-03-05 20:34] lolodomo commented on #1228
Let me know in which beta the fix will be included.

[2019-03-06 08:36] maniac103 commented on #1072
This will be fixed via https://github.com/openhab/openhab-cloud/pull/245 once the new code base is deployed to myopenhab.org.

[2019-03-06 10:52] #1228 closed

[2019-03-06 10:56] #794 closed

[2019-03-06 10:56] #1229 closed

[2019-03-06 12:58] Landstad commented on #1072
Hello @maniac103,

 do you know apprx when this will happen (i e deployment to myopenhab)?

[2019-03-06 13:16] maniac103 commented on #1072
Unfortunately I don't; deploying is up to @digitaldan ... hence your question in https://github.com/openhab/openhab-cloud/pull/222 probably was at the right place.

[2019-03-06 13:20] Landstad commented on #1072
@maniac103 alright, thanks.

[2019-03-06 17:53] #755 closed

[2019-03-06 17:57] mueller-ma commented on #549
Due to crashes at app startup (#1235) I stopped the distribution of 2.6.0 and I want to release 2.6.X pretty soon.

[2019-03-06 18:24] maniac103 commented on #1228
@lolodomo 2.6.4 beta should be fine. Plesse confirm.

[2019-03-06 18:35] lolodomo commented on #1228
Apk file is missing, I see source files.

[2019-03-06 18:42] maniac103 commented on #1228
Right, but 2.6.3 has your fix already as well and is also rolled out to the Play Store already.

[2019-03-06 19:02] mueller-ma opened #1247 "Crash due to missing class"
[code]

### Environment data
#### Client
* Android version: Multiple
* Device model: Multiple
* Stock or customized ROM: Multiple
* App version : 2.3.0-beta
* Build flavor : Full
* Device language: Multiple

@maniac103 https://github.com/siacs/Conversations/commit/c2067e3b56364317bc384b55e320b72326fb1de6 wasn't a good idea, I see less info about crashes now.

[2019-03-06 19:24] maniac103 commented on #1247
I was about to ask about the full stacktrace, as this class was removed because it supposedly isn't needed anymore...so we don't have a stacktrave anymore now?

[2019-03-06 20:19] lolodomo commented on #1228
I can confirm that beta 2.6.4 is ok for me.

[2019-03-06 20:24] mueller-ma commented on #1247
It's still linked in the manifest: https://github.com/openhab/openhab-android/blob/master/mobile/src/full/AndroidManifest.xml#L21

[2019-03-06 20:49] maniac103 commented on #1247
This ... explains things *facepalm* I wonder who reviewed this :-P
I'll fix this.

[2019-03-07 06:10] lolodomo commented on #1228
Just want to mention that the app is crashing at the 2 first startups after installation. Then it is ok.
At the fist startup, I just ignored the slideshow and then it crashes.

[2019-03-07 06:36] lolodomo opened #1248 "Value in page title is missing"
### Actual behaviour
The title of any page is a fixed text defined in the sitemap as label.

### Expected behaviour
The title of any page should include, when defined in the sitemap, an additional (dynamic) value.
This is already correctly handled by Basic UI.

![image](https://user-images.githubusercontent.com/10186704/53936721-27a1a100-40ab-11e9-9c4a-735e455395bf.png)

What I am talking about is

[2019-03-07 07:05] MikeJMajor commented on #1170
The beta is still showing the same delayed behaviour.

[2019-03-07 07:30] maniac103 commented on #1228
That's probably https://github.com/openhab/openhab-android/issues/1247

[2019-03-07 07:31] maniac103 commented on #1170
Yes, because the openhab-cloud update wasn't deployed to myopenhab.org yet. There's nothing we can do on the client side.

[2019-03-07 07:48] lolodomo commented on #555
Was it finally fixed ? If it is, I close the issue.

[2019-03-07 07:56] maniac103 commented on #555
Well, we (deliberately) still keep pages on the back stack updated (be it via long polling or SSE), so their content is up-to-date when returning back to them. I don't see any obvious problem with that though? (Even though my first impression in https://github.com/openhab/openhab-android/issues/555#issuecomment-353780574 was different)
Updates are canceled for a given page only if the page is clos

[2019-03-07 17:16] mueller-ma opened #1253 "Crash on Android 4"
[code]
from 2.6.3-beta on Android 4.
I guess this is caused by https://github.com/openhab/openhab-android/blame/master/mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java#L119.

[2019-03-07 17:33] maniac103 commented on #1253
I'd rather suspect an OkHttp update:
https://github.com/square/okhttp/commit/bdc7681b3ba16ae311d2dd21160d61315e8942ca

[2019-03-08 10:22] maniac103 commented on #1248
Filtering out the value of page titles has been around 'forever': https://github.com/openhab/openhab-android/commit/a58245c098c647f4d74429f11c59dd2f708c7131#diff-3f4712530de18c074e8f711b4e38483eR118 ... one could change that, reformatting the title like BasicUI does (remove [ and ]).

Updating the title seems to be done by sending SSE events with widgetId == pageId.

[2019-03-08 11:06] #1253 closed

[2019-03-08 11:07] #1247 closed

[2019-03-09 08:12] lolodomo commented on #555
So if you think it is proper like that, I close the issue.

[2019-03-09 08:12] #555 closed

[2019-03-09 08:37] lolodomo commented on #1230
The refresh can be triggered too much easily sliding down, while you just want to go to the top of your sitemap page !
Do you think a preference to disable refresh with slide down could be added ?

[2019-03-09 08:38] lolodomo commented on #1248
Yes, I am the one who implemented this SSE event for title on server side. So I can confirm.