[2016-09-28 14:02] digitaldan commented on #219
Hi sorry for the delay!  I am planning on preparing a release this weekend, thanks for the reminder ;-)

[2016-09-28 14:10] digitaldan commented on #193
For setpoints we display the label value, but when the +/- buttons are pressed we retieve the items sate, increase or decrease it, then send that as a command to the server.   I don't think there are a lot of other places where that happens.

[2016-10-03 02:32] tulamidan opened #230 "Mutual SSL - client certificate authentication"
When using a reverse proxy configured for mutual SSL authentication, the HABDroid client only responds with a "HTTP Error - Bad Request" to the certificate challenge.

Expected Behavior

The Habdroid client let's you pick a certificate from your certificate store.

Current Behavior

The error message above

Possible Solution

Add support for mutual SSL

Context

Thoug creating your own certificate

[2016-10-03 06:56] slawekjaranowski commented on #230
I think it is connected with: #109

[2016-10-03 08:37] tulamidan commented on #230
Right, my bad I didn't see this issue beforehand. If you wish I can assist with a backend to test

[2016-10-03 15:23] digitaldan opened #231 "Support DateTime Item"
Just a reminder to add the DateTIme item type
##

[2016-10-03 16:54] slawekjaranowski commented on #230
It will be very helpful, if you can help with tests.
I propose continue discussion in issue: #109

[2016-10-03 17:32] slawekjaranowski commented on #109
Hi, I've prepared new PR which takes into account comments from old PR #160

I need to write manuals, how to configure reverse proxy and how to manage certificates.
I put file KeyAuth.md in code and in application is link to this file as help to new option.

Maybe someone want to help to write this manul.

[2016-10-03 19:01] tulamidan commented on #109
I can help here, there are plenty of tutorials, one can be found here. If suitable I can add the missing client cert. part. https://community.openhab.org/t/using-nginx-reverse-proxy-authentication-and-https/14542/4

[2016-10-04 03:26] Gibber opened #233 "Formatting label text output for Android app"
Hi,

I am using a the following item definitions to create a couple of switches:

Switch  LRBlindsetting  "Blinds are [MAP(blinds.map):%s]"   <rollershutter> (GF_Living)
Switch  LRBlindmode "Auto [%s]" <light>

The web view of these switches look as desired:

![webpage](https://cloud.githubusercontent.com/assets/431797/19061494/86a73004-89ae-11e6-98ce-7ff5fcc08383.jpg)

However, the Android app vi

[2016-10-05 08:10] lutzb91 commented on #219
Already found some time for the release? :-) Still nothing in my play store...

[2016-10-05 13:55] digitaldan commented on #219
Thanks for the reminder ;-) I was waiting to get another PR in, but its not a good enough reason to hold it.  I will try and get it released today.

[2016-10-05 18:53] digitaldan opened #236 "SItemaps without labels cause NPE and application crash"
The compare functionality at https://github.com/openhab/openhab.android/blob/e7e7dc83576657cc4ce8b1f943c37d2bb5afb000/mobile/src/main/java/org/openhab/habdroid/util/Util.java#L92 is not checking if the label is null and causing a NPE for some users.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38164249-sitemaps-without-labels-caus

[2016-10-05 18:54] digitaldan commented on #236
@Br3nda can you take a look at this one?  I am starting to get crash reports since pushing out the sitemap order change that added this compare logic.  Thanks.

[2016-10-05 22:46] digitaldan commented on #236
@Br3nda I did a small patch in my repo but have not tested, if you have one that you have tested I would prefer that ;-)

[2016-10-06 16:19] Schaussi commented on #117
Sorry to bug you again about this, but as this issue keeps getting moved from milestone to milestone for over a year now, I would really appreciate it if you could solve this soon.
Please tell me if I can give you any further information, or any tests etc.

[2016-10-06 19:25] LeeNX opened #238 "HTTPS SNI support"
Setup a second site on my https server and found that my Android App v4.4 would not connect to my OpenHAB site.

Still able to access the site via FireFox on my NoteBook.

Was not able to find any information on SNI support in the Android App. Might be an idea to document lack of HTTPS SNI support, until implemented.

Also did not get an error or indication of progress in the Android App, which wa

[2016-10-07 16:54] #236 closed

[2016-10-08 04:44] Br3nda commented on #236
I think we need a regression test for this too.

[2016-10-08 06:30] Br3nda commented on #236
I've added some basic tests in #240

[2016-10-08 09:28] kaikreuzer opened #242 "Voice command support for OH2"
So far, voice commands are sent to an hard-coded String item "VoiceCommand".

OH2 now has a dedicated voice handling infrastructure and offers a rest endpoint for it (starting with OH2 distro 519).
HABDroid should be adapted to use this new endpoint, if it is available; otherwise it can use the current logic as a fallback.

Here is the documentation of the new endpoint:

<img width="973" alt="scre

[2016-10-10 19:53] vorburger commented on #242
+1 - this sounds like a GREAT idea... ;-)

[2016-10-11 13:04] vorburger opened #244 "Asking for too many permissions, looking scary"
Love this app - tx for the great work! One small feedback:

On first install, I was reluctant due to what to appears to be too many system permissions requested:

![Screenshot of openHAB Android App Permissions](http://drive.google.com/uc?export=view&id=1KjM29-oDGLDRXVS00SGC7yHuWt_tk52vEw)

I really don't want to share which apps I'm running, my browsing history, and bookmarks with you! ;-)

I gue

[2016-10-13 13:58] JochenHiller commented on #117
I can confirm that this bug exists in 1.8.0.3:
* on Nexus 4, Android 6.x
* on Nexus 6P, Android 7.x
* it shows an empty dialog for NFC action ONLY for SwitchItems, ContactItem
It does work as expected for ColorItem, PlayerItem (did not try more)
It will even happen when using DemoMode. So should be easy to reproduce.

![screenshot_2016-10-13-15-50-56](https://cloud.githubusercontent.com/assets/165

[2016-10-13 14:19] kaikreuzer commented on #117
Having by now a Honor 8, I actually see the same issue now on Android 6.0.1.
@digitaldan Can you reproduce it on your phone?

[2016-10-19 16:26] brettyj opened #245 "Crashes on load since update"
Hi,

I've been using this app for a year or two with no issues, yet with the new update released a couple of weeks ago, every time I launch the app it now crashes. I've sent in a crash report.

I'm on OpenHAB 1.8 version 1.8.0.3 of the android app.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38682568-crashes-on-load-since-update?

[2016-10-25 19:48] SierraNL opened #246 "HABDroid opening wrong "sub-page" when navigating, title is correct"
I use HABDroid with a LG Nexus 5x running Android 7 (also had the problem with 6).
It works fine, but every now and then (20% of the time) when I navigate through my sitemap, another sub-page opens instead of the one I selected. But the correct title is shown at the top.

Navigating back and to the same sub-page again works.
##

[2016-10-25 21:00] Br3nda commented on #246
Confirmed - i see this several times a day too.

[2016-10-26 00:26] digitaldan commented on #245
Hi this is probably #236 , it's been fixed but I have not pushed out a new build to the play store , apologies, I will make that a priority.  In the mean time if you add a label to your site map it should be ok.

[2016-10-26 01:23] tsheldon commented on #246
+1  I see it as well

[2016-10-26 08:47] mueller-ma commented on #151
@mgarciate @digitaldan This can be achieved very easily: Copy https://github.com/openhab/openhab.android/blob/master/mobile/src/main/res/values/strings.xml to /mobile/src/main/res/values-es/strings.xml and translate only the words between `<string name="xxxxxx">` and `</string>`. Make a PR and I will be accepted

[2016-10-26 08:58] mgarciate commented on #151
Hi @mueller-ma, I already did it a couple weeks ago. PR #234

[2016-10-26 09:29] brettyj commented on #245
Ah, it was a sitemap I had which didn't actually use. Adding a label fixed it, thanks!

[2016-10-26 09:29] #245 closed

[2016-10-26 20:11] jonasesser commented on #219
The iOS app has the same bug. Where could I Report or link this bug Report?

[2016-10-28 18:32] digitaldan commented on #219
Android and IOS apps have been released, thanks.

[2016-10-28 19:12] jupe76 commented on #219
@digitaldan
YMMD, Thanks!

[2016-11-01 14:16] hannibal85 commented on #246
+1
Same here with Android 5.1

[2016-11-04 18:04] bonieP commented on #220
Closed because its a duplicate like lolodomo suggested

[2016-11-04 18:04] #220 closed

[2016-11-06 14:36] martinrunge commented on #6
I came across this issue while researching how to build a homescreen widget to display room temperature on a wall mounted tablet. Any progress on this? Does it make sense to implement my own solution?

[2016-11-06 14:51] watou commented on #6
You might want to have a look at the new [HABPanel](https://community.openhab.org/t/habpanel-yet-another-implementation-of-a-no-frills-dashboard/12853) which works with OH1 and OH2 (but has more features in OH2).

[2016-11-06 15:46] martinrunge commented on #6
looks great
@watou thank you for the hint

[2016-11-06 19:31] redeye86 commented on #6
Hi,

i am currently working on a homescreen widget imeplementation. It is still rather limited and only supports Switch-Items. But i try to improve it as i want to use it as a replacement for my "Deutsche Telekom Smart Home" System on my wall-mounted tablet. I added a Pin-Dialog with a code that can be specified in widget configuration. I use it for my alarm system. It is not really a secure solut

[2016-11-11 17:18] watou opened #248 "More than one discoverable server leads to requests to other server"
I have a 1.8.3 server on an RPi2 and a 2.0 nightly server on Mac.  When opening client to 1.8.3 server, I receive a few "HTTP Error: Unacceptable" popups and dismiss them.  When going to see charts on my 1.8.3 server, the 2.0 server's log reports "Illegal argument in chart: No Persistence service found."  So it appears that the client is addressing multiple servers, when obviously the user is tryi

[2016-11-12 21:05] iwanzarembo opened #249 "Android OpenHab app connects using TLS v1"
Hi,
I am not sure if this is the correct place to place an enhancement for the Android OpenHab app. Let me know if I need to move it.

## Issue in short
The OpenHab Android application running on Android 4.2.x or 4.4.x cannot connect to servers who do not support TLS v1.0.

## My configuration

* OpenHab 1.8.3 (running on a Reasberry with Debian 8.0
* OpenHab Android App (HabDroid) 1.8.0.4 on Andr

[2016-11-15 11:32] nurgaleevarman opened #250 "Remote connection not work"
Openhab 1.8.3 server with external security and user auth.
https port 32769
I have a static ip and configure roter to port forwarding.

Mobile app cant connect from Openhab app  to Server with remote url.
`https://xxx.xxx.xxx.xxx:32769`

From web browser in smartphone sitemap open correctly
`https://xxx.xxx.xxx.xxx:32769/openhab.app?sitemap=SmartHome`

The router monitor does not show the any conn

[2016-11-15 15:02] digitaldan commented on #249
Hi and thanks for the detailed report. I agree it would be good to support this use case.  I personally have a lot of other openHAB priorities right now so I can't get to this now.

[2016-11-15 17:13] digitaldan commented on #233
Right now this is how its designed. I think it would be good to get a consensus if we want to match what the classic ui does or leave it how it is.

[2016-11-15 17:14] #230 closed

[2016-11-15 17:14] digitaldan commented on #230
Duplicate of #109

[2016-11-16 11:22] Spieki commented on #213
I am currently writing my bachelor thesis, and it is exactly about this topic! Its title is (translated) “Location based filtering and automatisation in Smart Home environments through the example of openHAB” and will be finished by begin of January.
As part of this thesis, I will provide a solution for indoor localization for openHAB with beacons. At the end it should be possible to filter the sh

[2016-11-16 15:27] digitaldan commented on #213
@Spieki that sounds great, your work would be most welcome.  In order to keep the client single focused and not tied directly to any one binding, I would recommend something similar to how NFC support works in the app.  Here you tie a NFC tag to some element in a sitemap, beacons could work similarly where you could tie a beacon to a sitemap page (I walk into the kitchen and my app knows to displa

[2016-11-16 22:02] IzzySoft commented on #30
As interim solution (until it gets listed with the official F-Droid repo, if ever), if the `.apk` would be available here at Github (preferably via the [`releases/` page](https://github.com/openhab/openhab.android/releases)), I could offer to place it into [my F-Droid compatible repository](https://android.izzysoft.de/repo). Updates would appear there usually within 24h from being "released" here.

[2016-11-17 09:31] Spieki commented on #213
I thought about it the last hours. My first idea was to hold the functionality in the app, too. But after some researches I saw some problems with it.
Its beginning with, that the most of the beacons have to configure over a third Party application, but after an installation session, it would not been any problem. But there I see some problems more. If you look for example at iBeacons, there will

[2016-11-17 09:48] kaikreuzer commented on #213
I agree with @digitaldan that there should be no need for any binding on the runtime, this simply does not make sense from an architecture point of view.

I think we are talking about different use cases here anyhow and should discuss them separately:

1. What is stated in this issue title: "sitemap selected based on which Bluetooth beacons are nearby"
Here the user actively does something (openin

[2016-11-17 11:08] Spieki commented on #213
Thanks @digitaldan and @kaikreuzer, you got me some new ideas.

I will try to implement the first use case in the next days. I see this has its own advantages compared to my first idea.

I am going to think about extending Eclipse SmartHome, as described in the second use cse, after my bachelor thesis.

[2016-11-17 17:59] #109 closed

[2016-11-17 17:59] #218 closed

[2016-11-18 18:36] lolodomo commented on #242
@kaikreuzer : if I understand, the UI will not choose the interpreter and the server will systematically use the default interpreter ?
But in the real life, I would like to be able from HABdroid to trigger either the Built-in interpreter for standard commands and of course the rule-based interpreter for my user specific commands.
Does it mean that the server should call all HLI when a REST request

[2016-11-19 11:43] lolodomo commented on #242
For my use case, maybe the solution would be that my default HLI is set to "Rule-based interpreter"; HABdroid will request the rule-based interpreter; the rule-based interpreter will then set my item VoiceCommand and so trigger my rule; then in my rule, I could first call the built-in interpreter; if the built-in interpreter is not able to interpret my command, I will continue with my specific cod

[2016-11-21 09:48] kaikreuzer commented on #242
My idea was to simple migrate what is currently there to the new REST endpoints. There is no mechanism in HABDroid to choose different interpreters for different use cases and it would probably require quite some UI work to do this in some nice way.
I think for now it is ok if the app does not choose a specific hli, but uses the one specified on the runtime as the default. And yes, this leaves you

[2016-11-21 10:01] lolodomo commented on #242
Ok for me with the change to implement in HABdroid that will just trigger the default HLI of the server.

[2016-11-21 16:54] muaythai2006 commented on #246
same here

[2016-11-26 08:30] lolodomo commented on #193
Any progress ?
This bug is annoying.

[2016-11-28 05:50] micw commented on #238
Same issue here. I use Let's Encrypt everywhere an I usually have a unique domain name + cert for every application.

My temporary workaround is to set on my openhab nginx vhost:
  listen 443 default_server ssl;

After looking in some SNI implementations for Android, I found out, that it can be done in the following way:

https://github.com/k9mail/k-9/commit/54f9fd36a77423a55f63fbf9b1bcea055a23976

[2016-11-30 17:54] Dom1n1c commented on #238
I can confirm this issue. I am not able to connect with OpenHAB on Android 7 / Habdroid App with my LG G5.  I also use a Lets Encrypt certificate.

[2016-11-30 23:46] digitaldan commented on #238
Hi all, I just started looking at this.  Unfortunately the app uses https://github.com/loopj/android-async-http for its networking and it seems that SNI support is not available, or at least is very broken.  I will need to see if we can fix it in the upstream library and submit a patch, or if we need to replace it with something else.

[2016-12-03 07:18] dominicdesu opened #253 "Notifications are not shown if connected to local network"
Hi,
if I am connected to my local LAN, the notification list in the android app is empty. However, if I am connected via mobile data (using the openHAB Remote URL), I can see the notifications.

I am using HABDroid 1.8.0.5 and the openHAB 2 snapshot from 2016-11-19.
Any idea what could be wrong?

Edit: I guess it is related to #251. Seems like my raspberrypi now receives the GET request for the no

[2016-12-11 17:00] jurviz commented on #184
Hi all,
i have the same issue on my phone with habdroid 1.8.05 as LeDumpier. Same symptoms as user describes.
Phone is a OnePlus One with Cyanogen OS 13.1.2.
The 3Hou.se app is working normally, both local and remote.
So i tried to track this down to some misconfiguration or so. I did'nt find any hint in my server logs.
I found an app that allows to capture packets on Android without rooting the p

[2016-12-12 18:11] jurviz commented on #184
Hi all, i think that was not a defect of the habdroid app, but my server firewall configuration.
I found that the jetty java process was listening on tht IPv6 port 8080 and the access to that port was disallowd by the ufw firewall rules.
Both apps are now working as expected.

[2016-12-13 15:13] LeDumpier commented on #184
Hi jurvis,

I tend to agree with you that it's not a Habdroid issue. I was trying to set my system up using my phone as a hotspot and that was causing all kinds of issues, So moving to a router-based WiFi setup I had never seen the issue again.

I hope this helps others out there :)

[2016-12-13 18:16] hazzeh opened #255 "No support for svg icons"
The icons used in HABDroid is only fetch in PNG format from the openhab server.

[2016-12-20 18:44] MahdiELARBI commented on #8
i face the same problem and it dosent work. Any ideas please ?

[2016-12-22 06:51] lolodomo commented on #193
Any progress?

[2016-12-22 15:59] digitaldan commented on #193
@kaikreuzer did we decide to make the item-> state a raw value in ESH ? If so would you like me to fix that? Would adding an additional item -> transformedState field to that object break clients?  I think it would be nice to have both.  I would hope most clients would ignore unknown fields

[2016-12-25 12:42] mkotsbak commented on #244
Well, you could read the source code what it uses the permissions for.

[2016-12-25 12:45] mkotsbak commented on #246
I often see this too. Quite annoying. For me it only happens when I have navigated away from the app and is moving opening it again. Then the first page I select will have the correct name, but the content of the last visited page.

I never see it while navigating inside the app, so I assume this is some sort of error saving state when the app is inactive.

[2016-12-25 17:23] kubawolanin opened #257 "Feature: Built-in Tasker integration"
Currently openHAB Android client is a standalone app, with no connections with smartphone's sensors or environment.
I think that combining the power of the app with Tasker plugin would revolutionize a way we interact with our home automation system. Or, at least, make it easier to integrate multiple Android apps with HABdroid (is it still accurate name?:))

Here's one tutorial on [how to create yo

[2016-12-25 17:57] watou commented on #257
Agree! Along similar lines, I would like to be able to choose item names in the app which will be updated by the app based on location, motion, battery level, signal level, etc.

[2016-12-25 18:04] kubawolanin commented on #257
I created two mockups of basic plugin configuration steps.

In Tasker, after you choose the plugin and go to Configuration, you'd see a list of possible actions.
(e.g. Items Actions, Binding Actions, Things Actions... whatever our REST API allows us to use :))
I think we should focus on Items Actions at first. Baby steps.
![1](https://cloud.githubusercontent.com/assets/2270505/21472317/151cea20-ca

[2016-12-26 10:44] mueller-ma opened #258 "Remove info texts on startup"
Hi,

Everytime I start habdroid I get two info messages:
- connecting to configured url
- voice recognizer not present...

In my opinion it would be better, when the first messages shows up once after changing url, the second as a popup with "never show this again" and "ok" button

[2016-12-27 16:44] MHerbst opened #260 "Wrong image used for switch in state "off""
I have defined an item as switch. In Basic UI it is display correctly:
![image](https://cloud.githubusercontent.com/assets/616792/21504007/b632c5f0-cc5b-11e6-9396-3c998e1e82b9.png)
The green icon is used if the power is on.

In Habdroid different images are used for "on" and "off" state:
If the switcht is off the correct image is used:
![image](https://cloud.githubusercontent.com/assets/616792/215

[2016-12-29 11:09] arcanon commented on #8
also seeing this problem :( where could we find debug info as to what is going wrong? Does my openhab instance need authentication setup for it to work?

[2016-12-29 11:13] arcanon commented on #8
lol, stumbled onto a solution instead of http://x.x.x.x:8080 i used the actual name of the pi running the instance, so for me http://raspberrypi3.local:8080

[2016-12-30 12:00] lolodomo commented on #193
@kaikreuzer : as the timing is short for the final release, can you please answer to @digitaldan 's proposal ?

[2017-01-03 14:30] kubawolanin commented on #229
Just wanted to add that delay seems to occur online as well.
Tested same voice commands on my android phone and HABPanel via browser - the Android app needs quite some time to "process" the speech or there's some extended timeout after I finish my command.

[2017-01-07 12:29] sim0nx opened #261 "Remote URL (vpn) ... extremely slow and does not display images"
Hi,

I am using openhab via VPN. For whatever reason I have to configure a remote URL (though this used to work without before).
It takes awful long to load (which is not due to the connection being slow; verified).

When it finally loads the sitemap, there are no icons displayed.
Toggling switches etc works fine, and is fast, also with the feedback.

In the log file I see entries like:
GET /icon/

[2017-01-08 09:26] lolodomo commented on #193
@kaikreuzer : sorry for insisting but could you answer please?

[2017-01-08 19:54] kubawolanin commented on #257
## openHAB Tasker integration

- [ ] Display an openHAB icon in Tasker Actions / Plugin
    - See [Action Plugins](https://tasker.dinglisch.net/plugins-intro.html) in Tasker Plugin introduction
- [ ] Show a OpenHABTaskerActionActivity window (title: "Action configuration")
    - A list view of two elements: openHAB Item and command
        - Clicking Item element should open a dialog
            w

[2017-01-09 19:13] hakan42 commented on #257
Actually, I think it would be better to create a seperated Tasker plugin which is not too tightly integrated with the Android App.

That way, the plugin could be used for:
* Tasker ( https://play.google.com/store/apps/details?id=net.dinglisch.android.taskerm )
* Locale ( https://play.google.com/store/apps/details?id=com.twofortyfouram.locale )
* any other apps that use the same API

There are exam

[2017-01-09 19:51] kubawolanin commented on #257
Thanks @hakan42 for the input! What would be the benefit of having them maintained separately?

So is there anything to be done on HABdroid's side in order to communicate with the separate plugin?
At a glance, it seems that we would need a `BroadcastReceiver` to handle item's state change.

I found [some examples](https://github.com/giech/arduinotaskerbluetooth/tree/master/BluetoothSerialfromTaske

[2017-01-09 22:00] hakan42 commented on #257
The main reason is, I don't believe in one application that does everything. And extending the Android App into Tasker area sounds like one thing that tries to do everything.

My personal philosophy is to create small tools that do one thing really well and leave it to the user to combine them into unexpected little gems. Therefore the plugin idea. You might also notice that OH2 and Tasker itself

[2017-01-09 22:55] kubawolanin commented on #257
I get your point, but in this case we would just extend HABdroid with additional feature (like NFC or Beacon integrator, the only difference being wired to third party app and not the hardware).
See apps like Pushbullet, Unified Remote etc. These are also big apps but extended with Tasker Action.
I think it would alsp be easier to keep maintaining one app.

[2017-01-10 13:28] kaikreuzer commented on #193
This is related to https://github.com/eclipse/smarthome/issues/2788.

I cannot really assess the implications if we now suddenly remove the mapping from the state. Although this sounds like the right solution to me, it also appears risky.
So instead of breaking stuff, I would rather live with this as a known bug for the 2.0 release and come up with a well-conceived solution afterwards.

[2017-01-10 14:47] watou commented on #257
I don't see a problem adding Tasker integration, *as long as* it does not create any new mandatory dependencies or new/higher minimum requirements that non-Tasker users would have to contend with, and does not have any impact on licensing issues. For users who are uninterested in Tasker, they see no new UIs or other changes and the app continues to work as if nothing changed for them.

[2017-01-10 16:56] rkoshak commented on #257
As a heavy Tasker user I'll +1 for the idea. I do not think adding support for Tasker into Habdroid itself would necessarily be apparent to users who do not use Tasker. Looking at the examples @kubawolanin mention, there is no evidence of Tasker in the main application. It is only when you go into Tasker that you find it in Plugins (I'm not sure what the distinction between Plugins and 3rd Party i

[2017-01-12 15:53] Snickermicker commented on #116
Seem to have the same issue even when using https.
habdroid (latest from master) throws the following exception for **all** icons:
<pre><code>01-12 16:29:02.092 10210-11043/org.openhab.habdroid W/System.err: java.io.FileNotFoundException: https://myopenhab.org/images/clock.png
01-12 16:29:02.093 10210-11043/org.openhab.habdroid W/System.err:     at com.android.okhttp.internal.huc.HttpURLConnection

[2017-01-13 18:09] Snickermicker commented on #116
Guess I found the problem. It seems to be dependending on the password.
By changing
<pre><code> encodedUserPassword = Base64.encodeToString(userPassword.getBytes("UTF-8"), Base64.DEFAULT;</code></pre>
to
<pre><code> encodedUserPassword = Base64.encodeToString(userPassword.getBytes("UTF-8"), Base64.NO_WRAP); </code></pre>

in file mobile/src/main/java/org/openhab/habdroid/util/MyWebImage.java (getB

[2017-01-17 00:32] lolodomo opened #263 "Image elements from sitemaps not rendered if no Content-Type header"
It looks like sitemap elements of type image are ignored by HABdroid.

[2017-01-17 00:39] watou commented on #263
HABdroid 1.8.0.5 shows images for me no problem against latest unstable and now testing 2.0 RC1 server versions.  Anything in your server logs?

[2017-01-17 00:57] lolodomo commented on #263
I am running the last version (1.8.0.5) too.

I am testing that with my enhancement of the Sonos binding.
Here is how is defined my item:
[code]
and one part of my sitemap:
[code]

[2017-01-17 01:01] lolodomo commented on #263
Nothing wrong in my server logs.

[2017-01-17 06:58] lolodomo commented on #263
On the same Android device, album art is showing in Chrome browser using Basic UI or Classic UI.

[2017-01-17 21:42] lolodomo commented on #263
Sonos is not providing the Content-Type header in its HTTP response and this makes HABdroid not displaying the picture.
Would it be possible to correct HABdroid to have a display of picture even when there is no Content-Type header ?

[2017-01-25 15:19] TootToot168 opened #264 "Setpoint Item not working in App, Works perfectly in Browser"
The Setpoint functions works via Web Browser but does not work in both Android & iOS.
When i press the "+" and "-" in the mobile app, it does not call the http commands but when i press the "Up" and "Down" via Web Browser, it works well.

When the AC is turned on with a default temperature, the Setpoint item will appear so that i can adjust the temperature if required.
Using a IR blaster with HTTP

[2017-01-26 16:29] djoope commented on #116
I have a similar problem.

http://myopenhab.org works but dont show any icons in my Android app

http**S**://myopenhab.org just stays at reloading sitemap in my Android app. No content at all.
I am using a Google Pixel Phone Android 7.1.1

When trying with my Google Nexus 9 tablet outside my home booth Url:s work.
And show icons when using https://...

Using browser in Google Pixel phone works wel

[2017-01-27 20:28] tobyS commented on #255
This seems to apply to other SVG images used in sitemaps, too.

[2017-01-28 19:49] danchiche opened #265 "Voice recognition integration to Google now"
Hi
Project is huge, all works fine, voice recognition too.
But I would like to control openhab directly from Google now voice recognition.
With this I can operate rapidly with OK Google, and with my Android wear watch.
It's just some few line to put in code.
Thanks :)

[2017-01-28 20:03] digitaldan commented on #265
If it's just some line, are you volunteering to do that?

[2017-01-28 20:09] danchiche commented on #265
I read on the internet you just need to declare this application is compatible with Google now voice recognition. You need to recreate a special activity for this, but I think it's already integrated.
Unfortunately I think I don't have time to do it.
If I have the time, I setup the environment development, make it and publish it here.
But you know your application better than me.
I think for you i

[2017-01-29 13:58] docbender commented on #199
For me HABdroid with nginx reverse proxy start working when I set **Host** header to **$http_host** instead **$host**

[code]

[2017-02-04 14:48] syphr42 commented on #117
I reproduced the same issue as @JochenHiller in [#117 (comment)](https://github.com/openhab/openhab.android/issues/117#issuecomment-253520967) just now.

On the off chance it was theme-related, I tested it on all 3 themes (Dark, Light, and Black/AMOLED). The result was the same.

HABDroid 1.8.0.5
Nexus 5X
Android 7.1.1

[2017-02-05 08:43] hazzeh commented on #246
The root cause is that StateRetainFragment does not save the current fragment list when the app is sent to background (onSaveInstanceState). If the OS destroys the activity when it's in the background, the restoration will not be complete. Causing the faulty behaviour.
How to reproduce:

1. Configure the device to "At most 1 process" in "background process limit"-settings
2. Start habdroid and nav

[2017-02-05 09:26] sim0nx commented on #261
Update: the icon issue is most probably because I use svg icons (#256)

[2017-02-07 04:18] syphr42 commented on #117
It appears that there are more problems here. The "TOGGLE" option is not working correctly. It actually sends "TOGGLE" to the server in the HTTP POST rather than the correct command.

This code inside OpenHABWidgetListFragment is not executed:
[code]

Instead, when a tag is read, this code inside OpenHABMainActivity runs:
[code]

As you can see in the second version, "TOGGLE" is not translated int

[2017-02-16 20:49] danchiche commented on #265
Hi
I made a simple AUTOMATE script to bring OK GOOGLE directly to openhab (without the third party of openhab android app, and without configuring openhab voicecommand).
This is the like for automate app on Google Play : https://play.google.com/store/apps/details?id=com.llamalab.automate
Click on COMMUNITY button within the app and search for OPENHAB, and you see my script.
It will be better to in

[2017-02-18 07:30] fat-tire commented on #244
Im curious what the location permission is for.  I removed it and didn't get any warnings and nothing from lint either.

[2017-02-18 10:01] lolodomo commented on #263
@watou : for your information, the new proxy servlet implementation has not resolved this problem.

Depending on the music service played by Sonos, HABdroid is able or not to display the image. It does not work with a tunein radio or Amazon music while it works with my local music library or Spotify.

PS: of course, it works in all cases with Basic UI and Classic UI.

[2017-02-18 10:27] watou commented on #263
Just to confirm, your debug log says "Starting up 'Proxy (async)' servlet  at /proxy"?

Also to confirm, you observe that the only difference between images appearing in HABdroid vs. not appearing in HABdroid is whether or not the source of the image gave a `Content-Type` header?

[2017-02-18 10:39] lolodomo commented on #263
What package should I set to DEBUG ?

I have not checked again the content-type header but did it in the past.

[2017-02-18 11:58] watou commented on #263
The logger `org.eclipse.smarthome.ui` should do.

[2017-02-18 12:58] lolodomo commented on #263
I confirm I got this debug log.

[2017-02-19 11:51] mueller-ma commented on #151
@mgarciate Can you close this issue?

[2017-02-19 12:00] mueller-ma commented on #30
@xylo Wouldn't it be possible to make a "branch" without bug tracking? In this app https://github.com/physphil/UnitConverterUltimate/tree/develop/app/src there seems to be a different version for play store and fdroid.

my.openhab is now free, so this shouldn't be a problem

[2017-02-19 12:09] mueller-ma opened #269 "Send device information to openhab"
I would like to have a simple way to send information about my device (e.g. gps location, battery status) to openhab. This way it would be easy to have a very good present recognition or to control a charger.

Of course this would need more permissions. See: #244

[2017-02-19 15:09] mgarciate commented on #151
Sure

[2017-02-19 15:09] #151 closed

[2017-02-20 08:44] xylo commented on #30
@mueller-ma Yeah, that's a very interesting solution and probably easier to manage than the plugin solution which I proposed.

The "Unit Converter Ultimate" app looks like a perfect example how different app versions can be comfortably handled within the same repository by using different source directories:
- app/src/main for the main (open source) app
- app/src/google for additional google exten

[2017-02-20 21:27] MarcSN311 commented on #8
I'm trying to connect to my OpenHab instance, but neither the ip nor the Hostname works. Both work in the browser though.

[2017-02-22 10:36] HerrBerg commented on #250
I'm seeing the same issue:

The problem is, that Openhab Android does not honor the `https` set in the remote-url setting for requesting sitemaps.
Even though that the remote url is set to something like `https://example.com` the sitemap requests are made against `http://example.com/rest/sitemaps/debug/debug`.

In my case this returns a `301` redirect to the https url but which doesn't work either

[2017-02-22 11:58] HerrBerg commented on #250
Looking at the andoid logs reveals the problem:
the first request for the list of sitemaps goes to the correct url, but the list returned by the api does not only return the names of the sitemaps but also links to them. These links have the wrong scheme.

[code]

In my case it was a missing header in the reverse-proxy configuration of the nginx
```proxy_set_header X-Forwarded-Proto    $scheme;```

[2017-02-24 21:09] kvoit opened #270 "Order sitemaps alphabetically"
Especially in the app, sitemaps suggest themselves as the primary unit of order. Unfortunately, the order of sitemaps in the sidebar seems to be absolutely random with no possibility to influence it. Would it be possible to order the sitemaps alphabetically, at least?

[2017-02-25 08:58] kubawolanin commented on #257
There was no progress on this feature for a long time, but I found an interesting repository yesterday.
@dereulenspiegel made a great Android app called HABSweetie some time ago :)
I couldn't make it work with my OH2, but the source code of Tasker integration is already there.
Maybe it would be worth to combine forces on this one and reuse @dereulenspiegel's work in HABDroid?

https://github.com/d

[2017-02-27 21:38] ldet commented on #117
If I'm not mistaken Openhab actually understands "TOGGLE".
At least it works for me under OH2 on build 808.
Opening a sitemap page also works for me. But writing an NFC tag for a switch doesn't.
However, when I write it manually with another app, it just works fine:
`openhab://sitemaps/<sitemap>/<sitemap>?item=<item>&command=TOGGLE`

[2017-03-01 15:52] Schaussi commented on #117
Today I migrated the server from OH1/Windows to OH2/Ubuntu.
For me, it works fine now. It reads the NFC tag and jumps into the right room, like in year 2015 :)
Thank you

[2017-03-02 02:54] ldet commented on #270
Good idea
Sorting alphabetically schould be possible.

Currently the order is determined by the rest api.
We could sort them by their name (the filename) or the label defined inside the file. I personally think filename would work best, because we could do something like this to force a specific order:
`0Lights.sitemap`
`1Heating.sitemap`

On the long-term, we might want to consider adding an inde

[2017-03-02 19:04] andredts opened #271 "Very slow local access if Internet is down"
Interface takes over 10 seconds to respond every time the local network is OK but there is no internet connection. Using the web interface in the same wifi does not seems to be slower, only the app.

[2017-03-09 05:11] ShaunCurrier commented on #261
I am also using a VPN (OpenVPN) from my android phone and finding that the non-remote URL is not even tried, despite the IP being available through the VPN.  Other apps have no problem with this.

[2017-03-09 19:28] wdesponts commented on #117
@ldet

Good afternoon Lennart, I'm having a problem with the NFC Switch Trigger in habdroid and would love to try your solution, but alas I think I could use some extra details.  To that end could you explain the following  please:

1) What App (Android) are you using to write the NFC tag?
2) Can you explain/breakdown the uri in your quote better?
    - Do we replace <sitemap> with the name of the

[2017-03-09 22:20] ldet commented on #117
@wdesponts
For writing i used the NXP tag writer app (others might work):
[https://play.google.com/store/apps/details?id=com.nxp.nfc.tagwriter](url)
With the app u can copy and edit another tag or start completly from scratch.
In both cases Habdroid will be used and opened in background. Depending on your phone its usally necessary to unlock it for the tag to be read.

**The uri builds as follows:

[2017-03-11 15:43] lolodomo commented on #193
I have submitted PR https://github.com/eclipse/smarthome/pull/3135 that should allow to close this issue as soon as merged.

@digitaldan  considering what you previously wrote, it could break setpoint handling in HABdroid.

[2017-03-11 15:59] #255 closed

[2017-03-14 23:26] lolodomo commented on #193
ESH PR was merged and this issue will become irrelevant.
@digitaldan : do I close the issue or do you need to adjust code for particular cases ?

[2017-03-18 22:07] manmac1 commented on #264
the same with me - hope there will be a solution

[2017-03-18 22:36] sim0nx commented on #261
I found out what my issue here was.
If icons are available as non-svg, they work.

The connection issue was related to openvpn MTU issues.

[2017-03-18 22:36] #261 closed

[2017-03-20 16:56] digitaldan commented on #264
This is an issue with the REST api we are using in OH.  We need to switch to using the event socket endpoint which is what the paperui/basicui/habmin use.  This will require a refactoring of the network code which is why it has not been done yet

[2017-03-21 14:20] gudszent opened #274 "Only the first video show"
Hi, When I have more than one video in a menu, the android client show only the first one. From normal browser show all of them. Is it a limitation, or bug?

BR,
O.

[2017-03-22 00:04] lolodomo commented on #193
With snapshot 849, the ESH fix is now available and working. I close this issue.

[2017-03-22 00:04] #193 closed

[2017-03-22 00:07] kaikreuzer commented on #193
Glad to hear that!

[2017-03-22 00:11] lolodomo commented on #193
Almost 10 months for something that was finally easy to fix ;)
But I am very happy today to have right icons in HABdroid.

[2017-03-22 03:43] ShaunCurrier commented on #261
Are we sure this should be closed?  What was the openVPN MTU issue?  All my other applications work fine through the VPN, how do we know it's not an openHAB MTU issue?

[2017-03-22 06:59] sim0nx commented on #261
I do have a remote URL configured, though I don't understand the reason for i, after re-configuring my openvpn, the issues was solved for me.
The app works fine now via VPN.
As this was my main issue for opening this bug request I am positive that it's appropriate to close it.

FYI I had tun-mtu and mtu-disc set in my config, which messed tings up. Removing both and letting openvpn figure it out s

[2017-03-30 04:46] dextergiii commented on #8
I'm having challenges as well. The app will connect to the site and I can see "things" but when I select the sitemap I have configured the progress circle at the top continuously spins.

[2017-04-02 08:46] mueller-ma opened #278 "Material icon"
I'm using this icon on my phone and want to share it. Maybe replace the app icon?
![openhab-xxxhdpi](https://cloud.githubusercontent.com/assets/22525368/24585719/8cc58514-1791-11e7-9aa7-030b06861b23.png)

[2017-04-15 09:01] mueller-ma opened #283 "Is the app still named HabDroid?"
Since it is called openHAB in the Play Store shouldn't we change "habdroid" to "openhab app" in all strings.xml?

[2017-04-18 04:52] amarpulli544 opened #284 "how to connect openhab server through my android app"
Hello,

I would like to implement to make my self android app for connecting openhab2 server. According to my knowledge i just gave two edit texts one for user enter IP address and one for port number .
When we are enter IP address and port number, but it won't connect to the openhab2 server.
This is my ServerActivity along with edit text's

[code]

this is  Client class

[code]
Please let me know

[2017-04-22 10:11] houxiaodong opened #285 "how should I do my customization UI Layout？"
hello，
everybody， we want to use the layout of our own design,now. but we do not know how to start custom UI layout ? have anybody konw something?please give me some help,thanks!

[2017-04-25 18:29] cribskip opened #286 "Charts not shown when Icon format=SVG"
Hi,

with openhab2 and habdroid 1.8.0.6, when setting "Icon format" is set to "SVG" charts are not rendered anymore.
When changing the setting backto PNG, charts continue to function.

Best,
Sascha

[2017-04-26 18:52] gruenwaldt opened #287 "Virtual Number Items - Value is not displayed in first place"
I have to set value first, then the value is displayed.
But: sometimes after scrolling the values are shuffled.

On iOS App it is working, so i think it is an issue of the App, not the server.

[2017-05-02 17:59] cribskip commented on #253
Hi,

just found the same behavior and wanted to second this issue.
I'm using the stable debian repository and habdroid 1.8.0.5.

[2017-05-04 10:21] eidi98 commented on #253
Hi,

the same issue on my side.
My habdroid version is 1.8.0.6

[2017-05-04 18:58] lolodomo opened #290 "Display of selection elements"
When the current value is not one of the mappings, the displayed value should be an empty string.

Addtionally, valuecolor tag should be handled.

[2017-05-05 14:15] ThomDietrich commented on #179
As this issue was referenced in another thread, I want to second the request for this improvement. I was also tricked by this behavior in the past.
Detecting a local instance sounds like a great idea. Independent of if a local instance was found or not I'd suggest to have a setup wizard guide the user through the process. The wizard could offer to work in demo mode, connect to the detected local i

[2017-05-14 13:54] AchilleGR commented on #286
Same thing happens for Images defined in sitemaps. Setting Icon format to PNG works as expected.

[2017-05-14 16:18] mueller-ma commented on #286
Possible solutions are:

Server-side:
1. Render charts as png and svg (wont display images)
2. Add the format "prefer-svg" which return a png if no svg is available

Client-side:
1. Always use png for charts and pictures
2. Display png if no svg is available

[2017-05-15 14:31] mueller-ma commented on #290
@lolodomo Which version of openHAB are you running?
I tested with oh2 and if no mapping for a value is specified nothing is displayed, both in the App and Basic UI.
Valuecolor tags are also working.

[2017-05-15 14:35] mueller-ma commented on #290
@lolodomo I didnd see the "selection". Is it possible in Basic UI to use valuecolor and transformation in select elements?

[2017-05-15 14:36] mueller-ma commented on #283
@kaikreuzer What do you think about this?

[2017-05-15 15:59] lolodomo commented on #290
I am talking about selection element in sitemap with a mapping.
In HABdroid, when you open the selection, you have the mapped values but the selected value when the selection is closed is the non mapped value.
In basic UI, I recently fixed these 2 problems (display of mapped value + handling of valuecolor).

[2017-05-15 16:04] lolodomo commented on #290
Look at #https://github.com/eclipse/smarthome/pull/3381 and https://github.com/eclipse/smarthome/pull/3368

[2017-05-15 17:04] mueller-ma commented on #290
Item:
[code]

Sitemap:
[code]
HabDroid:
<img src="https://cloud.githubusercontent.com/assets/22525368/26069168/48267252-39a0-11e7-8478-c6f87dee66bb.png" width=500>
<img src="https://cloud.githubusercontent.com/assets/22525368/26069182/4a30e37a-39a0-11e7-81a8-3fcc04c33fbc.png" width=500>

[2017-05-15 19:01] lolodomo commented on #290
I suppressed my second message which was totally wrong !
You have to read again my initial issue description. What is not working is when the current value is not a value present in the mappings.
If I take your example, be sure that your item value is 2 (cool) and suppress from the mappings the value "2". You will see that the selection displays a value, probably the first in the list, so probably

[2017-05-15 19:16] mueller-ma commented on #290
Now I got it. What about the color issue?

[2017-05-15 19:19] lolodomo commented on #290
Color is not working too. Try for example to update your sitemap like this:
[code]
We will see that the text "Cool" remains in black rather than red, when foo2 item value is 2.

[2017-05-15 19:53] kaikreuzer commented on #283
Probably yes - would be good to be similar to the iOS naming.

[2017-05-16 07:07] lolodomo commented on #216
Any chance to support image items ?
You can see how it is handled im Basic UI.

[2017-05-18 13:08] mueller-ma opened #295 "Default values in settings are "?""
After #281
![screenshot_2017-05-18-15-08-13](https://cloud.githubusercontent.com/assets/22525368/26203510/d915d16c-3bdb-11e7-9df0-d6bc37908920.png)

[2017-05-19 11:43] mueller-ma commented on #295
I started fixing it here (https://github.com/mueller-ma/openhab.android/tree/patch-6), but Android Studio gives me following error:
[code]

[2017-05-20 10:42] mueller-ma opened #300 "Theme issues"
- Selection items are in bright themes black and in dark themes white and do not look like normal buttons that are mostly grey. See #537
- Version entry in settings is greyed out. (Saw this on a Oreo AVD, but not on a real 7 device) Edit: The version field in the settings has been removed.
- Menu isn't themed (Fix in #361)

![screenshot_2017-05-20-11-52-43](https://cloud.githubusercontent.com/asse

[2017-05-21 10:49] mueller-ma commented on #300
@digitaldan Can you explain how the themes work here? Android Studio says the theme HabDroid.black isn't used anywhere and in the preview the menu is themed

[2017-05-22 14:46] digitaldan commented on #295
BTW, thanks for fixing this, I don't remember having this issue before and only noticed it over the last week or so as I have been testing.  It's very annoying :-)

Yes this is super annoying as well, I had to disable "instant run" in the preference menu, also I needed to add "-t" to the install flags under the run configuration (Run menu -> Edit Configurations)

[2017-05-22 17:31] SeoFood commented on #73
Anything we can help to push this forward?

[2017-05-22 19:04] mueller-ma commented on #295
Can we use an older gradle version? A non alpha

[2017-05-23 00:17] #295 closed

[2017-05-23 10:05] kobelka opened #301 "Make the option configurable to use your own openhabcloud Server"
When you use your own openhab-cloudserver you have to compile your own openhab app.

Please make it configurable that no user has to compile his own version, see:

#https://github.com/openhab/openhab-cloud/issues/67#issuecomment-293960208

You have to change the  lines 145 and 1201 in OpenHABMainActivity.java to match your system, so please make this configurable in the settings of the openhab App

[2017-05-24 08:40] #278 closed

[2017-05-26 13:14] FlorianSW commented on #301
Already solved by https://github.com/openhab/openhab.android/commit/4ae13d59da2a402c34d50899ca8b25ca6bff85f5 / PR #288

[2017-05-26 18:41] #238 closed

[2017-05-28 13:26] mueller-ma commented on #258
Closed in #303

[2017-05-28 13:27] #258 closed

[2017-06-03 07:37] FlorianSW opened #305 "Tapping the selected element of a selection item again does not send the command"
Expect the following setup:
openHAB instance with a sitemap with at least one selection element (e.g. for a roller shutter). The sitemap has, for example, the following entry for the roller shutter:
`Selection item=Pseudo mappings=[0="0", 10="10", 20="20"]`

Now, if you access the sitemap with the basic UI, the default value (e.g. after a restart of openHAB or if no value was provided so far) of t

[2017-06-03 15:06] lolodomo opened #307 "Wrong icon displayed for a Switch element linked to a Dimmer item"
Here is the item:
[code]
Here is a part of the sitemap:
[code]
The switch state is perfectly updated (OFF or ON) but the icon is always unchanged, a light ON, even when the light status is OFF.

[2017-06-03 19:53] lolodomo commented on #153
Time to close this issue.
OH 1.8.3 os now obsolete.
No problem with OH 2.

[2017-06-03 19:53] #153 closed

[2017-06-05 15:06] #305 closed

[2017-06-10 15:56] mueller-ma opened #309 "Outdated screenshots on google play"
It shows an openhab 1 installation. I can do some screenshots and upload them here, but I dont have nfc, voice crontroll or myopenhab set up

[2017-06-10 16:06] digitaldan opened #310 "Can not connect to local OH using self signed certificate"
With recent http upgrade we can no longer connect to a local OH instance running a self signed certificate, despite what options are selected in the settings.

@rusitschka can you take a look?

[2017-06-10 16:58] FlorianSW commented on #310
This setting isn't observed anymore. I'll take a look and will propose a PR :)

[2017-06-10 17:15] FlorianSW opened #314 "Ignoring the ssl certificate should give a warning"
At the moment, if the user checks the checkbox to ignore all ssl certificates (better: trust all certificates), it is applied without any warning. This setting is more or less a security problem when used in the wrong way and we should warn the user, that he should use this option only, if he knows what he's doing and probably say, that he should do it only, if he wants to connect to his newly ins

[2017-06-10 17:20] mueller-ma commented on #314
Many apps use following concept: They show a warning when connecting to a host with an invalid ssl cert. Than you can trust it once, always or cancel.
This way the app would only trust a specific "untrusted" cert and not all.

[2017-06-10 18:33] rusitschka commented on #310
@FlorianSW that was fast - thanks! :-)

[2017-06-11 09:45] lolodomo commented on #286
Sorry, I don't understand why there would be a link between icon format and chart ?
The default chart provider is providing an image in PNG format. Why not just displaying it as it is provided ?

[2017-06-11 13:17] Flole998 commented on #169
This is still an issue, switches and text is still not sized correctly. Can't we just add up the dimensions and if it's larger than the screen size start cutting off until it fits?

[2017-06-12 18:12] FlorianSW opened #315 "App crashes when connection to remote is invalid"
If the app cannot connect to the given remote url, it simply crashes with this stask trace:

[code]

[2017-06-12 19:09] FlorianSW commented on #246
From what I see in the code: The current state of the app is already saved and restored once the app goes to the background and is killed by the OS and restored after it get's started from the user again. However, the state is restored, but the main activity is shown, instead of the recently opened fragment, which results in the observed case, that the old fragment state is then loaded once the fr

[2017-06-12 19:13] FlorianSW commented on #222
Isn't this fixed by PR #223 ?

[2017-06-18 09:29] mueller-ma opened #317 "Retry if network is unavailable"
When I open openhab, lock the screen and unlock it after a time fast enough the wifi isn't connected when the openhab app is open. In this case I get a "Network unavailable" toast.
Is it possible to implement a retry after ~1 second or is this fixed in #275?

[2017-06-19 09:01] fspiekermann commented on #222
For my case it is fixed. I tested it and the app never crashed again.

[2017-06-19 18:23] mueller-ma opened #319 "When entering a subpage and turning the tablet in landscape, no entry is marked"
First: I selected "First Floor"
![screenshot_2017-06-19-20-21-56](https://user-images.githubusercontent.com/22525368/27299547-fa270b54-552c-11e7-9315-d2f50a225e4e.png)
Second: Turn tablet into landscape. How it looks:
![screenshot_2017-06-19-20-22-00](https://user-images.githubusercontent.com/22525368/27299548-fa2902e2-552c-11e7-9131-089e71d14561.png)
And how it should look:
![screenshot_2017-06-1

[2017-06-19 20:41] mueller-ma opened #320 "FR Tap on charts to see them in fullscreen"

[2017-06-19 22:03] #283 closed

[2017-06-20 00:03] #310 closed

[2017-06-20 06:06] mueller-ma commented on #73
Possible solution: Have a watchface were you can define which items are displayed

[2017-06-20 17:23] mueller-ma commented on #222
Can you close this issue?

[2017-06-20 17:26] mueller-ma commented on #246
At first I thought restoring is the best option, but when I think about it: Is it possible to say how long an app is usally in background until it is killed? It is unlikly that a user want to see the fragment he opend 2 hours before

[2017-06-20 17:33] FlorianSW commented on #246
This should be different from device to device and use case to use case. It highly depends on how many memory is available and used by other apps, and so on. In fact: The system decides when and if an app is closed or not, it can be after 1 minute or after days. In my opinion, as we don't save things, which can't be easily opened again (like it would be for text inputs where text is already saved

[2017-06-30 01:43] #315 closed

[2017-06-30 15:01] #246 closed

[2017-07-06 05:29] mueller-ma opened #324 "Nested frames do not work"
In the play store two people are complaining about nested frames are not working (frame in frame).

I could reproduce that.

[2017-07-06 16:31] Lyr3x opened #325 "local connection/autodiscovery"
for me (android 7.1.1) auto discovery do not work, but also the manual way do not work over the local network. The app just tell me "connect to local URL".

installed the latest google play store version 1.8.0.6

[2017-07-06 16:53] mueller-ma commented on #325
Works for me

[2017-07-06 16:58] mueller-ma commented on #325
Which oh version do you use? I'm using 2.1

[2017-07-06 17:02] digitaldan commented on #325
hmm, its working for me as well, do you have anything filled out in the preference screen?

[2017-07-06 17:26] Lyr3x commented on #325
hmm very strange... im using oh 2.1 as well. i just unchecked the demo stuff nothing else. webinterface is working fine

[2017-07-07 02:15] boc-tothefuture opened #327 "Habdroid always appends item state in label"
Opening an issue based on the discussion [here](https://community.openhab.org/t/remove-item-state-from-a-label/31115/5).

It appears that habdroid does not respect the item or sitemap label and will always append item state.  If you put a [] in your sitemap or item label, habdroid will no longer append the state but you end up with [] in your label text.

Example:

Items:
`Number Thermostats_Downs

[2017-07-07 09:12] boc-tothefuture commented on #290
👍
This issue is also impacting me.  This makes it difficult to use selections and can cause some erratic and unexpected behavior when items are in states that don't match the sitemaps (turning lights on, turning things off, etc).

[2017-07-07 15:30] mueller-ma commented on #325
Do you have installed any firewall on your smartphone or oh server? Or do you use some VLANs, children controll on your router? Which router are you using?

[2017-07-07 16:25] mueller-ma commented on #327
I'm trying to reproduce. Which oh and oh app version do you have? Mine is 2.1

Items:
[code]

Sitemap:
[code]

openHAB App:
![screenshot_20170707-182135](https://user-images.githubusercontent.com/22525368/27966911-4e16c192-6341-11e7-9cb1-9bc1659f5e8a.png)

BasicUI:
![oh](https://user-images.githubusercontent.com/22525368/27966963-7b7cbff6-6341-11e7-8f8d-136c4b1a2bf7.JPG)

[2017-07-07 17:09] boc-tothefuture commented on #327
@mueller-ma  Thanks for taking a look at this.

I am on OH 2.0 and HABDroid version 1.8.06.

I think you *might* not be able to reproduce it by using a virtual item.

Looking at my image again, specifically the Fan Mode with a degree symbol, I am lead to believe that the HABDroid is pulling the formatting from  appears the channel definition itself.  I was able to validate this by fixing the chann

[2017-07-07 17:15] mueller-ma commented on #8
I think the best way to solve this is a intro with three buttons:
1. Demo mode
2. Auto configure and add found instance to
3. Manuall configure

[2017-07-07 18:06] Lyr3x commented on #325
No:/ fresh installed openhabian. I'm using an tp link Archer c2.

mueller-ma <notifications@github.com> schrieb am Fr., 7. Juli 2017, 17:30:

--
Mit freundlichen Grüßen

Kai Bepperling

[2017-07-07 20:18] lolodomo commented on #327
In your example with the channel "omnilink:thermostat:home:downstairs:system_mode" where you set no pattern in the item label and no label in the sitemap, the result you got could be the expected result in case a pattern is set for this channel in the binding.

BUT in all cases, if you append `[]` in your item label or add one label ending by `[]` in your sitemap, the value should normally not be

[2017-07-07 20:19] lolodomo commented on #327
Take a llok how it looks like in Basic UI as a comparison.

[2017-07-07 20:28] boc-tothefuture commented on #327
@lolodomo Thanks for the response.
Not 100% sure I am following you.  But I think you are saying you need to append [] in one of the labels to make the pattern not be rendered.

Here is a sitemap with two different options for the system_mode:
[code]
Here is what Habdroid looks like:  Note the pattern appended in the first one (even with a label) and then in the second it renders [] instead.
![scr

[2017-07-07 20:45] lolodomo commented on #327
I agree with you for the label in second floor that should not show []
For the label in first floor, considering the result in Basic UI, I agree with you too but I would like to see how is defined the binding channel to be sure. I don't find any omnilink binding in OH2 repo.

[2017-07-07 20:48] boc-tothefuture commented on #327
@lolodomo thanks for looking.

We are still working on finalizing the binding before we make a PR to get it into the OH2 repo.  For now, it lives here:  https://github.com/QuailAutomation/openhab2-addons/tree/digitaldan-omnilink-binding-thing-types

[2017-07-07 22:58] lolodomo commented on #327
Ok so a pattern is defined for this channel and now I understand why HABdroid displays [3] in the first floor By the way, I agree with you that HABdroid should avoid that display in case of a selection element.

[2017-07-08 06:17] kaikreuzer commented on #8
I'd think that there wouldn't be much of an issue anymore once https://github.com/openhab/openhab.android/issues/179 has been implemented.

[2017-07-08 06:17] kaikreuzer commented on #179
@digitaldan Would be lovely to see this covered in an upcoming app release :-)

[2017-07-08 11:45] Lyr3x commented on #325
ahh finally.. i got it: there was a faulty dns entry and the oenhab app tried to connect to a different ip.. it is working now

[2017-07-08 11:45] #325 closed

[2017-07-08 14:25] digitaldan commented on #301
Now in store

[2017-07-08 14:25] #301 closed

[2017-07-08 14:26] digitaldan commented on #300
Sorry I missed this.  I have no idea, have not done any development around themes.

[2017-07-08 14:29] digitaldan commented on #285
Please us the community forums for sitemap layout questions, http://community.openhab.org

[2017-07-08 14:29] #285 closed

[2017-07-08 14:30] #284 closed

[2017-07-08 14:32] #265 closed

[2017-07-08 15:10] mueller-ma commented on #284
You can look at the community forum for some unofficial openhab android apps.
E.g. https://play.google.com/store/apps/details?id=treehou.se.habit

[2017-07-08 15:11] mueller-ma commented on #121
For a workaround you can try to use shorter names, e.g. d for day or use selection

[2017-07-10 20:00] mueller-ma commented on #301
How long does it usually take until everyone gets the update through play store?

[2017-07-11 00:18] digitaldan commented on #301
24 hours is usually the max time , most users see it within a hour.

[2017-07-11 15:35] mueller-ma commented on #301
I didn't get the update until now

[2017-07-12 12:02] tulamidan opened #328 "SSL Client Certificate authentication doesn't work anymore"
Apparently since the latest update (6.jul) the client certificate authentication does not work anymore on my setup.
I use a self signed CA with a self signed server certificate and user certificates. The whole setup was working smoothly for ~a year.
Then my phone died and I had to setup a new one. Since then my authentication fails. Either "bad request" when I ignore Certificate validation during

[2017-07-14 19:18] mueller-ma opened #329 "I did not recieve update 1.8.0.7"
My phone shows last update in March, on my computer July, but both show version 1.8.0.6 which should be 1.8.0.7 #323. I tested this on two devices.
I tried:

- Reboot the device
- Remove all data from play store app
- Deactivated Firewall on my smartphone
- Deactivated DNS Filter
- Reinstalled app

# Smartphone
![screenshot_20170714-210648](https://user-images.githubusercontent.com/22525368/282270

[2017-07-15 01:40] digitaldan commented on #329
So google has overhauled the play store console, one of the features that is turned on by default is a very slow rollout of updated apps, the idea is you update 1% of your users per day instead of updating all users with a catastrophic  build.  I didn't realize this was the case so I just went in and pushed it to 100%, it was currently less the 10% installed at the moment.

I'm hoping you get the

[2017-07-15 06:36] mueller-ma commented on #329
I've got it

[2017-07-15 07:22] #329 closed

[2017-07-15 10:57] mueller-ma commented on #314
I just saw that the behavior I descriped was implemented before #275

[2017-07-15 12:00] Flole998 opened #330 "Latest PlayStore Version crashed after Launch"
After the newest Update it starts up and then shows the sitemap. After about 1 second it just exits.

[2017-07-15 12:16] mueller-ma commented on #330
Are you using ssl client authentication?

[2017-07-15 12:17] mueller-ma commented on #328
There has been changes in the http module #275

[2017-07-15 12:18] Flole998 commented on #330
No, i am using SSL but not SSL Client authentication using a certificate. I am using Basic authentication though.

[2017-07-15 13:32] mueller-ma commented on #330
Can you try to clear the app data?

[2017-07-15 13:49] Flole998 commented on #330
Clearing App Data is clearly not a fix, that's a sketchy workaround. The source of the issue should be investigated.

[2017-07-15 13:55] Flole998 commented on #330
The issue is a nullpointer exception as android.graphics.RectF.wifth() is called on a non-existent Image at org.openhab.habdroid.util.MyWebImage.getBitmapFromSvgInputstream(MyWebImage.java:146)

I think the image in my sitemap is non-existent, however this should not lead to a crash.

[2017-07-15 15:52] mueller-ma commented on #330
A non existing picture or icon? Do you use svg icons?

[2017-07-15 18:09] mueller-ma commented on #330
I have set the icon format to svg, but I do not have a svg version for all my icons. It crashed on Android 5 and 7.1.2. This log is from 5:

[code]

[2017-07-15 21:17] FlorianSW commented on #330
I get a slightly different stack trace:
[code]

As this is reasonable, as `SVG#getDocumentViewBox` can return null, I'll submit a PR, which should fix this issue. However, it would be great to get a verification, that this is really the problem of @Flole998 :)

[2017-07-15 21:34] Flole998 commented on #330
Stacktrace of @FlorianSW is the same I receive.

[2017-07-15 21:39] FlorianSW commented on #330
The net question is: If an SVG image does not exist, why openHAB sends the 200 OK status code for the image request:
http://192.168.178.27:8080/icon/big_bulb1?state=null&format=SVG
-> will result in 200 OK, even if there's no SVG image with the name big_bulb1 and even not a PNG one, which also returns 200. If it would return 404 or something else, the app would call the onFailure method for that r

[2017-07-15 22:01] FlorianSW commented on #330
Reported as https://github.com/eclipse/smarthome/issues/3842

[2017-07-16 08:05] StefanBertels opened #332 "Latest PlayStore Update 1.8.0.7 causes SSL client handshake error"
previous versions worked fine, Setup didn't change.

error message:
ssl handshake fehlgeschlagen, Sie brauchen vielleicht ein gültiges Client Zertifikat

Setup:
openhab 1.9
user+pass set in app
NO client cert
self-signed server cert
self-created root cert installed on Android so openHAB can verify this

openHAB app links to this EMPTY how-to:
https://github.com/openhab/openhab.android/blob/master/

[2017-07-16 08:13] mueller-ma opened #333 "Key authentication how-to is empty"
https://github.com/openhab/openhab.android/blob/master/KeyAuth.md

[2017-07-16 08:14] mueller-ma commented on #332
Does the CN match the URL?
I opened #333 for the how-to

[2017-07-16 11:42] StefanBertels commented on #332
Yes. CN matches, certificate itself should be ok. But chrome complains about the weak cert (sha1rsa).
OpenHAB worked fine with this certificate before (without those unsecure options to ignore cert name / cert security).

[2017-07-16 12:14] StefanBertels commented on #332
Enabling "Ignoriere SSL-Zertifikat" (ignore ssl cert) helps.
I tried to setup nginx reverse proxy as described in OpenHAB2 docs but it seems this doesn't work together with OpenHAB 1.x (I get some openhab error / java stacktrace).

[2017-07-16 12:58] StefanBertels commented on #332
Error with my nginx proxy experiment (just http, openhab 1.x):

----

HTTP ERROR 500

Problem accessing /openhab.app. Reason:

    Server Error
Caused by:

java.util.ConcurrentModificationException
	at org.eclipse.emf.common.util.AbstractEList$EIterator.checkModCount(AbstractEList.java:756)
	at org.eclipse.emf.common.util.AbstractEList$EIterator.doNext(AbstractEList.java:704)
	at org.eclipse.emf.c

[2017-07-16 13:49] #330 closed

[2017-07-17 16:05] digitaldan commented on #333
@slawekjaranowski can you fill in the details the README please?

[2017-07-17 16:16] digitaldan commented on #332
Hi @StefanBertels , just trying to understand your issue, can you clarify a few things?

I'm a little confused, so you had client based authentication using  a client based cert working, or no?  I'm not sure I understand you setup.  Are you connecting directly to OH or using a nginx proxy? Are you using client key auth, credentials or both?

When you says helps, do you mean you no longer have the

[2017-07-17 16:37] mueller-ma opened #334 "Feature Request: Favorite items"
I have thought a long time how to access openhab faster than opening the app and I think I found a good solution: long press an item to select it as favorite.
Those items (maximum ~5, probably no slider or colorpicker) are used at three different places. Each of these places can be turn on seperatly and you have an option to only show them when on a specific wifi:

1. [App Shortcuts](https://devel

[2017-07-17 16:40] mueller-ma commented on #332
This is still an issue since enabling this option is unsecure #314

[2017-07-17 16:59] mueller-ma commented on #309
@digitaldan Picture number 19 is still old. Can you remove it?

[2017-07-17 19:49] StefanBertels commented on #332
@digitaldan:

No, I don't have client certificates. I have a server certificate.
Server certificate is installed into jetty. This setup is plain OpenHAB 1.x without any proxy.

I have credentials (user+pass) set in OpenHAB app.

Regarding nginx: I just tried to setup access for OpenHAB the proxy way -- as documented for OpenHAB 2.x. If this had worked I would have disabled https in jetty so nginx

[2017-07-17 22:34] lolodomo commented on #332
On my side, I have no reverse proxy installed, I am just using a HTTPS local URL. Since version 1.8.0.7, I get the error "SSL handshake failed - maybe you need a valid client certificate.
The working workaround for me is to check the option "Ignore SSL certificate".
It was not required with the previous version. Is it normal ?

[2017-07-17 23:03] digitaldan commented on #332
Are you using local discovery or have you entered your local OH address in?  Are you using a real SSL cert or one that OH generates?  If it is one that is generated, then I think you should get the error even with the previous version.

I have noticed that with local discovery we get this error now where before we did not, I'm not sure if we use to default to the local http vs https port , or if S

[2017-07-17 23:15] digitaldan commented on #332
Ok, this is more clear, we have also mentioned https://github.com/openhab/openhab.android/blob/master/KeyAuth.md in this thread which is not related to your issue since you not using client authentication, yes?

@StefanBertels So it looks like our new https stack is not reading something with user supplied server/root cert chains, that is indeed an issue, we should not need to allow all untrusted

[2017-07-17 23:28] digitaldan commented on #332
@rusitschka could also help out here?

[2017-07-18 11:53] lolodomo commented on #332
In my case, both locale and remote URL are set with HTTPS. The remote URL is myopenhab and it works well. My licale URL looks like https://192.168.xx.xxx:8443 with default certificate produced by OH. In this case, I get the error if I don't check the options "ignore certificate" and "ignore domaon SSL".

[2017-07-18 15:02] digitaldan commented on #334
I think that would be a great feature, we could also do this on IOS,  so our apps have parity with each other.  Would you retrieve all items from /rest/items and let the user pick from that, or are they items that are only contained in a sitemap?

I could not comment as I don't use an android watch

I'm not sure I understand how that would work?

[2017-07-18 15:09] digitaldan commented on #332
The certs generated by OH are obviously not signed by a know authority.  I'm not sure how this was working before, but its not a great experience for sure.

I think the best way (and maybe this was mentioned) would be to remove the ignore option from the settings and prompt the user on unknown certs to accept permanently or reject the certificate.  This will require a fair bit of code rework.

[2017-07-18 15:22] mueller-ma commented on #334
Three options:

1. Let the user pick from those which are in the sitemap
2. Use all from a sitemap called "android-favorite" or similar. This way you could sync the items between all devices without any modifications needed in the oh server
3. Add some kind of attribute (maybe homkit tags) to mark a favorite. Idk if we can retrieve those tags through the rest api. Example: Mark your favorite light

[2017-07-18 15:28] digitaldan commented on #334
That sounds reasonable

I would avoid specially named sitemaps

This sounds reasonable as well, I would want to run it by kai if we did this as there is a discussion about how far we use tags in applications like this, but I like the concept.

[2017-07-18 15:33] digitaldan commented on #334
So this would be in addition to the shortcuts? So if i had three shortcuts, I would have three persistent lock notifications?  What would happen if I clicked one?  Does it open the app or does it toggle the item?

This leads me to another question, can the shortcuts and notifications contain complex widgets (slider, multi button, color wheel) or do they need to be simple buttons?

[2017-07-18 15:40] mueller-ma commented on #334
You would have one notification for all items. Imagine you are in a different app and want to toggle an item quickly. Going to home screen and using the shortcuts is not very fast. If you dont want to have the notification you can disable it. There are also many users without Android 7.1 which is needed for shortcuts.

Shortcuts: Display text item or press them to toggle item state or set slider t

[2017-07-18 20:19] StefanBertels commented on #332
My setup was trusted (on my Android devices):
I created my own root CA cert and installed this on my android device.
I created my own certificate for OpenHAB and used my root CA to sign it.
I installed this OpenHAB certificate into jetty.

The certificate matches fqdn, it has some alternative name (so I can use another hostname without cert errors / full security).

Some days ago everything was fi

[2017-07-18 20:40] snoekieboe commented on #332
Running into the exact same issue since upgrading my andriod openhab to version 1.8.0.7. Any workarounds available to get this working in the meantime?

Br

[2017-07-18 20:59] sumnerboy12 commented on #332
Also seeing this issue, running OH v1.8.3 with a LetsEncrypt cert for my personal domain (i.e. a valid cert). Was working fine prior to the latest Habdroid update. Only way to connect is to tick the "Ignore SSL cert" option.

[2017-07-18 21:00] snoekieboe commented on #332
In my case even tapping "Ignoe SSL cert"  does not seem to make a difference.
it does make the local HTTPS connection work.. but my myopenhabcloud remote https connection still fails.

[2017-07-20 10:29] redeye86 opened #335 "Severity for notifications and notification actions"
I think it would be good to different levels of importance for the notifications.

For instance, if i am on the go it is not that important to know that the washer has finished and i don't want to be disturbed because of that. But in case a burglar is triggering the alarm, water is leaking somewhere in the house or it's burning, i always want to notified of course.

As far as i could see there is

[2017-07-20 13:59] mueller-ma commented on #335
How should openhab distinguish between important and unimportant events?

[2017-07-20 14:21] redeye86 commented on #335
You have to specify the severity in the rules. It can be defined in the sendNotification call already:

https://github.com/openhab/openhab2-addons/blob/master/addons/io/org.openhab.io.openhabcloud/src/main/java/org/openhab/io/openhabcloud/NotificationAction.java

I would suggest to use the 5 levels of severity introduced with android o. The user can define which priorities will be shown. For backw

[2017-07-20 18:50] kubawolanin opened #336 "Android TV support"
The Android app has a great phone and tablet support.
Android TV support would be a tremendous addition for direct usage with e.g. MiBOX.

See:

* https://developer.android.com/training/tv/start/index.html
* https://developer.android.com/training/tv/start/layouts.html#themes

[2017-07-21 11:24] Adminius commented on #269
another use case:
if near home then open garage door

[2017-07-22 08:55] Adminius opened #338 "Android app crashes with some SVG icons"
Hello,

i use newest app from Play Store.
if i use <fan> or <fan_box> and SVG, then app crashes if i open a group with this item.
If i switch to PNG, it works.

[2017-07-22 11:54] mueller-ma commented on #338
Duplicate #330 ?
Do you use anywhere an icon which does not exist?

[2017-07-22 17:03] digitaldan commented on #335
Right now openHAB cloud is not sending the severity string to the GCM provider ( or ios for that matter), but it does receive and persist it from OH.   This is not hard to do however, we would just need a plan of how this would look in terms of the message format and how clients react to that.

[2017-07-23 09:50] Adminius commented on #338
ohh....seems to be the duplicate.
I don't know if i miss this pictures in a SVG format. How can i check if this svg icons exists?

[2017-07-23 09:53] mueller-ma commented on #338
Look in your sitemap and go to the group where the app crashes when you open it. Do you use any icon there which is not listed [here](http://docs.openhab.org/addons/iconsets/classic/readme.html)?

[2017-07-23 10:40] Adminius commented on #338
i use <fan_box> and/or <fan>
![image](https://user-images.githubusercontent.com/17052262/28498467-7ec259c8-6f9e-11e7-8055-58c4d4e37a71.png)
SVG works in a browser, but not in the app.
PNG works in a browser and in the app.

all groups, that don't use this icons, works perfect.
But only two groups with fan icons cause crash

[2017-07-23 11:25] mueller-ma commented on #338
Yes. I can confirm this. When fan_box is used an the app shows svg, than it crashes

[2017-07-23 11:35] mueller-ma commented on #338
I compiled it with the fix for #330 but it still crashes. http://openhab/icon/fan_box?state=null&format=SVG returns the correct svg. Here is my stack trace on android 5:

[code]

[2017-07-24 15:23] tsheldon commented on #269
This is actually already available when using the OwnTracks (aka MQTTitude) binding for OpenHAB.  http://docs.openhab.org/addons/bindings/mqttitude1/readme.html

It provides location updates that can trigger rules natively in OpenHAB without the actual app being updated to require more permissions.

Location messages also include the device's battery state, so while not immediately passed through

[2017-07-28 08:18] mueller-ma commented on #96
What about just displaying two rows of items like the oh2 web ui does?

[2017-07-31 08:32] TheNetStriker commented on #332
My client certificate also doesn't work anymore since the update. I didn't change anything on my firewall or the certificate and it is valid until 14.12.2064. Setting the "Ignoe SSL cert" also didn't help.

[2017-08-08 09:55] slawekjaranowski commented on #333
Ok, I will try prepare something.

[2017-08-08 09:59] slawekjaranowski commented on #328
I will fix this issue.

[2017-08-08 10:46] Alpoy commented on #10
I have 2 different OH servers (one for my house and one for the cabin) would be very nice to see this feature implemented!

[2017-08-08 12:22] slawekjaranowski commented on #333
Maybe better place for manual is documentations site:
http://docs.openhab.org/installation/security.html

Most of documentations about seccurity and remote connection are allready writen.

[2017-08-08 14:36] mueller-ma commented on #333
I agree. It's better to have the tutorial for client ssl cert there

[2017-08-13 13:25] jurviz commented on #338
The app also crashes when i use the television icon.
It shows up in basicUI in the browser.
` Switch item=TV_Samsung icon="television"`

[2017-08-14 14:56] digitaldan commented on #338
Hmm, I just tried this and it works on my android device (Nexus 6), that's very strange.   Is there anything else different?  Are you accessing through the openHAB cloud for instance?

[2017-08-14 14:57] #328 closed

[2017-08-14 15:04] digitaldan commented on #338
Yes, I can duplicate this as well.  I believe this is an issue with our SVG renderer, unfortunately it looks like the author has stopped updating the library.  We will probably have to look to replace it.

[2017-08-14 16:00] jurviz commented on #338
No, the app crashes with a local network connection. But it only crashes on my Oneplus One with cyanogen OS 13.1.2. It seems to be related to the OS probably. On a Nexus 7 the app does not crash, but does not show the television icon.

[2017-08-14 16:26] digitaldan commented on #338
I was incorrect here, his website is out of date, but the github project is active, I'll take a look at upgrading

[2017-08-14 16:27] digitaldan commented on #338
looks like its fixed in upstream, https://github.com/BigBadaboom/androidsvg/pull/99

[2017-08-14 16:36] digitaldan commented on #338
Ok, I can confirm upgrading fixes the issue, I will submit a PR shortly and do a release.

[2017-08-14 16:45] #338 closed

[2017-08-14 17:24] digitaldan commented on #333
Yes, this would be a good solution.

[2017-08-14 19:09] mueller-ma opened #342 "Use weblate for translations"
Weblate offers free hosting for oss, has login via github and makes translations a lot easier.
https://weblate.org/en/hosting/

[2017-08-16 20:54] jjhuff opened #343 "Integrate Geofence-based Presence"
I'm in the process of migrating from SmartThings, and I'm missing how easy geofence-based presence detection was on ST. With OH2, I need to setup MQTT, secure it, expose it to the 'net, AND all my family's devices need to have another app installed and configured.

This seems like ideal functionality to just integrate into the Android (and iOS) app.

I'm thinking something like:
1. A setting to en

[2017-08-17 10:47] mueller-ma commented on #343
I wouldnt know how to do this without exposing some interface to the internet. You will need at least openhab or openhab cloud companion to connect to.

Technicaly you could use homekit tags in some way. See comment of @digitaldan https://github.com/openhab/openhab.android/issues/334#issuecomment-316101305

The easiest solution would be to have a simple switch which is on, when a person is inside

[2017-08-17 16:38] jjhuff commented on #343
Yup, but fewer is better. If one was only concerned about local usage, the network plugin with an expiration could be an option. I could also see potential of a more limited 'presence' channel offered by openhabcloud.

Suggestion: tags named "hostname-isInRadius1" or "wifiMac-isInRadius1" or similar uniq information.
I'm not sure what you're thinking here, but I don't know much about HomeKit or it

[2017-08-17 18:43] mueller-ma commented on #343
We should get some thoughts of @digitaldan about this feature in generell and from @kaikreuzer about homekit tags usage in clients

[2017-08-17 19:51] digitaldan commented on #343
Geo tagging would be a great feature for sure.

I agree this would be a simple solution and best for battery life. I also like that it would be easy to duplicate on IOS and does not require any special configuration.

[2017-08-17 20:26] jjhuff commented on #343
Ok great. I should have a basic PoC working shortly.

Thoughts on how to get the home location (and radius) from the server?

[2017-08-17 20:37] mueller-ma commented on #343
Would be great if you could implement this in a way that makes it easy to send other stuff to oh

[2017-08-19 09:25] mueller-ma opened #344 "Implement selection items as pop up menu"
In basic ui a selection is implemented as a pop up window, on the app as dropdown menu which is very small and has a variable width

[2017-08-22 16:24] mueller-ma opened #345 "FR: Api 26 and adaptive icons"
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html

I will fix this soon (TM). I need the oh icon in

1. Both layers must be sized at 108 x 108 dp.
2. The inner 72 x 72 dp of the icon appears within the masked viewport.

[2017-08-22 16:50] mueller-ma opened #347 "Some HTTP messages are not localized"
e.g. timeout

[2017-08-22 16:54] mueller-ma opened #348 "Binding descriptions not localized"

[2017-08-22 21:40] Seb-Maier commented on #38
I have the same problem with openHAB 2.1.0-1 (Release Build)
and openHAB Remote URL "https://myopenhab.org",
SSL Zertifikat and Hostname are ignored
openHAB App Version is 1.8.0.8

WLAN, also out of my home is working fine. Mobile access is not working and I get "Failed to connect to myopenhab.org/139.162.171.235:443"

[2017-08-23 05:54] mueller-ma commented on #38
Just to be sure: you have set up myopenhab correctly?

And NEVER ignore ssl hostnames on the public internet!

[2017-08-24 19:26] laohixdxm opened #351 "delay to reflect status on habdroid"
I switch On/off button on habdroid UI. say from off to on.
Sometimes It has delay to reflect status on habdroid.
When I slide switch,  say from OFF to ON.
I believe this is NOT device/binding specific. As I see same problem for both orvibo & zwave.

* device status change to ON.
* by browser, status change to ON immediately.
* by habdroid, status does NOT change to ON until next time UI update.
It

[2017-08-24 19:42] mueller-ma commented on #112
@joefrank25 @schinken @jenious Is this bug still present? And if so, can you try the workaround posted by @joefrank25 ?

[2017-08-24 19:44] mueller-ma commented on #184
@ComJack Do you still have this issue?

[2017-08-26 15:53] digitaldan commented on #343
I would keep this very simple and just associate entering/exiting a geofence with an existing switch in OH.  The user can then decide if that switch is "home".

[2017-08-26 15:54] digitaldan commented on #348
is  this a android issue or a OH2 issue?  Don't we pull those descriptions directly from a user's OH server?

[2017-08-26 15:58] jjhuff commented on #343
Yup, that's exactly what I have implemented -- working great! As it is, the
center and radius is defined in app preferences. That's certainly workable,
but starts to become a pain as the number of users grows.

On Sat, Aug 26, 2017, 08:53 Dan Cunningham <notifications@github.com> wrote:

[2017-08-26 16:36] mueller-ma commented on #343
@jjhuff Does this rely on Google Maps?

[2017-08-26 16:38] jjhuff commented on #343
As of now, no. Just lat/lng fields. Super user friendly!

On Sat, Aug 26, 2017, 09:36 mueller-ma <notifications@github.com> wrote:

[2017-08-26 16:41] mueller-ma commented on #343
Ok, please a option for users without GMaps

[2017-08-26 16:45] mueller-ma commented on #348
Yes, it is. I changed my oh2 to German and now one description is German, so I think the other are just not translated in oh2.

[2017-08-26 16:45] #348 closed

[2017-08-26 16:46] jjhuff commented on #343
On Android or desktop? It does depend on Google play services, but I think
that was already a dependency.

On Sat, Aug 26, 2017, 09:41 mueller-ma <notifications@github.com> wrote:

[2017-08-26 16:51] mueller-ma commented on #347
They seem to come directly from a http libary, so they are not that trivial to translate

[2017-08-26 17:17] mueller-ma commented on #343
Well, I hope #30 will be fixed anytime

[2017-08-28 10:36] dakipro opened #354 "Different username for local and for remote access"
(I hope it is not duplicate, couldn't find it by searching)

Expected Behavior
Having two set of fields for local and remote credentials.

Current Behavior
When accessing openhab that requires username and password from a local network a credentials are required. Same goes for when using remote access for openhab (via myopenhab.org f.eks)
However, currently there is only one set of fields for cred

[2017-08-28 12:33] id628 commented on #253
Now the entire notifications seems to be gone, it's not in my Hamburger/Fly-out menu anymore whether I'm on the LAN or remote on 0.9.0.b5

Not sure if notifications themselves stopped working, but I can't get to the list manually.

[2017-08-28 18:49] dominicdesu commented on #253
I can confirm, no notifications in the hamburger menu on 1.8.0.8.

[2017-08-29 19:43] Djaber19 commented on #184
Hi, I faced the same problem with the version 1.8.0.8, So any one can helps us to find a solution to be able to remote access the system
thanks for all :)

[2017-08-30 15:14] digitaldan opened #356 "Notifications missing"
This was reported at https://community.openhab.org/t/habdroid-notifications-tab-missing/33471

[code]

[2017-08-30 15:23] digitaldan opened #357 "Disable NFC completely as an option"
A users reports that the NFC functionality is  falsely getting triggered every time they use their phone to read a critical medical device which also used NFC.  They would like to continue using our app, but this is difficult if it interferes with a more critical medical function.   The request would be to disable NFC in our app as an option.

[2017-09-05 07:30] Adminius opened #359 "Rendering issue with "mappings=[...]""
Hello,

i have some issues on Android app. Browser view is better, but also not perfect:
App:
![screenshot_20170905-092155](https://user-images.githubusercontent.com/17052262/30049858-7a648e64-921c-11e7-8d8e-8943d1f63c3f.png)
Browser:
![screenshot_20170905-092130](https://user-images.githubusercontent.com/17052262/30049864-8269ff9a-921c-11e7-99da-1064d2d92909.png)

Landscape mode is ok:
App:
![scr

[2017-09-05 10:38] mueller-ma commented on #8
I think #337 will fix this

[2017-09-05 10:39] mueller-ma commented on #10
When every oh server is in the same network you can assign it to the same IP or dns name

[2017-09-05 10:51] mueller-ma commented on #359
Duplicate of #121

[2017-09-05 11:23] Adminius commented on #359
since 2015 not solved :/

[2017-09-05 14:40] mueller-ma commented on #359
No one is preventing you from fixing it ;)

[2017-09-05 16:36] mueller-ma commented on #359
I'm trying to fix it

[2017-09-05 20:42] SciLor commented on #263
I can confirm this.

I have a cgi-script which sends
  printf("Content-Type:Image/jpeg\r\n\r\n");
and then the image content.

On the basic ui it works fine, in the app it does not.

[2017-09-05 23:20] #344 closed

[2017-09-07 10:56] mueller-ma commented on #300
Selection items are in bright themes black and in dark themes white and do not look like normal buttons that are mostly grey

[2017-09-07 13:19] karafyllidis opened #362 "Greek language support"
At the moment there is no Greek language support. As a native Greek speaker I would be happy to do the translation needed.

[2017-09-07 15:25] mueller-ma commented on #362
What do you mean with "no Greek language support". Does it need more than just the translation?

To translate the app, click on the top right hand corner on fork, create openhab.android/mobile/src/main/res/ values-el/strings.xml and copy https://github.com/openhab/openhab.android/blob/master/mobile/src/main/res/values/strings.xml into the new file. Remove all line containing translatable="false" a

[2017-09-07 16:23] karafyllidis commented on #362
No I am talking about the translation only.

I will start the translation and make a PR when it is ready. Thanks.

Στις 7 Σεπ 2017 6:25 μ.μ., ο χρήστης "mueller-ma" <notifications@github.com>
έγραψε:

What do you mean with "no Greek language support". Does it need more than
just the translation?

To translate the app, click on the top right hand corner on fork, create
openhab.android/mobile/src/ma

[2017-09-08 14:13] mueller-ma commented on #359
@Adminius Since this is a duplicate can you close it?

[2017-09-08 14:15] mueller-ma commented on #342
@digitaldan If I get a "yes" I can start working on this. It would make translations much easier.

[2017-09-08 14:59] mueller-ma opened #366 "Launcher icon are a bit too small"
In comparision to other launcher icons the openhab icon seems to be too small.
I generated the icons with https://github.com/romannurik/AndroidAssetStudio. Since this not a bug, it's a feature (https://github.com/romannurik/AndroidAssetStudio/issues/73) it wont get fixed there. I set up a local copy of this generator and wait for the new openhab logo (https://community.openhab.org/t/openhab-logo-u

[2017-09-08 17:01] Adminius commented on #359
Ok

[2017-09-08 17:01] #359 closed

[2017-09-08 17:45] mueller-ma commented on #359
Can you test my proposed fix in #360

[2017-09-08 18:09] mueller-ma opened #367 "About screen not scrollable"
On small phones you cannot see the complete about screen.

[2017-09-15 22:50] mueller-ma commented on #286
The problem is: the charts are fetched correctly, but a svg parser is invoked to display them and that fails.

[2017-09-16 18:28] mueller-ma commented on #30
@digitaldan When someone makes a PR with different build flavors for foss and non-foss, is there a chance that it gets merged?

[2017-09-16 18:36] mueller-ma commented on #169
Can you provide on these icons that do not resize correctly?

[2017-09-16 18:40] mueller-ma commented on #260
Did you try to clear the icon cache?

[2017-09-16 20:00] mueller-ma commented on #317
https://github.com/mueller-ma/openhab.android/commit/eabca2e6b2808145428b287e2ec18f1c1c9c78be?diff=unified

The downside of the method is that during the retries only a white screen is shown

[2017-09-17 18:35] SciLor opened #376 "NFC - Group as a Switch - Empty List"
If I am using normal switches for programming a NFC-Tag I can select between ON, OFF and TOGGLE.

When I am using a Group defined as Switch I just get an empty list when long-pressing it.

[2017-09-23 11:21] lolodomo commented on #367
For my information, how do you acceed to the about screen ?

[2017-09-23 14:53] mueller-ma commented on #367
You mean access? Under the three dots menu will be a point "About" in the next version.

[2017-09-23 14:59] lolodomo commented on #367
Ah ok this is not yet available.

[2017-09-23 23:57] heimia commented on #184
Same problem with my openhab2 installation. Using openHAB I get the sitemaps listed. But, if I select one the sitemaps are empty. A look at the https://openhab2.mydomain.com/rest/sitemaps is showing links pointing to https://openhab2/rest/sitemaps/mysitemap. So the "mydomain.com" part is missing.

At the end the question is: How to tell the rest API to use the full domain?

[2017-09-24 00:11] heimia commented on #184
The error in my case was a miscofiguration of my nginx reverse proxy. As described in http://docs.openhab.org/installation/security.html I had to set the following proxy header:
`proxy_set_header X-Real-IP $remote_addr;`

[2017-09-24 11:18] FlorianSW commented on #356
Working on it!

[2017-09-24 12:03] FlorianSW opened #379 "Pressing a notification just opens the openHAB app"
When a notification arrives, it will create a notification element in the notification bar with the message (which is also stripped when it's too long). When the user presses this notification, the only action taken is to open the openHAB app.

Instead of doing that, the openHAB app should be opened with the Notification tab opened by default, or the message should be visible as a full text string

[2017-09-24 13:04] mueller-ma commented on #30
I have started working here: https://github.com/mueller-ma/openhab.android/commits/30-fdroid2
Currently it has two buildflavors, but the maintainence would be horrible because of some hugh clases like MainActivity. Some files like util/AsyncServiceResolver.java contain only a few lines non-foss code for tracking purposes. Can this be removed completly?

[2017-09-24 13:06] grote commented on #30
The PR could factor out the problematic parts into dedicated classes, so changing them in a different flavor would be easier. But this might make it less likely to be accepted by upstream.

[2017-09-26 10:07] DanielMalmgren opened #381 "Support for Android Wear 2.0"
Since upgrading my watch to Wear 2.0 (and thus getting the play store directly in the watch) I have got an item for openHAB in the category "Apps on mobile" in my watch's play store, with a choice to install the app on the watch. However, clicking on install doesn't seem to work, it just says "installing" forever. So there seems to be some kind of support for Wear but it's not really working. Is t

[2017-09-26 10:19] mueller-ma commented on #381
Duplicate of #73

I think we should remove the wear dummy folder to not confuse people

[2017-09-27 18:28] mueller-ma opened #383 "Charts are not themed"
https://github.com/eclipse/smarthome/pull/4291 introduced chart theming and some other stuff for charts.
My plans to implement:

- Chart themes
- Option to set legend to always show/ always hide/ auto
- Tab on chart to toggle legend
- Scale charts according to dpi

[2017-09-29 15:20] mueller-ma commented on #347
I'm working on this.

[2017-09-29 20:56] #121 closed

[2017-09-29 20:57] #362 closed

[2017-09-29 21:13] mueller-ma commented on #383
Started working here: https://github.com/mueller-ma/openhab.android/tree/basic-ui-theme

[2017-09-29 22:40] #367 closed

[2017-09-29 22:50] digitaldan commented on #366
@mueller-ma would you like me to wait for new icons or merge this?

[2017-09-30 05:30] mueller-ma commented on #366
Merge this

[2017-09-30 08:55] mueller-ma opened #385 "FR: Implement broadcast reciever to controll items via Gadgetbridge"
The app https://github.com/Freeyourgadget/Gadgetbridge sends you broadcasts when the button on Mi Band 2 is pressed. the oh app could fetch them and set an item to a specific value. Than a rule on the oh server can listen for this item and do stuff.
The devs of GB say that GB will never have internet permissions and there is no foss tasker alternative, so there is currently no foss app to handle t

[2017-09-30 14:08] mueller-ma commented on #385
https://github.com/mueller-ma/openhab.android/tree/385-gadgetbridge-broadcast

[2017-09-30 17:19] #366 closed

[2017-10-01 10:23] dominicdesu commented on #379
Actually, the notification tab should always be available, whether openHAB is accessed locally or remotely. In the latest app version, it isn't displayed in both cases (see latest comments #253) for me (does it work for you?).
In my opinion, it is therefore not necessary to show a message window, but instead fix #253 and then always go to the notification bar and open the selected notification. I

[2017-10-01 10:28] dominicdesu commented on #356
Related to #253

[2017-10-01 10:46] FlorianSW commented on #379
I know that, I opened a pull request to fix https://github.com/openhab/openhab.android/issues/356 (which was broken by me, sorry for that). However, the behaviour before it was broken was always to show the notifications menu only, if the app is connected to the remote URL, not to the local (as the openHAB itself does not save the notifications, or at least does not provide the same API as openhab

[2017-10-01 10:47] FlorianSW commented on #356
That isn't really related. The current behaviour is "broken", which is a bug. WHat you mean is a suggestion (as tracked in #253). So this issue should only restore the behaviour we'd before, which means "fixing the bug". Afterwards we can move on to your issue :)

[2017-10-01 16:27] maniac103 commented on #379
FWIW, the full text can be shown by applying a BigTextStyle to the notification. Doing that is a good idea in general, I think.

[2017-10-01 16:44] dominicdesu commented on #379
No it wasn't. Before #251 had been merged, notifications were shown both if locally or remotely connected. This was working because the notification tab was always using the remote URL, even if connected locally. In the above mentioned commit this has been changed, so that the notifications are using the local URL if locally connected (which is not working for the reasons you mentioned).

Therefor

[2017-10-01 21:05] mueller-ma commented on #376
Does the group switch have mappings?

[2017-10-02 04:33] SciLor commented on #376
No, those are not necessary, because it is just an on off switch

[2017-10-02 06:06] mueller-ma commented on #376
Can you try to add mappings and see if the list is still empty?

[2017-10-02 09:39] FlorianSW commented on #379
@maniac103 It's already a big text style, however, even that one is limited to 5120 characters, so messages that would be longer would be truncated, too.

@dominicdesu You may be right, however, this should really be discussed in the related issue and not here :]

[2017-10-02 14:53] kaikreuzer opened #392 "Remove "side menu" from the app"
In a rush of adding support for openHAB 2, Victor had introduced the side menu in the app as a first start, which adds "Discovery" and "Binding" menus - the implementation has been left very rudimentary though since then and I doubt that they are being used by anyone.

What is more, to not have such an empty menu with just 2 entries, the sitemaps were added there as well as an alternative way to s

[2017-10-02 16:16] kubawolanin commented on #392
I believe same applies to [openhab.windows](https://github.com/openhab/openhab.windows). @NicoVermeir FYI.

[2017-10-02 16:33] mueller-ma commented on #392
I could move discovery and bindings to the action bar or we move the action bar menu to the side menu.

[2017-10-02 16:37] dominicdesu commented on #379
@FlorianSW in my opinion, part of the commit for the current issue:

is a workaround for the bug described in #253. Therefore I was just hoping the original issue could be fixed instead of adding this workaround (because I want the notifications bar back 😃). Or is the popup still useful even if #253 is fixed?
Anyway, if it's not that simple to fix #253 the popup is probably a good workaround for n

[2017-10-02 17:56] FlorianSW commented on #379
The current dialog is only 7 lines of code, and not so complex code, too. Fixing #253 may be more complex (or may not be more complex), however, it would add complexity to this PR, and I would like to keep it as isolated as possible and fix the issue described in #253 in another PR :)

And, the dialog has the benfit, that the user gets a dialog box with the full message text of the message he sele

[2017-10-02 18:56] dominicdesu commented on #379
Sounds great, thanks!

[2017-10-03 10:46] SciLor commented on #376
Then it works fine, but then the Style of the Slider changes. So this workaround wouldn't be usable.

[2017-10-03 11:22] mueller-ma commented on #376
I dont have a device with nfc, but I can try to help to fix it. Can you check if is the same behavior for items and groups?

[2017-10-03 11:40] SciLor commented on #376
With switches it works fine (on/off/toggle). With a group as switch, nothing is shown on long press, but on/off works. Toggle doesn't react and throws that error I mentioned.

Or did you mean something differend?

[2017-10-03 11:44] mueller-ma commented on #376
When I upload a possible fix can you built it yourself and test it?

[2017-10-03 11:55] mueller-ma commented on #376
Fix might be this: https://github.com/mueller-ma/openhab.android/commit/545764b9e56f5235a5de9a5418f7de3ce04898c6
Now I can select between On, Off and toggle on group switches

[2017-10-03 12:18] SciLor commented on #376
I have no build env here for openhab / android.
The question is, what does habdroid with the toggle command. If it is just routing it to openhab, I may not work.

[2017-10-03 12:38] mueller-ma commented on #376
[mobile-debug.zip](https://github.com/openhab/openhab.android/files/1352250/mobile-debug.zip)

[2017-10-07 19:04] mspoorendonk opened #395 "Scrollbar in dropdown jumps back to top when another item receives an update"
I have a color picker item and a dropdown item on the same sitemap Frame. The dropdown has about 20 items causing a scrollbar to appear in the dropdown. The colorpicker item receives frequent updates (every 2 seconds due to color sequencing). At every update of the colorpicker the scrollbar of the dropdown jumps back to the top, making it impossible to select the lasts items of the dropdown.

The

[2017-10-07 23:34] mueller-ma commented on #395
The dropdown will be replaced by a pop up dialog in the next version.

[2017-10-08 15:00] ramack commented on #30
It would be really great to see a free version of Openhab.Android available on f-droid! Thanks for all the effort you put in!

[2017-10-08 16:04] #307 closed

[2017-10-08 16:20] #356 closed

[2017-10-08 16:29] #379 closed

[2017-10-08 18:53] mueller-ma commented on #381
@DanielMalmgren Please close this issue

[2017-10-08 20:32] #286 closed

[2017-10-08 23:29] digitaldan opened #396 "Bad Chart URL request crashing app"
We are seeing an increase in crashes do to a malformed URL, which looks like it's trying to load up the end of a chart URL.  Just in the last Month we have had more than 1000 crashes, all look identical.  This would be easy to catch and protect against a crash, but I also wonder why we have so many broken chart URL requests, sounds like there's an issue somewhere else?  @mueller-ma , @FlorianSW  d

[2017-10-08 23:29] digitaldan commented on #396
@kaikreuzer this is the increase in the number of crashes we discussed.

[2017-10-09 02:30] #381 closed

[2017-10-09 14:25] mueller-ma commented on #396
Are different Android version involved?

[2017-10-09 14:34] digitaldan opened #399 "App crash in OpenHABFragmentPagerAdapter"
This has happened almost 600 times in last month
[code]

[2017-10-09 14:39] mueller-ma commented on #396
https://github.com/openhab/openhab.android/blob/master/mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java#L494

If chartItem is null here, than it crashed.

[2017-10-09 14:55] digitaldan commented on #396
Its happening to all version of android.  @mueller it does look like chartURI was empty here https://github.com/openhab/openhab.android/blob/master/mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java#L529  and so we have a bad URL.  This should not be to tough to fix, if the chart item is null, we should not be trying to retrieve a chart!

[2017-10-09 15:51] #396 closed

[2017-10-09 16:45] mueller-ma commented on #184
@Djaber19 Can you provide a log via logcat?

[2017-10-09 16:57] mueller-ma commented on #196
https://github.com/openhab/openhab.android/blob/master/mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWriteTagActivity.java#L121

Why does it crash on length() and not on startsWith("/rest/sitemaps") one line above?

[2017-10-09 17:03] maniac103 commented on #196
It crashes in line 119, not 121, so it looks like sitemapPage is null.

[2017-10-09 17:07] mueller-ma commented on #383
Fix in #386

[2017-10-09 17:07] #383 closed

[2017-10-09 17:09] mueller-ma commented on #196
Ok, I was confused by `Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference`

[2017-10-10 20:04] lolodomo opened #402 "Video element: add support for HTTP Live Streaming playlist"
Please add support for HTTP Live Streaming playlist.
As it is working in Chrome on Android, I suppose it could work in the app too.
You can see how it was easy to update Basic UI and Classic UI: https://github.com/eclipse/smarthome/pull/4386
The general idea is to bypass the proxying and to use a particular media type.

[2017-10-11 14:55] mueller-ma opened #403 "Icon of beta version should contain a badge with "beta""
The icon of the beta version should contain a badge with "beta".

----------
Previous post:
Hey,
it is possible and sometimes very usefull to distribute a beta version on play store, e.g. when a user, who reported a bug, should try a possible fix and doesn't have a building enviroment.

[2017-10-11 15:40] mueller-ma commented on #402
This line adds the URL to the player: https://github.com/openhab/openhab.android/blob/master/mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java#L554

It adds http://openhab/proxy?sitemap=test.sitemap&widgetId=0100 which returns (in FF)
`Invalid URL
The requested URL "[no URL]", is invalid.`

But when I hardcode on of the URLs you mentioned [here](https://github.com/eclipse/smar

[2017-10-11 18:16] lolodomo commented on #402
Very exciting to know that it can work.
Remains to analyze how is built the object openHABWidget by the Android app and to patch it.
Sorry I really don't know the app source code and can't help immediately.

[2017-10-11 18:28] mueller-ma commented on #402
It just opens the URL it gets from the rest api

[2017-10-11 18:35] lolodomo commented on #402
The sitemap REST API ?
In this case, I could probably have a look myself. More and more exciting lol

[2017-10-11 18:48] lolodomo commented on #402
This would be code here:  https://github.com/eclipse/smarthome/blob/master/bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/SitemapResource.java#L478

[2017-10-12 07:45] mueller-ma commented on #402
How does the basic ui access videos? Directly or through oh proxy?

[2017-10-12 17:08] FlorianSW commented on #392
I kind of like the navigation drawer, because it's a more intuitive way for navigating _thorugh_ the app (e.g. the settings menu should be there, too, as well as the "About", I think). The toolbar menu, for me, is more something which should contain contextual menu items, which only applies and are only available for the current activity/fragment.

Also, just to mention: If we ever implement, in o

[2017-10-12 17:10] mueller-ma commented on #392
Could we move "Clear icon cache" and "Write nfc tag" to settings and merge "About" and "openHAB info"?

[2017-10-12 18:26] mueller-ma commented on #395
I have opened a selection item, scrolled to the bottom and changed the state of a switch item that is on the same sitemap via basic ui. The switch item gets updated, but the selection popup doesn't jump back to the top. You can see a screenshot of the popup in #393

[2017-10-12 18:30] lolodomo commented on #402
Basic UI is using the proxy except when encoding is set to HLS.
I think there is 2 changes to apply:
* in the REST API, set url to the default URL defined in the sitemap **but only when encoding is set to HLS**.
* in openHAB app, consider the special case with encoding set to HLS: in this case, use value from item if defined or the value from url if not

On my side, I can change the REST API.

[2017-10-12 18:36] mueller-ma commented on #402
When we can get the configured url from the rest api, I can change the android app.

[2017-10-12 18:56] lolodomo commented on #402
I submitted the PR for the REST API change: https://github.com/eclipse/smarthome/pull/4412
With this change, the example with `Video url="https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8" encoding="HLS"` is now working in current openHAB app.
As previously explained, a change is still required to consider the case the URL is provided through a

[2017-10-13 09:53] mueller-ma commented on #402
Does oh 2.1 support item in a video element? I'm getting the following error:

Items:
`String test_video "Video" <mediacontrol>`

Sitemap:
`Video item=test_video`

Error:
`[WARN ] [el.core.internal.ModelRepositoryImpl] - Configuration model 'test.sitemap' has errors, therefore ignoring it: [42,5]: rule ruleVideo failed predicate: {getUnorderedGroupHelper().canLeave(grammarAccess.getVideoAccess().g

[2017-10-13 10:00] mueller-ma commented on #324
When using nested frames I get following errror message in the oh server log file, so this is intended not to work.

[2017-10-13 10:00] #324 closed

[2017-10-13 10:17] lolodomo commented on #402
The url= is mandatory in the video element and must contain a default url in case the item is not set.

[2017-10-13 17:22] lolodomo commented on #402
For information, if I try `Video url="http://www.openhab.org/assets/smarthome.mp4"`, the video is not rendered in app. In this case, the URL uses the proxy.
Note that it is working in Basic UI.
Could it be due to incompatibility of the Android media player with MP4 files ?
I have not tried to disable the proxy to check if it helps but I will do.

[2017-10-13 17:32] lolodomo commented on #402
If I disable the proxying, the video is rendered. It looks like the proxying generates problems with the openHAB app. I don't really know why it is done lkie that (proxy) and if it makes sense for video.

[2017-10-14 07:35] lolodomo commented on #402
@kaikreuzer : can you please remind us why we are proxying all images and videos ? It seems to be the source of problems...

[2017-10-14 09:14] lolodomo commented on #263
For information, testing again the Sonos binding with tune-in, Spotify, Amazon music and my personal library, I was not able to reproduce the problem in the openHAB app.
Sonos has probably fixed something (HTTP headers).
Using the channels providing image as URL is a good workaround to the lack of support of image item in openHAB app.

[2017-10-14 09:46] lolodomo commented on #216
Looking at the current code, it looks like it can only work if a URL is provided (SmartImageView). The image is downloaded from this URL.

@kaikreuzer : I was asking myself why we have not updated the proxy to provide image data from image items ? This would require the build of HTTP headers for the response. It would have avoided any specific code in UIs and image items would have been automatica

[2017-10-14 12:40] lolodomo commented on #216
Looking at the code, I have finally the feeling that it could be easily implemented by enhancing the claases MySmartImageView and MyWebImage in order to provide a specific getBitmap method that will simply copy data from the item value.

[2017-10-14 12:51] lolodomo commented on #216
I will install an Android dev env and try myself.

[2017-10-14 16:05] mueller-ma commented on #216
@FriedCircuits While is was working on #402 I found the case sensitive check and made it case insensitive. I will open a PR

[2017-10-14 16:24] mueller-ma opened #406 "FR: Changelog"
A changelog in the app might be a good point to notify the user about new features and fixes.

[2017-10-15 00:12] Dracrius opened #408 "No Light state recognition for Color Items!"
I have colored hue lights that all show the ON version of their icon at all times no matter the brightness or ON/OFF state. Sliders for Color Items also fail to represent the current brightness value as they do in Basic UI on loading of a sitemap with sliders for color items they always show a 0% value. Everything shows as expected through the web version of Basic UI on a pc so I know it is an and

[2017-10-15 05:52] mueller-ma commented on #408
Can you provide the item and sitemap definition? Is this the same than #307 ?

[2017-10-15 07:49] mueller-ma commented on #30
I have created a PR #409. Please review

[2017-10-15 08:40] lolodomo commented on #270
To be closed due to #392.

[2017-10-15 08:47] lolodomo commented on #260
To be closed, the switch icon is working.

[2017-10-15 09:03] MHerbst commented on #260
Forgot about this issue. Is OK now.

[2017-10-15 09:03] #260 closed

[2017-10-15 09:47] mueller-ma opened #410 "Update icon"
OH has a new icon: https://community.openhab.org/t/new-logo-for-openhab/35140

I have made some icons for the android app. Since the icon itself it round, we might want to use round icons for all android versions.

1:
![1](https://user-images.githubusercontent.com/22525368/31583530-1b081066-b19e-11e7-8bdb-5cd3c367bd94.png)
2:
![2](https://user-images.githubusercontent.com/22525368/31583531-1b284db

[2017-10-15 11:38] kubawolanin commented on #410
7 looks awesome :-) Long shadows FTW

[2017-10-15 11:49] mueller-ma commented on #410
My favorites are 3 and 5

[2017-10-15 13:10] Dracrius commented on #408
lights.items
`//Groups

Group:Switch:OR(ON,OFF) All_Lights "All Lights Group"

Group:Switch:OR(ON,OFF) Hallway_Lights "Hallway Lights Group" <hue_white> (All_Lights)
Group:Dimmer:AVG Living_Room_Lights "Living Room Lights Group" <hue_ambiance> (All_Lights) {autoupdate="false"}

Number Living_Room_Brightness <hue_ambiance>

//Dummy Switches

Switch Tasker_Hallway_Lights "Tasker Hallway Lights" <hue

[2017-10-15 13:28] mueller-ma commented on #408
Why do you controll the color item with a slider?

[2017-10-15 13:36] Dracrius commented on #408
Because they are Philips Hue bulbs that I wish to control only the brightness of quick and easy! Now that you mention it this is actually a third bug I hadn't gotten bothered by yet being to distracted by the others. Both of my Color items do not show proper values on their sliders either while again if I check through the web UI with a PC the Slider represents each rooms brightness as expected!

[2017-10-15 13:46] kvoit commented on #392
I guess I was "lead to believe I could use sitemaps as navigational elements", though I also do that in the web UI.
So what is the indented way?

[2017-10-15 13:47] mueller-ma commented on #408
Whats the item that makes problems?

[2017-10-15 13:54] Dracrius commented on #408
Both Color items never show a proper dynamic icon. They should show an icon that represents their current brightness, sliders for these items do control brightness but never show a state other then 0%.

Any Dimmer group I have ever made fails to adhear to the autoupdate=false which should prevent brightness sliders showing 100% because an ON command was sent!

[2017-10-15 14:28] Dracrius commented on #408
Here's that sitemap in firefox
![pc basic ui](https://user-images.githubusercontent.com/26284634/31585617-17d6309c-b19b-11e7-96f3-23660a4e4fbc.png)

Here it is on Android
![screenshot_20171015-111715](https://user-images.githubusercontent.com/26284634/31585621-253952dc-b19b-11e7-985e-3b7f273f9bd0.png)

Here's what the main page looks like all lights off - the color lights should show the same as "

[2017-10-15 14:52] mueller-ma commented on #408
Can you upload the icons?

[2017-10-15 14:55] Dracrius commented on #408
Yep sure here you go.
[hue_color.zip](https://github.com/openhab/openhab.android/files/1385530/hue_color.zip)

[2017-10-15 15:07] mueller-ma commented on #392
Sitemaps are not intended for navigation. You can create mutliple sitemaps for different people, devices or for testing.

[2017-10-15 15:43] mueller-ma commented on #408
Do you have a bulid env? Or can I upload a apk with a fix and you try it?

[2017-10-15 15:44] mueller-ma commented on #408
That doesn't seem to be related to the app. Please open an issue [here](https://github.com/eclipse/smarthome).

[2017-10-15 15:46] mueller-ma commented on #408
That should fix it: https://github.com/mueller-ma/openhab.android/commit/65ca5593a22d716a9ad7f340d3da9bc4f07c88e1

[2017-10-15 15:47] Dracrius commented on #408
I do not have a build env but id be happy to try an apk! Also on the dimner group issue the disapeared this morning i thing a restart of sonething fixed it so i edited it out of my post my apologies

[2017-10-15 17:33] mueller-ma commented on #408
Please test: [mobile-debug.zip](https://github.com/openhab/openhab.android/files/1385633/mobile-debug.zip)

[2017-10-15 18:08] Dracrius commented on #408
Unfortunatly that doesn't appear to have changed anything the icons for the switch and sliders still show incorrectly for those color items. The sliders also still do not show the current brightness for my color items.

[2017-10-15 18:23] mueller-ma commented on #408
It seems to work for me:
![screenshot_2017-10-15-20-21-48](https://user-images.githubusercontent.com/22525368/31587690-5b04795a-b1e6-11e7-8705-7371fdc93ed9.png)
![screenshot_2017-10-15-20-21-52](https://user-images.githubusercontent.com/22525368/31587691-5b29e1ae-b1e6-11e7-840b-c1aad394624b.png)

Items:
`Color test_color "Color" <hue_color>`

Sitemap:
[code]

[2017-10-15 18:25] mueller-ma commented on #408
Please log in to your oh server and enter:
ssh openhab@localhost -p 8101
habopen
smarthome:status Hue_Bedroom_Light

Than change Hue_Bedroom_Light with the slider to zero and enter again that command, than the same with 100% and post the output here

[2017-10-15 18:56] mueller-ma commented on #408
I forgot the switches. Please try again: [mobile-debug.zip](https://github.com/openhab/openhab.android/files/1385712/mobile-debug.zip)

[2017-10-15 19:44] Dracrius commented on #408
If I install that over my existing install it appears to change nothing. If i uninstall and then install your package after setting up my openhabs address the app asks me to pick a sitemap then the app crashes. When I attempted it again after unistalling again if I didnt pick a sitemap it will load home and show my items but when I select either of my sitemaps from the side menu the app crashes. B

[2017-10-15 19:53] Dracrius commented on #408
Would you still like me to log into my server a record the results of those commands?

[2017-10-16 01:13] nbmaltais commented on #257
Is someone working on this? I think it would be a great idea.

[2017-10-16 04:50] mueller-ma commented on #408
Can you post the log of the app?

[2017-10-16 06:56] kubawolanin commented on #257
@nbmaltais I think no one is working on this yet.

[2017-10-16 07:18] lolodomo commented on #402
@mueller-ma  :  I have now an Android dev env, I can work on this one if you like.

[2017-10-16 09:26] mueller-ma commented on #402
Sure, if you want.

[2017-10-16 09:27] mueller-ma commented on #257
Can tasker send and receive android broadcasts?

[2017-10-16 09:51] mueller-ma commented on #408
The results would be good, too.

[2017-10-16 13:39] kaikreuzer commented on #410
Mine is 3 - I think we should go for a round one as this is hip these days for Android apps :-)

[2017-10-16 13:44] digitaldan commented on #410
Nice! lets do 3

[2017-10-16 13:50] digitaldan opened #411 "Replace Apteligent crash reporting with Crashlytics"
Googles preferred (and free )crash reporting for android and IOS

https://fabric.io/kits/android/crashlytics/summary?ref=fb

[2017-10-16 13:53] mueller-ma commented on #411
Free = no cost != free license?

[2017-10-16 13:54] jmvaz commented on #410
Not a big fan of this new logo… Thinking that this logo will be used on mobile apps, at first sight I cannot recognize what this app really does… this will lead to one usability problem... but is just my opinion...

My vote 3 or 7

[2017-10-16 14:13] mueller-ma commented on #408
I have build a version from the current master branch, to see if the crash is related to my lastest fix: [mobile-debug.zip](https://github.com/openhab/openhab.android/files/1387746/mobile-debug.zip)

[2017-10-16 14:54] Dracrius commented on #408
Ill do some try your newest version, run some logs and post them as soon as I get home from work! Thanks for the help

[2017-10-16 15:04] ThomDietrich commented on #410
I'm surprised by this issue. Wasn't the idea to have one designer provide all needed icons and then stick with those to establish a consistent styling throughout all openHAB parts? If we start to create our own variations now, disaster is inevitable...
For example: The main design consists of a gray circle and the orange triangle. Designs 6 to 10 break with that and the shadow introduced (as nice

[2017-10-16 18:00] kaikreuzer commented on #410
@ThomDietrich I agree with you and that's why I voted for 3 as this is what came out from the logo design - the logo on a white circular background. Android and iOS have some specifics on the exact shape, resolution and use of shadows, though, which isn't yet created - this is something I am handing over to @digitaldan as he planned to do new app releases soon.

I think @mueller-ma suggestions are

[2017-10-16 18:21] lolodomo commented on #402
@mueller-ma : I have a first and stupid problem. My Android emulator is running openHAB app but is unable to connect to any openHAB server on my local network. I just read that the emulator is in fact hidden behind a firewall. Can you please explain what I have to do to connect to any local openHAB server, like the server I am running from Eclipse ?

[2017-10-16 18:35] mueller-ma commented on #402
I have the same problem, but mostly I use my physical tablet to run apps.

[2017-10-16 18:39] mueller-ma commented on #410
It doesn't really matter if @digitaldan or me makes the PR, that changes the icon. It will only be visible to the user, when Dan uploads a new version.

No shaddow at all:
![11](https://user-images.githubusercontent.com/22525368/31628715-dc4f08b0-b2b1-11e7-8162-db6339414962.png)
"Elevate" shaddow:
![12](https://user-images.githubusercontent.com/22525368/31628716-dc6fbd26-b2b1-11e7-91a3-af45b484b4e

[2017-10-16 19:28] lolodomo commented on #402
@digitaldan :  what's your solution ?

If I use my tablet, the dev app will be installed on my tablet and replace the app installed from the Hoogle store?

[2017-10-16 22:08] digitaldan commented on #411
Apteligent has switched to a pay only license that is not in our budget, so we need look at other alternatives.   Googles acquisition  of fabric.io, and subsequent changing it to a free service seems very appealing.

[2017-10-16 22:24] Dracrius commented on #408
[code]
That's the status of Hue_Bedroom_Light at what I had it set to, all the way to the left/0%, and finally all the way to the right/100% as requested I used Basic UI through Firefox! I'll now switch to my phone and post the logs from the app crash and attempt the master as well.

[2017-10-16 22:47] Dracrius commented on #408
I apologize I can not figure out where to find a log or how to create one. I googled where android apps keep crash logs and people suggested alogcat but that doesn't seem to pick up anything when I set up the apk with your fix, select my sitemap and it crashes.  I did then uninstall the "patched" one and used the "Master" apk you just posted and I can setup and select my sitemap normally without a

[2017-10-16 22:57] kaikreuzer commented on #410
Thanks - we should go for no shadows as this is how we use the logo at all other places as well.

[2017-10-17 04:13] mueller-ma commented on #402
Yes

[2017-10-17 04:44] mueller-ma commented on #408
Good news! I will have a closer look to my changes.

[2017-10-17 04:45] mueller-ma commented on #410
Ok, I will update the pr.

[2017-10-17 07:15] lolodomo commented on #402
REST API change is now merged.

[2017-10-17 07:20] lolodomo commented on #402
Would it be possible to get short explanations on how the app is handling wiidget updates and where is the entry point in the code for the handling of these update events ? Is SSE used ?

[2017-10-17 13:32] mueller-ma commented on #408
You could install android studio, adb drivers and open the "Android Monitor" tab.

[2017-10-17 13:35] jmvaz commented on #342
I can contribute with PT-PT language.

[2017-10-17 13:49] mueller-ma commented on #402
I don't know it either, but you could start with OpenHABWidgetListFragment line 306

[2017-10-17 13:55] lolodomo commented on #402
I want to understand how is worling the app and how the update from server are handled.

[2017-10-17 14:19] mueller-ma commented on #342
You can fork the repository, copy the file mobile/src/main/res/values/strings.xml to mobile/src/main/res/values-pt/strings.xml, remove all lines with "translatable=false" and translate the other lines. Than open a PR.

[2017-10-17 18:47] Dracrius commented on #408
Ok here's what I think is everything related to the crash caught by Android Studios Logcat. This is after an uninstall of "Master" and a fresh install of the 2nd "Patched" apk.
[code]

[2017-10-17 19:28] mueller-ma commented on #408
Hope this fixes it: [mobile-debug.zip](https://github.com/openhab/openhab.android/files/1392340/mobile-debug.zip)

[2017-10-17 19:38] Dracrius commented on #408
No problem thank you for this it seems to being a bugger. That last one also crashes at the same spot
[code]

[2017-10-18 07:31] lolodomo commented on #402
The REST API fix is now available in all OH snapshots.

[2017-10-18 14:24] mueller-ma commented on #408
Crash and color switches fixed: [mobile-debug.zip](https://github.com/openhab/openhab.android/files/1394946/mobile-debug.zip)
Code for all apks in this issue: https://github.com/mueller-ma/openhab.android/tree/408-color-slider

[2017-10-18 16:45] kabili207 commented on #410
Since we're updating the icon, should we also consider supporting the adaptive icons that Google introduced with API 26? https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html

[2017-10-18 17:03] mueller-ma commented on #410
Some work need to be done, when we target 26. I heard, that it is possible to compile with 26, but still target 25. Someone with an android 8 device needs to test it.

[2017-10-18 18:22] Dracrius commented on #408
Victory! No crashes, my colored light's icons now show their current state, and their sliders also show the appropriate brightness. Thank you all your work is much appreciated!

[2017-10-18 19:13] mueller-ma commented on #408
Great. I will submit a PR

[2017-10-18 20:04] Dracrius commented on #408
Unfortunately I've found an unexpected side effect. Many other icons are failing to update now. I noticed it in my Switch Status sitemap right away as you will see in my pictures. The first is with the latest patch the second is with the "Master" apk. I checked my status sitemap because the first icons I noticed were my groups which were off but showing ON icons (3rd pic).

Last Fix
![screenshot_2

[2017-10-18 22:21] lolodomo commented on #216
I was able to make it work.
For testing, I finally used the Android emulator and I connected to my server using myopenhab.
Unfortunately, the refresh of the image is not always working. I can see that the code is called but the image remains sometimes unchanged. When it happens, if I reopen the page, the image displayed is the one expected.
I hope that it is not a problem with the emulator...
I by

[2017-10-19 04:18] mueller-ma commented on #216
Can you upload your code?

[2017-10-19 13:29] Dracrius commented on #216
What is the issue here? I use image items in my sitemap right now! only thing I found is that I have to use the png setting for icons instead of svg otherwise the app doesn't load my image item. But with png icons it displays as it does in basic UI! I think the problem may be simpler then you realize or I just can't tell from these posts how image items arn't working atm.

Code from my sitemap
[co

[2017-10-19 14:22] mueller-ma commented on #216
Should be fixed in #372

[2017-10-19 14:43] Dracrius commented on #216
So what is this about does openhab actually support an Image item definition in a .item file? I ask because I would of used such an item if it was listed in the Openhab docs but it wasn't last time I checked!

[2017-10-19 14:54] mueller-ma commented on #408
I suggest to shut down Glados ASAP! :)
I just discovered that basic ui fetches the icon states ON and OFF for the switches, so I changed that in the app.
[mobile-debug.zip](https://github.com/openhab/openhab.android/files/1398852/mobile-debug.zip)

[2017-10-19 15:16] Dracrius commented on #408
Haha yes I have a little fun when I name my devices every one is a different robot!

Perfect that does now work consistently for all switches! I will note though that how the app use to get icon state was better then how basic UI/that fix does. I'll post a screenshot of the app as it is now and you can compare it to that last screen shot an see what I mean. The android app use to show an icon repr

[2017-10-19 15:17] lolodomo commented on #216
Subject is the support of items of type Image, something missing until I created my PR.

[2017-10-19 15:21] lolodomo commented on #216
Subject is the support of items of type Image, something missing until I created my PR.

[2017-10-19 18:43] lolodomo commented on #216
Good news: in fact, it is working well but I have to be patient and it takes sometimes more time for the image to be refreshed. Maybe it is due to emulator + the remote access through myopenhab.org.
Addtionally, my page contains several data like cover art, title, album and much more. I can see that showPage is called several times and so the REST API for the page is called several times. The firs

[2017-10-19 19:02] mueller-ma commented on #410
With the dark themes the circle is hardly visible. Maybe we should use the icon with the white background everywhere in the app?

![screenshot_20171019-205958](https://user-images.githubusercontent.com/22525368/31788947-b46d6dd0-b510-11e7-9360-a60b2f9f25e3.png)

[2017-10-19 20:06] Dracrius commented on #408
Does that commit mean you only plan to leave it as is? I honestly think it is 10x better to show the actual state of the item with the dynamic icons. If a dimmer or color item has a switch that switch should not be limited to only the ON or OFF info it is given it should be able to show the brightness value as well in form of the dynamic icons it just makes a far better finish product.

[2017-10-19 21:06] lolodomo opened #416 "Several entries in double in strings.xml for German"
minus, plus, main_menu, ...

[2017-10-19 21:26] lolodomo opened #417 "Video not played if HTTP URL is used for video and HTTPS is used to connect to server"
Imagine this entry in your sitemap (available in demo sitemap):
[code]
The video is played only if the Android app is setup to connect to server with HTTP. If HTTPS is setup, the video is not played.
As a reminder, in such a case the used URL is either a HTTP or HTTPS URL to the OH proxy. Proxying HTTP URL into HTTPS seems to be a problem for openHAB app.
PS: no such problem in Basic UI.

[2017-10-20 04:13] mueller-ma commented on #408
I agree, I dont like this behavior either, but I hadnt time to ask in esh if that is intentional.

[2017-10-20 09:30] mueller-ma commented on #416
In https://github.com/openhab/openhab.android/pull/391/files#diff-5ca5147a9754be194f0298defed14367L111

[2017-10-20 09:58] mueller-ma commented on #376
@SciLor Any updates?

[2017-10-20 10:02] mueller-ma commented on #345
@kabili207 Do you have an Android 8 device?

[2017-10-20 10:50] kabili207 commented on #345
Yes, I do.

[2017-10-20 11:04] mueller-ma commented on #345
Can you try [mobile-debug.zip](https://github.com/openhab/openhab.android/files/1401684/mobile-debug.zip)?
Adaptive icons doesn't seem to work in the emulator and I dont have a physical device.

[2017-10-20 11:09] mueller-ma commented on #345
This one is complied with api 26: [mobile-debug.zip](https://github.com/openhab/openhab.android/files/1401692/mobile-debug.zip)

[2017-10-20 11:20] kabili207 commented on #345
Works nicely, although I can see black corners when using a square mask.
If you're having issues with the emular, try using the adaptive icon playground app. https://github.com/nickbutcher/AdaptiveIconPlayground

Surprisingly, the fist apk worked just fine as well, even though it was targeted for API 25.

![screenshot_20171020-071430](https://user-images.githubusercontent.com/1270500/31818625-eeb8

[2017-10-20 11:31] mueller-ma commented on #345
The foreground icon is way to large. @kaikreuzer can you upload the icon as svg?

[2017-10-20 11:35] kabili207 commented on #345
Ah, that would make sense. I forgot the was a ring around it.

[2017-10-20 12:47] lolodomo commented on #416
Note that I mentioned this error as I got a compilation error when I try to run the application.

[2017-10-20 12:51] lolodomo commented on #402
Please note I opened issue #417 for the problem with the display of the file smarthome.mp4.

[2017-10-20 18:04] lolodomo commented on #274
I cannot reproduce this issue, I am able to display several videos in the same page.
Here is my sitemap examples with 2 videos (in fact I just updated the demo sitemap):
[code]
I think your problem is in fact the issue #417. If I connect to the server in HTTPS, no of these videos are rendered, if I connect to the server in HTTP, the two videos are rendered.
@digitaldan : please close this issue.
@

[2017-10-20 18:14] lolodomo commented on #63
@eluder87 @xsnrg : I know your bug report is very old but I am very new in openHAB app dev. Could you please check what happens if you connect from the app to the OH server using HTTP rather than HTTPS. Does it help to render the video ?

[2017-10-20 18:22] lolodomo commented on #116
@digitaldan : this issue can be closed as a fix has apparently been merged ?

[2017-10-20 19:22] mueller-ma opened #420 "Crash when chart refresh too low"
I set the refresh to 10, no chart was shown and the app crashed after some time.
Version 1.8.0.8

[2017-10-21 09:37] lolodomo commented on #420
You are crazy to use such a small refresh frequency (10 ms) ;)
In Basic UI, we have considered a minimum value of 100 ms.
This should be considered in method https://github.com/openhab/openhab.android/blob/master/mobile/src/main/java/org/openhab/habdroid/util/MySmartImageView.java#L92
Minimal value should be adjusted after some testing. Maybe 100 ms is even too small.

[2017-10-21 10:13] lolodomo commented on #351
Is it only happening when you use certain bindings or for any switch ?
Please provide an example of sitemap where you have the problem.

[2017-10-21 10:16] lolodomo commented on #351
Do you have your items in a frame that is inside another frame ? I think there is a problem in such a case and items are not refreshed in this case. I will create an issue if I can reproduce.

[2017-10-21 10:29] lolodomo commented on #351
Frame in frame is not valid but supported by few UIs. It  is not (more or less) ignored by the openHAB app. So the problem is not on this side for you.
I try to reproduce using the demo sitemap and the item DemoSwitch and everything is immediately refreshed in the openHAB app when I update the switch in Basic UI.
So your problem seems to be a specific problem and not a general problem. You will ha

[2017-10-21 10:44] lolodomo commented on #327
I will fix this issue.

[2017-10-21 11:08] lolodomo commented on #327
Fix is now in the review process.

[2017-10-21 11:37] lolodomo commented on #290
The problem is that the android spinner requires a selection.
We could add a blank entry and select it if no mapping is found.
WDYT ?

[2017-10-21 11:44] lolodomo commented on #233
The basic UI uses something similar to the Classic UI. I agree with @Gibber that it would be better to have something similar to other UIs.
@digitaldan : can we decide to change that ?

[2017-10-21 12:03] mueller-ma commented on #351
Nested frames produce a warning in the oh log, so I think it's not supported.

[2017-10-21 12:06] mueller-ma commented on #290
I dont think its a good idea. It would confuse people, when there is a blank entry that doesnt do anything.

[2017-10-21 12:12] lolodomo commented on #290
And what about a first entry "Please select..." that will be selected in case of no matching ?
What would be your proposal ?

[2017-10-21 12:27] lolodomo commented on #233
Note that we have already the expected rendering with TYPE_SECTIONSWITCH with the state value displayed just at right of the buttons.

[2017-10-21 12:30] boc-tothefuture commented on #290
Let me know if I should open up a separate issue for this.... However, while the selection is being fixed can we also right justify all selections?  Otherwise things don't line up right in android.  See this screenshot.

![screenshot_20171021-082731](https://user-images.githubusercontent.com/13153815/31851753-11f2e35c-b63a-11e7-9f48-ea3a91b80866.png)

I can open another issue if that is preferred.

[2017-10-21 13:10] lolodomo commented on #416
It is apparently fixed after the recent changes in the master branch.

[2017-10-21 13:10] #416 closed

[2017-10-22 08:36] mueller-ma commented on #351
I have a minimal delay (~0.5 sec) between basic ui and app, when I change the state via karaf console.

[2017-10-22 11:32] lolodomo opened #423 "Selection box: selected item not emphased"
With the current master branch, selecting a selection opens a sub-window in which you can select your value. There is nothing that shows what is the current selection. I see there is some code for that so I assume there is a bug in the code.

[2017-10-22 14:26] mueller-ma commented on #423
I also have thought about this, but I couldn't find a way to tell which value is the current one.

[2017-10-27 16:53] mueller-ma opened #426 "FR: Display habpanel"
This app has some features for wallmounted tablets, e.g. wakelock and full screen. Do you think it might be good to have a webview, that displays habpanel and make profit of these features?

[2017-10-28 04:05] holmes opened #428 "Use Kotlin?"
Hi all,

What are the thoughts on using Kotlin in this app? I've got a few things that I'd like to contribute, and I'm a big fan of Kotlin. Would love to use it on the new features.

Thoughts?

[2017-10-28 07:53] mueller-ma commented on #428
Hey @holmes,

I just have read some articles about the advantages of Kotlin and it looks very nice. Adding kotlin support can be done by Android Studio automaticly and adds 4 lines, so thats not the problem. However I don't know how many people can read/write Kotlin and I don't think its a good idea to mix both languages (not from a technical aspect, but from understanding the code).

About what f

[2017-10-28 08:22] mueller-ma commented on #345
I have created the adaptive icons with the generator in Android Studio. Please test this apk (Complie and target api are 25):
[mobile-debug.zip](https://github.com/openhab/openhab.android/files/1424053/mobile-debug.zip)

[2017-10-28 08:22] #347 closed

[2017-10-28 08:23] mueller-ma commented on #347
Fixed in #389

[2017-10-28 08:50] sansei4 opened #429 "Use a number picker for Setpoint, etc."
![image](https://user-images.githubusercontent.com/7754105/32126569-a57bc328-bb71-11e7-8f71-3c6c40cb613d.png)

Benefits:
- Native behaviour
- No delay - doesn't need to wait for server reply after each state change (sometimes it takes a very long time until it changes, )
- Sometimes the value is not updated at all, only after a screen refresh - i.e. I have to go to the next/previous page and back,

[2017-10-28 09:04] mueller-ma commented on #429
No need to add "#429" to the title.

[2017-10-28 09:11] sansei4 commented on #429
How to set a label?

[2017-10-28 09:12] mueller-ma commented on #429
Labels can only be set by people with write access.

[2017-10-28 13:06] kabili207 commented on #345
I'm not seeing the openhab logo with this build. It's just the default bugdroid head.

[2017-10-28 13:25] mueller-ma commented on #345
Compiled with 26, but targets 25:
[mobile-debug.zip](https://github.com/openhab/openhab.android/files/1424262/mobile-debug.zip)

[2017-10-28 13:29] kabili207 commented on #345
It appears to be showing the icon correctly now, and behaves as it should.

![screenshot_20171028-092748](https://user-images.githubusercontent.com/1270500/32134774-507f00fa-bbc2-11e7-9c5c-e562b5af9f85.png)

[2017-10-28 13:30] mueller-ma commented on #345
Great. Do you have openHAB cloud and can test if notifications still work?

[2017-10-28 13:44] kabili207 commented on #345
I do have openHAB cloud, but I never set up any notifications since I haven't had any need for them. If you give me a while, though, I can set up some to test with.

[2017-10-28 13:50] mueller-ma commented on #345
Here is the source code of the apk: https://github.com/mueller-ma/openhab.android/tree/410-icon3

[2017-10-28 17:07] kubawolanin commented on #426
There's a project of a community member called [HABPanelViewer](https://community.openhab.org/t/habpanelviewer/34112).
@vbier what are your thoughts on that? Maybe you'd like to jump on board and incorporate your code in existing official app?
Note that I have next to none experience with Android development so I have no idea how feasible it is at current state of both projects ;-)

Regardless of

[2017-10-28 17:12] FlorianSW commented on #253
Working on it.

[2017-10-28 17:14] kubawolanin commented on #257
@mueller-ma sorry for late response. On the [Tasker docs page](http://tasker.dinglisch.net/plugins.html) there are some references to `BroadcastReceiver`. It doesn't tell me much though 😉

[Here's some introduction](http://tasker.dinglisch.net/plugins-intro.html) on Tasker plugin development.

Would you give it a try? Would be awesome!

Cheers

[2017-10-28 20:20] Seb-Maier commented on #38
Yes, I think so. myopenhab also works when I'm not at home and has WLAN access. Only mobile access doesn't work...

I have to ignore the SSL certifications. Otherwise I get the error message "SSL Handshake fehlgeschlagen - Sie brauchen vielleicht ein gültiges Client Zertifikat" (...you need a valid client certification)

I create a certification with...
`sudo openssl req -x509 -nodes -days 365 -ne

[2017-10-28 20:59] mueller-ma commented on #38
Do you have some kind of firewall?

[2017-10-28 21:34] #216 closed

[2017-10-28 21:37] #402 closed

[2017-10-28 21:37] #410 closed

[2017-10-28 22:04] #327 closed

[2017-10-28 22:06] mueller-ma commented on #216
@Dracrius How did you change the background?

[2017-10-28 22:25] FlorianSW commented on #392
Even if it is not intended for navigation, I think, even for the "intended" usage of sitemaps, having a setting to select the sitemap is way too complicated. Having it in the navigation drawer is, by definition, a good practive, as it allows the user to navigate through different destinations of the app. However, selecting the default sitemap can maybe be moved to the settings menu, though, even i

[2017-10-29 02:37] holmes commented on #428
As to features: the first one I'd like to add is [App Shortcuts](https://developer.android.com/guide/topics/ui/shortcuts.html) for the various sitemaps.

As to Kotlin: I use it professionally in a mixed Java/Kotlin environment and it works great. Kotlin is a great future and I think you'll find a lot of developers would like to work with it. Especially those that don't get a chance to do it in the

[2017-10-29 08:55] lolodomo commented on #290
Now that the issue #327 is fixed, it seems more urgent to fix this issue as now there is no more a double information that can help him to understand that the selected item list is wrong.
Can we try to converge to a technical solution ?

[2017-10-29 10:21] mueller-ma commented on #428
Please have a look at #392. Sitemaps are not ment to be a navigation elemtent.
Also look at #334 for a better usage of shortcuts.

@digitaldan Whats your opinion on Kotlin?

[2017-10-29 10:34] mueller-ma commented on #392
I think it is used once to "connect" nfc tag and item, but not used regularly.

The app https://github.com/grote/Transportr has a very nice about screen:
![screenshot_20171029-103411](https://user-images.githubusercontent.com/22525368/32142679-79bf3220-bc9c-11e7-9113-b309e02f4b34.png)
![screenshot_20171029-103427](https://user-images.githubusercontent.com/22525368/32142680-79e08560-bc9c-11e7-97de-

[2017-10-29 13:05] FlorianSW commented on #392
Two screenshots from PR #433:

![screenshot_20171029-140427](https://user-images.githubusercontent.com/4892966/32143980-28361700-bcb2-11e7-9d35-4fdf2610ae07.png)
![screenshot_20171029-140429](https://user-images.githubusercontent.com/4892966/32143981-2853dbd2-bcb2-11e7-90c3-a4fd1a0ac656.png)

[2017-10-29 18:12] Dracrius commented on #216
@mueller-ma It's because I'm on Cyanogenmod and use their Theme Engine and a transparent theme. It works for pretty much any app that doesn't implement it's own backgrounds.

[2017-10-29 18:17] Dracrius commented on #408
We seem to have gotten no headway on the smarthome side any chance you'd be willing to keep with the previous implementation so we can keep the android app looking more dynamic? I know this means solving the bug that did come up during testing before switching methods but I am more then willing to continue to test for you especially if it means we get to keep the android app's icons dynamically re

[2017-10-29 18:29] mueller-ma commented on #408
I understand your point, but I don't want to introduce different behavior in app and basic ui.

[2017-10-29 18:35] Dracrius commented on #408
Would you be willing to make the fix there as well? I appologize that my coding skills are to rudimentry to jump on this and it only appears to be a lack of willingness to do the work intailed which I guess I understand but breaks my heart seeing as most people still see my point =[. Id be more then willing to test like crazy and or help with some tutoring as I do know the basics of java but just

[2017-10-29 18:40] Dracrius commented on #408
No one on smarthome said it was a bad idea or that it wasn't worth implimenting. Just those involved im assuming are too busy with other fixes rather then i guess im looking for an upgrade!

[2017-10-29 20:21] mueller-ma commented on #408
I reopened #415 (which has the basic ui behavior) so it can be merged. I can only "fix" it when someone from ESH confirms that this is a bug.

[2017-10-30 06:58] lolodomo commented on #408
Yes please keep a coherent behaviour amongst all existing UIs at least until a change of the initial concept is decided.

[2017-10-30 14:34] vbier commented on #426
Everybody can take my code and incorporate it in the official android app, I have no problems with that.

But I am not going to do it, as I think that both apps serve a different purpose/audience. People using habpanel most likely do not need the functionality in the official app (I do not know the official app very well, just judging from the screenshots). And most likely is it the same the other

[2017-10-30 14:40] wrosenauer commented on #169
I also have the overlapping texts for items which have a bit of longer label and value. Is it possible to fix this?

[2017-10-30 16:39] mueller-ma commented on #169
@wrosenauer Something like https://github.com/openhab/openhab.android/issues/359? Can you post a screenshot?

[2017-10-30 16:42] mueller-ma commented on #426
@vbier Can you add a license to your habpanelviewer repo?

[2017-10-30 16:44] wrosenauer commented on #169
![screenshot_20171030-174257](https://user-images.githubusercontent.com/1312102/32183599-fdfb9666-bd99-11e7-8da3-61712de9db8c.png)

[2017-10-30 16:48] mueller-ma opened #435 "Label and item text overlap when label is too long"
Same as #121, but for Selection, Switch without mappings, setpoint, text, slider, rollershutter

[2017-10-30 16:49] mueller-ma commented on #169
I opened #435

[2017-10-30 17:06] mueller-ma commented on #435
Working on that

[2017-10-31 13:25] mueller-ma commented on #271
Do you use openhab cloud?

[2017-11-01 10:23] lolodomo commented on #290
I just proposed something, that is not perfect but largely better than displaying a wrong value.

[2017-11-01 10:28] lolodomo commented on #423
Was it finally not a good idea to keep the current value between [] in the title ?

[2017-11-01 10:56] lolodomo commented on #392
Is there a reason to have 2 different menus. The navigation menu at left looks good. Why not merging the two menus in the navigation menu (side menu) ? I agree with @FlorianSW suggestions to move most of the entries of the top right menu to the settings dialog. It will remain the Preference menu entry and I think this one could be moved to the side menu at left ?

[2017-11-01 11:02] lolodomo commented on #300
@mueller-ma : isn't it fixed now ? I see now the right menu dark when the theme is dark.

[2017-11-01 11:29] kaikreuzer commented on #392
May I suggest to only discuss one issue at a time?
This issue here is about removing the existing hamburger menu as neither "sitemap selection" nor "discovery" or "bindings" are helpful here.
Any improvements/refactorings of the existing settings menu should probably be best discussed in https://github.com/openhab/openhab.android/pull/404.

[2017-11-01 11:41] mueller-ma commented on #300
The first point isnt fixed.

[2017-11-01 12:45] lolodomo opened #438 "Image with or without upscaling"
I understand that the big images are downscaled to fit the layout. But systematic upscaling for small images could lead to a weird rendering.
Would it be possible to disable the upscaling ?
Could we have a display setting for users who prefer with or without upscaling ?

[2017-11-01 14:18] boc-tothefuture opened #439 "Selection Items should be right justified"
As per the discussion in #290 I am opening a new issue on the selection items needing to be right justified.

Presently the items are not right justified and therefore don't line up correct, see picture below:
![image](https://user-images.githubusercontent.com/13153815/32279070-01ddeb9e-beee-11e7-88b9-42c4f8996926.png)

[2017-11-01 14:20] boc-tothefuture commented on #290
@lolodomo  - Its not 100% clear to me from the code.. But is that just adding a 'blank' value essentially?

[2017-11-01 14:23] lolodomo commented on #290
In case the current value is not in the list, it displays in the main page a blank value for the selection (like in Basic UI). In this case, if you open the dialog to select a value, you can see a last blank entry.

[2017-11-01 14:25] boc-tothefuture commented on #290
Ok - so the downside of the approach is that a blank entry is available when you open it up?  (Just trying to understand your statement of 'not perfect' up above).

[2017-11-01 14:36] lolodomo commented on #290
Yes, that is what I consider not 100% perfect. But it only appears when there is no matching.

[2017-11-01 14:36] boc-tothefuture commented on #290
Seems to me to be a workable solution.  (not that I get a vote) :-)

:+1:

[2017-11-01 14:39] boc-tothefuture commented on #429
:+1:  On this idea.  Using the setpoint value right now for things like temperature and in some cases volume (I know there is a slider, but I often find I don't get enough control w/ the slider) can often not be the best user experience.  Often the presses are not registered as quickly as I want them to be.

[2017-11-01 15:03] lolodomo opened #440 "Time to display a chart"
It takes around 7 seconds to render a chart. Why is it so long while it is fast in Basic UI ?

[2017-11-01 15:20] mueller-ma commented on #429
I haven't found a way to implement this with the android dialog.

[2017-11-01 15:32] mueller-ma commented on #440
On my devices basic ui is still faster, but it takes only about 0.5 seconds until the chart is loaded in app.

[2017-11-01 15:33] mueller-ma commented on #439
What values have the selections?

[2017-11-01 15:39] mueller-ma commented on #439
Can you post a screenshot of the apk posted [here](https://github.com/openhab/openhab.android/pull/436#issuecomment-340875448)?

[2017-11-01 15:44] FlorianSW commented on #392
@kaikreuzer In my opinion the discussions are very well suited into this issue as well. If we decide to rebuilt how the navigation in the app should happen, it would be waste to first remove the left navigation menu and then re-adding it, wouldn't it? :)

From what you said with the "sitemap selection" and "discovery" as well as the "bindings" menu aren't very helpful here: Do we actually have any

[2017-11-01 15:49] kaikreuzer commented on #392
No, these are two steps. Removing menus that must not be there is the first easy step, for which I gave the reasons in https://github.com/openhab/openhab.android/issues/392#issue-262112603 (and no, the code will still be out there, so I don't see an issue in first removing it and potentially with #404 adding a new side menu with anyhow a completely different content).

[2017-11-01 15:51] lolodomo commented on #440
Strange. I should check my sitemap definition.

[2017-11-01 15:54] boc-tothefuture commented on #439
@mueller-ma  - Here are the selection:
[code]

I am not sure what you mean by post a screenshot of the APK posted here?  You just want me to add that screenshot showing the undesired behavior to the other issue?

[2017-11-01 15:58] mueller-ma commented on #439
Would be good if you can install the apk from posted [here](https://github.com/openhab/openhab.android/pull/436#issuecomment-340875448) and test it again.

[2017-11-01 15:59] boc-tothefuture commented on #439
Gotcha.  Will do.

[2017-11-01 17:03] boc-tothefuture commented on #439
@mueller-ma - Problem persists with the debug apk in the other thread.

[2017-11-01 19:37] boc-tothefuture commented on #439
@mueller-ma - I took a pass at resolving this in that PR.

[2017-11-01 20:23] lolodomo commented on #440
Here is one example that takes several seconds to display:
[code]

[2017-11-02 12:14] boc-tothefuture commented on #429
@mueller-ma  - Does it need to be a dialog?  I was playing with it and even if its not a dialog the user experience seems better than the button presses. (although I haven't wired it up)

[2017-11-02 14:13] ThomDietrich commented on #423
The current value is shown in the sitemap, when clicking it the sub-window is shown and a new value can be chosen. Sounds okay to me.
That said it would of course be nice if the current value would additionally be the preselected entry in the selection sub-window.

[2017-11-02 15:49] lolodomo commented on #423
Yes, I agree that it is a minor issue.

[2017-11-02 15:50] mueller-ma commented on #423
What about radio buttons like in basic ui?

[2017-11-02 16:16] lolodomo commented on #423
If possible, yes, good idea.

[2017-11-02 16:57] mueller-ma commented on #440
Try to reduce the refresh.

[2017-11-02 22:22] chiefymuc opened #443 "When choosing SVG icons, Image items are not being displayed"
I am using an Image element to display a webcam still every 30 seconds. It is a JPEG.

If in the settings I choose SVG icons, the element is not diplayed. With the PNG setting it works.

[2017-11-03 10:24] boc-tothefuture commented on #428
👍
I don't get a vote here, but I would be pro mixing kotlin into the code base.  In my experience mixing java with kotlin works well and lets you get a lot of the kotlin benefit.

[2017-11-03 11:16] lolodomo commented on #443
It is already fixed in the master branch.

[2017-11-03 11:19] lolodomo commented on #443
Very probably by PR #372

[2017-11-03 11:29] lolodomo commented on #440
Still so slow even if I suppress the refresh tag.
I notice that it is even worst when using HTTPS rather than HTTP.
Using HTTPS leads to a slower app in general but that is relatively acceptable ... except for chart rendering.

PS: all this is on my local network.

[2017-11-03 11:45] lolodomo commented on #440
Maybe the problem is the size of the image and/or rescaling.
What resolution of image is used for chart ?

[2017-11-03 12:19] lolodomo commented on #440
As an example, my screen is 2560 x 1600 so screenWidth is 2560 and a chart is requested with height 1280 and width 2560. But finally the chart is displayed only in a portion of the screen width and so there is a rescaling required.
When the tablet is in a portrait mode, as the chart seems to be displayed on the full width, that should be ok.
Here is the generated URL: https://192.168.x.xxx:8443/ch

[2017-11-03 12:29] lolodomo commented on #440
Of course, as my server is running on a RPI 2, it could be due to the server too.
What hardware for your server when you get your charts in 0,5 seconds ?

[2017-11-03 12:51] lolodomo commented on #440
Adding traces in MyWebImage, I can say that what take time is the execution of the HTTPS request. onSuccess is called only 8 seconds after the call of `client.get(url, new MyHttpClient.ResponseHandler()`.
So what takes time is the download of the chart from the OH server.
Now why is it fast when I use Basic UI and slow when I use android app ?

[2017-11-03 13:00] lolodomo commented on #440
In Basic UI, the URL is: https://192.168.x.xxx:8443/chart?groups=GHumiditeInt&period=W&theme=bright&t=1509713716123
So there is no dpi w an h parameters in the URL.
The image has only a size of 480x240 and a size of 5,5 kB.
**So the explanation is now clear, Basic UI is using a default low res image while the android app is using a hi-res and huge image.**

[2017-11-03 13:13] lolodomo commented on #440
If a suppress dpi, h and w from the chart URL in the Android app, I immediately get better result, even if still longer than in Basic UI on the same device.

Additionnaly, with the current code, I can see that the resolution of the chart is not the same in landscape and portrait modes, probably for the reason I explained before.
If I suppress the dpi, h and w settings from the URL, the rendering i

[2017-11-03 13:29] lolodomo commented on #440
It is probably acceptable to let Java doing a little bitmap scaling.
So even if 480x240 is too small for a hi-res screen, we could find a compromise and avoid requesting the screen width as width for the chart. Maybe screen width / 3 could be acceptable ?

What is the current highest screen resolution for Android tablet ?

[2017-11-03 13:39] lolodomo commented on #440
After a quick search, it looks like 2560x1600 remains one of the highest resolution you can get with Android tablets.

[2017-11-03 14:18] lolodomo commented on #440
200 KB in 8 seconds, it means 200 kbps, it seems to be very very low.
Maybe the server takes a lot of time to build the chart before sending it to the android app when hi-res is requested ?

[2017-11-03 14:54] lolodomo commented on #440
[code]
I can see that my RPI has only 33 MB of free memory ! Is it a problem ?
Using top, %MEM of my java process is 35,9%. Normal ?
PS: the hi-res chart requires around 3 MB on server side.

[2017-11-03 15:38] mueller-ma commented on #443
I think it should be fixed. But when the "fix" disabled svg in image items. I think I will need to refactor it a little bit.

[2017-11-03 15:39] mueller-ma commented on #428
What do you mean with mixed? Some files in java and some kotlin? Or in a file a function in java, other in kotlin?

[2017-11-03 15:55] mueller-ma commented on #440
[code]

That means: query for a chart with width equals screen width and half hight. I think it is kinda bugged in landscape on tablets as it takes the whole screen width, scales it down.

I dont think we scale, just in tablet landscape.

Basic ui doesn't add w and h attributes, maybe thats faster to render, because thats less pixel.

You could try a RPI 3 or overclock you Pi, run as less other so

[2017-11-03 16:00] mueller-ma commented on #440
For the ram "issue":
https://wiki.archlinux.org/index.php/Frequently_asked_questions#Why_is_Arch_using_all_my_RAM.3F

Newer version of `free` have `available`. If not:
`cat /proc/meminfo | grep '^MemAvailable:' | awk '{print $2/1024}'`

[2017-11-03 16:28] kubawolanin commented on #6
@redeye86 sorry for resurrecting a year old thread but did you actually manage to create a pull request with your work? Would be awesome to see that in the app! :)

[2017-11-03 16:33] lolodomo commented on #440
First I need to understand if there is a problem to handle such image size with slow hardware like RPI 2 or if the problem is only **MY** RPI 2. I need to check what takes time on server side but I imagine that it is the build of the chart itself.

If there is something to change, maybe that is better to do it on server side ?

What's a pity, we don't have any chart in the demo sitemap to esasily

[2017-11-03 17:28] lolodomo commented on #440
[code]
900 ms are needed by the server to build the chart (provider.createChart) and then 5 seconds are needed to write the PNG data with `ImageIO.write` at this line: https://github.com/eclipse/smarthome/blob/master/bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/chart/ChartServlet.java#L281
`ImageIO.write` is building a PNG file and it seems to be done very sl

[2017-11-03 17:49] boc-tothefuture commented on #428
I have only ever seen it done on a per file basis.

Android studio makes it fairly easy to interoperate between the two.

[2017-11-03 18:19] mueller-ma commented on #440
How can I see these log messages?

[2017-11-03 18:26] mueller-ma commented on #248
Did you enter the URL manually in the settings?
I have entered my productive oh server, but also running a night oh and it never sends requests to the nightly.

[2017-11-03 18:35] lolodomo commented on #440
You can't, these logs have been added by myself.

[2017-11-03 19:50] mueller-ma commented on #440
When we make an option called "high res charts" we could disable it by default and divide chart res by three.

[2017-11-03 19:54] lolodomo commented on #440
I just see that we have a chart in the demo sitemap lol
It will help me.

[2017-11-03 20:06] mueller-ma commented on #440
This is an example from my tablet. Original chart 1024 * 512, the other 512 * 256 (cleary too low):

![screenshot_2017-11-03-21-04-40](https://user-images.githubusercontent.com/22525368/32393643-a080ba40-c0da-11e7-859b-7bc2cadf1904.png)
![screenshot_2017-11-03-21-05-29](https://user-images.githubusercontent.com/22525368/32393645-a0a78d14-c0da-11e7-8e7f-688e4671b888.png)

[2017-11-03 20:24] mueller-ma commented on #440
Also changing the dpi value makes it a little bit better:
![screenshot_2017-11-03-21-10-17](https://user-images.githubusercontent.com/22525368/32394393-44baa20e-c0dd-11e7-8f0d-5b0fc297d12c.png)

[2017-11-04 14:18] lolodomo commented on #440
The problem was the time to compute the chart on the server side.

[2017-11-04 14:21] lolodomo opened #445 "Different chart resolution in landcape and portrait modes"
The chart resolution should be the same when the tablet/phone is in landscape or portrait mode.
The current implementation leads to lower texts in landscape mode than in portrait mode.
The reason is known: the chart is requested in the two cases with the full tablet width while finally only displayed (resized) in a part of the tablet width when in landscape mode.

[2017-11-04 14:22] lolodomo commented on #445
@mueller-ma : have you an idea how this could be fixed ? Can we get the width of the final display ?

[2017-11-04 14:22] mueller-ma commented on #440
Is this really closed? I think its more a client problem since the client request a too large chart.

[2017-11-04 14:24] lolodomo commented on #440
The client has no knowledge of the server capabilities.
I have submitted a PR for an optional setting on the server side.
And I opened an issue here for the different rendering in landscape and portrait mode.

[2017-11-04 14:26] lolodomo commented on #440
The result is ok with my tablet. I get reasonable delay if I force a maximum width to 960 and the chart looks ok in the android app.

[2017-11-04 14:28] lolodomo commented on #440
And of course, on my PC, a chart with width 2560 is generated very fast, around 100 ms if I correctly remember.

[2017-11-04 19:35] mueller-ma commented on #342
@ThomDietrich mentioned crowdin [here](https://github.com/openhab/openhab.android/pull/437#discussion_r148939226), however its not free.

[2017-11-05 12:44] ThomDietrich commented on #342
https://github.com/marketplace/category/localization
https://github.com/marketplace/crowdin

Crowdin is completely free for open source projects and has a strong integration with GitHub.

[2017-11-05 13:18] mueller-ma commented on #342
Ok, I didnt find that on their website. Is crowdin under a free license?

[2017-11-05 13:34] ThomDietrich commented on #342
Found it here: https://crowdin.com/page/open-source-project-setup-request
Not sure what you mean by "under a free license". They are a company looking for paying customers offering an free open source plan to lure in the potential customers of tomorrow. Very much the same strategy as of GitHub, Slack, Trello and co ;)

[2017-11-05 14:11] mueller-ma commented on #342
I mean with "under a free license": The weblate source code is under GPL: https://github.com/WeblateOrg/weblate

[2017-11-05 14:21] ThomDietrich commented on #342
Ah I see. Well no it is not. For me the offered functionality is a strong argument: https://support.crowdin.com

[2017-11-05 14:42] mueller-ma commented on #342
We can give it a try. I think @digitaldan must do the setup or can you do it?

[2017-11-05 17:22] digitaldan commented on #392
@kai to be clear, your request is that we remove the hamburger menu completely and then in another issue refactor the drop down menu?  Are you against using a side menu to contain what is currently in the dropdown, but refactored in a way that makes sense?  I do think using the side menu to hold what is currently in the dropdown would be more consistent  with other android apps (like my inbox app

[2017-11-05 17:40] ThomDietrich commented on #342
Let's give @digitaldan the honor of final decision 😃 I technically could but this is clearly not my call to make.

[2017-11-05 19:21] kaikreuzer commented on #392
Yes, independently of whether or not we refactor the content of the dropdown menu to become a hamburger menu (as suggested in #404), the current content of the hamburger menu should be removed. That's why I would prefer to treat it as two separate steps. The second step would then be clear to merely "change the settings menu style from drop-down to hamburger".

[2017-11-06 01:14] boc-tothefuture opened #446 "Remove volume control for sliders and setpoints"
Per discussion in #442 volume controls should be removed for sliders and setpoints.  PR #442 already removes it for set point.  This issue is to gain consensus to remove it from sliders as well.

[2017-11-06 14:37] boc-tothefuture commented on #446
@mueller-ma and @lolodomo  -
  I am not sure who has to weigh in on this one?  I have no problem doing the PR once we reach an agreement.

[2017-11-06 16:06] mueller-ma commented on #446
I think we should remove that "feature". Volume buttons are for controlling volume and not for controlling the first entry in a list.

[2017-11-06 20:20] boc-tothefuture commented on #446
Who needs to give the final approval?

[2017-11-06 20:32] lolodomo commented on #446
Sorry I cannot comment as I don't understand what you want to change.
By the way, I am not the one who decide.

[2017-11-06 20:48] maniac103 commented on #446
@lolodomo The idea of this issue basically is reverting https://github.com/openhab/openhab.android/commit/058c3f9ad8238eacd3a021b63a023ab424ce6f0f

(:+1: for that, even though I have no say in anything here)

[2017-11-07 01:37] Dracrius commented on #392
I completely disagree with the removal of sitemap selection from the side menu!!! I use this to quickly switch between my Status/ Maintenance sitemaps and my Main sitemap. I can understand in most instances this is not the intention but my android is what I use for debugging because of the sitemap side menu please do not kill a VERY good feature!

[2017-11-07 15:46] mueller-ma commented on #446
Final approval should come from @digitaldan

[2017-11-07 20:34] mueller-ma opened #448 "CloudBees builds fail due to unaccapted licenses"
I have made some experience with Gitlab CI and had the same issue. In Gitlab CI I can define a set of commands which will be executed. When you (@digitaldan) can also do this in CloudBees, I can post the command to accept all licenses here.

[2017-11-07 20:40] mueller-ma commented on #448
Other error related to cloudbees. @kaikreuzer
![jenkins](https://user-images.githubusercontent.com/22525368/32516632-43da34f6-c404-11e7-9f6c-a208677f6443.JPG)

[2017-11-07 23:12] sansei4 commented on #446
Why can't it be a point in the settings? I even didn't know that possibility before this discussion...

[2017-11-07 23:19] boc-tothefuture commented on #446
@sansei4 -
  I think the issue is that no one really knows about it.. and the behavior isn't all that useful since it just controls the first slider on the screen..

As for why not make it a setting.  My thoughts are that it is more code to maintain, test, reason about for either minimal gain or in some viewpoints a negative user experience.

[2017-11-08 18:02] mueller-ma commented on #448
In Gitlab you can specify a file which will be executed by each commit.
[code]
Taken from https://github.com/jangrewe/gitlab-ci-android

The first line specifies the docker image which will be used as build enviroment, we just have to look at their dockerfile (file which is used to built the docker container) and see how they accept the licenses:
[code]

@digitaldan Can you try to add this line to

[2017-11-08 19:15] FlorianSW commented on #446
More settings, even if it is useful for _some_ people, always means making the preferences of the app more and more complex. For a reaonable questionable feature, I wouldn't create a new setting, as is will lower usability of the preferences for most other people.

For the final approval thingi: I thought we're open source, so, if no-one (the community, including, but not limited to special people

[2017-11-08 19:23] mueller-ma commented on #446
@FlorianSW you're right!

[2017-11-08 19:30] FlorianSW commented on #423
I like the radio button idea, on it! :)

[2017-11-08 19:39] FlorianSW commented on #423
This is how the selection looks like when using radio buttons:

![screenshot_20171108-203829](https://user-images.githubusercontent.com/4892966/32570594-d911b8ee-c4c4-11e7-9171-5b726428c074.png)

[2017-11-08 19:43] FlorianSW commented on #403
+1 for that idea! Additionally to that I would even love to see a release in beta more often. There's probably also a way to automatically publish a new beta release from cloudbees, so that there could be a scheduled job for, say, each week to publish a new version?

[2017-11-08 19:46] lolodomo commented on #423
That's cool.

[2017-11-08 20:15] maniac103 commented on #423
Using CheckedTextView with checkmark to the left might look even better though...

[2017-11-08 20:46] mueller-ma commented on #423
Wouldnt this suggest that more than one item could be selected?

[2017-11-08 20:51] mueller-ma commented on #403
https://github.com/fastlane/fastlane might be worth a try.

Also https://gitlab.com/fdroid/repomaker is an application to built apps locally and publish them on e.g. github. I think I will setup a fdroid openhab repo for nightly builts and the official full built, which cannot make it to the official fdroid repo since it contains non-foss.

[2017-11-08 20:54] maniac103 commented on #423
Don't think so. I'm pretty sure I've seen something like that being used in AOSP, I just can't remember where at the moment :-/

[2017-11-09 15:48] mueller-ma commented on #406
Maybe worth a try: https://github.com/skywinder/github-changelog-generator

[2017-11-11 16:10] digitaldan commented on #392
@kaikreuzer do you feel strongly about removing the sitemaps still after @Dracrius comment?  I am worried that others may be dependent on this feature whether it was intended for that use or not.

[2017-11-11 16:27] #408 closed

[2017-11-15 16:15] redeye86 commented on #6
Hi!

No, unfortunately not. The whole branch is a bit behind now and i would have to update the project metadata to make it use the current build tools and libraries, which would be feasible. But apart from that, the background service, which updates the widgets, still uses the long polling mechanism on the sitemap to get notified about item status updates. As far as i remember, you have to select

[2017-11-15 16:19] mueller-ma commented on #6
This isn't a very practical solution as widgets would only work when you have openhab cloud.

[2017-11-15 19:39] gruenwaldt commented on #287
Hello,

while debugging the Android App, trying to find why no state is written to the UI...
I have found the following:

## Behavior

`Setpoint item=Thermostat_SetTemperature label="Thermostat"`

is sent to Android App like:
`Setpoint item=Thermostat_SetTemperature label="Thermostat [%.1f °C]"`

But the entry
`Setpoint item=MyVirtualNumberItem label="Tagestemperatur"`
is sent to Android App like:

[2017-11-15 20:29] redeye86 commented on #6
Yes, but as far as i could see, notifications don't do either in that case. Maybe it makes sense to have two alternatives, one using gcm and the other one using a direct connection preferably for non-cloud installations (maybe also for notifications).

But I would contend that the latter wouldn't work well for mobile devices that are actually used on the go. They would need to reconnect to the ope

[2017-11-16 05:17] mueller-ma commented on #6
I have set up a foreground service for a broadcast listener. See #388
I use that branch and it doenst drain battery.

[2017-11-16 05:21] mueller-ma commented on #287
I think the label formatting is configured in the binding itself and added to the item.
Otherwise if you dont specify a format, no value should be shown. Basic ui should behaive the same.

[2017-11-16 16:20] mueller-ma commented on #448
Does anything speak against Travis CI? It comes with pre-installed android packages.
I set up travis on a different account (https://github.com/mueller-ma-bot/openhab.android) to see how it works and builds are fine https://travis-ci.org/mueller-ma-bot/openhab.android/builds

[2017-11-17 15:05] mueller-ma opened #452 "JUnit / UI Test"
We really need some more test cases

[2017-11-18 16:17] digitaldan commented on #448
absolutely not!  I have struggled with cloudbees and our android environment for a long time.  I had a conversation with Kai about moving to Travis but never found the time to do so.  I would be very in favor of using Travis to get our automated builds working again.   openHAB has a Travis account, let me see about getting a android project setup there and give you access to configure it!

[2017-11-18 16:29] mueller-ma commented on #448
Just merge the pr with the travis conf and add the repo om the travis website

[2017-11-18 22:44] mueller-ma commented on #448
Travis is set up, so cloudbees/jenkins problems don't really matter anymore.

[2017-11-18 22:44] #448 closed

[2017-11-20 16:23] #253 closed

[2017-11-21 15:38] cribskip opened #456 "Let Travis CI deploy CI-builds on Github"
Would be nice for interested users to download apks for easy installation right from github. Has been possible with Jenkins.

For installation instructions, see: [http://szagurskii.com/blog/how-to-deploy-apk-to-github-releases-with-travis-ci/](http://szagurskii.com/blog/how-to-deploy-apk-to-github-releases-with-travis-ci/)

[2017-11-21 15:44] digitaldan commented on #456
Hi, I agree and I'm already working on it now, hoping to have something by today.

[2017-11-21 15:50] mueller-ma commented on #456
That will only work for git tags, but I think we should use tags anyway in the future since they trigger fdroid builds.
https://docs.travis-ci.com/user/deployment/releases/

[2017-11-21 17:52] mueller-ma commented on #452
I think we should use https://codecov.io/
Free for open source projects, github integration and can be integrated with only a few lines in travis.yml

[2017-11-22 10:32] jainhemendrah opened #457 "Android Studio - Compilation issue"
Dear All,
  I am using Android Studio v2.3.3.  (Win 7 - 64 bit)

I  downloaded the Android code and tried to build the same.
I chose "Open an Existing Android Project"
I am getting following errors when compiling:

Error:Android Source Generator: [openhab.android-master] AndroidManifest.xml file not found.

Any help would be appreciated !!!

[2017-11-22 11:31] mueller-ma commented on #457
Maybe this helps: https://stackoverflow.com/questions/16908222/androidmanifest-xml-file-not-found/30843009#30843009
Also "File -> Synchronize" or restarting Android Studio helps sometimes.

[2017-11-22 15:08] 9H1LO opened #459 "Image in sitemap"
Image in sitemap not always shown and when it does it is slow and doesn't usually refresh

when accessing with chrome on android its fine

Image label="LivingCAM" url="http://172.16.10.106/zm/cgi-bin/nph-zms?mode=single&monitor=2&scale=50&user=xxxx&pass=xxx" refresh=500

[2017-11-22 15:29] mueller-ma commented on #459
Maybe the same reason in #420. Can you try 5000 as refresh rate?

[2017-11-22 15:39] 9H1LO commented on #459
yes, works fine with 5000 albeit very slow frame rate

[2017-11-22 19:39] jainhemendrah commented on #457
Will try...

[2017-11-24 16:38] AndreaRicci94 opened #460 "UI with single widget refreshes itself every 30 seconds"
Hi all,

I am currently experimenting with openHAB for Android (or HABdroid, if you want) and a sitemap in which I have a Webview widget which displays a PHP page built by me hosted in one of my servers. The Webview is configured to take pretty much all of the space available in the phone screen because in this interface I am building that is the main component (the webpage serves as a MPD control

[2017-11-24 17:50] mueller-ma commented on #460
Hey Andrea,
can you check if the php session variable is reset every 30s? Otherwise you could save the current path in it and redirect to that path if the user accesses the main page.

[2017-11-25 06:43] AndreaRicci94 commented on #460
Hey there,

Thank you for your input. I actually tested what you asked for and I can confirm the $_SESSION variable is not unset every 30 seconds, so I might use that as my last resort.

However, I was still hoping you all could give me some insight on how to disable this behavior in some way... I need to consider this is only one way for me to use the Webview item: I have some other ideas in mind

[2017-11-25 09:48] mueller-ma commented on #460
I'm wondering why you are using openhab at all if you just want to display a website. You also could use a browser or maybe have a look at habdroid, which is quite customizable.

[2017-11-25 10:17] AndreaRicci94 commented on #460
I am using openHAB because I have built a KNX system in the house, so the sitemap contains all the light switches, roller shutters, gate openers, alarm controllers and more.

Now the goal is to be able to manage my own-built multiroom music system: I have a Windows PC which, apart from the openHAB server, also handles music playback via MPD/MPC. The webpages I have built control this system and I

[2017-11-25 10:30] mueller-ma commented on #460
Synchronous multi-room audio player: https://github.com/badaix/snapcast

[2017-11-25 10:34] AndreaRicci94 commented on #460
That is not stable for Windows as of now because of https://github.com/badaix/snapcast/issues/24

Although I appreciate your efforts to suggest other methods (I think, if no other solutions are available, I will stick to the $_SESSION one), can we please return to the main focus?

Is there any way, even in the code if you suggest where to look, to disable this 30 seconds UI auto update?

[2017-11-25 15:18] #435 closed

[2017-11-25 15:19] #290 closed

[2017-11-25 15:20] #439 closed

[2017-11-25 15:28] #423 closed

[2017-11-25 15:34] digitaldan commented on #392
@kaikreuzer , just getting back to this. I'm unclear what to do here.  It sounds like there is support for keeping the existing sitemaps functionality in the side menu, which is also how the IOS app works.  Would you be against keeping the sitemaps here, but removing the discovery and bindings menu from the app?   I'm ok with this approach.

[2017-11-25 16:09] kaikreuzer commented on #392
@digitaldan Ok for me to remove discovery+bindings only for now, but everyone should be aware that if he is using sitemaps for navigation, that this is not the purpose of them and those parts should rather be aggregated into a single sitemap. All further evolution should be done having this in mind.

[2017-11-25 17:07] Dracrius commented on #392
I personally do not use them for navigation but for ease of use!! I don't want my partner or her parent's for instance messing around in my maintenance sitemap that is purely meant to display everything I need for trouble shooting rule firing off wrong and such so I'd setup there app with my main sitemap! It is convenient and the only reason I love the app for maintenance!

I'm also not going to m

[2017-11-25 17:19] kubawolanin commented on #392
I also did like the convenience of the sitemaps in the side menu. Simply because I could access it even if I'm deep down inside the Frames ;-)
Seeing that discussion I started working on merging my sitemaps (specific for different areas) into one massive sitemap.

I remembered one photo that @ThomDietrich shown on his presentation during Smart Home Day. It was [this photo](https://thejibe.com/site

[2017-11-26 10:56] lolodomo commented on #445
@mueller-ma : any idea how I can get the width of the right frame in case of a display in portrait mode on a tablet ?

[2017-11-26 12:50] mueller-ma commented on #445
I have an idea, but need some help with the implementation. Code coming soon...

[2017-11-26 13:44] mueller-ma commented on #445
https://github.com/mueller-ma/openhab.android/tree/445-size-chart
OpenHABFragmentPagerAdapter getPageWidth() seems to return wrong values. This only works for sub-sub-panes.

[2017-11-26 22:25] digitaldan opened #468 "Crash with PR: Number picker for setpoint"
https://github.com/openhab/openhab.android/pull/442/files#diff-7084e55d51f6579524d6f8ef39d55555R705

@boc-tothefuture I did not test this when I merged, but now that I'm testing something else I'm getting a app crash on our demo site:

[code]

[2017-11-27 00:01] boc-tothefuture commented on #468
Will take a look.  Do you know your min/max/step and value range for that setpoint?

I am running the main branch build here and it's working so I must not be handling some particular input correctly.

[2017-11-27 08:19] mueller-ma commented on #468
I also noticed that the app may crash, so I opened https://github.com/eclipse/smarthome/issues/4498 to add server side tests. I don't think the app has to do those checks, but the app will release before such tests.

[2017-11-27 08:32] lolodomo commented on #460
@digitaldan @muller-ma could you confirm the existence of this 30s auto-refresh and explain why it is required ?

[2017-11-27 08:36] lolodomo commented on #459
You can experiment smaller refresh rate.
It probably depends on how big is your picture and how available is your device to answer.

[2017-11-27 08:44] mueller-ma commented on #459
Currently it reloads the picture after e.g. 5s are over and does not wait for the previous load to finish.
Thats the problem in #420 and I think also here. It makes requests over and over without waiting to finish, reserving more and more space and than crashes due too no free space.

[2017-11-27 12:50] lolodomo commented on #459
We should avoid triggering a new refresh while the image loading is still in progress.
I can try to enhance that.

[2017-11-27 12:57] mueller-ma commented on #459
Thanks for working on it. Apart from that the image shouldnt be cleared until the new one is loaded.

[2017-11-27 16:09] AndreaRicci94 commented on #460
I second that request. @digitaldan @mueller-ma Would you be so kind to advise on why this feature is implemented and if there is a way we can disable it?

I did some real-world testing with the $_SESSION variable and it is practically unuseable. In my case scenario, that refresh is really a pain.

[2017-11-27 16:23] mueller-ma commented on #460
Sry, I have no idea if, why and how it is implemented this way. That was done a long time before I started contributing to openhab.android.

[2017-11-27 18:23] mueller-ma opened #471 "Crash when showing dialog"
The following line numbers dont match master. MainActivity L654 is `alert.show();`

[code]

[2017-11-27 21:46] lolodomo opened #474 "Failed to find Build Tools revision 26.0.2"
After an update to the last sources, when I open Android Studio, I got this error: Sync with Gradle for project 'openhab-android' failed: Failed to find Build Tools revision 26.0.2

Why tools revision 26.0.2 are now required ?
Until now, I was using only SDK platform 4.0.3 (IceCreamSandwich).

[2017-11-27 21:55] mueller-ma commented on #474
In https://github.com/openhab/openhab.android/pull/455 I changed the source of android-smart-image-view from oh maven to jitpack.io. The build failed and when I searched for that error, I found out, that it is fixed with build tool 26.

[2017-11-27 22:19] lolodomo commented on #459
Looking at the code of SmartImageView, it looks like each call to setImage is using a task to download and set the image and this task is first cancelled if one is already in progress. So it should normally avoid having in parallel several downloads of the same image but I think it could lead to the thread being always killed before it finished its job and as a consequence the image being never up

[2017-11-27 22:23] lolodomo commented on #474
Just to be clear, does it mean we have now to all move to SDK platform 8.0 ?
Will the app still work well on old android versions ?

[2017-11-27 22:36] lolodomo commented on #459
The library offers the ability to set a completeListener. We could use to know if a setImage action is in progress or finished. If one is in progress while the refresh is triggered, we could just ignore this refresh (and wait for the next one).
I can try this solution.

[2017-11-27 22:51] mueller-ma commented on #474
It shouldnt change anything with target and min api.

[2017-11-27 23:24] lolodomo commented on #474
Ok, thank you for the clarification.

[2017-11-27 23:24] #474 closed

[2017-11-28 00:45] digitaldan commented on #468
@boc-tothefuture I can reproduce this on demo.openhab.org , go to "Widget Overview" and then click on the value of "Temperature" (so click the 21.5 c value, or whatever it is)

[2017-11-28 00:47] boc-tothefuture commented on #468
@digitaldan - PR #469 should resolve this error.

[2017-11-28 00:49] digitaldan commented on #468
I'll give it a try, I posted here b/c I could not remember where I had it crash on me, but just ran into it again.

[2017-11-28 07:52] lolodomo commented on #460
With the current implementation without the handling of SSE, I think few things would be not refreshed without this auto-refresh. That is probably the reason why it was introduced.
Bt the way, we should think about a move to SSE to have a reliable and efficient update mechanism but that's another history.

[2017-11-28 08:05] #429 closed

[2017-11-28 09:04] mueller-ma commented on #30
PR to add openhab to fdroid: https://gitlab.com/fdroid/fdroiddata/merge_requests/2687

[2017-11-28 16:28] digitaldan opened #476 "Number picker is not discoverable"
After merging #442  the + and - buttons are now removed from the spinner widget, which now does not look like it can be selected.  There is no difference now between the number picker value and a non selectable value.  If you look at the official demo.openhab.org site, this is very apparent as under the widget overview we have a label of "Temperature" and then a picker to set the value.  If you dr

[2017-11-28 17:01] mueller-ma commented on #476
Thats also a problem I saw, but I couldnt find a way to make it look clickable. Maybe a button with a pencil next to the value?

[2017-11-28 17:08] digitaldan commented on #476
or the down arrow that is used by a selection widget?  Does Google have an official stance on this?

[2017-11-28 21:27] mueller-ma commented on #345
@kabili207 Any updates on this? You can send a test notification from oh cloud. When that one shows up, I can open a PR for this change.

[2017-11-28 21:56] kabili207 commented on #345
I've confirmed the test notifications still work.

[2017-11-29 12:50] ThomDietrich commented on #456
Hey guys,
I lost track of all the activities over the last couple of days. (Kudos for that)
May I ask if by now there is any automated build system that I could get latest apks from?

[2017-11-29 20:50] #392 closed

[2017-11-29 21:02] digitaldan commented on #456
So I have travis setup to create a signed APK release whenever a git tag is created, which is how travis ci recommends doing it.  So if you create a tag through the github web ui, or push a tag with git , a build will get triggered and when its complete it will create a github release based on that tag with the signed APK.

I would like to extend this to have every merge into master push a new sig

[2017-11-29 21:23] FlorianSW opened #478 "Move "clear image cache" to the settings menu"
In https://github.com/openhab/openhab.android/pull/404#issuecomment-347045797 it seems we've a consensus to kill the options menu and move all the possible buttons into better places around in the app. One of the options is the "clear image cache", which should clearly be somewhere in the settings.

That's the issue for solving this.

[2017-11-29 21:35] FlorianSW opened #479 "Move "Select default sitemap" to the settings menu"
In https://github.com/openhab/openhab.android/pull/404#issuecomment-347045797 it seems we've a consensus to kill the options menu and move all the possible buttons into better places around in the app. One of the options is the "select default sitemap", which should clearly be somewhere in the settings.

That's the issue for solving this.

[2017-11-29 21:37] #468 closed

[2017-12-01 13:55] mueller-ma commented on #456
You could set up a small script, that creates a beta release every week.
Betas: 2.0.1
2.0.2
2.0.3
And so on..
The final release would be 2.1

[2017-12-01 15:09] ThomDietrich commented on #456
https://semver.org/

There are many tools out there to ease the pain. Random example: https://github.com/alexfu/androidautoversion

[2017-12-02 17:10] lolodomo commented on #460
In fact, the 30s refresh is not harcoded in the app but is the result of the long polling HTTP request on the sitemap REST API which send an update every 30 seconds for each displayed page (main page and sub-page).
The timeout of the long polling HTTP request is in fact set to 5 minutes in the app.
So it looks like more something to investiguate in the sitemap REST API.

[2017-12-02 17:48] lolodomo commented on #460
At the same time, I can see on server side coming requests every 30 seconds:
[code]
Does the long polling mechanism imply the request being re-sent every 30 seconds ? I am lost...

[2017-12-02 17:51] mueller-ma opened #484 "Two seperator in side menu"
![screenshot_2017-12-02-18-33-38](https://user-images.githubusercontent.com/22525368/33518219-b567019e-d791-11e7-87e0-cd03464c0e1a.png)

[2017-12-02 19:34] lolodomo commented on #460
As a workaround for this unexplained problem, we could check in `processContent` when `longPolling` parameter is set to true if the response has changed. If the response is unchanged, we don't update the page and we just recall showPage.

[2017-12-02 19:54] lolodomo commented on #460
@digitaldan : any idea why we get the page data every 30 seconds even if the page data is unchanged ?

[2017-12-02 20:21] lolodomo commented on #460
I am so stupid. The 30s timeout is on the server side (REST API): https://github.com/eclipse/smarthome/blob/master/bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/SitemapResource.java#L580
The request is blocked by the server at a maximum of 30 seconds and then it returns the page data: https://github.com/eclipse/smarthome/blob/master/b

[2017-12-03 00:01] digitaldan commented on #460
SSE is the right solution , we just have not had any volunteers to port the android or iOS application to use it, would be a welcome contribution !

[2017-12-03 06:13] AndreaRicci94 commented on #460
Hi guys!

I have been following your discussion in the last several days, and I really appreciate it. Although, given that I needed to find a fix to my problem in order to continue with development, I looked more thoroughly at the code and I applied a very "quick and dirty" fix to solve the issue.

Unless you ask me to do so (but I seriously doubt it :P ) I am not going to make a PR for that, beca

[2017-12-03 08:05] lolodomo commented on #460
@AndreaRicci94 : the 30 seconds refresh is a general problem in the app, we will not fix it only for the Webview but rather fix it globally. And there is no need for an option.
It takes me time yesterday to understand where was the source of this refresh but it is now clearly identified and it is due to the way the long polling is handled by our REST API (blocking only 30 seconds). So the fix requ

[2017-12-03 08:09] lolodomo commented on #460
@digitaldan : regarding the port to SSE, I am volunteer to have a try. This is certainly a big change and it will take time before I have something fully working. Don't expect anything before 2018.
Until end of 2017, I will try to focus on little but annoying bugs.

[2017-12-03 09:54] lolodomo commented on #460
I already propose a fix for the server side to be notified of the long polling reached timeout. Once this PR is merged, I will propose the corresponding change for the Android app (just one line to enhance in `processContent`).

[2017-12-03 11:21] lolodomo commented on #445
I got it, we can use `parent.getWidth()`. I will propose a fix.

[2017-12-03 11:48] lolodomo commented on #190
As this windows has been suppressed, I close the issue.

[2017-12-03 11:48] #190 closed

[2017-12-03 14:14] lolodomo commented on #438
What do you think about the idea to avoid upscaling as soon as the source image width is for example a third or less of the drawable width ?
The general idea is to avoid a big upscale for very small images.

So if your phone is in portrait mode with screen width = 1080, all images with a width >= 360 will be upscaled to fill the 1080 but images with width < 360 will be displayed with their real wi

[2017-12-03 17:04] lolodomo commented on #438
Maybe we should consider the screen height too to avoid having an image with a bigger height than the phone screen ? I mean we should scale the image to be sure to have it rendered fully in the screen without the need of scrolling.
With my Android tablet in landscape mode, the Sonos album art is currently too big and I don't see fully the picture without scrolling. Maybe we should define that the

[2017-12-04 16:10] mueller-ma commented on #411
Can be closed?

[2017-12-04 16:10] mueller-ma opened #486 "German translation: Du vs Sie"
@kaikreuzer @maniac103 @FlorianSW WDYT?

[2017-12-04 16:12] mueller-ma opened #487 "Move some permissions to full-only manifest"
Just a reminder for me

[2017-12-04 16:12] maniac103 commented on #486
I strongly prefer 'Sie', but I guess I'm oldschool considering even AOSP is switching to 'Du' ... the closeness implied by 'Du' feels somewhat unprofessional to me.

[2017-12-04 16:16] kaikreuzer commented on #486
Ideally you should avoid the question altogether by rephrasing your sentence.

[2017-12-04 16:19] maniac103 commented on #486
This can sound weird, though. Random example:

`Berühren Sie den NFC-Tag und warten Sie auf die Bestätigungsmitteilung`

Really rephrase as

`NFC-Tag berühren und auf Bestätigungsmeldung warten`

considering it's a hint/help text?

[2017-12-04 16:22] kaikreuzer commented on #486
You are right, for longer help texts where you need to guide someone, it sounds weird.

So I'd also clearly vote for "Sie" (probably flagging me old-school as well now ;-)).

[2017-12-04 16:36] ThomDietrich commented on #486
+1 for "Sie"

An alternative I often see is that two translations are offered.

Edit: I wanted to see how other systems do it and looked at the Android settings... There I actually found both methods. Whatever you choose, please don't do that :D