[2017-12-04 16:42] mueller-ma commented on #486
I also think "Sie" is better.

@ThomDietrich Maybe some strings are from AOSP and some from the vendor.

[2017-12-04 16:42] #486 closed

[2017-12-04 17:01] maniac103 commented on #486
@ThomDietrich @mueller-ma is spot on here. AOSP historically used 'Sie', while Google apps use 'Du'. In places that integrate the latter into the former (like in the settings app) this looks weird (as you noticed), which is why they move everything to 'Du' now I guess. They should better have chosen the other direction, but oh well.

[2017-12-04 17:09] FlorianSW commented on #486
So, I personally like Du, however, as long as we do not mix, Sie is ok, too :)

[2017-12-04 17:21] mueller-ma commented on #333
@slawekjaranowski Any updates on that?

[2017-12-04 17:51] mueller-ma commented on #476
@boc-tothefuture

[2017-12-04 18:11] boc-tothefuture commented on #476
I am not sure... I did a google image search and didn't come up with anything.
I am ok w/ a pencil?

[2017-12-04 18:23] mueller-ma commented on #476
I couldnt find a solution from google. I think a pencil button could be a bit overkill, @boc-tothefuture can you try the suggestion by @digitaldan.
Another thing with the number picker: When I tap on the label of any item type nothing happens, but for number items the number picker opens. I think its better when it only opens when tapping on the number.

[2017-12-05 06:43] maniac103 commented on #460
You can do the app side change right now, you'll need to consider server versions without that field anyway ;-)

[2017-12-05 13:40] ThomDietrich opened #495 "Provide USAGE.md for docs.openhab.org"
Hey everyone!

over at docs.openhab.org we realized, that is a good practice, to store articles related to e.g. certain add-ons in their respective repositories. This step makes keeping them up to date easier. A script to sync those files back into docs is in place.

The android app article is currently maintained inside the docs repo: http://docs.openhab.org/addons/uis/apps/android.html / https:/

[2017-12-05 13:47] boc-tothefuture commented on #476
@mueller-ma -
  I found it very difficult to select the number before which is why I expanded the touch space to the entire line. I will revert that and see what happens.
  Any idea where we can get the down arrow from the selection widget?

[2017-12-05 16:16] mueller-ma commented on #495
What should I do with screenshots? Include them in this repo or somewhere in openhab-docs?

I cannot see any special header. What do you mean with that?

[2017-12-05 17:35] FlorianSW commented on #479
I plan to work on this, once #391 is merged :)

[2017-12-05 17:41] mueller-ma commented on #179
I'm on that

[2017-12-05 17:41] ThomDietrich commented on #495
Ah, I see, yes those are different.

A better example is maybe: https://github.com/openhab/org.openhab.ui.habpanel/tree/master/doc

There you can see the special header and the idea to add screenshots to the `images` subfolder. You could also put everything into the `doc` folder.

[2017-12-05 20:02] mueller-ma commented on #287
I think that's the bug. Can you compare the behavior of both apps with basic ui?

[2017-12-05 20:05] mueller-ma commented on #264
#442 changed the setpoint item to a number picker. The effect described in this issue shouldn't happen anymore.

[2017-12-05 20:05] #264 closed

[2017-12-05 20:23] mueller-ma commented on #249
To be honest I dont think its worth to fix this issue:

1. I didn't read the linked pdf about tls 1.0, but I couldnt find security issues with a quick search. https://security.stackexchange.com/questions/106310/should-i-disable-tls-1-0-on-my-servers and https://www.ssllabs.com/ssltest/viewMyClient.html TLS 1.0 still enabled in FF, Chrome, ... by default.
2. https://www.ssllabs.com/ssltest/analyze.

[2017-12-05 20:24] mueller-ma commented on #250
@nurgaleevarman Do you still have issues with remote connection?

[2017-12-05 20:27] mueller-ma commented on #222
Cannot reproduce, seems to be fixed.

[2017-12-05 20:27] #222 closed

[2017-12-05 20:28] mueller-ma commented on #217
@lolodomo Is this related to #481 ?

[2017-12-05 20:31] mueller-ma commented on #169
@shorty707 Can you provide on these icons that do not resize correctly?

[2017-12-05 20:33] mueller-ma commented on #156
@shorty707 Poke

[2017-12-05 20:37] mueller-ma commented on #146
[Here](https://github.com/mueller-ma/openhab.android/blob/master/mobile/src/main/java/org/openhab/habdroid/core/OpenHABTracker.java#L110) is checked if the local url is reachable by a simple tcp connection. It should check if this is a openhab server.

[2017-12-05 20:45] mueller-ma commented on #41
@tonyathome2000 Any updates on that? MinAPI is 14, 4.2.X is 17, so it should work.

[2017-12-05 21:55] #478 closed

[2017-12-05 23:36] #471 closed

[2017-12-06 07:29] lolodomo commented on #217
No, that looks like a different issue specific to charts. But if due to this issue, the chart is refreshed too much fast, my fix will avoid flooding the app with refresh.

[2017-12-06 08:27] gruenwaldt commented on #287
Hello,
short comparison:
with formatting

in Android App everything looks ok by now
![android](https://user-images.githubusercontent.com/2316967/33651564-a1336848-da66-11e7-8863-9ed382fdcca5.jpg)

in iOS no formatting is shown at all
![ios](https://user-images.githubusercontent.com/2316967/33651568-a3b7aca0-da66-11e7-9a58-fbd8e2944b93.jpg)
(side behaviour: the formatting with "Uhr" leads to not sh

[2017-12-06 11:34] mueller-ma commented on #287
Can you open an issue in openhab/openhab.ios? Since the issues here are solved, I'll close this. Thanks for your detailed reports.

[2017-12-06 11:34] #287 closed

[2017-12-06 11:36] mueller-ma commented on #345
My bad, #477 did add the adaptive icon, but there is still some work that need to be done for target api 26.
https://www.youtube.com/watch?v=7kD0ZYzJbYo
https://www.youtube.com/watch?v=Pumf_4yjTMc

[2017-12-06 11:39] mueller-ma commented on #495
Currently we have all screenshots in /fastlane/metadata/android/en-US/phoneScreenshots/. I want to avoid duplicate files, so will symlinks to /docs also work?

[2017-12-06 13:08] ThomDietrich commented on #495
I see. Yes symlinks would be fine with me. The important part is, that the Usage articles needs to include images from the images folder: `<img src="images/android_01.png" ...>`

May I ask why screenshots need to be deep down in the folder structure? I'm no android dev, what's fastlane? Could you perhaps put the symlinks there and move the images to the images folder?

[2017-12-06 16:32] mueller-ma commented on #495
Fastlane is a tool to make play store releases easier. @digitaldan doesnt use it, but when providing metadata in this structure, F-Droid picks it up and shows it on the app site.

[2017-12-07 08:17] lolodomo commented on #438
A solution could be to limit the maximum upscaling ratio, maybe to 3 or 4.
WDYT ?

[2017-12-08 16:30] digitaldan opened #499 "Release 2.0"
@mueller-ma  , @lolodomo , @FlorianSW ,  @maniac103

Hi all, I would like to cut 2.0 this weekend, I will plan on going through the PR's we have and merging them.   If there are PR's you think need more work, or could wait until 2.0.1, please let me know.   These are the PR's that seem to be a candidate for release that are not yet merged.

#481
#482
#493
#497
#498

@FlorianSW is #391 ready or doe

[2017-12-08 16:51] maniac103 commented on #499
#496 and #497 look like they would need the largest testing. I also have some specific comments about #496 (will add them later), my gut feeling is we shouldn't rush out this one.

[2017-12-08 16:56] ThomDietrich commented on #499
My believe is that @digitaldan wants to release before the openHAB 2.2 release. 👍

[2017-12-08 16:59] maniac103 commented on #499
@ThomDietrich Oh, that one is imminent? Please do me a favor and review https://github.com/openhab/openhab2-addons/pull/2932 before that happens so I can finally update to OH2 - thanks ;-)

[2017-12-08 17:52] mueller-ma commented on #499
I preffer that my two PRs about the foss build #482 and #493 will be merged AFTER the 2.0 release. We dont need them for the full version.
#481 looked quite good to me, but I didnt review the changes after my initial review there.
#391 the last time I tried the migration it didnt work, but @FlorianSW said he fixed it.

[2017-12-08 17:55] mueller-ma commented on #499
I tested #496, but only for local connections.

[2017-12-08 17:59] mueller-ma commented on #499
@karafyllidis @mgarciate @lolodomo @naofum @jvitkauskas @Maurits28
Please update the translations. I'll have a look at the german one.

[2017-12-08 18:13] lolodomo commented on #499
#497 is very simple and don't require lots of tests. #481 should require more attention.

I am working on the fix relative to the 30 seconds useless refresh. I would like this fix to be included in the comiong 2.0. I implemented the fix very quickly this morning but unfortunately I did not notice the expected result as it avoided a refresh only every minute rather than every 30 seconds. I have to

[2017-12-08 18:18] mueller-ma commented on #499
I would like to see #476 resolved before a new version is built. I'd suggest to wait until it is resolved or - if we need the version this weekend - release a commit before #442 was merged.

[2017-12-08 18:57] lolodomo commented on #460
I have done a stupid mistake when fixing on the server side. A new fix is required on the server side.

[2017-12-08 19:02] lolodomo commented on #499
Ok, I finally submitted PR #501 for the 30s refresh. Unfortunately, I discovered a stupid bug in my fix for the sitemap REST API. I will fix it in parallel. It would make sense to wait for the fix in server before merging this one.

[2017-12-08 19:12] ThomDietrich commented on #342
@digitaldan if okay with you i can set up crowdin tomorrow. We are already using it in other repositories and it's quite nice. It would also be a good thing to have all openHAB projects translated there to attract more contributors.

@mueller-ma this will then also make your request for updated strings easier ;)

[2017-12-08 22:38] FlorianSW commented on #499
For #391 I would really like to see it in the next version (2.0) of the app. I already fixed all points and implemented all suggestions (as far as I can see), however, it would be great, if @mueller-ma could take a look to the migration part, which worked in my testing (building apk of older version -> installing -> changing url -> building apk of this version and install -> see if the url was mig

[2017-12-09 06:56] lolodomo opened #502 "Google Cloud Message: not working ?"
In the about window, I can see for GCM this message in French

So, I see two problems:

1. Why %s is not replaced by a real ID ?
2. Why the registering is not working ?

[2017-12-09 07:01] lolodomo commented on #499
@digitaldan : I would suggest to publish first a version 1.9 this weekend.
I think the version 2.0 should include the suppression of the top right menu. It remains 2 entries in this menu, the RFC tag and the selection of the default sitemap. As already proposed, the selection of the default sitemap should be moved to the settings.
Then you could publish a version 2.0 just after the openHAB 2.2 is

[2017-12-09 07:23] maniac103 commented on #502
Does the string say registration failed? If yes, it needs to be updated to not include the ID, which was null anyway. See the new code at https://github.com/openhab/openhab.android/blob/master/mobile/src/main/java/org/openhab/habdroid/ui/OpenHABInfoFragment.java#L173 ... I thought I had done that update though (?)

[2017-12-09 07:40] lolodomo commented on #502
It is the string `info_openhab_gcm_not_connected`.
Ok, I am fixing the french translation immediately.

Why the connection is failing ?

[2017-12-09 07:47] lolodomo commented on #499
Please include #503 an update of the French translation.

[2017-12-09 07:49] lolodomo commented on #502
Is there something special to do to get a working GCM registration ?

[2017-12-09 08:01] mgarciate commented on #499
@mueller-ma do you have the German translation updated at master? I'd like to check differences between GE and SP, and fill the resource with the new ones.

[2017-12-09 08:07] lolodomo opened #504 "Refresh using Server Sent Events"
I would like to discuss about the move to SSE to refresh the app.

Unfortunately, SSE client is not part of the Android SDK ?
So should we use an existing library or try to implement a SSE client in our app ?
What do you thing about this library: https://github.com/tylerjroach/eventsource-android ? It is apparetnly not updated since a long time.

[2017-12-09 08:33] lolodomo commented on #504
I found oksse https://github.com/heremaps/oksse which is an extension to OkHttp. The license is Apache 2.0. Is it compatible with our own license ?

[2017-12-09 08:52] lolodomo commented on #504
Maybe an option could be a Webview using EventSource ? I am not source if the data received by the Webview could then be handled by the app.

[2017-12-09 09:18] mueller-ma opened #505 "Mention build flavors in readme"
See #409

[2017-12-09 09:18] mueller-ma commented on #502
Have selected a build flavor? There is currently no documentation over them #505

[2017-12-09 09:20] mueller-ma commented on #499
@mgarciate In the german translation only the translations for "Bitmap" and "Vector" are missing.

[2017-12-09 09:37] maniac103 commented on #502
Is this with a self-built APK? In that case GCM won't work as it (AFAIK) only works with APKs that are signed with the key specified upon registration of the GCM API key.

[2017-12-09 09:48] mgarciate commented on #499
Alright, I'll upload the translation this evening.

[2017-12-09 09:56] lolodomo commented on #502
The registration is working on my phone which uses the official app version from the market.
On my tablet, I am using a version installed from within Android Studio and so I understand that it is normal that GCM registration is failing in that case.

[2017-12-09 10:14] #484 closed

[2017-12-09 10:16] mueller-ma commented on #502
I'm not 100% sure, but I think I registered my device with a self built apk

[2017-12-09 10:26] mueller-ma commented on #499
I'll added a 2.0 milestone to all issues and PRs which would be nice to have in the next version.

[2017-12-09 12:03] boc-tothefuture commented on #499
I am going to try and get to #476 today

[2017-12-09 12:23] lolodomo commented on #319
In fact, it looks like when you remains in landscapoe mode and select in the left column, the selection appears a short time and then disappears when the right column is updated.
So there is something wrong even when remaining in landscape mode.

[2017-12-09 14:07] mueller-ma commented on #319
The blue selection is now completly broken.

[2017-12-09 18:06] #420 closed

[2017-12-09 18:06] #459 closed

[2017-12-09 18:11] boc-tothefuture commented on #499
PR #507 submitted to resolve #476

[2017-12-09 18:12] boc-tothefuture commented on #476
@mueller-ma I pushed #507 to resolve this.  Would you mind taking a look w/ a critical eye towards the layout segments?

Thanks!

[2017-12-09 20:37] mueller-ma opened #508 "FR: Issue and pull request template"

[2017-12-09 20:40] digitaldan commented on #499
If anyone wants to start the release notes for the play store that would be great.  For example:

* Updated Logo
* New Translations
* Bug Fixes
* ....

[2017-12-09 20:52] mueller-ma commented on #499
On it

[2017-12-09 20:57] digitaldan commented on #499
Thanks!

[2017-12-09 21:13] mueller-ma commented on #499
I think we should also add it in this repo #510

[2017-12-09 21:28] mueller-ma commented on #502
@lolodomo Did you change the build flavor?

[2017-12-09 22:20] cribskip commented on #93
So, after a few years, I guess this should be made possible by using the webaudio backend just like HABpanel and Paper UI.

If I find some time, I'll look into this and post a PR.

[2017-12-09 22:22] lolodomo commented on #502
No, I even don't know what is "flavor" ;)

[2017-12-09 23:25] mgarciate commented on #499
Spanish translation in #512

[2017-12-10 10:12] lolodomo commented on #502
@mueller-ma : without your new explanations in the doc, I will probably never see the "build variants" at left !!! fossDebug was selected. I switched to fullDebug. But GCM registration is still failing after runnign mobile. My tablet is only a wifi tablet, can it be a valid reason ?

[2017-12-10 10:41] lolodomo commented on #479
@mueller-ma : you should change the milestone to 2.0.1 as the PR does even not yet exist.

[2017-12-10 11:34] mueller-ma commented on #479
Yes, but this is the last point in the menu

[2017-12-10 11:35] lolodomo commented on #479
I have NFC stuff too.

[2017-12-10 11:57] jvitkauskas commented on #499
Lithuanian, Russian translations in https://github.com/openhab/openhab.android/pull/513

[2017-12-10 12:09] lolodomo commented on #504
After studying the way the long polling is implemented, I understand why some updated events can be lost. The app is not always listening for changes, when handlimg a previous change.

[2017-12-10 12:32] lolodomo commented on #499
Kai is building a new server version including the REST API fix so please include #501 in version 2.0.

[2017-12-10 12:57] FlorianSW commented on #479
@lolodomo For NFC, we don't have a plan yet what we do with it, as it serves context-specific tasks (create a nfc tag which will open the app with this specific sitemap page). For the "Select default sitemap" we already know what to do (move to the connection settings in the settings), which is also a pretty easy change. I plan to create a PR today, even if PR #391 isn't finished, yet (shouldn't h

[2017-12-10 13:21] lolodomo commented on #479
Yes of course ok for me if this can be implemented so quiclly.

For NFC I never understood what is this feature for. Can you explain ? Is it possible to disable it through a user setting ?

[2017-12-10 14:53] FlorianSW opened #515 "Decide what to do with NFC "Link to Sitemap page""
From what I read from the code, the NFC option at the options menu at the top right has the following functionality:
* Once the user taps this option, the NFC tag write activity is started
* the parameter sitemapPage is passed to that activity, which contains the url of the curretnly displayed sitemap page (I assume e.g. a sub-category or something like that)
* The user could write a NFC tag now,

[2017-12-10 14:54] FlorianSW commented on #479
@lolodomo For the NFC thing I created #515 and explained how I understood the feature from reading the code. Let's discuss there, if we need it :)

[2017-12-10 17:03] mueller-ma commented on #502
Should work with wifi only. Do you have a remote url set? And are play services installed on the device? Do you have some kind of firewall on the tablet?

[2017-12-10 17:07] lolodomo commented on #502
No I have no remote URL set as I use the tablet only in my local network. Is it the reason ?

[2017-12-10 17:27] mueller-ma commented on #502
Yes, GCM is only needed for receiving notifications from openhab cloud.

[2017-12-10 17:27] #502 closed

[2017-12-10 22:27] #354 closed

[2017-12-10 22:54] digitaldan commented on #504
Yes, the current impl of long polling is not good.  The apache license is fine for us, I would strongly encourage using an existing framework.  I have not played with either, but https://github.com/tylerjroach/eventsource-android was updated in November.  Would LOVE to see SSE in the app!

[2017-12-10 22:55] digitaldan commented on #515
I vote to remove.

[2017-12-11 07:12] mueller-ma commented on #515
+1 remove

[2017-12-11 09:23] karafyllidis commented on #499
Greek translations in #518

[2017-12-11 09:36] jainhemendrah commented on #457
Switched to Linux - issue resolved

[2017-12-11 09:36] #457 closed

[2017-12-11 11:06] ThomDietrich commented on #342
@digitaldan are there any concerns you want to discuss? The lack of a response tells me that there are unspoken issues!? I already created dummy projects. I'll trigger them once to create a PR so you can have a look at potential results.

Everyone interested, please have a look at: https://crowdin.com/project/openhab-android

[2017-12-11 14:44] maniac103 commented on #515
+1 remove

[2017-12-11 19:46] #476 closed

[2017-12-11 22:08] digitaldan commented on #499
FYI I just pushed a change so every merge into master will trigger the build AND push a signed APK file to https://github.com/openhab/openhab.android/releases/tag/latest-master  if the build is successful

[2017-12-11 22:09] #479 closed

[2017-12-11 22:35] digitaldan commented on #499
well, it was working!  trying to debug why its now not updating, stay tuned.

In the mean time #499 and #510 are the only un-merged PR's.  I'll merge #499 here in just a min, @mueller-ma that should complete our final code change for the build, if we are happy we can merge the readme and tag the release.

[2017-12-11 22:39] lolodomo commented on #499
Please include  #501.

[2017-12-12 00:56] #460 closed

[2017-12-12 00:57] digitaldan commented on #499
Just merged #501

[2017-12-12 06:17] lolodomo commented on #499
Thank you

[2017-12-12 14:47] mueller-ma commented on #499
#516 is the last PR for 2.0

[2017-12-13 03:18] #515 closed

[2017-12-13 15:41] digitaldan commented on #499
Final APK is here  https://github.com/openhab/openhab.android/releases/tag/2.0.0-PRE , I start setting up the play store for release, I'll post back here however before I push anything.

[2017-12-13 16:13] digitaldan commented on #499
Well, we have a 500 character limit for notes in the play store for each language, so we are going to need a smaller list, this is the format.

[code]

I can start working on this in a few hours

[2017-12-13 17:12] mueller-ma commented on #499
[code]

You mostly need [more words](https://esolangs.org/wiki/German#Limitations) in german than in english, so I removed some points from the german changelog, e.g. translation (They dont care in germany anyway, since the german translation was nearly complete). @maniac103 Please review. Whats short and good for `Fixed overlapping label and value`.

[2017-12-13 18:03] maniac103 commented on #499
[code]

I'd write as
[code]
`Remote-Server` instead of `entfernten Server` would also be ok.

For `Fixed overlapping label and value` I'd suggest `Überlagerung von Bezeichnungen und Werten bei langen Bezeichnungen behoben`. I'd also write `Unnötiges Nachladen der Sitemap unter bestimmten Bedingungen wurde behoben`

[2017-12-13 18:32] mueller-ma commented on #499
@maniac103 Thanks
@digitaldan Changelog above is ready for play store.

[2017-12-13 20:55] digitaldan commented on #499
Thanks @mueller-ma ! looks great!

[2017-12-13 20:56] digitaldan commented on #499
[code]
Looks like we are still over on the German part.

[2017-12-14 05:23] mueller-ma commented on #499
Remove that part with Unnötiges nachladen...

[2017-12-14 23:50] digitaldan commented on #499
All right, I have the latest apk loaded in the play store , release notes are entered,  speak now or forever hold your peace!

[2017-12-15 06:35] mueller-ma commented on #499
... or at least until 2.0.1 :)

[2017-12-15 16:24] kaikreuzer commented on #515
Argh, not getting reliable notifications from Github these days - and one of my favorite features has been removed within 5 days :-(

I clearly vote to keep it.
It is one of the most useful features about NFC support, which I also regularly mention at conference talks and it even has its own YouTube video on the openHAB Channel: https://youtu.be/NgsFGtuUFSw?t=25s

Any chance to get it back again?

[2017-12-15 18:36] FlorianSW commented on #515
Hi @kaikreuzer Damn, and I really thought, no-one really uses it (as I doesn't see any use case for it). However, my main point of _removing_ it, was to get rid of the options menu, so if you're ok with having the option in the long press-menu of every item (also groups), I would be happy to re-introduce it there :)

[2017-12-15 18:38] FlorianSW opened #527 "Re-introduce "NFC to sitemap page""
As mentioned by @kaikreuzer in https://github.com/openhab/openhab.android/issues/515#issuecomment-352048219 he's using the NFC functionality to "link to the current sitemap page" and advertises it whenever he can. As the main functionality of the NFC tag writing is still existing (for actions like toggle, on or off), re-introducing it would be pretty simple and not much code we would need to maint

[2017-12-15 18:38] FlorianSW commented on #515
I opened #527 for that :)

[2017-12-15 18:39] FlorianSW commented on #499
Hmm, should we probably wait for #527? :/

[2017-12-15 18:40] digitaldan commented on #515
Long pressing an item is how nfc tags are associated with items , so I think this has to go the bar menu , or in the bar itself

[2017-12-15 18:45] FlorianSW commented on #515
Is there a problem having a separate item "Link to this sitemap page" or something like that?

[2017-12-15 18:50] maniac103 commented on #527
It's probably OK for now, but middle and long term I'd vote for making this feature more consistent by either
- moving it to a long-press action of the respective navigation drawer item or
- introducing a new activity that's accessed from the navigation drawer and allows assigning NFC tags to both sitemaps and switch items, fully replacing the long-press actions.

I'd favor the latter, because it

[2017-12-15 18:51] maniac103 commented on #515
I've added some placement suggestions to #527.

[2017-12-15 18:55] FlorianSW commented on #527
Would you like to open a new issue for that? Having a separate activity (like a wizard, where you first select what to link (item, sitemap), in the next step select what item/sitemap, and in the last step what action should happen?) sounds like a huge amount of work (however, I really like it!), which is also out of scope of this issue? :)

[2017-12-15 18:55] kaikreuzer commented on #515
Thanks for re-opening it, although no one of you thought it is in any way valuable 😇 !

Isn't it possible to put the feature as a long press on the header text, which shows the name of the current page (e.g. "Ground Floor")? This would be the most logical place, as the long press on the widgets underneath is also used for NFC.

[2017-12-15 18:57] FlorianSW commented on #515
I'm not sure, if this place for the feature is discoverable at all for the user? The header normally doesn't take any long-press-options (at least I haven't seen any app, which does that).

[2017-12-15 19:00] kaikreuzer commented on #515
Up to you, I don't care too much where it is located as you only have to program it once for a page and never again.

[2017-12-15 19:55] kaikreuzer commented on #527
Yes, as mentioned in https://github.com/openhab/openhab.android/issues/515#issuecomment-352085047, I do not care too much, where it is as long as the feature is there. Thank you all!

[2017-12-15 20:56] maniac103 commented on #527
@FlorianSW I'd make that activity just display a list with all sitemaps and all assignable items, with appropriate section headers.

[2017-12-15 21:09] #527 closed

[2017-12-15 22:32] digitaldan commented on #499
https://github.com/openhab/openhab.android/releases/tag/2.0.0-PRE-2 is now available with #527, I will need to make one more PR to bump the build number, but this can be tested to verify the fix

[2017-12-16 08:15] lolodomo commented on #499
The menu at top right has now disappeared. That is really cool like that.

[2017-12-16 08:26] lolodomo commented on #504
I would like to use oksse as it is an extension of okhttp and we are already relying on okhttp in the app.
I will cut the work in 2 steps:

1. first step: subscribing to SSE to be notified of all changes in the current page
2. second step: update the UI according to received SSE messages

First step is relatively clear for me.
Second step is not as clear for me, I will have to study how to trigger

[2017-12-16 10:29] mueller-ma commented on #527
The Signal uses long pressing on the header.
In [older versions](https://signal.org/assets/header/nietzche-04f33953b2398c045dc664aaa5bea560bf83ea6bf45b32a3066a766b5c10082d.png) you could press on the picture and open the contact app. They moved the picutere next to the name in the header. Now when you long press the header, the contact app opens and when you press the picture, you see it in fullsc

[2017-12-16 12:12] lolodomo commented on #504
@kaikreuzer @resetnow : I have a question for you about sitemap SSE. In the Basic UI, it looks like we are handling a unique SSE subscription and when the user changes page, the subscription is updated to be linked to the new page.
The Android app can display (in landcape mode) two levels of page, the parent page at left and the child page at right. Does it mean I need to manage two different site

[2017-12-16 12:19] resetnow commented on #504
From the current architecture I would think you need two of them. One of alternate solutions is to extend SSE events with ability to track nested pages but I think it's too complex.

[2017-12-16 12:40] lolodomo commented on #504
Ok.
What is the result of calling get rest/sitemaps/events/{subscriptionid} without setting the parameters sitemap and page (they are optional) ?

[2017-12-16 16:20] digitaldan commented on #499
I have posted https://github.com/openhab/openhab.android/releases/tag/2.0.0 , I will plan on releasing this in a few hours unless I hear otherwise.  I will also post an announcement on the community forums.  Thanks for everyones help!

[2017-12-16 21:04] #495 closed

[2017-12-17 11:19] #406 closed

[2017-12-17 22:20] digitaldan commented on #499
https://community.openhab.org/t/android-and-ios-2-0-releases

Thanks everyone!

[2017-12-17 22:20] #499 closed

[2017-12-17 22:24] lolodomo commented on #499
With the last minute changes, the translations are now only partial in the preference settings.

[2017-12-17 22:39] FlorianSW commented on #499
@digitaldan Could you remove the bindings and discovery screenshot from the list of screenshots? These functionalities were removed :)

[2017-12-17 22:40] digitaldan commented on #499
Good point, I’ll do that now!

[2017-12-18 05:31] mueller-ma commented on #499
There are still some binding screenshots in the play store.

[2017-12-18 07:03] lolodomo commented on #200
This menu has been removed.

[2017-12-18 09:42] mueller-ma commented on #200
When you open the about menu, fullscreen mode is exited.

[2017-12-18 10:27] lolodomo commented on #200
Dame for settingd. A new issue should be opened.

[2017-12-18 10:37] mueller-ma commented on #200
Ok

[2017-12-18 10:38] #200 closed

[2017-12-18 10:39] mueller-ma opened #530 "Full screen mode is exited when opening settings/about"

[2017-12-18 10:41] mueller-ma commented on #446
Fix in #447

[2017-12-18 10:42] #446 closed

[2017-12-18 10:42] mueller-ma commented on #443
Can you try it with the latest version from play store?

[2017-12-18 10:42] mueller-ma commented on #395
Can you try it with the latest version from play store?

[2017-12-18 10:47] lolodomo commented on #530
But restored when exiting settings/app.

[2017-12-18 15:58] Confectrician opened #531 "Widget broken - Wrong iconsize or microphone graphic is missing"
Hi,

After updating i recognized that the app widget is displayed wrong.

![image](https://user-images.githubusercontent.com/7161177/34114976-8492d522-e414-11e7-95df-0bb6fb5ed72b.png)
![image](https://user-images.githubusercontent.com/7161177/34114997-944ff044-e414-11e7-9a9c-11425138dea1.png)

Seems that something with the icons is wrong.
The voice button is usable if you have small fingers, but i

[2017-12-18 16:25] mueller-ma commented on #531
![screenshot_20171218-172145](https://user-images.githubusercontent.com/22525368/34116223-36db40b8-e418-11e7-8526-f0d508e1aa9d.png)
I created a new widget (didnt had one before the update) and it looks like intended.

Android 7.1.2
LineageOS 14.1
Oneplus X

[2017-12-18 16:25] mueller-ma commented on #531
Whats your grid size?

[2017-12-18 16:26] Confectrician commented on #531
4x4

[2017-12-18 16:34] mueller-ma commented on #531
I have 4x5 at 5 inch display. Did you try to remove and recreate the widget?

[2017-12-18 16:37] mueller-ma opened #533 "Issues with right to left languages"
This isnt an issue at all as long there is not translation in a rtl language.

Overlapping label and value:
![screenshot_ - - - - -](https://user-images.githubusercontent.com/22525368/34116748-c45f50f4-e419-11e7-913d-53724bd65fb2.png)
Text goes in wrong direction (should be on the left side of the icons)
![screenshot_ - - - - -](https://user-images.githubusercontent.com/22525368/34116749-c4e05320-

[2017-12-18 16:38] Confectrician commented on #531
Did it right now, but that doesn't change anything.

[2017-12-19 07:23] lolodomo commented on #504
@digitaldan @mueller-ma : the refresh granularity of the app is the (full) fragment and not the widget in a fragment. Can you confirm that it is something we cannot change without rewritting the app ?

@kaikreuzer @resetnow : can you explain how to release a subscription id ? Is it a problem (for the server) to request several subscription id ? The easiest solution in the Android app would be to h

[2017-12-19 07:32] resetnow commented on #504
They are garbage-collected after a certain timeout

Not really, it's just like if two people opened BasicUI on two device

[2017-12-19 09:40] ThomDietrich opened #534 "Notifications screen: Replace top left icon by arrow-left"
After selecting "Notifications" from the hamburger menu / sidenav, the top left icon stays the hamburger symbol, even though it should be an arrow to the left. Thanks for looking into it!

[2017-12-19 11:15] ThomDietrich opened #536 "Add option to enter hostname/IP"
Improvement suggestion.

The local/remote server settings allow for an URL to be entered. Considering, that the openHAB REST API will most probably be available via http(s) on ports 80, 443, 8080 or 8443, it would be nice to also accept a simple hostname/IP in the address field.

[2017-12-19 11:18] ThomDietrich opened #537 "Selection Widget formatting incosistent"
The selection element presents the currently selected option to the right. Font, font size, color and positioning of the value are not in line with the rest of the Widgets. In addition it seems like the value does occupy more width than it needs to. me labels are cut off way before the value text.

[2017-12-19 11:20] ThomDietrich opened #538 "Add NFC info screen"
The long-press action to write an action to an NFC tag comes as a surprise to new users.

I'd suggest to add a menu entry to the hamburger menu (e.g. "Write NFC tag") which simply described this function in a few words.

[2017-12-19 11:23] ThomDietrich opened #539 "Refresh on pulldown"
When inside a sitemap view pulling down the view beyond the length of the sitemap should trigger a refresh action as known from many apps. Currently there is no easy way to trigger a refresh of the sitemap view.

Rationale: Even if that might technically not be needed, a user might want to do that and one of the google app design guidelines is that every user input should result in appropriate act

[2017-12-19 12:21] mueller-ma commented on #539
I dont think this is technically needed and I vote for not including a thing, that does nothing.

[2017-12-19 12:51] michel53 opened #540 "Multi-Line item text? \n?"
Since updating to the new Android app V 2.0 from 17.12.2017, I have a problem with multi-line items.
Before, I could use something like

Switch    Wall_Plug               "Schaltbare Steckdose1 \n(Wohnzimmer) [%s]"
Number    Shutter1_Power          "Rollo Küchentür \nLeistung [%.1f W]"

and it showed in 2 lines in the Android App (but 1 line in Basic and Classic UI).
Now this is always 1 line, eve

[2017-12-19 13:51] ThomDietrich commented on #539
Why isn't it? At least in the past I had to refresh manually occasionally...

[2017-12-19 15:27] ThomDietrich commented on #538
Sounds like you are on the right track!

Feel free to close this Issue in favor of an issue with the proposal by yourself.

[2017-12-19 15:29] ThomDietrich commented on #540
This is not a supported feature of sitemaps and should hence not be supported by the android app.

I'm not particularly shooting down your idea or saying it's a bad thing. If a function like this is desired, it has to be discussed on a ESH sitemap scope first.

[2017-12-19 18:07] mueller-ma commented on #540
Like @ThomDietrich this isnt a supported feature. The text is cut, so it does not overlap with the value/switch/slider etc.
If you want to have some kind of multiline you can create a text item and show it without a value before the switch.
[code]

[2017-12-19 18:07] #540 closed

[2017-12-19 18:12] mueller-ma opened #541 "Icons flash when sitemap is reloaded"
Navigate to any page in your sitemap and wait until some item changes. All icons in the sitemap flash.

Reported here: https://community.openhab.org/t/android-and-ios-2-0-releases/37405/3?u=mueller-ma

[2017-12-19 18:34] mueller-ma commented on #539
AFAIK the app auto refreshes. See #504 for improvements.

[2017-12-19 19:35] ThomDietrich commented on #539
Can't prove that it is not. I can tell you for a fact that I did see an outdated state of my sitemap in the past and had to refresh the view...
Please also reconsider my google design guideline argument from above.

The last decision is with you. Do what you want with the issue.

[2017-12-19 19:37] ThomDietrich commented on #540
@mueller-ma

I believe it has to read

[code]

[2017-12-20 06:44] mueller-ma commented on #539
@lolodomo had a deaper look in auto refresh. Is manual refresh needed?

[2017-12-20 07:02] michel53 commented on #540
Okay, now I know this was not a supported feature.
I agree with @ThomDietrich that such a feature should be discussed on an ESH sitemap scope so that multiline works on all UIs.
The proposed workaround is okay for me for the moment.

[2017-12-20 07:09] mueller-ma commented on #540
Do you want to open an issue in eclipse/smarthome?

[2017-12-20 07:17] lolodomo commented on #539
Current implementation of auto refresh is not 100% reliable. I am working on a new solution based on SSE.

[2017-12-20 07:28] michel53 commented on #540
I hope this is the right location:
[https://github.com/eclipse/smarthome/issues/4789](url)

[2017-12-20 07:41] cribskip opened #543 "Rollershutter/blinds icons are always default"
After upgrading to OH-2.2 and openhab.android "2.0.0 16.12.2017 3:33:27" from the Play store, my blinds are all showing this icon ([[https://docs.openhab.org/v2.1.0/addons/iconsets/classic/icons/blinds.png]]) instead of the right one.

I already cleared the icon cache and tried "blinds" icons instead of "rollershutters" icons but still the same.

Dimmable lights are working fine. Only blinds/rolle

[2017-12-20 07:42] mueller-ma commented on #540
When you post a link to github, just paste the link without any brackets. The link you posted directs to the user "link".

[2017-12-20 07:44] cribskip commented on #531
I'm having the same problem as @Confectrician.
I'll see if I can get my dev env ready today and take a look at this.

While at it, I'll make the widget resizable.

[2017-12-20 07:46] cribskip commented on #543
Can be closed, @mueller-ma has been faster with #542

[2017-12-20 07:46] #543 closed

[2017-12-20 07:51] michel53 commented on #540
Thanks for the hint, corrected.

[2017-12-20 09:06] gargamelonly opened #544 "No text in menu using a phone with RTL language (hebrew)"
The menu of the app has no text.
Only menu icons are visible.
![screenshot_20171220-110509](https://user-images.githubusercontent.com/29747434/34199239-c9396184-e575-11e7-9042-577c2dd991a7.png)

[2017-12-20 10:10] mueller-ma commented on #544
Duplicate of #533

[2017-12-20 10:10] #544 closed

[2017-12-20 10:10] mueller-ma commented on #533
It seems to affect some users, I'll give it a try

[2017-12-20 10:25] gargamelonly commented on #544
How can I help add translations?
Meanwhile, if no translation is available, why not display the default English text?

[2017-12-20 10:27] gargamelonly commented on #533
How can I help add translations?
Meanwhile, if no translation is available, why not display the default English text?

[2017-12-20 11:41] mueller-ma commented on #533
The default english text is displayed, but the app is not optimized for right to left languages.
@ThomDietrich whats the current state of crowdin?

[2017-12-20 16:31] mueller-ma commented on #533
We want to use a webbased translation platform, but until it is in use you can do the manual way. Here is a very good explanation how to do that: https://github.com/SimpleMobileTools/General-Discussion#how-do-i-add-a-new-file
The mentioned folder is https://github.com/openhab/openhab.android/tree/master/mobile/src/main/res in our repo.

[2017-12-20 17:38] cribskip commented on #531
Ok, finally got github to do what I wanted ;-) Please see #545

[2017-12-20 17:47] mueller-ma opened #546 "Crash due to a memory leak"
[code]

[2017-12-20 22:44] digitaldan commented on #504
I don't think we need to rewrite the whole thing... but I have not given it the proper time to come up with a high level proposal .

[2017-12-20 23:58] digitaldan commented on #546
java.lang.OutOfMemoryError: pthread_create (1040KB stack) failed: Try again
                                                                          at java.lang.Thread.nativeCreate(Native Method)

Our app ran out of memory and could not create anymore file pointers, and so crashalytics could not get to its own files, but the the root cause is a memory leak, not crashalytics.

when Java runs out

[2017-12-20 23:59] zosky opened #548 "crash on voiceCommand from widget"
after a few years using OH, i finally decided to make a voiceControl item & some rules. the WAF on this one is high !! thank you for such a cool feature.

on my wife's phone it works flawlessly. on mine, when activated from the widget it crashes every time (after sending the command to OH). it does not crash when voice is launched from inside the app.

i turned on debug & grabbed [logs](https://ww

[2017-12-20 23:59] digitaldan opened #549 "Next Release"
This issue is used to coordinate new releases.

[2017-12-21 01:06] CrazyIvan359 opened #550 "Setpoint and Selection dialogs"
My app just updated and now the Selection and Setpoint Sitemap items both open a dialog, instead of their old behavior. This makes a bit more sense for the Selection item than it does for a Setpoint, but I don't like this new dialog instead of the nicely sized dropdown list that we had before. Setpoints are my big issue here, why have they been changed to a wheel dialog? This splits the user exper

[2017-12-21 06:51] mueller-ma commented on #550
On a selection item with many entries, the old dropdown menu was a bit too small.
You have different input methods for basicui and the app (touch vs mouse/keyboard), so I think different dialogs are a good thing.

[2017-12-21 06:52] lolodomo commented on #504
I will trigger as it is now a refresh of the page/fragment as soon as an update event is received but that is not an optimized solution. Imagine you have an image in your page, it will be reloaded each time another field in the page is changed.

[2017-12-21 06:54] mueller-ma commented on #548
Can you post the logs here on github?

[2017-12-21 07:27] zosky commented on #548
sure, however you like it
[habDroid.debug-crash-log-171220.txt](https://github.com/openhab/openhab.android/files/1578287/habDroid.debug-crash-log-171220.txt)

[2017-12-21 11:43] GuruLarsson opened #551 "Unable to connect to remote openhab2 using openhab2 app on Samsung phone"
Works well on my amazon tablet, but get authentication issues, http 401 on my Samsung A5 with android 7

[2017-12-21 14:15] mueller-ma commented on #551
Did you enter the user and pw for the remote connection under "Remote server settings"

[2017-12-21 16:10] mueller-ma commented on #548
[code]

https://github.com/openhab/openhab.android/blob/master/mobile/src/main/java/org/openhab/habdroid/core/OpenHABVoiceService.java#L140

Whats the best way to fix this issue? Show a toast as default?

[2017-12-21 16:52] maniac103 commented on #548
Personally I'd drop this message completely and only fall back to toasts for error messages.

[2017-12-21 19:05] cribskip opened #552 "Icons flash on normal sitemap page"
Situation:
Sitemap with multiple items, each with different icon.
One item is updated every 1,x seconds.

Problem:
All icons seem to be refreshed and flash as the updated item is refreshed.

Note aside:
Seems to be causing data traffic as it seems to be slower getting the images over mobile data.

This is not a duplicate of #541

[2017-12-21 19:13] mueller-ma commented on #552
Icons are locally cached. They are only downloaded once, when a specific state of the item is set the first time. So when you have a simple switch, the icon is downloaded when the switch is the first time set to ON and OFF.

[2017-12-21 19:15] cribskip commented on #552
Yes, that's what the cache used to be for.
I've tested reinstalling, clearing the cache (from app & system app settings). No change.

I'll try to post a YT video.

[2017-12-21 19:17] #411 closed

[2017-12-21 19:18] mueller-ma commented on #376
Closing due to inactivity...

[2017-12-21 19:22] mueller-ma commented on #428
Feel free to send a PR with Kotlin :)

[2017-12-21 19:22] #428 closed

[2017-12-21 21:02] cribskip commented on #552
https://www.youtube.com/watch?v=1DfoZ2-GuTY

[2017-12-21 22:45] GuruLarsson commented on #551
Yes, the settings are identical between the 2 devices, but I cannot connect using the Samsung phone, it works locally thoe.
Thanks Gunnar

[2017-12-22 05:21] mueller-ma commented on #551
Does it run the original samsung software?

[2017-12-22 05:26] mueller-ma commented on #552
How do you know that this is no duplicate of #541
The longer flash on mobile can be explained that the rest json needs longer to be downloaded.

Can you capture a log when your on mobile?

[2017-12-22 06:56] GuruLarsson commented on #551
Yes, no rootkit, but f-secure security software

[2017-12-22 08:37] mueller-ma commented on #551
So gcm should be present. Can you capture a debug log?

[2017-12-22 09:16] maniac103 commented on #551
FWIW, GCM registration also fails on my wife's Galaxy Tab S2 running stock 7.0. I'll see whether anything sticks out in the debug log.

[2017-12-22 09:17] lolodomo commented on #549
The translations have to be emhanced too as some texts were added without translation just before the release 2.0.

[2017-12-22 11:13] cribskip commented on #552
I'm sorry, I caused a misunderstanding. I meant it's the same symptom but not in the drawer but on normal pages. I didn't mean to know the cause.

I'll try and post here. I may not be able to post while Xmas ;-)

[2017-12-22 11:21] mueller-ma commented on #552
I changed #541 to `Navigate to any page in your sitemap and wait until some item changes. All icons in the sitemap flash.`. It is for the "normal" icons.

[2017-12-22 11:22] mueller-ma commented on #541
One issue is that the whole sitemap is refreshed and not just the one item that changed.

[2017-12-22 13:27] robbyb67 commented on #531
Same problem here - waiting for #545

[2017-12-22 13:36] robbyb67 opened #554 "Feature request: Single item dashboard widget"
Please provide a widget for single, selectable items:

Simple Switch: So I can toggle my carport gate opener directly from homescreen while still driving :-)

[2017-12-22 13:48] mueller-ma commented on #117
Version 1.6.2 is quite old. Can you try it with the latest version?

[2017-12-22 13:49] mueller-ma commented on #554
Duplicate of #6 ?

[2017-12-22 13:56] robbyb67 commented on #554
Yeah it is !

[2017-12-22 13:56] #554 closed

[2017-12-22 14:03] robbyb67 commented on #6
My current work-around is to setup an action with Tasker that makes a call to the openHAB REST api. Bit this is very insufficient because the is no way to get a feedback if the action was really successful.

[2017-12-22 14:37] Mike-ML commented on #250
Because of the issues with the app, I'm not using the openhab android app
anymore. I've used the browser interface for some time. But now I have
disabled DynDNS, because of security concers. Next month I will setup VPN
and then I will see, if I will use the app or the web interface.

Best regards,
Michael

2017-12-05 21:24 GMT+01:00 mueller-ma <notifications@github.com>:

[2017-12-22 15:28] mueller-ma commented on #443
Tested it and it works now.

[2017-12-22 15:28] #443 closed

[2017-12-22 15:29] mueller-ma commented on #395
Tested it and now the popup doesnt reset or close when the sitemap is refreshed.

[2017-12-22 15:29] #395 closed

[2017-12-22 16:48] mueller-ma commented on #250
@kaikreuzer Should the app support remote connections apart from openhab cloud?

[2017-12-22 16:51] kaikreuzer commented on #250
Definitely yes, and it always did. That's why the remote url was configurable and not statically set to myopenhab.org.
We don't have to support GCM for notifications other than through myopenhab.org, tough (as this imho has to be baked into the app).

[2017-12-22 18:09] mueller-ma commented on #250
What if someone wants to setup its own openhab cloud?

[2017-12-22 18:44] maniac103 commented on #250
AFAICT the notification registration happens via the app fetching a sender ID from the server, using that for GCM registration, and passing the registration ID to the server again. Did I understand that correctly (and/or is there documentation on the OpenHAB GCM flow)? If yes, I don't see why GCM wouldn't work with any server instance.

[2017-12-22 20:35] kaikreuzer commented on #250
I'm no expert on GCM at all, you probably know it much better than I do. If it is easy for the app to register for notifications on any remote server, even better. Otherwise I would say, whoever sets up his personal openhab-cloud is probably also able to build his own custom app.

[2017-12-22 21:20] mueller-ma commented on #250
It is possible to use GCM on his own openhab cloud: https://github.com/openhab/openhab.android/pull/288

But this issue is about a non-cloud remote server (which is in fact the local server with dyndns and portforwarding). The local server doesnt support GCM.

[2017-12-22 22:45] kaikreuzer commented on #250
Yes, understood, and this is the situation for which I gave my answer above:

I used the Android app in the past with a dyndns entry and no openhab-cloud being involved.

[2017-12-23 12:00] cribskip commented on #550
I'm also missing the old style when controlling volume on my sound system. However, the UX of the new Dialog is better than the old style for things like thermostats.

What about adding +/- buttons to the new dialog right next to the value wheel?

[2017-12-23 13:54] mueller-ma commented on #550
So like the color wheel? That seems to be a good idea.

[2017-12-24 10:48] lolodomo opened #555 "Only visible pages should be refreshed"
As I am working on implementing refresh with SSE in the app, I am studying the current way the pages are displayed and refreshed. And I am surprised to discover that the app is not refreshing only the visible page but even not visible pages.
If you are displaying a page being at fourth in deepth in your sitemap, you have in fact 4 fragments handled by the app corresponding to each level leading to

[2017-12-24 12:02] maniac103 commented on #555
Indeed, the polling should start in onStart of the fragment and stop in onStop.

[2017-12-24 12:25] CrazyIvan359 commented on #550
That sounds like a good mix of both options. The old up/down buttons on either side and the value between is actually a button that opens the wheel

[2017-12-24 12:32] lolodomo commented on #555
In fact, the page is reloaded and the polling is started in onResume. onPuase/onResume are called even for not visible pages.

[2017-12-24 12:39] maniac103 commented on #555
That's worth looking into though, as onResume is only supposed to be called when the fragment is fully visible (onStart is called when the fragment is partially visible): https://developer.android.com/reference/android/app/Fragment.html#Lifecycle

[2017-12-24 12:56] lolodomo commented on #555
How is determined if the fragement is visible ?
Would is it be by the call of `getPageWidth` ? Because `getPageWidth` is not returning 0 for not visible fragments...

[2017-12-24 12:59] maniac103 commented on #555
I haven't looked at how exactly sitemap fragments are added, but I'd assume some replacement fragment transaction happening that shows the new page. If that's the case, the old fragment should go to the onPause/onStop life cycle in that moment.

[2017-12-24 13:06] maniac103 commented on #555
Never mind, I see a ViewPager is used there ... for whatever reason? https://developer.android.com/reference/android/support/v4/view/ViewPager.html#setOffscreenPageLimit(int) is the control one could play with there, but I guess understanding why exactly the ViewPager is there in the first place would be helpful before fiddling around...

[2017-12-24 13:06] lolodomo commented on #555
Yes, maybe we should keep only necessary (visible) fragments.

[2017-12-24 13:09] lolodomo commented on #555
I have not yet studied what is ViewPager ...

[2017-12-24 13:31] GuruLarsson commented on #551
How should I capture a Debug log?

[2017-12-25 08:54] mueller-ma commented on #499
The reviews on the german and english play store are all 4 to 5 stars for this release, except one user giving us one star for removing the slider volume button control.

[2017-12-25 11:10] boc-tothefuture commented on #499
https://xkcd.com/1172/

:)

[2017-12-25 12:59] ip-ua commented on #551
I have similar problem with Xiaomi redmi 4x with Android 7 - getting error 401. With exacly same credentials iPhone 6s working fine.

[2017-12-25 14:02] mueller-ma commented on #499
There is always a xkcd :)

[2017-12-25 14:16] boc-tothefuture commented on #550
Would we still use the down triangle image?

[2017-12-25 14:55] mueller-ma commented on #550
Thats a good question. If no, people might think we changed it back to the old layout. If yes, it might look odd.

[2017-12-25 15:01] CrazyIvan359 commented on #550
What about a small up/down arrow icon?
Something like this:
https://d30y9cdsu7xlg0.cloudfront.net/png/877877-200.png

[2017-12-25 15:02] boc-tothefuture commented on #550
We could put +/- to left of the value?

[2017-12-25 15:17] mueller-ma commented on #551
I'll changed the error dialogs to output more information, when in debug mode. https://github.com/openhab/openhab.android/pull/557
You can enable debug mode in the settings in the app.
Please install this apk and post a screenshot (blur password before) when the error happens again:
[mobile-full-debug.zip](https://github.com/openhab/openhab.android/files/1585957/mobile-full-debug.zip)

[2017-12-25 15:26] CrazyIvan359 commented on #550
I think that might be confusing. I more meant something like this:
![setpoint](https://user-images.githubusercontent.com/6764025/34341078-dec5490a-e95d-11e7-893d-82711c4894b1.png)

And something else that came to mind, that would be useful in the basicui as well as the app, the up/down buttons could be disabled (greyed out) when the setpoint is at either limit

[2017-12-25 16:10] Aviramr commented on #533
Hi
The same problem with my Galaxy S5 openhab app.
there is also some inconsistency of the icons, some of them from the left and some from the right of the switches and text.
I have just now finished to add new strings.xml file for Hebrew.
How can we proceed to fix the RTL issue ?
![1](https://user-images.githubusercontent.com/10687152/34341370-bfa6f83e-e99e-11e7-9d53-e99e0485122f.png)
![2](https:

[2017-12-25 17:59] mueller-ma commented on #533
Are the frame texts in the right direction? I switched my tablet to the fake-rtl language (something with `(XB)`) and they where wrong, so I tried to fix that but I wasnt successfull. I can upload a apk and you can try it on your device. When everything works (or is at least better than before), @digitaldan can merge PR #547 and the next version in the play store will have this fix.

[2017-12-25 18:29] ip-ua commented on #551
I instaled app which you sent and was able to login from the first try - hope it will work always!
Will let you know if errors appear again.
Thanks!

[2017-12-25 18:36] gargamelonly commented on #533
Tested the apk.
Looks ok now.

בתאריך 25 בדצמ׳ 2017 07:59 PM,‏ "mueller-ma" <notifications@github.com> כתב:

[2017-12-25 19:11] mueller-ma opened #560 "Inform user why GCM registration failed"
Currently it just shows that gcm registration failed, but not why. Possible reason:

1. No play services
2. Outdated play services
3. Foss build
4. No remote url configured

[2017-12-25 19:20] mueller-ma commented on #551
Did it work before the update to 2.0.0?

[2017-12-25 20:21] Aviramr commented on #533
I'll be happy to test the translation result , i'm usually doing this translation staff  in my work for the company i working for.
when the translation is RTL (All Hebrew) for most of the times it's easy, but when the text is "Heberw English Hebrew" or "Hebrew English" sometimes it's a mess.
well i can fix it easily if something comes up . @mueller-ma

[2017-12-25 21:27] maniac103 commented on #560
FOSS build probably shouldn't show this line at all.

[2017-12-25 22:49] mueller-ma commented on #560
We should definitly show it and that it is not available in the foss build.
"You're running the foss build, gcm is not available in this version. Click here to download the full version from play store" or similar.

[2017-12-26 01:25] GuruLarsson commented on #551
After installing the Debug version, it all works fine, I'll upload a Debug report if it fails agan.
Thanks a lot for the help.
Gunnar

[2017-12-26 06:59] lolodomo commented on #504
I was finally able to establish SSE connections using OkSse.
I am now waiting for this fix on the server side: https://github.com/eclipse/smarthome/pull/4810
Then the last step should be not too much difficult.

[2017-12-26 07:07] maniac103 commented on #560
It's obviously not my call to make, but I disagree there. Play Store is the 'normal' way of getting the app, as in: used by the majority of people. If someone went to F-Droid to get the app, he already made an informed decision to not want non-OSS software. Google parts being missing is a natural consequence of that, and it's also the case among all other apps on F-Droid. Therefore IMHO there is n

[2017-12-26 07:42] ip-ua commented on #551
Unfortunately, I did not catch when it stop working exactly, but it was working 3 months ago...

[2017-12-26 08:34] mueller-ma commented on #560
Ok, I agree to not display a link. But think of devs building accidentally the wrong flavor and trying to fix gcm for hours, until they realise that foss flavor is default.

[2017-12-26 08:37] mueller-ma commented on #551
@GuruLarsson When did it stop working for you?

@ip-ua The debug version and the version on play have the exact same source code, so are you 100% sure, you just entered a wrong password or change the password in the cloud at some time, but not in the app?

[2017-12-26 09:18] ip-ua commented on #551
I am sure that I have the same password and do not change it.
What I did when found this problems on both android devices:
1. Deleted app, rebooted device and installed app back - did not helps
2. Deleted devices from myopenhab and try to reconnect again. It worked with Xiaomi 3s only
3. Deleted app, rebooted device and installed app you sent - it works.
Thanks!

[2017-12-26 10:32] kaikreuzer commented on #499
And it wasn't me, although i am missing that feature as well ;-) But no worries, I won't give a negative rating just because of such a small feature 😎

[2017-12-26 14:01] lolodomo commented on #555
Having one fragment per page + a ViewPager makes easy the implementation of the back button.

I think the only change we should do is to not reload the page when resuming a hidden fragment. Maybe a new field on the fragment is required for that ?

[2017-12-26 20:59] maniac103 commented on #555
Err, why exactly? When using fragment transactions + back stack, there is exactly 0 special code needed for back button handling.

I disagree (or we have a misunderstanding). As soon as we stop polling, we don't know the current state anymore and need to reload it when it becomes visible again.

[2017-12-27 00:22] GuruLarsson commented on #551
I don't think it has never been worked before. I am quite sure that the settings where the same,maybe the unintelligible and install of the debug version fixed it. I will try with the plain download from Google play and check.
Gunnar

[2017-12-27 00:30] GuruLarsson commented on #551
I have now tried to uninstall the debug version and installed the standard version from Google play store, after setting it up everything works fine. I have not a clue why.
Gunnar

[2017-12-27 07:33] lolodomo commented on #555
Any fragment is systematically reloaded when onResume() is called.

[2017-12-27 12:57] lolodomo commented on #555
I have to check what happens exactly when using the back button. The update is very fast in this case. The ViewPager is updated. Maybe no fragment are reloaded in this case ? I will check. That would explain why all parent fragments continue being updated even when not visible.

[2017-12-27 16:42] ghys opened #563 "Notifications still have the old logo"
Push notifications displayed by the app still sport the old openHAB logo: I believe it is [ic_stat_openhab_bw.png](https://github.com/openhab/openhab.android/blob/master/mobile/src/main/res/drawable-xhdpi/ic_stat_openhab_bw.png) (available in different dpis, this is the xhdpi version).

[2017-12-27 19:11] mueller-ma opened #564 "Disable crashalytics on debug builds"
Crashes during development arent usefull to collect.

[2017-12-27 20:28] cribskip commented on #269
Should be fairly simple when #472 is implemented.

[2017-12-27 22:16] cribskip commented on #210
Hey, I took a look at https://snowboy.kitt.ai which is supported by amazon, powered by a neutral network, enables custom keywords and works offline.

Shall I give it a go?
Quick setup with tasker based activation seems promising.

[2017-12-28 00:01] lolodomo commented on #504
@resetnow I encounter a new major problem: the widget ids returned by the sitemap REST API and the ones provided by the sitemap SSE events are different !

Basic UI servlet has an access to itemUIRegistry to create and store these widget ids used later by the sitemap SSE. But a standard UI using the REST sitemap API will not get these ids. Of course the app could try to recreate them the same way

[2017-12-28 00:02] joefrank25 commented on #210
Sure, @cribskip, give it a go!

[2017-12-28 07:13] resetnow commented on #504
I have seen similar problem before, but with basicui — there was an edge case where widget ID generated with itemUiRegistry was lost. Yes, it's a valid concern and I think a unified solution would serve better here, but I would say it's not up to me — we need to hear more opinions.

[2017-12-28 09:45] lolodomo commented on #504
I opened a new issue in the ESH framework: https://github.com/eclipse/smarthome/issues/4819

[2017-12-28 09:57] cribskip commented on #210
Just thoughts of today's night: Before I'm implementing this, is the Apache License from snowboy compatible to the Eclipse Public License of habdroid?

[2017-12-28 11:44] mueller-ma opened #565 "Custom log functions"
When we have our own log function, we can enhance the logging. They basicly pass the message to Android's `Log`, but have some more features, e.g.

- Only log debug and verbose, when running a debug build (like Android Studio suggests), but without needing to write the condition every time Log.d is used
- When an exception is caught, show stactraces in dialog, when debug mode is enabled. Most user

[2017-12-28 17:39] FlorianSW commented on #549
#561 should be included, too.

[2017-12-28 18:15] cribskip commented on #563
Hey, just tried with version out of the play store. For me, it's displaying the current (correct) logo in the notification area (pull down) and on the notification bar (top left). Xiaomi Redmi 4 Prime, Android 6.0.1

Can you clarify which icon you meant? Best would be to post a screenshot. Please list your phone specs (Make/Modell, Android version)

[2017-12-28 18:21] mueller-ma commented on #563
I also looked at it. I searched for usages of the picture you mentioned, but Android Studio didnt find one.

[2017-12-28 18:35] ghys commented on #563
This is what I get on my LG G4 (Android 6.0), with version 2.0.0:

![screenshot_2017-12-28-19-31-23](https://user-images.githubusercontent.com/2004147/34419797-3bd4b0f4-ec06-11e7-8608-5ba054cdda44.png)

[2017-12-28 18:39] cribskip commented on #93
Just investigating on how the WebAudio works for habpanel:

1. Subscribe to <OH URL>/rest/events
2. Listening for topic "smarthome/webaudio/playurl"
3. Downloading the URL (payload) and playing the WAV

Example of message (TTS to webaudio sink):
[code]

Seems pretty forward, will look into this. I think this should be a seperate service running in the background and selectable in the preferences.

[2017-12-28 19:17] mueller-ma commented on #563
Can you try to clear the app cache? Settings => Apps => Openhab => Clear cache

[2017-12-28 19:22] cribskip commented on #563
Tested the same way via myopenhab.org/Devices send notification. Right outcome/icon.
Please clear the cache, try to reinstall and/or reboot device. I also found no references to the icon. Maybe we should delete it and see what's your phone doing then ;-)

[2017-12-28 19:33] ghys commented on #563
Tried clearing the cache, with no change, then completely uninstalled and reinstalled the app from the Play Store, cleared the cache again, and nope:
![screenshot_2017-12-28-20-30-06](https://user-images.githubusercontent.com/2004147/34421191-20926f36-ec0e-11e7-91ec-d7633f93ecd1.png)

Really don't know where this icon comes from 😮

[2017-12-28 19:35] cribskip commented on #563
Ok, tomorrow I'll build a apk with this icon removed and send you a link. Let's see then. I'm guessing the LG specifics (theme?) trigger on the icon name.

[2017-12-28 19:40] ghys commented on #563
That wouldn't be surprising...! The notifications drawer is significant from vanilla Android. What's more, the wrong icon is also the displayed in the notification area in the top-left, when the drawer is not pulled down.

[2017-12-28 21:15] lolodomo commented on #504
I am happy: using the fix for the widget ids ( https://github.com/eclipse/smarthome/pull/4820 ), I was finally able to have something working in the app (refreshing the pages from SSE messages).
I am now first waiting for the merge of my 2 PR in the ESH framework.
In parallel, I will improve my code to handle limit cases like for example when a subscription id is no more available. And of course,

[2017-12-29 09:44] lolodomo commented on #504
The PR https://github.com/eclipse/smarthome/pull/4820 is now merged and so the problem with widget ID will be solved.
I am still waiting for the merge of the PR https://github.com/eclipse/smarthome/pull/4810
Then we will be able to move to SSE in the Android app.
I will have to find a way to enable SSE only when connecting to an OH server including these 2 fixes.

[2017-12-29 13:22] cribskip commented on #563
Well, turns out it's still used, see: https://github.com/openhab/openhab.android/blob/a3d428716e2ea593331ae04a498d8d8f38bd71e1/mobile/src/full/java/org/openhab/habdroid/core/GcmIntentService.java#L104

@mueller-ma and I perhaps did use "Find usages" function which really returns no references.

I've messed up with my fork... All I did was changing mobile\src\main\java\org\openhab\habdroid\core\Gcm

[2017-12-29 13:41] ghys commented on #563
Thanks for looking into this 😇
Now it's an opaque circle 🙄

![screenshot_2017-12-29-14-37-53](https://user-images.githubusercontent.com/2004147/34438317-40074c68-eca6-11e7-826b-5baa936848c7.png)

[2017-12-29 18:42] mueller-ma commented on #563
This notification has the new icon: https://github.com/openhab/openhab.android/pull/472/files#diff-22ef8d4658ad6e41ff9dc4b33418ed6aR48

[2017-12-29 20:18] 9a4gl commented on #217
This is quite annoying issue, when some value change in my webview grafana graph refresh which cause flashing the screen as loading graph takes some time. I am afraid to show WebRTC stream in webview.

[2017-12-29 21:33] FlorianSW commented on #244
I think location is really unused. It was added in commit f2968a83186099552677588e1c31d22c4fa0876e, but I couldn't find any code, that uses this permission in this commit or in current master. I'll open a PR to remove the permission, we can re-add it later, if we want to (probably only requesting it, if the feature, which needs it, is used).

[2017-12-29 22:11] FlorianSW commented on #563
@cribskip What build variant do you use in Android Studio? The GcmIntentService is only included, if you use one of the full flavors, I think Android Studio preselects the foss flavor, were we do not include GCM, so the image isn't used in this case :) (I'd a similar expression when I deleted a method, which was marked as unused and later I recognized, that the method is used in the full flavor) :

[2017-12-29 22:13] FlorianSW commented on #563
#571 now looks like:
![screenshot_20171229-230736](https://user-images.githubusercontent.com/4892966/34448453-cc26376c-eced-11e7-9403-fd56f64438b6.png)

[2017-12-29 22:24] FlorianSW opened #572 "OpenHAB-Information tab in About activity looks weird"
Compared with our About tab in the about activity, the information about the openHAB server the user is currently connected to looks weird, just some strings concatenated to something:
![screenshot_20171229-232200](https://user-images.githubusercontent.com/4892966/34448601-3e925974-ecef-11e7-8a6b-6ae6add18980.png)

I've nothing special in mind, just something that looks a bit better, probably have

[2017-12-29 22:25] FlorianSW commented on #560
I think, that will be useful. After fixing #572 this would also look much snoozer I think :)

[2017-12-29 22:29] stdll opened #573 "Rollershutter icons don't display actual state"
After the 2.0.0 upgrade, the rollershutter items don't display the position of the rollershutters correctly. Instead they're displaying the "neutral" position as if no value has been set.

Everything works correctly when using the web-based Basic UI.

[2017-12-29 22:41] kaikreuzer opened #574 "Add support for Location items (through Mapview widget)"
The Android client is lacking one of the standard widgets of openHAB: The [Mapview widget](http://docs.openhab.org/configuration/sitemaps.html#element-type-mapview), which can be used to display a geo location for a "Location" item.

In Basic UI (and Paper UI), we use OSM maps as these are freely available and the best fit for open source usage that does not want to confront its users with any spe

[2017-12-29 22:51] mueller-ma commented on #574
There are some people running android without play services ;)

[2017-12-29 22:53] mueller-ma commented on #572
Maybe something like the "About" section in the android settings with all the version information.

[2017-12-29 22:56] mueller-ma commented on #573
Duplicate of #543. Leaving this one open until #542 is merged.

[2017-12-29 23:17] FlorianSW commented on #572
My first try looked like:
![screenshot_20171230-001608](https://user-images.githubusercontent.com/4892966/34449245-b0efb492-ecf6-11e7-8d68-f6095ee0bd90.png)

With which I'm not happy at all, and I even can't say why, it just doesn't look that fancy and isn't a real improvement to the current state :(

[2017-12-29 23:20] mueller-ma opened #576 "NFC actions are not localized"
When long holding a switch without mappings, the actions are not localized. The translated strings exist, but are unused.

[2017-12-29 23:24] mueller-ma commented on #572
More whitespace above the dividers and the title should be black.

The about tab also needs to be improved. My pr for the about screen was merged while wip. Especially the one large multiline string is very hard to translate.

[2017-12-29 23:28] mueller-ma opened #577 "Sitemap _default"
When selecting a sitemap the dialog always shows a sitemap called "_default". It should be displayed with a better looking name like "Things".
Or we remove it entirely, since it doesnt show up in basic ui.

[2017-12-29 23:31] kaikreuzer commented on #577
I agree that this is probably better hidden - anyhow, it isn't really useful right now...

[2017-12-29 23:35] kaikreuzer commented on #574
Maybe one could offer both options (and use Google maps as a default, if the play services are installed)?

Btw, a suitable location pin can be found [here](https://github.com/htreu/openhab-core/blob/8768ec4396d6a2aa043f380084949b5a0160c72d/bundles/org.openhab.ui.paperui/patch/web/img/logo_pointer.png) in case it is helpful.

[2017-12-30 08:47] NDR008 commented on #548
I have same issue on my s8.
Launching from widget works but it gives me the message that Openhab has stopped.

Launching from within the home is fine.

[2017-12-30 08:53] maniac103 commented on #574
Using OSM for the FOSS variant and Google Maps for the Play Store version indeed sounds like a good idea.

[2017-12-30 09:29] mueller-ma commented on #548
Do you see any notification popping up, when launching from the main view?

[2017-12-30 09:34] NDR008 commented on #548
Just the voice recognition widget, then confirmation of what message was
understood.

On 30 Dec 2017 10:29, "mueller-ma" <notifications@github.com> wrote:

[2017-12-30 09:36] NDR008 commented on #548
I also just gave it a try on my tablet still running lollipop. Same way of
crashing from the widget.

On 30 Dec 2017 10:34, "Nadir Syed" <nadir.syedsammut@gmail.com> wrote:

[2017-12-30 09:47] lolodomo commented on #577
Except that in Basic UI we can access to it by updating the URL in the browser. In the Android app, if not available in UI, we will loose totally the access to this _default sitemap.
And if the user has not yet defined any sitemap, at least the _default sitemap allows to display something in the Android app.

[2017-12-30 09:54] lolodomo commented on #552
I am not sure if it is something new but yes the icons are "flashing" when something is changed in the page. Apparently, it happens as soon as the fragment is updated. Maybe we should check that the cache is still working well.

[2017-12-30 09:55] lolodomo commented on #541
Apparently not exactly the whole sitemap but only the updated pages. If you have 2 pages displayed, you can see the "flashing" only in the page that has to be refreshed.

[2017-12-30 09:58] lolodomo commented on #552
I agree that it is not very pleasant to see and it is surprising that it takes so long to reload an icon especially when there is a cache.

@mueller-ma : if I correctly remember, we are erasing the image before reloading it only for the charts but not for the icons or other images.

[2017-12-30 10:07] mueller-ma commented on #552
We erase it for charts and not for image items. No idea how icons are handled.

The real issue here is, that the hole page is reloaded, when one item changes.

[2017-12-30 10:10] lolodomo commented on #504
I have a last thing I would like to improve. My current behaviour when handling a SSE message is first update the widget in `widgetList` and then call `notifyDataSetChanged` to update the UI. In case several displayed data are updated in a very short time as for example when a weather binding polls for new data, the Android app will receive several SSE messages, one for each updated item. I would

[2017-12-30 10:26] zosky commented on #548
i get a toast with _recognised command: what i say_ ... then the crash
![780086445055543032](https://user-images.githubusercontent.com/112049/34453379-abef8618-ed21-11e7-938f-b9a18a59141f.jpg)

[2017-12-30 10:31] NDR008 commented on #548
Exactly same

On 30 December 2017 at 11:26, zosky <notifications@github.com> wrote:

[2017-12-30 10:40] mueller-ma commented on #577
I vote for removing it entirely.

[2017-12-30 10:53] lolodomo commented on #552
Yes but as I explained when discussing about SSE, I don't see how this could be easily changed. notifyDataSetChanged is called when there is a change in the page leading to a refresh of the full page through OpenHABWidgetAdapter.
I just checked the code and cache is apparently enabled for the icons.

[2017-12-30 10:58] lolodomo commented on #552
Is there a way in an Android app to trigger the refresh of only one item in the data set ?

[2017-12-30 10:58] maniac103 commented on #504
@lolodomo Right pattern would be using android.os.Handler

[2017-12-30 11:09] lolodomo commented on #217
Having a dynamic update of pages without any user action is very importan, the most important. We cannot break that.

[2017-12-30 11:44] lolodomo commented on #555
When the back button is pressed, we can see in OpenHABFragmentPagerAdapter.onPageSelected, when in 2 columns mode, that the last fragment is removed and `notifyDataSetChanged` is then called leading to a call to onResume() in all remaining fragments and so a full reload of all existing pages.

Maybe a solution would be to use `setUserVisibleHint` and in onResume() test if the fragment is visible o

[2017-12-30 13:01] 9a4gl commented on #217
After some testing, just calling notifyDataSetChanged() on adapter refersh all visible items, talked to friend who is more experienced with android UI, and he suggested that RecycerView is the way to go, there you specify what has been changed.

We can keep dynamic update of pages with some logic but that would require that id's received from ser ver do not change per item, is that true ?

[2017-12-30 13:16] lolodomo commented on #217
Yes, that looks like a good proposal. That probably requires a massive change in the app.

[2017-12-30 16:03] FlorianSW commented on #577
We could have a condition, that if the _default sitemap is the only one, we can show it to the user in the selection dialog, otherwise remove it.

[2017-12-30 16:06] FlorianSW commented on #576
I planned to fix that issue together with #538, which (what I've in mind) would remove this long press option all together and use translated strings for the actions in the new Activity. Not sure how fast we can achieve that, however, translating these strings should be pretty easy. There's already a context passed to the class handling these values.

[2017-12-30 16:10] lolodomo commented on #577
Looks like a better option.

[2017-12-30 16:20] FlorianSW commented on #572
Do you want to open a separate issue for the About screen? :)

[2017-12-30 17:15] mueller-ma commented on #577
I dont think someone really uses this sitemap.

[2017-12-30 17:26] mueller-ma opened #581 "Widget has no preview picture"
https://developer.android.com/guide/topics/appwidgets/index.html#preview

[2017-12-30 20:10] openhab-bot opened #582 "Rename repo from openhab.android to openhab-android"
Short questions to the @openhab/android-maintainers here: Would you agree to rename the repo from openhab.android to openhab-android? This would homogenise the naming scheme with the other repos. Github automatically sets up an alias for the old name and automatically forwards all requests to the new name, so that there should not be any broken links. Let me know what you think!

[2017-12-30 20:11] kaikreuzer commented on #582
Sorry, that was me with the wrong login ;-)

[2017-12-30 21:04] mueller-ma commented on #582
Does it also redirect when someone pushes?

[2017-12-30 23:07] #573 closed

[2017-12-30 23:11] #548 closed

[2017-12-30 23:46] mueller-ma commented on #342
@kaikreuzer @ThomDietrich I miss https://github.com/openhab/openhab.android/tree/master/mobile/src/main/res/values-lt in crowdin.
I have a few questions about crowdin:

1. What happens, when the original (English) string changes?
2. Will new english string automatically be uploaded?
3. Does crowding automatically open a PR?
4. What happens, when I merge a translation via a PR? Will it be uploaded

[2017-12-31 06:12] beetle442002 commented on #539
I can't even get the app to refresh and show a acurate state since the last update to the app without changing the state in the app first.

[2017-12-31 08:00] maniac103 commented on #342
From my LineageOS experience I can say that the answer to 4 is 'it gets overwritten' ... in LOS, we thus have a policy of not touching translations in PRs (which IMHO is a good idea). For 6, I think there's a setting that only translations approved by proofreaders get exported.

[2017-12-31 10:44] kaikreuzer commented on #582
Yes, afaik, it does.

[2017-12-31 13:24] FlorianSW commented on #582
According to the [github documentation](https://help.github.com/articles/renaming-a-repository/), all clone fetch and push operations redirect, too, so yes :)

+1 from my side :)

[2017-12-31 13:49] FlorianSW commented on #10
I alredy thought about implementing such a functionality. However, it would probably a bit easier, once #562 is merged (I would start working on this after #562). The UI I had in mind so far was pretty similar how GMail does it with different e-mail accounts (providing a switch in the flyout menu).

However, some things we need to consider:
* The connection settings would need to be moved into a d

[2017-12-31 18:04] ThomDietrich commented on #342
@mueller-ma just a heads up: I'll answer some time tomorrow ;)

[2017-12-31 18:49] FlorianSW opened #585 "Use pullapprove to check for signed-off-by"
As openhab requires the "Signed-off-by" in the commit message of each commited commit in a pull request, and because this is the only project where I need to do that, I constantly forget to commit with the signed off by line in my commit messages.

Instead of requiring the reviewers to take a look on that and forcing me to rebase an entire history (sometimes more than 5-10 commits) just to add the

[2018-01-01 09:08] lolodomo opened #586 "Refreshing only updated widgets, not all the fragments"
I open this issue to discuss how we could improve the refresh of data in the app.
Currently when we receive a new information from the server, `notifyDataSetChanged` is called which leads to the refresh of all the fragments. The best would be to trigger the refresh of only updated widgets (like it is done in Basic UI for example). We are able to easily identify them when using SSE.
@9a4gl commente

[2018-01-01 10:48] maniac103 commented on #586
I still question the point of the ViewPager. IMHO the fragments should each listen for updates of their data and refresh themselves. Calling notifyDataSetChanged on the list adapter itself should not be a problem.

[2018-01-01 12:09] lolodomo commented on #586
It is apparently a problem if we look for a widget granularity and not a page granularity.
Or do you mean that notifyDataSetChanged should by default refresh only widgets corresponding to modofied data in the data set and not widgrts ? In fact I have not yet clearly checked that point.

[2018-01-01 12:19] lolodomo commented on #586
To be clear, if I have a page with 2 elements, one image and one text , when the item linked to the text is updated, I would like a refresh of the text element not the image element.

[2018-01-01 13:28] maniac103 commented on #586
Updating (as in: causing a rebind of object to view) an image element in that case shouldn't be an issue either though. If it is, we need to check what's going on there, as we don't have direct control on bound views anyway (rebinding e.g. also happens when the user starts scrolling)

[2018-01-01 14:06] ThomDietrich opened #587 "Typo in strings.xml key erorr_invalid_url"
https://github.com/openhab/openhab.android/blob/dcbee8baa3bb0a03b5e30ec8097f1c41ac8b1d8a/mobile/src/main/res/values/strings.xml#L69

[2018-01-01 14:40] mueller-ma commented on #342
@ThomDietrich Can you add some lines about crowdin to the readme?

[2018-01-01 15:33] kaikreuzer commented on #582
Thanks, rename done!

[2018-01-01 15:34] kaikreuzer commented on #582
Yes, correct afaik. (At least I do not see it right now :-) )

[2018-01-01 15:38] mueller-ma commented on #582
Yes, if you're not member, you get a 404.

[2018-01-01 15:44] maniac103 commented on #565
Maybe it's better to enable them to send a log? Running `logcat`, capturing its output and put it into a share intent isn't that hard to do.

[2018-01-01 15:55] #533 closed

[2018-01-01 16:46] #576 closed

[2018-01-01 16:48] mueller-ma commented on #582
@kaikreuzer Travis cannot find the repo now. Can you fix that?

[2018-01-01 17:02] mueller-ma commented on #10
Currently if you have more one server, a random server is discorvery. Probably that one, which response faster.

[2018-01-01 17:12] #582 closed

[2018-01-01 17:24] #587 closed

[2018-01-01 17:41] ThomDietrich commented on #342
Hey guys!

I've added values-lt to the list.

1. Crowdin syncs regularly, will see the new/changed string and show this new string as untranslated. As Translator/Proofreader you should receive regular email notifications for such cases.
2. What's the difference to 1? Yes :)
3. Yes it does. At a later point it will no be as annoying as it is right now.
4. As we've just learned, turns out it will cr

[2018-01-01 17:52] cribskip commented on #581
I'm adding this in my open PR #545 today

[2018-01-01 17:55] cribskip commented on #586
Is this issue the technical background causing my issue #552 (Icons flash on normal sitemap page)?

Maybe mine can be closed then.

[2018-01-01 17:58] FlorianSW commented on #10
Uh, I haven't thought about that, my point with "discovering" was: When you start the app, it automatically selects if it connects to the local or remote server, which is based on the current network. If you've multiple servers in your configuration, the app probably selects a matching server randomly (if multiple remote and/or local servers are configured). So, I misused the term "discovery" here

[2018-01-01 18:01] lolodomo commented on #586
Keep it opened until we are sure there is not a specific issue with icons.

[2018-01-01 18:18] maniac103 commented on #342
@ThomDietrich I guess you now know why the mentioned policy was put in place ;-)

[2018-01-01 18:28] mueller-ma commented on #342
He definitly missed klingon 😆
Just kidding, but it exists in crowdin

[2018-01-01 21:01] MAndretti commented on #541
Hey,

Just update UI elements if necessary.

You can't compare ImageURL information, because state sometimes contains random like information (/icon/time?state=3.0 or /icon/time?state=3.6, ...).

So compare the drawables itself (the new one and that from the cache).

Change your OpenHABWidgetAdapter adapter and replace:

widgetImage.setImageUrl(iconUrl, R.drawable.blank_icon,

[2018-01-01 23:09] lolodomo commented on #586
Ok  after observing when OpenHABWidgetAdapter.getView is called, it is finally not as bad as I imagined. `notifyDataSetChanged` is not triggering a call of getView for all widgets and all fragments.

First getView is called only for the fragments in which there was a change. Second, in those fragments, getView is not called for all widgets but only for widgets that are in the visible zone of the p

[2018-01-02 00:43] #585 closed

[2018-01-02 07:01] lolodomo commented on #586
If we could at least avoid a reload of unchanged icons/charts/images/videos, I think that could be acceptable. WDYT ?

[2018-01-02 10:52] ThomDietrich commented on #539
@beetle442002 are you sure your described behavior is a problem with the android app? sounds like an item initialization issue of your setup. Could you please verify with Basic UI?

[2018-01-02 11:04] 9a4gl commented on #586
Refreshing icons that has not changed is not so annoying.. Real problems came when you start using Webview, refreshing Webview with grafana item each second make it flashing and you do not see graph at all. My plan is also to use webrtc video stream in Webview, that will not work at all, too.

While I was debugging I also noticed that parent page items are fetched and refreshed too, haven't look i

[2018-01-02 12:15] mueller-ma opened #595 "Use sitemap labels instead of name in the sitemap selection dialog"

[2018-01-02 21:54] mueller-ma opened #598 "Use Stickler CI to run Checkstyle on PRs"
from http://checkstyle.sourceforge.net/

I have configured stickler on my fork: https://github.com/mueller-ma-bot/openhab.android/pull/4
The configuration is taken from https://github.com/checkstyle/checkstyle and based on Google's java style.

[2018-01-03 18:41] digitaldan commented on #549
Hi guys, was away for the holidays and other engagements, but I'm back now.

[2018-01-03 22:07] mueller-ma commented on #342
Crowdin is now in production, so I'm going to close this issue.

@jmvaz Feel free to submit PT translation.

[2018-01-03 22:07] #342 closed

[2018-01-03 23:10] #572 closed

[2018-01-03 23:27] #563 closed

[2018-01-03 23:29] mueller-ma opened #603 "Notifications have no accent color"

[2018-01-04 09:11] kaikreuzer commented on #577
@mueller-ma I would agree with @FlorianSW and @lolodomo that removing it only if other sitemaps are available is the better option.
I admit that currently this sitemap is not very useful - but my hope would be that it will evolve in future to provide a "automatically inferred sitemap based on your Things and Items", so that it serves as a kind of quick-start fallback, especially for people that mi

[2018-01-04 10:16] mueller-ma opened #607 "Pullapprove and crowdin"
Pullapprove config should be extended to let translation PRs pass without signed-of-by.

[2018-01-05 17:47] #603 closed

[2018-01-06 21:34] mueller-ma opened #613 "Timeout in travis builds"
See https://travis-ci.org/openhab/openhab-android/builds/325816003#L3307

[2018-01-06 23:34] mueller-ma opened #614 "Copyright in files is outdated"
or completely missing. See https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/model/OpenHABNFCActionList.java#L2

[2018-01-08 05:07] beetle442002 commented on #539
@ThomDietrich you seem to be correct that it is not an app issue. The current status is not reflected in the PaperUI ether for me. Thank you for your response I will have to look into this farther.

[2018-01-08 08:01] kaikreuzer commented on #539
Not necessarily. For Chart, Image and Video widgets, you can define a refresh interval and you might choose e.g. 1 minute here to avoid too regular automatic refreshes. I e.g. have images of IP cams in my sitemap, where it would be very useful to trigger a refresh "on-demand" by the pull down feature.
Also, Webview widgets are never automatically refreshed, so for those as well this feature makes

[2018-01-08 11:43] mueller-ma commented on #607
See https://github.com/pullapprove/support/issues/115

[2018-01-08 17:09] #595 closed

[2018-01-08 17:50] mueller-ma commented on #452
I just had an idea: Run a oh server inside of travis, so we can be sure the configuration doesnt change and we can really test, if item values change like expected, when the espresso tests click on buttons.
My idea was to make a manual installation and put all files in a new repo. This way it can be used by all openhab ui tests. Do the files contain any secret, which must kept secret?
WDYT?

[2018-01-09 11:32] mueller-ma opened #617 "Multidex related crash on Kitkat"
Directly after start:
[code]

[2018-01-09 12:45] jmvaz opened #618 "Icons aren't updated with the state"
With the latest update of openhab android, the status of the icons are not correctly setted.
I tried with png and svg icons, but dont solved the issue.

My Setup is Openhabian with stable OH 2.1.0.

In attachment I send 2 images from the same timestamp. In basic ui the icons are with correct state, and in android app the icons are incorrect.
![image](https://user-images.githubusercontent.com/19754

[2018-01-09 15:57] mueller-ma commented on #618
I this is only the rollershutter icon, than its a duplicate of #543

[2018-01-09 15:57] #618 closed

[2018-01-09 18:14] FlorianSW commented on #614
The question is: Do we really need, or even want, to have such copyright line in the source code files? In my opinion, they're just pointless and requires work to update them, which could be invested into _real_ work :)

The license is already mentioned in the LICENSE file, and the contributors can easily retrieved with git-log, so no "openHAB.org and others" copyright needed. That the program is

[2018-01-09 19:28] mueller-ma commented on #614
When we add license headers to all files, it's just a simple sed command to update them

[2018-01-09 19:39] FlorianSW commented on #614
Where is the value :) We could even create a CI job to run each year to have the headers replaced, however, this does not bring us any more value than not having them :D

[2018-01-09 19:41] mueller-ma commented on #614
@kaikreuzer @digitaldan WDYT?

[2018-01-09 23:42] 9a4gl commented on #586
Just an update. Good news. Today I made a proof of concept. I replaced ListView with RecyclerView, then when I update the content I do call notifyUpdateChange only on items that are not Webview which result that Webview is not refreshed on every data change if it is visible. So, I can confirm RecyclerView is the way to go.

Unfortunately my current code breaks a lot of other features and is ugly,

[2018-01-10 01:46] MaximeLussier opened #621 "Setpoint item displaying value from another one while others do not display any value"
This is a weird one:

The 65% displayed in screenshot_1 is actually the volume from my receiver in screenshot_2. The other setpoint elements do not display a percentage (I believe they should).

screenshot_3 is from the basicUI showing what is expected: The percentage is correctly displayed and there is no link to the volume.

The issue is Android specific, the iOS application displays the percent

[2018-01-10 02:03] MaximeLussier commented on #621
Please note that this is not a new bug.
Screenshots were made using v2.0.0 Dec 16.

In case this is related to the sitemap, here is my current complete sitemap:
sitemap home label="My Home"
{
    Frame label="Controls" {
        Switch     item=epsonPower          label="Power"
        Switch     item=epsonMute           label="Mute"
    }
    Frame label="Info" {
        Text  item=epsonPowerStat

[2018-01-10 08:36] kaikreuzer commented on #614
I would prefer to follow the same principles (at least for Java code) throughout the different openHAB repos as much as possible. For all Maven-based repos, we are using a license plugin, see https://github.com/openhab/openhab-core/blob/master/poms/pom.xml#L112-L146. With this in place, all there is to do is to run `mvn license:format` and all headers are up to date.
Note sure if something similar

[2018-01-10 16:05] mueller-ma opened #622 "Crash, when sitemap has no label"

[2018-01-10 17:21] 9a4gl commented on #586
Here is PR https://github.com/openhab/openhab-android/pull/625
Feel free to comment and test

[2018-01-10 18:53] ThomDietrich commented on #456
@mueller-ma the script idea sounds good but it doesn't reflect how versions should be handled, ideally when a non-trivial change happened. As I said there are tools out there but it would actually be more important to have builds here and now. Could you as one of the currently most active developer create a tag as you suggested every now and then?

Long story short: I don't have a build environmen

[2018-01-10 20:19] mueller-ma opened #627 "Include Play store description in this repo"
Currently there is https://github.com/openhab/openhab-android/blob/master/fastlane/metadata/android/en-US/full_description.txt. We should remove F-Droid related stuff, review the text, add links to crowdin and github and add a mail address for reporting issue for people who dont have Github.
Than we can add that file to crowdin and people can translate it.
@ThomDietrich

[2018-01-10 22:44] ThomDietrich commented on #627
Sounds good. Additional thought: If you there is a way the text could consist of parts which can be translated individually. These would then be merged together through some templating language. This way you can predefine a certain style and e.g. make sure that all individual points are addressed by the translators.

[2018-01-11 07:45] cribskip opened #629 "Notifications only working with myopenhab/cloud connector"
Hi,

as we all know, push notifications are requireing the cloud connector to be set up.
When the internet link fails or some other problem exists (myopenhab down, connection pending...) there are no notifications pushed.

I'm thinking of implementing a multicast receiver being able to listen for local multicast notifications pushed by the local openhab instance. This way, no cloud would be requir

[2018-01-11 11:42] #244 closed

[2018-01-11 12:07] robbyb67 commented on #6
A better solution than tasker is to use IFTTT button widgets together with openhab-cloud. This way you'll get feedback on the action.

[2018-01-11 19:00] FlorianSW commented on #629
So, in fact, the sending of notifications to the openHAB app should be pretty easy to be doable with any kind of backend, as long as it supports Google Cloud Messaging. The app "just" opens a specific api endpoint to get the GCM sender ID to register the device at GCM. It then registers itself within openHAB-cloud, so that it knows to which device ID it has to send a message. That's it. Once a mes

[2018-01-11 19:18] maniac103 commented on #629
I'm totally :+1: for the idea of receiving local OH notifications, but how is listening to multicast going to work when the app isn't running, which is a scenario that's not too unlikely? Or do you want to start a foreground listening service for that purpose?

[2018-01-11 20:15] mueller-ma commented on #629
That would be a way, but openHAB leaks (through notifications) so much private information, that many people dont/might not want Google to be able to read them.

I dont know how GCM works, does some kind of message id exist?

[2018-01-11 20:42] #622 closed

[2018-01-11 21:24] FlorianSW commented on #629
Yep, each message, which was accepted for deliver by GCM, does have a message ID, which is also send back in a result object to the calling application (openHAB-cloud, e.g.).

That would require some service to be listening for messages on the device, I'm not sure, if there's anything we could use without needing to implement it from scratch.

[2018-01-12 11:22] mueller-ma commented on #629
The messenger signal uses two ways for delivering messages:
1. If gcm is available on the device, the device receives the gcm wakeup and than downloads the message from the signal server. So the message itself is never seen by google.
2. If no gcm is available, the app starts a foreground service, that uses websockets to connect to the server and listen for messages.

[2018-01-12 12:23] cribskip commented on #629
That seems like a resonable way. However, this requires also some extensive changes to the cloud connector/service.

In a first throw, I'd like to keep it simple and implement a service listening on the phone if it's in a local network (LAN, Wifi). Mitigating duplicate messages and such should be build afterwards.

I really like @FlorianSW proposal of a specific binding for using this service. Thi

[2018-01-12 13:21] 9a4gl commented on #586
What are the chance that OpenHAB developers will take a look into my PR ? I see 21 PRs and not much activity, especially on my PR.

[2018-01-12 15:18] mueller-ma commented on #621
I had a look at this one, but have no clue why this happens.

[2018-01-12 17:22] mueller-ma opened #632 "Codecov yaml to exclude .md files and /docs folder"
To get rid of these failing codecov checks for /docs changes. See #615

[2018-01-12 18:13] #577 closed

[2018-01-12 20:22] #581 closed

[2018-01-12 20:22] 9a4gl commented on #586
While I was testing I haven't experience any issues. I tested even on tablet in landscape mode where we have two columns, it works there too. A bit confusing to me is the concept of selected item in two column mode, maybe someone who has better knowledge about that should check it everything behaves correctly. Selected item does not show differently, not sure if it should.
The rest is fine, BUT, t

[2018-01-12 20:31] mueller-ma commented on #531
Fixed in #628

[2018-01-12 20:31] #531 closed

[2018-01-12 21:22] siom79 opened #635 "Show timestamp of last refresh/state of item"
In my setup OpenHAB is polling an HTTP resource (an ESP8266 that reports the state of a reed relay). When I look at the sitemap in the Android app, I would like to see the timestamp of the last refresh of the data as well as the timestamp of the last polling of the HTTP binding.

[2018-01-12 22:14] mueller-ma commented on #635
You are talking about long polling between oh server and ESP8266? If yes, can you please open a thread in the forum? https://community.openhab.org

[2018-01-12 22:31] #632 closed

[2018-01-12 22:31] siom79 commented on #635
No, I am talking about the Android app. It should output for each item how
old the information is.

Imagine you are monitoring if a window is open or not. Currently I only see
"Window bathroom closed". But I don't know how old this information is.
What if the WiFi connection between the oh server an the device is broken?
Then the "closed" state could be outdated. Seeing instead "Window bathroom
cl

[2018-01-12 22:48] mueller-ma commented on #635
Have you expirenced any network issues with the app? You should have a reload icon in the toolbar, when the app tries to reconnect.

Closing this in favor of #539. I dont think this feature would be very helpfull, when you can reload the page.

[2018-01-12 22:48] #635 closed

[2018-01-13 06:12] cribskip commented on #549
Just a little follow-up: I've deployed a build of the [current master](https://github.com/openhab/openhab-android/tree/e6466c5d7debe947558db4608e9788e665ddb265) to my phone and tested the enhancements to this scope:

- #628 Voice widget
- #517 NFC

btw, these are the only ones merged from the list above

[2018-01-13 06:27] siom79 commented on #635
No, it is not about the reload between the app an the server, but about the
time the reed relay state was published to the server. When the HTTP
binding only gets updated every 5 minutes, I don't know in the app how old
the value is I see.

mueller-ma <notifications@github.com> schrieb am Fr., 12. Jan. 2018, 23:48:

[2018-01-13 07:43] cribskip opened #637 "Colors in light theme too bright"
When using `valuecolor=[ON="green"]`, basic UI shows a darker green than the app. Even when chaning the basic-ui theme, an intensiv light green (seems `#00FF00') is shown.

This is too bright for a white background.

We should change the colors at least in the basic-ui theme to match the basic ui and provide better accessibility through higher contrast.

Here's a quick comparison between basic UI

[2018-01-13 14:43] 9a4gl commented on #586
Now I see that there might be issues if app is shown from notification. There is still ListView. Do you know how this notifications work ? When they are shown ? How to get that ?

[2018-01-13 17:17] mueller-ma commented on #635
Ok, I also use this for one of my windows.
Items:
[code]

Rules:
[code]

I'm not sure if thats the best way, especially when you have more than one window. I remember that I have seen a scaleable solution for multiple windows with only one rule. Search in the forum or open a thread there.

[2018-01-13 17:19] mueller-ma commented on #637
Can you do some research which colors are used in basic ui?

[2018-01-13 18:10] #487 closed

[2018-01-13 20:50] FlorianSW commented on #637
This green is the default green when you parse a color string (`green`) through Color.parseColor. I'm not quite sure, if we should change this behaviour :/

@mueller-ma  This are the color codes, I think:
https://docs.openhab.org/configuration/sitemaps.html#label-and-value-colors

However, in my opinion, this documentation is quite inaccurate. The color code is just implemented in core products of

[2018-01-13 20:54] mueller-ma commented on #637
When we have names, we can change it easier when having a dark color on a dark theme.

I opened an issue in esh since we should discuss it there: https://github.com/eclipse/smarthome/issues/4916

[2018-01-13 21:03] mueller-ma opened #642 "Multiple dialogs are shown at the same time"
When a http or ssl error occures, the app retries it once and shows the same dialog twice. If you dont close the first one, second is shown on top of the first one.

Should be easy to fix after #562

[2018-01-13 21:04] FlorianSW commented on #534
+1

[2018-01-13 21:07] FlorianSW commented on #642
I'll work on this after #562 :)

[2018-01-13 21:22] FlorianSW opened #644 "Notifications fragment shows only up to 20 notifications"
From what I see in the code the nofication fragment in the app shows only the first 20 notifications. This is probably enough for the latest notifications, however, if I want to see the history of messages or if I'm looking when a specific notification was sent, I've to navigate to the configured openHAB-cloud instance to see them.

It would be great, if the app would allow the user to show more t

[2018-01-13 22:27] #534 closed

[2018-01-14 06:40] prahubhatt commented on #210
Snowboy is awesome, go for it! I implemented my project here: https://play.google.com/store/apps/details?id=com.multiverse.jarvis&hl=en

[2018-01-14 11:48] maniac103 commented on #637
@FlorianSW From my understanding, the color names are guaranteed, not the color codes:

(Emphasis mine)

So AFAICT we could have a lookup table of known colors to (per-theme) color resources and fall back to Color.parseColor if that lookup fails.

[2018-01-14 11:59] FlorianSW commented on #637
It wouldn't be hard to hardcode the color codes for the color names on the list. However, what I question myself is: SHould we really do such things in our client side code (in the android app, in the iOS app, in the basic and classic UI, in HABPanel and so on) or wouldn't it be smarter to have this conversion from color names to color codes in the openHAB server itself? This would avoid to duplic

[2018-01-14 12:06] maniac103 commented on #637
IMHO it would be smarter to do this in the client, because the client defines the environment the color needs to blend well into (first and foremost: the background color).

[2018-01-14 12:23] mueller-ma commented on #637
We already do it for orange: https://github.com/openhab/openhab-android/blob/master/mobile/src/main/java/org/openhab/habdroid/model/OpenHABWidget.java#L279
And we can save the color codes [here](https://github.com/openhab/openhab-android/blob/master/mobile/src/main/res/values/themes.xml) so it is theme dependend.

[2018-01-14 19:59] cribskip opened #646 "[Voice Widget] Widget proposals"
While working on the voice widget, I kept asking myself, why there's a 'start openhab' section. Sure, it clearly identifies the voice widget and enables the user beside the voice action to start the app.

For me, I 'm having the voice widget on the same screen as the app itself - so this is redundant.

What do you think of a variation of the voice widget just enabling the user to start the voice a

[2018-01-15 11:39] mueller-ma commented on #646
We could add a second widget with no oh icon at all or as background image.

[2018-01-15 15:40] maniac103 commented on #621
@mueller-ma If I had to guess, I'd say views are recycled upon scrolling and the recycled view isn't initialized properly.

[2018-01-15 16:15] #617 closed

[2018-01-15 18:08] MaximeLussier commented on #621
Using the following in OpenHABWidgetAdapter.java line ~692 fixes the issue of the duplicated percentage:
            case TYPE_SETPOINT:
                splitString = openHABWidget.getLabel().split("\\[|\\]");
                if (labelTextView != null && splitString.length > 0)
                    labelTextView.setText(splitString[0]);
                if (valueTextView != null) {

[2018-01-15 18:15] MaximeLussier commented on #621
Actually, in the number picker it is correct. So if the split string is empty, it should get the value as is done when setting the index of the number picker "openHABWidget.getItem().getStateAsFloat()" or similar then converted to string. The same is true for the string selector (e.g The input for my Receiver)

[2018-01-15 18:59] MaximeLussier commented on #621
Something along the lines of:
[code]

This way, there is no "%" displayed but at least a value is printed. I do not know the code enough to know if there is a way to get the required symbol (% in this case.)

[2018-01-15 19:20] MaximeLussier commented on #621
For the TYPE_SELECTION line ~625, a textview named widgetvalue should be added to the view. Then if the value is between  "[ ]", You should use splitString[1] and match it with openHABWidget.mappings to display the currently selected value.
(or just not use split so the value will be printed in the labelTextView. Of course then no mapping would take place)

When the Spinner is started, you should

[2018-01-15 19:28] MaximeLussier commented on #621
Seems like I'm having a conversation by myself... It seems that the reason why my selector is not correct is that the item state does not match the mappings (e.g HDMI_2 vs HDMI2). This may be an issue with the addon for the Yamaha receiver.

[2018-01-15 21:56] MaximeLussier commented on #621
If I use at line ~641:
[code]
Instead of:
[code]
Then the "looser" matching (only alphanumerical characters) in a case insensitive manner, it works.
Of course this MAY be a workaroud due to the YamahaReceiver plugin. I will check the if the iOS app works properly.

[2018-01-16 13:27] MaximeLussier commented on #621
@mueller-ma @maniac103 I did some investigating in the code, above are the results.

[2018-01-16 13:29] maniac103 commented on #621
@MaximeLussier I don't quite follow your various patch snippets, but in essence you've found my statement of views not being fully initialized after being recycled to be correct, right?

This whole adapter code needs a full rewrite, it's a complete mess right now.

[2018-01-16 13:44] MaximeLussier commented on #621
@maniac103 Yes basically, the valueTextView is not set to invisible if the label does not contain the value between square brackets "[ ]". The first snippet was an else which did just that. That fixed the wrong value being displayed. The second snippet is using the state value to display the current value instead of nothing if the value is not present in the label.

The third snippet is for the se

[2018-01-16 15:56] #627 closed

[2018-01-16 16:51] FlorianSW commented on #637
We do it for orange only, because Color.parseColor does [not know orange](https://developer.android.com/reference/android/graphics/Color.html#parseColor(java.lang.String)). But, if you'll agree, that this should be handled in the app, then let's do it!

[2018-01-16 17:13] mueller-ma commented on #637
I'm a bit unsure about the implementation. Is there a better way than to create the colors in colors.xml and a mapping for every color in every theme [here](https://github.com/openhab/openhab-android/blob/master/mobile/src/main/res/values/themes.xml)?

[2018-01-16 19:52] ThomDietrich opened #649 "Google Cloud Messaging connection state"
Hello,
the "About" section in my installation states that GCM registration was not successful. A user (but honestly also I) doesn't know what that means and if he has to do something, and what. Any ideas how to cope with that? Maybe we just need to enhance the error message.

[2018-01-16 20:11] mueller-ma commented on #649
See #560

[2018-01-16 20:57] ThomDietrich commented on #649
ups... I see, everything is under control 😃

[2018-01-16 20:57] #649 closed

[2018-01-17 05:09] maniac103 commented on #637
You don't need to add them to colors.xml at least; just put the HTML color codes into themes.xml. I wonder whether there's a way to put colors into resource arrays; will check this later.

[2018-01-17 05:39] mueller-ma commented on #637
IMO it's easier to read when you have references to colors.xml

[2018-01-17 05:41] maniac103 commented on #637
But even if that's the case (I don't agree personally), I don't think it's worth creating 80 additional resources (5 themes * 16 colors ... or something, didn't check exact numbers) just for that purpose.

[2018-01-17 13:15] maniac103 commented on #637
One pointer for resource arrays: http://www.davidebasso.me/android/android-color-list-arrays-in-xml/ ... just needs the attribute-to-resource-ID added on top.

[2018-01-17 17:07] mueller-ma commented on #637
We have 5 themes, but only the background color really matters, which is bright, dark and black. Maybe we can even use the same colors for dark and black, so we only need two arrays in the end.

[2018-01-17 17:26] maniac103 commented on #637
That's right, variants for light and dark background are probably sufficient.
I still find it kinda pointless to create color resources with no intention of reusing them (or, IOW, with the intention of using them only once), but anyway, that's not the most important part here.

[2018-01-17 20:12] MaximeLussier commented on #621
@maniac103 While loose matching is still a good idea, the YamahaReceiver addon will fix the mismatch between state and mappings. Just FYI.

[2018-01-18 19:49] mueller-ma commented on #549
@digitaldan I would suggest to release a new version soon, because 2.0.0 crashes on all kitkat devices, which is about ~15% of all users.

[2018-01-18 19:55] mueller-ma opened #652 "About page: Text always dark"
![screenshot_20180118-205246](https://user-images.githubusercontent.com/22525368/35118389-e2f05078-fc91-11e7-90f5-59d403cea779.png)

[2018-01-18 19:56] mueller-ma opened #653 "Change slider size according to screen size"
A user in the play store ask, if we could make the slider item larger, when using a tablet (or any device with a larger screen)

[2018-01-18 19:58] mueller-ma opened #654 "Slider: Send state while holding"
I'm not sure if thats a good idea (because of the traffic), but I think its better, when the slider item is change, while the user is sliding.

[2018-01-18 20:00] mueller-ma commented on #440
Many people in the play store complain about the long to time load a chart. They dont know about the server side fix. What can we do to change that?

[2018-01-19 07:12] lolodomo commented on #504
My required server fixes are now all merged and available in the recent openHAB snapshots.
So I will be able to restart testing and finish my PR this weekend.

But as there are a lot of PRs that refactor a lot of code and as my PR was developed on a branch from mid-December, I should probably wait for some merge of these PRs and then rebase my own PR and test again.

[2018-01-19 07:18] lolodomo commented on #504
The PRs I should probably wait for a merge are: 556 562 638 640 and 650.

[2018-01-19 07:48] kaikreuzer commented on #440
Difficult. Some ideas:
- cache the last version and refresh it in the background. The user will at least immediately see something
- notice slow loading of charts (and thus identify a slow server) and dynamically reduce the requested resolution
- request the raw data from the server only and use a client side chart rendering. Would be cool to have something vector-based and interactive like in [HA

[2018-01-19 14:03] mueller-ma commented on #440
Thats what @lolodomo has done in #481, but there is still the problem with the initial load. I wouldn't show an outdated chart there.

[2018-01-19 14:28] lolodomo commented on #440
@mueller-ma : don't forget that for charts you first erase the drawing so we will see nothing displayed during the loading of the chart.

[2018-01-19 14:30] kaikreuzer commented on #440
Maybe outdated and completely blurred to signal that it is loading? Or better have an animated GIF of Chuck Norris instead to keep the user calm? 🕺

[2018-01-19 15:04] maniac103 commented on #621
@MaximeLussier I'm not quite sure loose matching really is a good idea in general. I think I prefer fixing the bindings instead ... and the Yamaha binding author seems to agree to that ;-)

Can you please give my PR #650 a try and see if it fixes the 'value is shown for wrong item' problem for you? (I expect it to fix it)

[2018-01-19 16:10] openschwall opened #655 "Mute ringtone is not mute"
Hi,
the mute ringtone ("Stumm" in German, I do not know the name used for it in the english version of the app) is not a silent tone but the standard ringtone of the phone. So I cannot mute the notifications. Quite annoying at night. :-(
This behavior has been confirmed by user sihui.
#

[2018-01-19 16:22] lolodomo commented on #440
Please note that my change was not introducing any cache, it was just avoiding concurrent requests to the same chart.

[2018-01-19 16:30] mueller-ma commented on #655
In the ringtone list, the first one is "default ringtone" and the second one is "mute" (stumm)

[2018-01-19 22:55] dakipro opened #656 "sugestion: Send or show remote server status info/alert inside the app"
Hi,
Just had a thought related to recent maintenance announcement https://community.openhab.org/t/myopenhab-maintenance-today-3pm-pt/38988/2
maybe this could be shown inside the app itself somewhere somehow?
I think it would improve reliability of the service, in a way that users would understand why is application offline or has some instability. I am not sure how often server (myopenhab f.eks.)

[2018-01-19 22:58] magd1978 commented on #253
I think I know why notifications are not received in the local network. I used to have a login / password for the reverse proxy nginx (local access) and it was the same credentials for myopenhab. I added new users to myopenhub to send different messages to different users, and changed  in app the login / password for remote access to one of the newly created ones. Now I get the messages addressed

[2018-01-20 00:27] magd1978 opened #657 "Notifications sent to wrong user in local network."
I detected a curious issue receiving notifications in the local network. I used to have a login / password for the reverse proxy nginx (local access) and it was the same credentials for myopenhab. I added new users to myopenhub to send different messages to different users, and changed in app the login / password for remote access to one of the newly created ones. Now I get the messages addressed

[2018-01-20 09:50] mueller-ma opened #658 "Ringtone selector not themed"
Since this is a system dialog, I'm not sure if we can theme it.

Lineageos 14.1

[2018-01-20 17:40] lolodomo opened #659 "Changing tablet orientation: fragment duplication"
Testing my SSE code, I discovered a big and annoying bug.
First I start the app. I can see, as expected, 1 onResume for OpenHABWidgetListFragment which finally leads to 1 async long polling HTTP call for the updates.
Then I change the orientation of my tablet, I can now see 2 onResume for OpenHABWidgetListFragment (same page) which finally lead to 2 async long polling HTTP call for the updates.
Th

[2018-01-20 20:07] lolodomo commented on #659
When you change rotation, the main activity is destroyed and then created again. onCreate is called with a non null savedInstanceState.
When your tablet goes in sleep mode and then exits the sleep mode, the behaviour is different: onDestroy/onCreate are not called but only onResume is called.

If I replace in the method `protected void onCreate(Bundle savedInstanceState)` the call `super.onCreate(

[2018-01-20 20:25] lolodomo commented on #659
This change is not satisfying as the change of orientation implies a return to the home page.

[2018-01-20 20:59] mueller-ma opened #660 "Check if device runs in data saver mode"
Data saver restricts background data. I haven't checked if apps know if data saver is on, but if that's the case, we could use this information to reduce data. Some ideas:
1. Hide images, videos, webviews, etc until the user taps on their placeholder
2. No auto refresh
3. Show default icon (e.g. temperature) if no icon for a specific state (e.g. temperature-40) is cached

[2018-01-20 20:59] maniac103 commented on #659
Indeed, the saved instance state must not be discarded. It leads to the previously existing fragments being discarded (which probably is intended here, but still a hack), but also dumps any other activity state. Instead, whatever is adding the fragment duplicates needs to be fixed to only add new fragments when needed.

[2018-01-23 18:38] FlorianSW commented on #658
It seems, from a quick look, that this is a built-in preference, which can not be touched in any way by us. We could probably re-implement it's funtionality (it's a list of media files), however, the action of RingtonePreference could be finished by any other app/file manager, too, so I don't think we should do something like that. In my opinion, having this unthemed component there is the better

[2018-01-23 18:39] FlorianSW commented on #657
Would probably be fixed by #562, as it will have it's dedicated "CLOUD" connection for the notifications, which currently is an alias for the remote settings connection data.

[2018-01-23 18:43] FlorianSW commented on #656
Hmm, having a dedicated "health" route would also be unavailable if the "main" app is offline, if it would be implemnted inside of openhab-cloud, wouldn't it? And what information would the health page contain, that could be helpful for the user in such a downtime?

However, I kind of like the idea of having the possibility to send "global" notifications from openhab-cloud (maybe only from the com

[2018-01-23 19:40] mueller-ma commented on #656
IIRC owncloud (and propably nextcloud) has a so called maintenance mode, where only the start page is available with a notice about the maintenance and in "oc/status.php" a json string signals that the mode is enabled. All clients check for that json object.
I haven't checked, but I think this maintenance page is always shown during the update.

Also see http://status.openhab.org/ but requiers ext

[2018-01-23 19:41] mueller-ma commented on #658
That's also what I tought, I just wanted to hear someones opinion on that.

[2018-01-23 19:41] #658 closed

[2018-01-24 07:50] redeye86 opened #663 "Notification time should be event time"
Currently, the time that is shown in the notifications is the time when the notification was received by the device not the actual event time.

How to reproduce:
Set device to flight mode, send notification, wait a minute, go back online.

It should be be enough to add a `.setWhen(time_in_millis)` in GcmIntentService. Event time should be part of the message already.

[2018-01-24 17:03] #598 closed

[2018-01-24 18:32] mueller-ma commented on #655
Can you try to switch to a different ringtone and check if that works?

[2018-01-24 19:06] MaximeLussier commented on #621
@maniac103 Yes, it does fix the issue

[2018-01-24 19:06] #621 closed

[2018-01-24 19:21] sihui62 commented on #655
That works without any issues. Just the muting does not work: muting does switch to the standard phone ringtone.

[2018-01-25 05:04] flaviocosta-net commented on #156
This screenshot should help understand the issue:

![2018-01-24_23-57-58](https://user-images.githubusercontent.com/35621323/35371552-cb158bfa-0162-11e8-83e4-59b6874fcd8f.png)

The sitemap definition for the displayed group is the following:
[code]

[2018-01-25 06:06] mueller-ma commented on #156
What are the screen sizes of both devices?

[2018-01-25 12:16] maniac103 commented on #574
I implemented support for Google Maps on top of PR #650: https://github.com/maniac103/openhab.android/commit/cb519d5e78a10c01a224c898c168ad9c3100d89e

It looks like this:
![screenshot_1516882414](https://user-images.githubusercontent.com/781373/35387894-e1e3134c-01d1-11e8-8f1e-60e1895a2705.png)
![screenshot_1516882426](https://user-images.githubusercontent.com/781373/35387895-e1fed3b6-01d1-11e8-85

[2018-01-25 12:27] kaikreuzer commented on #574
Looks great! But why is this done as a modal window and not directly embedded in the page (as it is done for the web UIs, e.g. Basic UI)?

[2018-01-25 12:38] maniac103 commented on #574
Guess why I asked for UI feedback ;-) I didn't think of checking basic UI. One approach I can think of is embedding the MapView with a fixed height (say 150dp) into the page itself, but don't allow scrolling it, and opening the scrollable popup when clicking it. WDYT?

[2018-01-25 13:17] maniac103 commented on #574
Now it looks like this:

![screenshot_1516886223](https://user-images.githubusercontent.com/781373/35390081-7c068924-01da-11e8-8e45-9cec2907052e.png)

I assume the label (+ icon) can be killed off, right?

[2018-01-25 14:24] flaviocosta-net commented on #156
**iPhone 6s:** 4.7 inch display, 1334 x 750 pixel resolution at 326 ppi
**Samsung Galaxy S7:** 5.1 inch display, 2560 x 1440 pixel resolution at 576 ppi

[2018-01-25 14:44] cribskip opened #665 "[FINDING] Icons show wrong state with myopenhab (Dev build)"
Hi,

as posted in https://github.com/openhab/openhab-android/issues/549#issuecomment-357413014, I've compiled and installed HEAD on my mobile. Working great but today I noticed a stange behaviour:

- When connected to myopenhab cloud through mobile data, Icons get shown in their 'default' state (lamps ON, Rollershutters default...).
- Same happens with connection to myopenhab via WIFI.
- When conn

[2018-01-25 14:54] kaikreuzer commented on #574
Yes, I would even remove the location name ("Brandenburg Gate Berlin") as it rather wastes space.

Zoom level: Good question. If there is any default that Android/Maps chooses anyhow, go for that :-)

[2018-01-25 15:02] maniac103 commented on #574
That's the label I was referring to :-)

[2018-01-25 16:27] mueller-ma commented on #156
When we reduce the space for the mappings, it might be too small on smaller devices.

[2018-01-25 16:33] mueller-ma commented on #574
Looks good so far!

I wouldn't. When you have multiple maps (e.g. for different devices) you dont know which marker is which device.
I know that you are planning to support multiple markers per map. What do you think how it should look in the smaller view? Different colored markers?

[2018-01-25 16:38] kaikreuzer commented on #574
Would it be possible to put it on the marker as in [this screenshot]? This would then be the best solution for multiple markers as well.

[2018-01-25 16:44] mueller-ma commented on #574
Imagine 5 markers there, it would be a total chaos.

Maybe the map should take more space, 300dp? 500dp?

[2018-01-25 16:54] kaikreuzer commented on #574
Well, maybe it could take more space depending on how many markers there are. For a single one, the above suggestion lgtm.

[2018-01-25 17:00] maniac103 commented on #574
That title appears when clicking a marker - which I currently have disabled for the in-list map as I felt that it's weird for the popup to only appear when clicking elsewhere on the map ... or am I wrong there?

[2018-01-25 17:09] mueller-ma commented on #574
No, you're right. Otherwise people might not discover, that they can open a popup.

[2018-01-25 20:29] flaviocosta-net commented on #156
This may be true, but if we don't reduce the space and font size then it won't be usable in any device as it is the case now. Let's stick to Android devices and see how big or small screens currently are:

**Tablet - Google Nexus 10:** 10"
**Phablet - Samsung Galaxy Note 8:**  6.3″
**Regular phone - Samsung Galaxy S7:** 5.1"
**Mini phone - Samsung Galaxy S5 mini:** 4.5"

I checked for LG, Google,

[2018-01-26 05:59] maniac103 commented on #574
@kaikreuzer Is the 'group Mapview' scenario possible with the current state of the rest API already? If so, can one be added to the demo sitemap for testing purposes? Thanks :-)

[2018-01-26 08:05] kaikreuzer commented on #574
No, we don't yet have such a feature - from a user perspective I would suppose that one should simply want to provide a Group item as the item parameter for a Location widget. This is currently possible, but the UI/app would then have to do another call to the item resource to get hold of the group members. Ideally, the sitemap would directly expand the group and provide its members.

I have just

[2018-01-26 08:37] maniac103 commented on #574
@kaikreuzer Ok, thanks for the confirmation. Indeed, it would be nice if the sitemap provided item for the group would provide the items of the group members as well ... there already is a `members` array in the `item` JSON object, was that one meant for that purpose originally?

As for the suggestions about the map (widget) label, I currently went for a middle ground:
![screenshot_1516955480](htt

[2018-01-26 09:17] maniac103 commented on #156
I've worked on this and reached - I think - a good compromise. Before-after:
![mapping-switch](https://user-images.githubusercontent.com/781373/35432952-0c6abeb6-0282-11e8-9385-97e04d15ddaa.png)

Will do a PR once #650 is merged.

[2018-01-26 09:26] kaikreuzer commented on #156
Nice, but do you think this will be enough to address the case from above (with 4 buttons and a longer label text)? Imho, the main issue is the rather big padding left+right - if this could shrink if the number of buttons increases, it would probably be helpful.

[2018-01-26 10:05] maniac103 commented on #156
The padding is shrinked unconditionally now ;-) Previously, there was padding allocated for displaying a radio button circle (implementation detail, it was never displayed anyway), which I removed. Now, the padding consistently is 8dp, but the minimum button width is 48dp to still be a proper touch target. The buttons in the example above thus are 4x 48dp = 192dp, plus 50dp for the icon (I wonder

[2018-01-26 13:36] flaviocosta-net commented on #156
@maniac103, thanks for the quick response! What you achieved is certainly a great improvement over the way it is now, making Switch widgets much more useable.
In my case there are 4 buttons, but their texts are not so long, they should look better now in any case.

I think your suggestion of making the icons a bit smaller could be an additional Improvement. If you compare my Android and iOS screns

[2018-01-26 14:06] mueller-ma commented on #156
Reducing the size of the mappings only makes it inconsistent with the rest of the app. Maybe we should reduce the size of label, icons and mappings.

[2018-01-26 14:39] maniac103 commented on #156
The selection spinner font is different from the label font as well. IMHO that's fine, as it's different UI elements.
Doesn't mean shrinking label size wouldn't be worth a try, but it's independent from shrinking the mapping size.

[2018-01-26 15:33] mueller-ma opened #670 "After first start wrong icon format is fetched"
While testing a PR I saw this log messages on a device set to German.
In the setting no value is selected for "Icon format". After selecting "Pixelgrafik" (Bitmap) the correct icon format is fetched.

[code]

[2018-01-26 15:43] mueller-ma opened #671 "Sitemap label is not shown in prefs, when only one sitemap exists"

[2018-01-26 15:54] #671 closed

[2018-01-26 20:22] ScheissSchiesser opened #674 "remote openhab-cloud instance + Android App: cannot load sitemap in app only"
I am running openhab 2.2 snapshot and a dockerized instance of _openhab-cloud_.

My _openhab-cloud_ instance is accessible via an opened port from my router and a URL supplied by a DDNS service.

I can access _openhab-cloud_ via `http://<my-domain>.com:8000` in a browser

I can access my openhab sitemaps via `http://<my-domain>.com:8000/basicui/app?sitemap=default`

When I enter `http://<my-domain

[2018-01-26 20:45] mueller-ma commented on #674
You entered them under "Remote"?

Entering url, user and pw is enough. Can you capture a debug log via logcat?

[2018-01-26 21:07] ScheissSchiesser commented on #674
Forgive me, but is there an easier way than [using android studio to capture logs with logcat](https://developer.android.com/studio/debug/am-logcat.html)? Can I capture logs with an android app without needing to install android studio?

[2018-01-26 21:11] maniac103 commented on #674
If your device is rooted, you can use MatLog:

[2018-01-26 21:17] flaviocosta-net commented on #156
It looks like the iOS mapping font size is smaller than the label text, so it looks like the iOS developers did not this as a problem.

Still, in the side-by-side comparison we see that the same sitemap items take some 15%-20% more vertical space in the Android version, so tweaking a bit with padding, text and icon sizing may help optimize screen space usage without necessarily causing degradation

[2018-01-26 21:27] ScheissSchiesser commented on #674
[openhablog.txt](https://github.com/openhab/openhab-android/files/1669238/openhablog.txt)

None of this looks relevant to me, but hopefully it makes sense to you...

I used a terminal emulator on my phone to start `logcat` and sent the output to a file, then opened the Openhab app, tried to load the default sitemap, and then closed `logcat`. I've attached the output.

[2018-01-26 21:33] #376 closed

[2018-01-26 21:56] maniac103 commented on #156
Vertical screen space isn't that much of a problem though. The iOS app layout's touch targets are significantly smaller than mandated by the Material Design spec.

[2018-01-26 21:58] maniac103 commented on #674
Running `logcat` in a terminal app doesn't work, as it'll capture the output of the terminal app only. The only workable way is using an app like MatLog or via ADB on PC (don't need full Android Studio, there are ADB-only ZIPs available for Windows IIRC; for Linux ADB is often packaged by the distributions)

[2018-01-26 22:06] kaikreuzer commented on #574
I think this is there because it is a Group item - but by default the sitemaps do not recurse into group members and thus this list is simply empty.

Looks good, we can imho keep it that way!

Yes, sounds correct to me, thanks!

[2018-01-26 22:11] mueller-ma opened #675 "Code formatting"
I can update my changes to fully conform, but I wonder whether it wouldn't be a better idea to turn off Stickler for now, merge the large, invasive PRs and afterwards do a cleanup of the code base first: fix whitespace, name variables consistently, remove unused code etc. ... then enable Stickler again afterwards. I volunteer to help with the cleanup, we just need to coordinate when to do it as PR

[2018-01-26 22:42] ScheissSchiesser commented on #674
See below for a proper logcat through ADB. Looks like the openhab android app is requesting the sitemap from the wrong endpoint? Shouldn't that be `/default/` not `/default/default/` ?
[code]

[2018-01-26 22:57] mueller-ma commented on #674
Are you running a different webserver on port 80?

[2018-01-26 23:46] ScheissSchiesser commented on #674
I am, unfortunately.

[2018-01-27 04:18] flaviocosta-net commented on #156
True, I was testing the controls on iOS and the touch target is indeed limited to the visual boundaries of the buttons - so while it has a reasonable width (depending on text length), the height might a bit narrow for certain users. What has been changed here is anyway a nice improvement that I'd love to see released, thanks for the nice work!

[2018-01-27 05:13] flaviocosta-net opened #676 "Long value breaks layout"
While the client now handles long labels well, long values do break the layout:

![27394031_10209075025351550_381319596_o](https://user-images.githubusercontent.com/35621323/35468971-0b6e7be4-02f8-11e8-8a39-9735720d9b2e.png)

These are the item definitions for the first two items displayed:

[code]
When we take the long value from the first item and use it as the label for the second item, then th

[2018-01-27 11:26] mueller-ma commented on #674
Cannot confirm that. I have a oh test installation on port 8080 and a reverse proxy with basic authentication on port 80. I can see in the log, that the I'm entering is requested.

[2018-01-27 12:48] FlorianSW opened #677 "Remove usage of ViewPager for Widgetlist fragments"
In #640 @maniac103 suggested:

[2018-01-27 13:08] mueller-ma commented on #675
I disabled stickler-ci for now until this is fixed.

[2018-01-27 13:21] FlorianSW commented on #674
So, testing with `http://test.com:8000` in the remote settings I can see, that the app tries to connect to the host test.com on port 8000 (which obviously fails, of course). So, please excuse this probably dumb question: Do you really have entered the correct URL in your connection settings? (Could you probably post a screenshot of it, even if it reveals the public URL of your openhab-cloud instan

[2018-01-27 13:23] FlorianSW commented on #670
So, the format shouldn't be Pixelgrafik, right? Just to be clear, that I get the problem correctly :)

[2018-01-27 13:26] mueller-ma commented on #670
It should be "PNG".

[2018-01-27 13:27] FlorianSW commented on #670
Ok, got it :) working on it! :)

[2018-01-27 13:28] mueller-ma commented on #674
FYI currently the foss version contains crashalytics (See #482) and until that is resolved, fdroid wont publish the foss apk.

[2018-01-27 14:03] #670 closed

[2018-01-27 19:07] ScheissSchiesser commented on #674
A fair question! See below. I've redacted my info.

![screenshot_2018-01-27-13-55-00-1](https://user-images.githubusercontent.com/9285100/35475334-8c273b96-036a-11e8-84d3-a9907a8a3a42.jpg)

Trailing slash makes no difference to this problem.

Installed from google play store.

I am going to take my other webpage at port 80 offline and see if openhab-cloud works on port 80.

[2018-01-27 19:23] ScheissSchiesser commented on #674
I can confirm that the app works as expected when running openhab-cloud on port 80 (with no port specified in the app settings).

I am starting to think the problem is coming from the nginx configuration of the openhab-cloud docker image. It seems like that is not reporting the correct URL through REST. E.g.:

Visiting `http://[MY-DOMAIN].com:8000/rest/sitemaps` returns
`[{"name":"default","label"

[2018-01-27 20:24] mueller-ma commented on #674
I have very limited knowledge of nginx, but I assume it works similar to apache. In apache you have a setting called "servername". Try to add port 8000 to this setting.

[2018-01-28 10:36] mueller-ma commented on #677
Please wait for #675

[2018-01-28 11:03] cribskip opened #679 "Rollershutter: Enable manual positioning / Basic UI UX"
Basic UI enables the user to keep the UP/DOWN buttons pressed and releasing them STOPs the shutter.

IMO this feature should be also available in the app as its simpler to just keep the button pressed than pressing stop at that exact moment.

[2018-01-28 11:20] mueller-ma commented on #665
Can you try it with #562?

[2018-01-28 20:24] #541 closed

[2018-01-29 14:29] maniac103 commented on #677
Too late: https://github.com/maniac103/openhab.android/tree/cleanup-fragment-management ;-)

(based on #650)

[2018-01-29 15:36] maniac103 commented on #677
Notification fragment is fine now; just need someone to test going to sitemap item via NFC

[2018-01-29 18:37] mueller-ma commented on #270
I would go for alphabetic order with the sitemap label, since it is shown in the ui. Sitemaps are not meant for navigation, so IMO some kind of index is not needed.

[2018-01-29 18:40] mueller-ma commented on #270
Will be fixed in #638

[2018-01-29 20:23] cribskip commented on #665
I've copied HEAD and applied #562 successfully.

- Icons behaving the same as prior this patch
- Very nice handling and UX when no network is available (graphic and option to try again)

[2018-01-30 06:28] mueller-ma commented on #665
Can you capture a log?

[2018-01-30 17:05] ScheissSchiesser commented on #674
I don't have high hopes for this. I'm not sure that would affect the REST API call, would it? I will try it...

[2018-01-30 17:36] mueller-ma commented on #674
openHAB has to determine somehow which url it should use. As I did never configure any URL in openhab, I think it get the information from the webserver.

[2018-01-30 18:30] #539 closed

[2018-01-31 09:05] dakipro commented on #656
It would be great if openhab-cloud could do some sort of self-check and report on some channel that there is f.eks. instability (usually if some process is taking longer then usually) or it is in maintenance mode  (triggered manually, or by update), or if it is down completely (some connections missing etc).

http://status.openhab.org/ is what I was having in mind initially, as an independent serv

[2018-01-31 19:58] mueller-ma opened #683 "Slider items are hard to change because pager swiping is enabled"
@floriansw I think this waa introduce in #640

[2018-01-31 20:11] mueller-ma commented on #665
I tested it in demo mode, all icons there change, when the state changes. #542 fixed the roller shitter icon, which definitly work now.
Myopenhab was recently updated, so it may come from there. Can you open an issue in openhab-cloud?

[2018-01-31 20:17] mueller-ma opened #684 "Prefetch icons for other states"
Currently the icon for a specific state is fetched, when the state appears the first time. Maybe we should load icons for other states on the first app start, e.g. on and off for switches, 0 to 100 for slider.
This would avoid flickering icons, not related to #669

[2018-01-31 20:22] mueller-ma commented on #665
When you clear the icon cache, you will see in the log if the correct icons are fetched.

[2018-02-01 10:32] maniac103 commented on #684
I'm not sure whether that really is a good idea, because of the amount of data that potentially is transferred (think 100 slider icons) which then are somewhat likely to never be shown...

[2018-02-01 12:23] mueller-ma commented on #684
True. Another fix could be to show the old icon while the new loads. This will at least fix the flicker. Might be good for charts as well

[2018-02-01 12:29] maniac103 commented on #684
That indeed sounds like a good idea. There's two types of replacement icons in the SmartImageView code: fallback and progress. We should make it display
- progress while loading if defined
- fallback if no drawable is set currently or if loading a new drawable failed
- previous image otherwise

[2018-02-01 15:31] #652 closed

[2018-02-01 15:51] mueller-ma commented on #445
This bug was introduced, I think by #650

[2018-02-01 15:56] maniac103 commented on #445
@mueller-ma A bug from 2017 was introduced by my yesterday's pull request? I am confused.

[2018-02-01 16:17] mueller-ma commented on #445
*reintroduced. I'm not sure if it was your PR, but it could be as you made a lot of changes to the internal layout.

[2018-02-01 16:25] mueller-ma opened #690 "Value colors are not changed"
Following sitemap:
[code]

when chaning from OFF to ON, the text is still red. After reopening that subpage, the text has the default color again.

[2018-02-01 16:28] mueller-ma commented on #690
Ok, I dont know where I saw "default", but its not in the docs, so I removed it:
[code]

However the bug still applies.

[2018-02-01 17:33] maniac103 commented on #690
Is this before or after #650, or both?

[2018-02-01 17:40] mueller-ma commented on #690
Tested with f6129946c3320fa1bee7d5c59094602e5f779d21, so after #650, but I haven't tested it before.

[2018-02-01 17:42] mueller-ma commented on #675
Also https://github.com/openhab/openhab-android/pull/688/files/4ba0627a3424d52a7677885f5f8b741e4a09c9dd#diff-07e4a6e281af02db331ff3f81d9f86d8

[2018-02-01 17:59] lolodomo commented on #690
I would be very surprised if this is an old bug. I think it us something that I already tested in the past and was working.
I can check soon.

[2018-02-01 18:20] lolodomo commented on #690
Confirmed, dynamic change to the default color is working well with the version in the play store.

[2018-02-01 19:51] rapiertg commented on #674
I have exactly the same behavior. On cloud connector logs I am getting 401 spam after some 200 GET's:
`GET /api/v1/settings/notifications 200 112.917 ms - 32
GET /rest/bindings 200 141.173 ms - 2319
GET /rest/sitemaps 200 49.301 ms - 403
GET /rest/sitemaps/_default/_default 401 2.500 ms - -
GET /rest/sitemaps/_default/_default 401 1.105 ms - -
GET /rest/sitemaps/_default/_default 401 1.274 ms - -

[2018-02-01 20:04] maniac103 commented on #690
Hmm, strange. What I'd expect to happen is:
- changing value triggers data reload via long polling
- new widgets sent to adapter
- notifyDataSetChanged() triggers a rebind of the view holder
- https://github.com/openhab/openhab-android/blob/b819cb0d50e7c91e3ab99d2d3fc1c528ea5f4c88/mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java#L473 triggers the color update

[2018-02-02 14:22] #690 closed

[2018-02-02 20:13] cribskip commented on #665
I've attached the debugger while starting the app. Turns out there's a problem while checking the reachability of my openhab instance. Trying from same phone with browser works just fine.

Maybe it's blocked, habdroid has all permissions allowed - _is there a permission missing?_:
[code]

Here's the relevant part of the logcat:
[code]

The complete logcat is located at this gist:
https://gist.gith

[2018-02-02 20:27] maniac103 commented on #665
Yes, WIP patches can be buggy ;-) That particular problem (NetworkOnMainThreadException) also was discussed there.

[2018-02-02 20:51] lolodomo opened #694 "Charts not correctly rendered when using the remote connection"
When using the remote connectrion, the charts are not rendered correctly, sometimes we only get an empty chart with the default white theme, sometimes the correct rendering.

There is not such a problem when using the local wifi connection. In this case, rendering is always good.

I am not sure if the problem is in the Android app or in myopenhab.

Lots of users have noticed that problem and you h

[2018-02-02 22:06] mueller-ma commented on #665
@cribskip FYI the app isn't called "Habdroid" anymore, just "openHAB Android". However the package name still is org.openhab.habdroid and will probably never be changed.

[2018-02-04 11:30] mueller-ma opened #696 "Charts have always the default theme"
### Actual behaviour
Charts have always the default theme

### Expected behaviour
Charts should be themed correctly

### Steps to reproduce
1. Look at a chart

### Can you reproduce the issue in demo mode?

Yes, under "Outside Temperature"

### Environment data
#### Client
* Android version: Android 7.1.2
* Device model: Oneplus X
* Stock or customized ROM: Lineageos 14.1
* App version : 2.0.9-bet

[2018-02-04 11:32] mueller-ma commented on #694
Did you have this issue before the myopenhab update?

[2018-02-04 11:40] mueller-ma opened #697 "Remove custom font "Helvetica" from intro"
The font isn't found on two devices where I tested it and it's not under a free license.

[2018-02-04 11:45] mueller-ma commented on #574
@kaikreuzer Is readOnly implemented in any oh snapshot? I couldnt find this option in the docs: https://docs.openhab.org/configuration/sitemaps.html#element-type-mapview

[2018-02-04 12:16] mueller-ma opened #698 "Auto bump version name and code on travis builds"

[2018-02-04 16:37] maniac103 commented on #696
Oops, looks like theme attribute resolution is off. I'll have a look into it.

[2018-02-04 17:04] lolodomo commented on #694
Which update ? myopenhab has been updated recently ?

[2018-02-05 12:58] mueller-ma commented on #698
This is more complicate than I thought.
I was thinking about running a script in travis, when on a tagged commit: bump the version code via a sed command and change version name to the tag name. Commit and push to github.

But when fdroid checks out the tag and builds the app, the version name and code are from the previous version.

Any ideas? Maybe generation version name and code via gradle (Se

[2018-02-05 14:02] #156 closed

[2018-02-05 16:15] #696 closed

[2018-02-05 20:17] mueller-ma opened #704 "Travis: Remove redundant unit test runs"
Unit tests are run against debug and release (https://travis-ci.org/openhab/openhab-android/builds/337623924#L3209 https://travis-ci.org/openhab/openhab-android/builds/337623924#L3219), android tests only against debug (https://travis-ci.org/openhab/openhab-android/builds/337623924#L3344).

Is it save to run unit tests only against the release build?
They don't take much time, but I want to includ

[2018-02-05 20:19] #274 closed

[2018-02-05 20:19] #249 closed

[2018-02-05 20:20] #184 closed

[2018-02-05 20:21] mueller-ma commented on #169
The issue with overlapping label and value is fixed, the icon issue can not be reproduced.

[2018-02-05 20:21] #169 closed

[2018-02-05 20:22] #143 closed

[2018-02-05 20:23] mueller-ma commented on #116
Does anyone still have this issue?

[2018-02-05 20:24] #41 closed

[2018-02-05 20:25] #63 closed

[2018-02-06 13:00] mueller-ma commented on #698
Travis could commit and create a tag with the suffix -fdroid and configure fdroid to only pick up those tags.

[2018-02-06 14:36] staehler commented on #116
No, this issue ssems to be fixed for me.

Am 5. Februar 2018 9:23:33 PM schrieb mueller-ma <notifications@github.com>:

[2018-02-06 15:17] #116 closed

[2018-02-06 16:19] MikeJMajor commented on #694
For me the issue occurred after the myopenHAB update.

[2018-02-07 14:01] mueller-ma opened #707 "Crash when clicking on "Got it!" in the refresh snackbar"
Steps to reproduce:
1. Go to a subpage
2. Refresh
3. Go back
4. Click "Got it!"

[code]

@FlorianSW

[2018-02-07 15:10] #445 closed

[2018-02-07 17:33] maniac103 commented on #707
Should either remove the snackbar when going back, or use `v.getContext()` as context in line 254.

[2018-02-08 09:38] mueller-ma opened #708 "Override xml values with own local values"
Whenever I need to pruge the app data, I have to fill local url, user, password and remote url, user, password in order to have the app working. My idea was to have a file, which is ignored by git, that contains these information. Gradle will use these information to replace the default values.

This will be also usefull for google mapview api key.

[2018-02-08 16:08] mueller-ma opened #709 "Redesign about screen"
I will come up with some ideas soon.

[2018-02-08 16:11] mueller-ma opened #710 "Color in "last apps" view is not always primary color"
I have the app set to basic ui theme. In the last apps view the title bar is orange. Android 7.1.2

On Android 5.1.1 the title color in last apps is blue.

[2018-02-08 17:26] #707 closed

[2018-02-08 17:42] mueller-ma commented on #709
We could use https://github.com/daniel-stoneuk/material-about-library (Screenshot: https://github.com/daniel-stoneuk/material-about-library/blob/master/screenshots/1.png)
Imagine the following structure:

## First frame
Icon, Name and copyright like in the screenshot
Version => Not clickable
Changelog => Link to gh release page
Source code => Link to openhab-android (gh icon)
Report an issue => Li

[2018-02-08 17:54] mueller-ma commented on #709
Justed checked about the github logo. We are allowed to use it to link to gh: https://github.com/logos. Doesn't really care if it's in the foss flavor, as the non-free assets are allowed and the oh logo itself is also non-free.

We could also add to the about page:
Link to Play Store rating
Donation link
Link to crowdin

[2018-02-09 11:54] mueller-ma opened #713 "Make basic ui theme default"
I personally like the basic ui theme more and that's also the outcome of a poll: https://community.openhab.org/t/basic-ui-like-themes-for-android-app/34208

We should rename and reorder the themes in the settings:
Bright (=basic ui)
Dark (=basic ui dark)
Black (=black/amoled)
Classic (=orange)
Classic dark (=current dark)

I disagree to migrate all users to the new theme, as some of them might tes

[2018-02-09 12:08] 9a4gl commented on #217
My approach was to refresh everything if:
- number of items changed since last refresh
- type of any item in list changed since last refresh
Otherwise:
- for each item check if something changed, if changed refresh otherwise not
=> This will require to implement shouldRefresh (or equalsForReqresh) method for each type

[2018-02-09 13:35] kaikreuzer commented on #713
Just some comment (sorry if I missed any previous discussions):

The "blue" from the Basic UI actually derives from Eclipse SmartHome (where blue is the primary color, see e.g. also its Paper UI).
The openHAB "corporate identity"/"style guide" is:
- orange as primary color
- blue as secondary/contrast color
(see the Paper UI or also https://docs.openhab.org/)

Independent of any polls or personal

[2018-02-09 14:37] maniac103 commented on #713
The fact that the basic UI theme doesn't match the app (= OpenHAB icon) also backs the statement of @kaikreuzer

[2018-02-09 15:06] mueller-ma commented on #713
That's kind of true and the reason why I waited for the new icon to make this PR. With the old icon (Orange background) I would never changed the default theme to blue, but the current icon contains only one orange line, so it was "ok" for me.

Paper UI and Docs are only used for setup and only by the "computer guy" in a household. For daily usage most people use basic UI (orange theme exits, but

[2018-02-09 15:06] #713 closed

[2018-02-09 15:15] kaikreuzer commented on #713
@mueller-ma I am about to start a website redesign and as a part of it I would like to get at least some simple style guide with a color palette out of it. Once this is there, it would make a lot of sense to address the different UIs.

[2018-02-09 15:29] maniac103 commented on #217
Are charts actually still refreshing with latest code? I made the image items not update if their URL didn't change, which likely should fix flashing of image, chart and MJPEG items. Only web and video items should be left to fix.

[2018-02-09 16:38] mueller-ma opened #715 "Untranslated strings from libaries"
Some libaries have their own strings, so they are not translated, even when a language has 100% in crowdin. Those are:

- AppIntro. 2 strings, some translations included: https://github.com/apl-devs/AppIntro/blob/master/library/src/main/res/values/strings.xml
- AboutLibaries. Tons of strings, no translations included: https://github.com/mikepenz/AboutLibraries/tree/develop/library/src/main/res/val

[2018-02-09 22:33] mueller-ma commented on #709
_Started_ working on it here: https://github.com/mueller-ma/openhab.android/tree/709-about

[2018-02-10 11:56] mueller-ma opened #718 "Click on chart shows outdated chart"
In demo mode
1. Outside temperature
2. Select day
3. Short after select week
4. After the week chart is shown, click on it

Expected:
Nothing should happen

Acutall:
Day chart is shown for a short time

[2018-02-10 17:33] #710 closed

[2018-02-10 17:33] #697 closed

[2018-02-10 17:49] mueller-ma commented on #694
@lolodomo I'm not sure when it was and I didnt find a forum post, but it was about a month ago. Can you open an issue in openhab-cloud?

[2018-02-10 21:12] kaikreuzer commented on #694
I am seeing the same problem, but the same happens on iOS, so it definitely is no bug in the Android app. I already asked @digitaldan to look into this.

[2018-02-10 21:12] #694 closed

[2018-02-11 05:13] cribskip opened #720 "When GCM failed, inform user"
Right now, when GCM registration fails, it's not transparent to the user. Only way to know is it send a message and wondering that none is received or in the About screen.

Maybe a warning badge on Notifications from the hamburger menu should be displayed.
My proposal would be:
- When GCM fails, add a warning badge to the hamburger menu and Notifications area
- When user opens Notifications, displ

[2018-02-11 05:15] cribskip commented on #665
Thanks @maniac103 for the hint - didn't see this.
I'll close this now as I'm back to HEAD and it's working thus far :)

[2018-02-11 05:15] #665 closed

[2018-02-11 05:19] cribskip commented on #708
Good idea. What about a QR code with the settings?
Users could create/view QR code on myopenhab.org with local and remote settings and print them (just like with the Fritz!Box) if they like.

Downside would be that the app then needs
- Camera permission (not critical anymore since this is nowadays a on-demand permission)
- QR parser and data handling

[2018-02-11 08:39] mueller-ma commented on #708
Good idea. The app could use an external app to scan and parse the code. Can you open a new issue for that as it differs from this requested feature?

[2018-02-11 10:14] cribskip opened #721 "Enable user to scan settings with QR code"
As discussed in #708, we should enable the user to scan settings by QR code - speeding up setup and reducing errors.

This should be enabled in https://github.com/openhab/openhab-cloud and https://github.com/openhab/openhab.ios to keep a consistent UX.

Suggested Workflow:
1. User registers with openhab-cloud
2. Creates his/her users
3. QR code is shown, openhab-apps offers scan
4. Code is scanned

[2018-02-11 10:19] mueller-ma commented on #720
You're right, the current situation is not pretty good
What we should do to change that:

- Change "GCM Status" to something like "Notifications activated" (#709)
- Add information why gcm registration failed (#560)
- Your suggestion or some toast/snackbar as soon registration failed

[2018-02-14 09:46] FlyingEagle commented on #629
If I understood everything correctly, this thread should speak to me from the soul.
I can not understand why everything has to go to the cloud somehow.
The OH-App is already connected to my server (no matter if local or remote via port release) and * my * system. So why not alarm about it then?
The way GCM (only the message to the app "download new data") and then the app gets the data by itself v

[2018-02-14 15:25] maniac103 commented on #629
The app is only connected to your server as long as it's running in foreground (and the screen is on). As soon as that's no longer the case, the server connection is dropped. Keeping it running in the background would require keeping a foreground service running, which is entirely possible, but it's not how the app is working currently. Routing notifications via GCM has the advantage of being much

[2018-02-15 10:59] rmahnovetsky commented on #694
is there another issue created for this? can it be linked here or to the original forum post for tracking. https://community.openhab.org/t/charts-displaying-on-local-url-but-not-remote/39490/6

thanks :)

[2018-02-15 11:14] kaikreuzer commented on #694
I hoped that @digitaldan would quickly find the issue and fix it, but as it seems to take much longer, I have created https://github.com/openhab/openhab-cloud/issues/163 for further tracking.

[2018-02-17 09:40] #655 closed

[2018-02-17 09:50] mueller-ma commented on #655
https://github.com/openhab/openhab-android/releases/tag/2.0.13-beta contains the fix, binaries show up in a few minutes.

[2018-02-17 19:31] mueller-ma commented on #709
Current state (I'll wait for the server related information until #562 is merged):
![screenshot_2018-02-17-20-26-24](https://user-images.githubusercontent.com/22525368/36344888-52123f74-1421-11e8-8c8f-0a569d70a242.png)
![screenshot_2018-02-17-20-26-28](https://user-images.githubusercontent.com/22525368/36344889-52320412-1421-11e8-8ef7-6ef4f7542b98.png)
![screenshot_2018-02-17-20-26-42](https://use

[2018-02-18 17:53] andyzlen commented on #665
Hi,
installed version 2.0.0 (12/16/17) of "openHAB Android" on my Samsung S5 mobile (Marshmallow 6.0.1), since then I faced very same behaviour @cribskip described in the first post:
•	When connected to myopenhab cloud through mobile data connection, icons get shown in their 'default' state (lamps ON, contacts default...).
•	When connected locally via WIFI, all is working fine.
I didn't install de

[2018-02-18 18:17] michaeljoos72 commented on #665
@andyzlen I think it has been closed here becuase it's not an android-issue. Something is wrong with myopenha.org. It's also related to this: https://github.com/openhab/openhab-cloud/issues/163

[2018-02-18 18:36] andyzlen commented on #665
@michaeljoos72 Thanks for the hint and for referencing to openhab-cloud issue.
As I understand this means for all to wait until this issue is solved.

[2018-02-24 22:02] mueller-ma opened #723 "FR: Open settings directly from android app settings"
In the Android settings under "App" some apps have a preference icon, which takes the user directly to the settings activity in the app.

[2018-02-24 22:07] mueller-ma opened #724 "Issues with split screen"
### Actual behaviour
When using split screen, the reload icon should be centered.

### Expected behaviour
It is horizontal moved to the right.

### Steps to reproduce
1. Open the app
2. Use split screen feature
3. Reload by swiping down

### Can you reproduce the issue in demo mode?

Yes

### Environment data
#### Client
* Android version: Android 7.2.1
* Device model: Oneplus X
* Stock or customi

[2018-02-27 16:33] #11 closed

[2018-02-27 16:33] #179 closed

[2018-02-27 16:33] #8 closed

[2018-02-27 16:38] #248 closed

[2018-02-27 21:31] BenPru commented on #674
I think I have the same problem.
I have a apache reverse proxy. My URL is https://mydomain/oh
This is not working because the app doesn't use the sub-path at all. In the apache logs I can see the following wrong path requests:
/addAndroidRegistration?deviceId=... with http status 404 - instead of /oh/addAndroidRegistration?deviceId=
/rest/ instead of /oh/rest/
/api/v1/settings/notifications instea

[2018-03-01 12:30] maniac103 commented on #574
I've updated #686 to add support for the newly-introduced location group item response:

![screenshot_1519907297](https://user-images.githubusercontent.com/781373/36844851-9f61df50-1d54-11e8-8c87-288e2f4f089a.png)

Unfortunately one can't color the markers (only alpha can be set), and only one info window can be shown at a given time, so AFAICT it's not possible to label all markers simultaneously

[2018-03-01 20:22] #723 closed

[2018-03-02 14:37] mueller-ma opened #728 "Some svg look pixelated"
### Actual behaviour
![screenshot_20180223-174050](https://user-images.githubusercontent.com/22525368/36903802-0902adc4-1e2f-11e8-9b2e-3b72c20f5107.png)

### Expected behaviour
Person icon shouldn't be so pixelated, because it's SVG.

### Steps to reproduce
1. Use this icon:
[code]
Source: https://github.com/Templarian/MaterialDesign/blob/master/icons/svg/human-male.svg

2. Set icon format to svg.

[2018-03-02 15:48] maniac103 commented on #728
Should probably scale the 24px size given in the SVG with the device's display density. This is how I solved it in the past: https://github.com/slapperwan/gh4a/blob/master/app/src/main/java/com/gh4a/utils/HttpImageGetter.java#L559

[2018-03-02 18:11] wasimshahagadi commented on #474
just download this file and extract it. https://dl.google.com/android/repository/build-tools_r26.0.2-windows.zip copy all files from [android-8.1.0] and move them into C:\Users\user\AppData\Local\Android\Sdk\build-tools\26.0.2

[2018-03-02 18:45] mueller-ma opened #730 "Reduce duplicate code in themes.xml"
https://github.com/openhab/openhab-android/pull/726/files#r171929243

[2018-03-02 18:48] #709 closed

[2018-03-02 20:02] mueller-ma opened #731 "Add icons to settings menu"
Like in the android settings: https://cdn57.androidauthority.net/wp-content/uploads/2016/03/settings-revamp.jpg

[2018-03-02 20:54] mueller-ma commented on #730
Also:

https://github.com/openhab/openhab-android/pull/726#issuecomment-370043342

[2018-03-04 12:48] mueller-ma commented on #456
Beta versions are now regularly tagged be me and travis deploys the apks.

[2018-03-04 12:48] #456 closed

[2018-03-04 13:36] kvolden opened #735 "Support Slider "switchSupport""
It's pretty common for home automation software to support having both a switch and a slider-like element combined into one for dimmable lights – Z-Way, ImperiHome, Fibaro Home Center, Vera etc. Slider elements in openHab already have the "switchSupport" parameter, but this is only used in Classic UI, and there only to modify the function of the already existing up and down buttons. In the Android

[2018-03-04 19:07] mueller-ma commented on #715
If we would want to translate all AboutLibaries strings, we would need to manually include the description strings. Moreover the strings are pretty good hidden in the app and they link to english websites.

[2018-03-04 19:07] #715 closed

[2018-03-05 08:24] kaikreuzer commented on #735
I agree that often one would want to switch or dim a certain item and yes, in some way the "switchSupport" flag in the sitemap is meant as a hint for that. (Note that the original requirement for it was to set switchSupport=false for stuff like volume control, where you do not want to accidentally switch it to 100%). The reason it is only used in the Classic UI is that it does not support sliders

[2018-03-05 09:58] mueller-ma commented on #735
I would avoid having a popup here since it adds another click until the light is dimmed.
Maybe holding the element for toggling?

[2018-03-05 10:32] mueller-ma opened #741 "App makes too much requests if open sitemap isn't found anymore"
### Actual behaviour
The app makes about 100 requests per second.

### Expected behaviour
An error should be shown instead.

### Steps to reproduce
1. Open a sitemap in the app
2. Remove sitemap file on the server
3. Manually reload in the app

### Can you reproduce the issue in demo mode?

I cannot change the sitemaps there, so no.

### Environment data
#### Client
* Android version: Android 7.1.

[2018-03-05 11:06] kaikreuzer commented on #735
Yes, I agree that this isn't ideal.

Rather a surprising effect on a slider. As for me, I would simply claim that a slider in itself if good enough, if it is possible to easily hit 0% and 100% on it, so I don't really see much need for action here...

[2018-03-05 13:25] kvolden commented on #735
Well, it consumes far less screen space than having two separate elements, so at least it's an improvement from the current state of affairs in that regard. It is also optional, so if one would prefer to split it in two elements, this is still perfectly possible.

But as I said in the first post:

[2018-03-06 08:41] #730 closed

[2018-03-06 09:15] #300 closed

[2018-03-06 13:02] mueller-ma commented on #724
![screenshot_20180305-092602](https://user-images.githubusercontent.com/22525368/37033565-c59bde5a-2146-11e8-8175-b54a83ff87b5.png)
While resizing, the width is correct. Otherwise the switches and values are not visible.
![screenshot_20180305-092708](https://user-images.githubusercontent.com/22525368/37033566-c5b6eeb6-2146-11e8-978b-3e4aa92f054a.png)

[2018-03-06 13:54] mueller-ma commented on #537
Can you select the longest value and check if it still occupies to much space?

We change all "active" elements to black (https://github.com/openhab/openhab-android/pull/736#pullrequestreview-101108788). The font and font size seems to be the same for selection and switches with mappings.

[2018-03-06 16:19] #724 closed

[2018-03-06 19:52] maniac103 commented on #741
Should fix this after #688 by notifying the activity from PageConnectionHoldePageConnectionHolderFragment after a 404 error, after which the activity triggers a sitemap reload.

[2018-03-06 19:54] maniac103 commented on #731
That idea seems pretty unusual for a preference list. It's usually only done for settings headers.

[2018-03-06 19:58] maniac103 commented on #654
Traffic can be reduced by using a timeout: only send update if slider is not moved (but still held down) for e.g. 100ms.

[2018-03-06 19:59] maniac103 commented on #642
Should be fixed in #688

[2018-03-06 22:28] mueller-ma commented on #653
We don't scale other elements as well, so I don't think we do it here.

[2018-03-06 22:42] mueller-ma commented on #552
@cribskip Can you try it with the latest beta version? https://github.com/openhab/openhab-android/releases
It seems to be fixed.

[2018-03-06 22:48] mueller-ma commented on #217
I have a text and a chart showing the same item. As soon as the text changes, the chart get's reloaded (but doesn't flash anymore).

[2018-03-07 04:58] cribskip commented on #552
Installed just yesterday. Working just fine now. Thank you all

[2018-03-07 04:58] #552 closed

[2018-03-07 06:06] maniac103 commented on #552
#669 is what fixed it.

[2018-03-07 06:11] maniac103 commented on #653
Hmm, but this actually might make sense though. It's also easy to implement.

[2018-03-07 14:53] mueller-ma opened #747 "Selection arrow too close to the screen edge"
### Actual behaviour
Selection arrow too close to the screen edge

### Expected behaviour
Should look the same as the setpoint arrow

### Can you reproduce the issue in demo mode?

Yes => Widget Overview

### Environment data
#### Client
* Android version: 5.1.1
* Device model: Fire Tablet 7
* Stock or customized ROM: Custom
* App version : 2.0.17-beta
* Build flavor : foss
* Device language: DE

[2018-03-08 09:39] mueller-ma opened #750 "No activity title is shown when sitemap has no label"
### Actual behaviour
No activity title is shown. That looks pretty strange.

### Expected behaviour
The sitemap name is used in the drawer, so it should be used here, too.

### Can you reproduce the issue in demo mode?

No

### Environment data
#### Client
* Android version: 5.1.1
* Device model: Fire Tablet 7
* Stock or customized ROM: Custom
* App version : be8d068a2069c5f4707255bc35161691ae6e96

[2018-03-08 12:13] #659 closed

[2018-03-08 12:13] #677 closed

[2018-03-08 12:13] #399 closed

[2018-03-08 12:13] #642 closed

[2018-03-08 12:21] mueller-ma opened #752 "Crash when wifi got disabled while app was in background"
### Actual behaviour
Shouldn't crash

### Expected behaviour
Crashes, see below

### Steps to reproduce
1. Open App when wifi is enabled
2. Bring app in background (but don't close it)
3. Disable wifi
4. Open App again

### Can you reproduce the issue in demo mode?

Yes

### Environment data
#### Client
* Android version: 7.1.2
* Device model: Oneplus X
* Stock or customized ROM: LineageOS 14.1
*

[2018-03-08 12:48] mueller-ma commented on #637
I started working on it [here](https://github.com/mueller-ma/openhab.android/tree/637-colors).

@maniac103 Can you look at my branch and give me a hint how to do that?

[2018-03-08 13:16] maniac103 commented on #637
@mueller-ma Working diff to your current state: https://pastebin.com/8atxWmMZ ... however, I would strongly suggest to
- make OpenHABWidget store the string representation only, not the parsed color and
- move parsing to the view adapter (optimization: resolve the arrays only once)

Benefit of that is that OpenHABWidget and friends stay dumb data holders without any theme dependency; after all the

[2018-03-08 13:46] maniac103 commented on #752
#688 likely will have fixed this as well.

[2018-03-08 14:27] mueller-ma commented on #752
Yes, seems to be fixed

[2018-03-08 14:27] #752 closed

[2018-03-08 14:31] mueller-ma opened #755 "Discovery failed error is shown after network reconnect"
1. Open app
2. disable wifi
3. enable wifi
4. Discovery failed error is shown, even when a local url ist set

2.0.19-beta
Android 7.1.2

[2018-03-08 16:49] openhab-5iver opened #756 "Multiline text item values are shifted to the left and label disappears"
![screenshot_2018-03-08-11-30-35](https://user-images.githubusercontent.com/21967853/37163071-d952c948-22c4-11e8-9a56-eb4fe926af4b.png)

In landscape, everything looks better and the label reappears, but it's truncated (could these wrap?)...
![screenshot_2018-03-08-11-42-23](https://user-images.githubusercontent.com/21967853/37163541-109a410a-22c6-11e8-9b63-82419a5747da.png)

### Environment data

[2018-03-08 17:04] mueller-ma opened #757 "AboutLibaries adjustments"
I just checked if all libaries are actually shown:

## Shown, but not used diretly

- [ ] Android-Iconics
- [ ] Fastadapter
- [ ] Okio

## Not shown, but used

- [x]  jmdns https://github.com/mikepenz/AboutLibraries/pull/380
- [x]  shell-software:fab Removed
- [ ]  androidsvg
- [x]  material-about-library https://github.com/mikepenz/AboutLibraries/pull/377

Do we actually need to show all Android

[2018-03-08 17:13] maniac103 commented on #757
Support libraries are probably pulled in by some library we use, but I'd keep it in nevertheless so we have control over the used version.
The fab library and gson can die though, instead of the former we could use the FAB in the design support library if needed.

[2018-03-08 17:15] mueller-ma opened #758 "Crash on RTL languages"
### Steps to reproduce
1. Change device language to (XB) ...
2. Start app
3. App crashes
4. Change language back to LTR
5. App workes

### Can you reproduce the issue in demo mode?

Yes

### Environment data
#### Client
* Android version: 5.1.1
* Device model: Fire Tablet 8
* Stock or customized ROM: Custom
* App version : c183aa107cdff0cdf27f530aaedfef02297a6dec
* Build flavor : foss

### Logs
##

[2018-03-08 17:19] mueller-ma commented on #758
Note: (XB) and some chars I don't have on my keyboard is actually English in RTL.

[2018-03-08 17:26] maniac103 commented on #758
Can you try whether making the controller_class translatable="false" fixes the issue? I think it's not a problem of RTL itself, but of the way the XB locale works.

[2018-03-08 17:29] mueller-ma commented on #758
No, that doesn't fix the issue.

[2018-03-08 18:11] michaeljoos72 opened #760 "Error with Camera Binding"
I’m using this camera binding together with openHAB latest snapshot:
https://github.com/thhart/openhab2-addons/tree/master/addons/binding/org.openhab.binding.camera

Every time I leave the camera page on the app I get this error:
https://www.dropbox.com/s/r9ry141qkzrelgj/error%20ipcam.log?dl=0

This only happens in the App. Browsers are OK.

Android 8, openHAB 2.3 Snapshot

[2018-03-08 18:31] maniac103 commented on #758
https://www.thedroidsonroids.com/blog/testing-android-apps-pseudolocalization suggests it should help though. Did you catch both instances of the string resource, and did you rebuild/clean build after the change?

[2018-03-08 18:44] mueller-ma commented on #760
Log from dropbox:
[code]

[2018-03-08 18:58] mueller-ma commented on #758
I guess it doesnt work as it isn't `<string>`, it's `<item name="controller_class" type="string"`.

[2018-03-08 19:13] maniac103 commented on #758
Then we probably should make it a string ;-)

[2018-03-09 12:47] maniac103 commented on #504
@lolodomo Once #762 is merged, this diff should get you started :-) (it's what you'll need to call from the onMessage callback in oksse)

[code]

[2018-03-09 18:01] mueller-ma commented on #756
Does it work in basic ui?

[2018-03-09 18:04] mueller-ma commented on #565
Signal has the ability to post the log at github as gist and shows the user the link to it. The nice thing about this is, that they made a library out of it: https://github.com/signalapp/libpastelog

[2018-03-09 18:32] maniac103 commented on #565
I don't see gist upload in that lib though, I only see upload to some AWS instance...

[2018-03-09 20:39] #698 closed

[2018-03-09 20:46] mueller-ma opened #765 "Beta suffix in package name"
Appending `.beta` allows users to install the beta and the stable version at the same time. We will also need this, if we want to publish beta versions in f-droid.

@maniac103

[2018-03-09 22:48] openhab-5iver commented on #756
BasicUI...
![image](https://user-images.githubusercontent.com/21967853/37233482-61180a9e-23c1-11e8-9334-e4129f64a511.png)

ClassicUI...
![image](https://user-images.githubusercontent.com/21967853/37233507-7c53ac96-23c1-11e8-8fda-145c408198f4.png)

It looks like they are both putting in a label, but it's getting overly truncated, and as expected, single-line.

[2018-03-10 08:08] kvolden opened #767 "Sliders not displaying stateformat"
I have Dimmer items with the label "Lights [%d %%]", and Slider elements in my sitemap linking to these items. The stateformat is rendered correctly in Basic UI, showing the percentage of the dimmer, but ignored in the Android app which only show the name "Lights" and the slider widget.

[2018-03-10 08:47] mueller-ma commented on #756
I guess multi line text items are not supported. Can you open an issue in eclipse/smarthome and request multi line support for text items?
If they don't want to support it, we don't do it in the app as well.

[2018-03-10 09:05] maniac103 commented on #767
@mueller-ma I wonder whether we shouldn't handle labels + values in the base ViewHolder class. I noticed this kind of inconsistent handling of states during #650 already.

[2018-03-10 09:07] maniac103 commented on #756
#540 ?

[2018-03-10 09:14] kvolden commented on #767
I have also noticed that when the app does show the status, it is shown aligned next to the label in square brackets, while Basic UI shows it aligned with the control without square brackets. This is not directly related (and perhaps you prefer it like this, though I personally prefer the Basic UI way), but maybe this is something to consider when you're doing whatever change is necessary for fixi

[2018-03-10 09:48] mueller-ma commented on #756
Totally forgot about #540...

[2018-03-10 10:50] mueller-ma commented on #756
I want to truncate it like the basic ui, but the text is now moved to the left:
![screenshot_2018-03-10-11-43-36](https://user-images.githubusercontent.com/22525368/37241411-cdaa63b8-2458-11e8-963c-32d8583e1f6e.png)
Before:
![screenshot_2018-03-10-11-45-29](https://user-images.githubusercontent.com/22525368/37241412-cdc617f2-2458-11e8-95f9-4bf510558f3a.png)

[2018-03-10 10:57] mueller-ma commented on #549
2.0.24-beta (rename to .apk before): [mobile-full-debug.pdf](https://github.com/openhab/openhab-android/files/1799296/mobile-full-debug.pdf)

[2018-03-10 14:42] mueller-ma commented on #767
@maniac103 We also have to check if there are more elements with missing value

[2018-03-10 14:52] mueller-ma opened #770 "Connection to local url not possible"
### Actual behaviour
App shows "Discovery failed" error

### Expected behaviour
Should connect to configured local url

### Can you reproduce the issue in demo mode?

No

### Environment data
#### Client
* Android version: 7.1.2
* Device model: Oneplus X
* Stock or customized ROM: 14.1
* App version : 2.0.25-beta
* Build flavor :
* Device language: DE

### Logs
#### App log
[code]

[2018-03-10 14:58] mueller-ma commented on #770
I found the reason: I have AFWall+ (Firewall) running and allow the oh app only to connect to the local network, but not to the internet. When I allow internet connections, the app works.

[2018-03-10 15:42] maniac103 commented on #767
Yeah, that's why I suggested to introduce common handling ;-)

[2018-03-10 17:30] mueller-ma commented on #549
For now I have found following changes that should be in the play store changelog:

[code]

I think we can merge some of those:

[code]

[2018-03-10 17:43] mueller-ma commented on #30
All issues for inclusion in fdroid has been fixed and I opened a new MR: https://gitlab.com/fdroid/fdroiddata/merge_requests/2982

TODO:

- [ ] Check if transparent feature graphic looks good or if we need one with white background
- [ ] Deploy beta releases in fdroid. #765 needs to be fixed for this
- [ ] Add sentence about removed features to the fdroid description

[2018-03-10 18:52] maniac103 commented on #549
6. + the navigation drawer overhaul can be summarized as something like 'UI improvements'

[2018-03-10 19:08] mueller-ma commented on #549
And can be merged with 3+5:
[code]

[2018-03-11 15:48] #704 closed

[2018-03-11 15:48] #765 closed

[2018-03-11 18:12] openhab-5iver commented on #756
Personally, I much prefer the multiline. It just looks odd shifted to the left. I'd rather live with that than lose the display of multiline!

[2018-03-12 18:31] FlorianSW commented on #755
The problem is: Once we get the "network changed" intent, it doesn't mean, that there's already an active (connected) internet connection. That makes the Reachability check fail with the local connection, even if the server is available in this network. As the local connection failed and there's probably no remote connection, the discovery is started.

I'll take a look how we can work around this,

[2018-03-12 19:22] maniac103 commented on #755
I think @mueller-ma is rather referring to the string of the error message which shouldn't state that we attempted discovery if we in fact didn't even try it. (I'd agree to that position)

[2018-03-12 19:26] michaeljoos72 opened #781 "Dynamic Icons for switch-items not updated anymore"
Dynamic icons for switch-items are not updated anymore (local & remote).

I went back a few versions to see the history:

2.0.27-Beta --> OK
2.0.30-Beta --> Not OK
2.0.31-Beta --> Not OK
2.0.32-Beta --> Not OK

Tested on Android 8 as well on an older Samsung-Tablet with same result:

![image](https://user-images.githubusercontent.com/20517474/37304907-3631311a-2633-11e8-9a0e-be4f8dc26574.png)

![i

[2018-03-12 19:37] maniac103 commented on #781
Timing (thanks for the test!) suggests this regressed with #762.

I guess this is OH2? How does the respective sitemap item look like?

[2018-03-12 19:43] michaeljoos72 commented on #781
Yes --> OH 2.3

Item:
Switch myStrom8_SW "Luftbefeuchter" <switch>

Sitemap:
Switch item=myStrom8_SW

[2018-03-12 19:47] maniac103 commented on #781
Oh, I just saw it's also reproducible in demo mode...missed that before :-/
I'll have a look into it.

[2018-03-13 13:43] #781 closed

[2018-03-13 13:43] mueller-ma commented on #781
@michaeljoos72 thanks for your testing and @maniac103 thanks for fixing it.

[2018-03-13 14:53] michaeljoos72 commented on #781
Working now. Thanks!

[2018-03-14 19:54] mueller-ma opened #785 "Add support for multiple icon sets"
Currently we only support the default icon set. It should be possible to select between all available icon sets.
Some icon sets may only support SVG, so the icon format selection must be aware of the available formats for the selected set.
http://openhab/doc/index.html#!/default/getAll

[2018-03-16 11:28] mueller-ma commented on #30
Finally :tada:
https://f-droid.org/packages/org.openhab.habdroid/

[2018-03-16 11:28] #30 closed

[2018-03-16 11:37] #637 closed

[2018-03-20 11:07] maniac103 commented on #750
@mueller-ma This should no longer be an issue after #762 ... can you confirm?

[2018-03-20 11:08] maniac103 commented on #683
@mueller-ma I think this can be closed now.

[2018-03-20 11:09] maniac103 commented on #663
@mueller-ma Can be closed as #685 is merged.

[2018-03-20 12:15] #683 closed

[2018-03-20 12:16] mueller-ma commented on #663
I want to close this, when the server sends a timestamp and this timestamp is used in the app.

[2018-03-20 12:21] mueller-ma commented on #750
No, it's still an issue with 2940719b8a6f9a3675820129ef100eb5605f2b4c

[2018-03-20 12:25] #718 closed

[2018-03-20 12:29] mueller-ma opened #791 "Highlight in landscape mode not always resetted"
### Steps to reproduce
1. Landscape
2. Go to a subpage (e.g. First Floor)
3. Rotate to portrait
4. Go back
5. First Floor is still marked

### Can you reproduce the issue in demo mode?

Yes

### Environment data
#### Client
* Android version: 5.1.1
* Device model: Fire Tablet 8
* Stock or customized ROM: Custom
* App version : 2940719b8a6f9a3675820129ef100eb5605f2b4c
* Build flavor : Foss
* Device

[2018-03-21 11:32] maniac103 commented on #644
A prerequisite for this is the cloud connector actually obeying the limit and skip parameters: https://github.com/openhab/openhab-cloud/pull/174 (and that fix to be deployed in myopenhab)

[2018-03-21 15:20] mueller-ma opened #794 "Build failes for fullBeta flavor"
The beta build has a different package name, which is not included in google-services.json.
Do we want to use crashalytics for beta builds? If so, @digitaldan, can you configure add new package id in crashalytics ?

[code]

[2018-03-21 15:55] mueller-ma opened #795 "Adjust font size"
From https://community.openhab.org/t/android-app-beta/41382/44?u=mueller-ma

[2018-03-21 20:31] maniac103 commented on #795
In fact, changing dpi (either by using the native controls for it in Nougat or hoping for the manufacturer to do it properly) is the right solution for this. I've yet to see a single app that allows manipulating its screen layouts to emulate different screen densities at runtime.

[2018-03-21 20:33] maniac103 commented on #663
Opened a PR for the missing properties against openhab-cloud: https://github.com/openhab/openhab-cloud/pull/175

[2018-03-21 20:39] mueller-ma commented on #217
The question now is: Is the auto reloading chart a bug or a feature? :laughing:

[2018-03-21 20:40] mueller-ma commented on #101
@netwolfuk Do you still want to make a PR with your tablet mode?

[2018-03-21 20:43] maniac103 commented on #217
I'd say a bug, although (IMHO) not a bad one (as in: probably not overly important to fix)

[2018-03-21 21:02] mueller-ma commented on #663
Great. Those two issues should be easily fixed, when you oh cloud fix is merged: #335 (sevirity) and #345 (notification channels on android 26+)

[2018-03-21 21:05] mueller-ma commented on #795
When the font is too large in oh, it is too large in other apps as well. Android (or at least lineageos) has the ability to change the font and the layout size systemwide. I dont know which vendor roms have those two options. FireOS has at least the font size option.

[2018-03-21 21:15] maniac103 commented on #663
I already have a patch locally for notification channels.

[2018-03-21 21:16] maniac103 commented on #795
At least Google devices should have it. Font size is a thing since almost forever, layout size adjustment is mapped to the UI since Nougat (was only available via adb shell before).

[2018-03-22 06:45] mueller-ma commented on #663
Do you need this patch or just for testing? I've read that messages without channels will be displayed if target api is 25 or lower.

[2018-03-22 07:55] maniac103 commented on #663
It's not strictly needed, right, but the approach for it in #335 is a good idea.

[2018-03-22 13:13] Rrithysam opened #796 "I need a sample of product list and detail by using Recyclerview with API in android. Please give me some example because I just new on android. Thank for your help."
### Actual behaviour
Describe us what happens

### Expected behaviour
Describe us what should happen

### Steps to reproduce
1. Describe us how to reproduce the issue
2. Use a list for it

### Can you reproduce the issue in demo mode?

### Environment data
#### Client
* Android version:
* Device model:
* Stock or customized ROM:
* App version :
* Build flavor :
* Device language:

#### Server
* Se

[2018-03-22 14:47] mueller-ma commented on #796
Hey @Rrithysam,
this is the issue tracker for openhab-android, not a general Android forum. There are a lot of forums for your post out there.

[2018-03-22 14:47] #796 closed

[2018-03-23 13:24] derSascha commented on #629
The _local_ broadcast idea seems to be very interesting. In some situations, it makes only sens to notify local devices (e.g. washing machine done). Has anyone experiences about udp broadcasts and android devices going into power save modes?

[2018-03-24 14:34] mueller-ma opened #802 "Crash when selection client cert"
### Actual behaviour
App crashes when I want to select a client certificate.

### Environment data
#### Client
* Android version: 7.1.2
* Device model: Oneplus X
* Stock or customized ROM: LineageOS 14.1
* App version : 2.0.32
* Build flavor : foss
* Device language: DE

### Logs
#### App log
[code]

[2018-03-26 06:36] michaeljoos72 opened #804 "Refresh/Reload of Icons"
Hi

In my opinion the App should not refresh the icon each time the value has changed.
Especially for items with a low refresh reate (e.g. 5s) it's not very nice. Maybe it's possible to refresh after an App-Install (Setup) and "Clear Icon Cache"?

openHAB latest Snapshot
2.0.41-beta

Thanks
Michael

[2018-03-26 09:07] slawekjaranowski commented on #802
Error occurs because you don't set remote url.
Please first set remote url.

Maybe application should check if remote url is set correctly before this option.

[2018-03-26 09:09] maniac103 commented on #802
Not maybe, it must do that, as the client cert stuff is also used for local connections.

[2018-03-26 10:35] mueller-ma commented on #804
Can you specify what you don't like about this feature?
The flicker on reload is a known issue (See #684).

[2018-03-26 11:42] michaeljoos72 commented on #804
Yes, I mean the flicker...Thanks for clarification!

[2018-03-26 16:56] #804 closed

[2018-03-27 10:37] #802 closed

[2018-03-27 13:45] maniac103 commented on #504
Implemented this in my development branch in case anybody wants to try:
https://github.com/maniac103/openhab.android/commit/a4d9cdaee02c2af23c79c77de8d249e0ac8c4a78
https://github.com/maniac103/openhab.android/tree/develop

Will submit a PR for it once the prerequisite patches are merged.

[2018-03-30 08:00] daniel-stoneuk commented on #757
@mueller-ma Hi man, thanks for bringing up the issue with referencing my library. I'm a bit bogged down with work currently and don't have time to fix the issue in my PR in AboutLibraries repo. I was wondering if you could fix and submit it for me. Thank you!

[2018-03-31 06:50] #317 closed

[2018-03-31 07:04] mueller-ma commented on #17
@kaikreuzer Do you still have this issue?

[2018-03-31 07:09] #319 closed

[2018-03-31 07:14] mueller-ma commented on #550
In the android settings app switches are toggled by clicking somewhere in the row. When we add "short click actions" to this app, we could add:
1. Make switch touch targets full-screen #90
2. Send on/off in slider items #735
3. For selection items re-add the up and down buttons and open the dialog when clicking on the label, icon or the space between those and the switches

[2018-03-31 07:19] mueller-ma commented on #657
@magd1978 Can you download the latest beta and check if the issue is still present? https://github.com/openhab/openhab-android/releases

[2018-03-31 07:24] mueller-ma opened #809 "MemorizingTrustManager doesn't show up anymore"
Since  #275 the user isn't asked anymore if he wants to trust _one_ certificate, if the app connects to server with an invalid certificate.
Once this is fixed, both "Ignore ... during ssl handshake" options should be removed, as they are a security risk, see #314

[2018-03-31 08:13] maniac103 commented on #550
BTW, something I also plan to do in the future is converting the dialogs into popups with instant apply behavior, that is, without OK/cancel buttons (apply on value change, close on touching elsewhere) ... might also help here a bit.

[2018-03-31 08:28] maniac103 commented on #809
When restoring this, the 'once' option should be killed though. With the amount of HTTP requests we're doing, accepting 'once' seems totally pointless.

[2018-03-31 09:07] magd1978 commented on #657
2.0.43-beta seems to have solved the bug.
However. I found a different little bug: When you configure openHab beta settings, if you tell it to ignore SSL certificate and domain, the value is not applied until you completely close the application from the task manager and reopen it.

[2018-03-31 09:07] #657 closed

[2018-03-31 09:14] magd1978 opened #810 "Ignore SSL certificate and domain settings do not applies"
2.0.43-beta seems to have a little bug: When you configure openHab beta settings, if you tell it to ignore SSL certificate and domain, the value is not applied until you completely close the application from the task manager and reopen it.

[2018-03-31 09:52] mueller-ma opened #811 "Hold color item buttons to increase brightness"
In basic ui holding the color up/down button sets the states "INCREASE"/"DECREASE".

[2018-03-31 10:27] maniac103 commented on #810
I know about this, and have prepared a fix already. Will submit a PR once #775 is merged.

[2018-03-31 12:38] kaikreuzer commented on #17
I didn't notice it over the past years at least (never had a closer look at the data usage though either) - but as it is pretty old, let us close it.

[2018-03-31 12:38] #17 closed

[2018-03-31 13:06] mueller-ma commented on #757
Unfortunately I cannot help you with the PR, I had to ask for help as well in https://github.com/mikepenz/AboutLibraries/pull/380

[2018-03-31 14:44] FlorianSW commented on #770
I assume our configured local URL isn't http://openhab/? Because that's the URL the app tries to connect:
`D/AbstractConnection: Checking reachability of http://openhab/`

[2018-03-31 15:54] mueller-ma commented on #770
I replace my dns name with openhab, the log shows the correct domain. Should have done that more clear though.

[2018-03-31 22:04] dakipro opened #813 "Icons not updating to current state for shades (and even doors)"
### Actual behaviour
When I change blinds from 50% to 100%, all works fine but the icon still shows them as half open.
This also happens from time to time with the door icon as well.
Tested on Htc m7 (5.0.2) and note8 (android 7.1.1)

### Expected behaviour
Icon should update to the latest state. It works fine in the web (and chrome plugin)

### Steps to reproduce
1. in my case, I have default Rol

[2018-04-01 05:26] maniac103 commented on #813
Sure about version 2.0.0? You're not by chance running a beta or self compiled version? Asking because the symptoms sound like a dupe of #781.

[2018-04-01 06:45] dakipro commented on #813
Yes, it says 2.0.0 - 16 Dec 2017 15:33:27
I also tried uninstalling it and clearing data and cache on note 8 and after reinstall and setup still the same. Shade is shown as half open

[2018-04-01 10:34] BigRedBrent commented on #629
Seeing as how myopenhab.org is currently down, this post seems very relevant to me.

[2018-04-01 16:10] mueller-ma commented on #649
@ThomDietrich The string "GCM status" was changed to "Push notification status". It should be clear now, what it is does.

[2018-04-01 17:35] #791 closed

[2018-04-02 15:27] #242 closed

[2018-04-03 07:46] maniac103 commented on #809
I've restored MTM in #819, but noticed our usage of it is broken in any case: We're using a years-old copy of its source, hacked it up and introduced issues by those changes; in particular we're leaking the activity instance after killing it due to the MemorizingTrustManager.setResponder() call which keeps the responder (= activity) in a static instance.

We probably should rewrite the parts of it

[2018-04-03 10:43] mueller-ma commented on #809
MTM as gradle dependency would be a lot smarter, but I'm not sure if it's possible. The MTM Readme shows the integration via git submodule.

[2018-04-03 11:26] maniac103 commented on #809
It's not, as its developer would need to upload it to Maven (or similar) in order for that to work, which he seemingly doesn't do. Taking its source verbatim is problematic for us in any case anyway, as we'd need to adapt its dialog to our themes: https://github.com/maniac103/openhab.android/commit/4b70a508f6fda89af8bf02db68025eae2d53fa15 (after updating to upstream: https://github.com/maniac103/o

[2018-04-03 14:33] mueller-ma commented on #809
Just FYI https://jitpack.io/ allows using every github repo as gradle/maven dependency.

[2018-04-03 16:41] maniac103 commented on #809
Good point, but still we'd have the problem of the styling changes (in particular applying our themes and using the support lib AlertDialog). I'm not sure yet what a solution for that that's upstreamable could look like :-/

[2018-04-03 16:53] ThomDietrich commented on #649
Nice ;)

[2018-04-03 18:57] slawekjaranowski commented on #333
Hi,
I started some discussion on https://community.openhab.org/t/using-nginx-reverse-proxy-for-client-certificate-authentication-start-discussion/43064

[2018-04-04 16:38] TheChrissi1 opened #823 "Version 2.0.31 crashes when loading a mapping"
So i've got the problem that the app crashes when it loads mappings.
If i don't scroll down to the specific Item in the sitemap with the mapping the app works perfectly fine.

When i choose a sitemap without a mapping i can scroll all the way down to the bottom without crashing the app.

I'm using the openhab-android-2.0.31-release.
Android Version: 4.4.2

This is the switch that brings the app to

[2018-04-04 17:55] maniac103 commented on #823
@TheChrissi1 Can we get the full logcat, in particular the 'caused by' parts of the crash stacktrace?

[2018-04-05 14:28] cribskip commented on #210
If time permits, I'll take a look at this tutorial and start working on it: https://itnext.io/how-to-easily-command-your-app-with-hotword-detection-1001e582c46e

[2018-04-05 19:44] mueller-ma commented on #809
The material-about-library and the AboutLibrary use custom attributes to theme their ui elements. The library user can just overwrite these attributes: https://github.com/openhab/openhab-android/blob/master/mobile/src/main/res/values/themes.xml#L49

[2018-04-06 04:15] maniac103 commented on #809
Yes, but the MemorizingActivity does not show any custom UI elements. All it does is showing an AlertDialog...

[2018-04-06 14:11] #823 closed

[2018-04-06 20:13] mueller-ma commented on #735
@kaikreuzer @kvolden Can you live with the suggestion I made in https://github.com/openhab/openhab-android/issues/550#issuecomment-377672560?

[2018-04-06 20:28] maniac103 commented on #735
@mueller-ma Item 1 (make full roe touch target for switch) makes sense to me, but I'm not sure about item 2. If I understand it correctly you want to send on/off (select which of the two how exactly?) when clicking into the background of the slider row. Did I get this right? If yes, I'm against adding such a feature because it's unintuitive, undiscoverable and thus surprising to the user, at least

[2018-04-07 14:20] mueller-ma opened #825 "Error message disappears when orientation changes"
### Actual behaviour
Error message disappears when orientation changes

### Expected behaviour
It should stay

### Steps to reproduce
1. Produce connection error (e.g. invalid cert)
2. Rotate device

### Environment data
#### Client
* Android version: 5.1
* Device model: Fire Tablet 7
* Stock or customized ROM: Custom
* App version : 2.0.46-beta
* Build flavor : foss
* Device language: de

### Log

[2018-04-07 14:45] mueller-ma opened #826 "Recycled image items are not cleared"
### Actual behaviour
Old images are shown while the new image loads

### Expected behaviour
When an image is loading nothing should be shown

### Steps to reproduce
1. Go to demo mode multimedia page
2. Reload very often
3. The "320x240" image is shown twice

### Can you reproduce the issue in demo mode?

Yes, Multimedia

### Environment data
#### Client
* Android version: 5.1
* Device model: Fire

[2018-04-07 15:53] #508 closed

[2018-04-07 19:29] ahmed89albttashi opened #827 "GUI missing text while using Arabic language in device"
### Actual behaviour
Some text not appear

### Expected behaviour
to display same navigation as using English language

### Steps to reproduce
1. Change Mobile language to Arabic
2. open app and click to  menu

### Can you reproduce the issue in demo mode?
yes

### Environment data
#### Client
* Android version: 8
* Device model: Huawei nova 2 plus
* Stock or customized ROM: official rom
* App ver

[2018-04-07 19:32] mueller-ma commented on #827
Hey @ahmed89albttashi,
thanks for filling out this bug report. The bug is already fixed, but the fix is not released yet. #533

[2018-04-07 19:32] #827 closed

[2018-04-07 19:38] ahmed89albttashi commented on #827
Thanks you @mueller-ma  , Any deadline to see this release ?
+
whom are managing Arabic translations , I have translate more than half of Andorid project but still not approved

Regards

[2018-04-07 19:38] mueller-ma commented on #549
Updated changelog:
[code]

[2018-04-07 19:40] mueller-ma commented on #827
Nobody, but you could do it. @ThomDietrich can give you proofreader permissions.

[2018-04-08 11:51] kvolden commented on #735
@mueller-ma Sure. But I still think adding the switch widget is a cleaner solution, and I still think the arguments I presented above hold. :)

If it's OFF (0) a click turns it ON. If it's not OFF (>0) a click turns it OFF.

Anywhere in the row except for on the slider widget itself ("ball" or "track"), as long as "switchSupport" is set, I assume. Clicking on the slider itself would bring the curr